body{background: url(../images/background-global.jpg) fixed repeat 0 0 #fff;}
hr{border:0;}

/*header*/
.facebook_share{width: 100%; height: 36px; background:#f5f5f5; position: relative;}
.facebook_share .centraliza{width: 758px; position: absolute; top: 6px; left: 50%; margin-left: -189px;}
.header{width: 100%; height: 182px; display: block; background: url(../images/home/sprite-home.png) repeat-x center top #141414; position: relative;}
.header hr{border: 0;}
.header-1{width: 758px; height: 126px; background: url(../images/bg_header-1.png) no-repeat 230px 12px; margin: 0 auto; display: block; position: relative;}
.header-1 h1{width: 313px; height: 148px; background: url(../images/home/sprite-home.png) no-repeat -18px -164px; display: block; text-indent: -999px; overflow: hidden; margin: 3px 0 0 0; float: left;}
.header-1 h2{width: 320px; float: left; font: 20px "HelveticaneueBold"; color: #6db4e5; text-transform: uppercase; margin: 79px 0 0 0px;}
.header-1 p span{color:#2fbdbb;}
/*.header-1 img{width: 78px; height: 84px; border: 0; display: block; margin: 37px 20px 0 0; float: right;}*/
/*.header-1 a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}*/
.header-1 a.linkTop{float: right; margin: 27px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}
.header-1 a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}

.menuPrinc{width: 100%; height: 57px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 0; float: left; position: absolute; bottom: 0;}
.menuPrinc .centraliza{width: 758px; margin: 0 auto;}
.menuPrinc .centraliza ul li{height:24px; padding: 0 12px; border-right: 1px solid black; display: block; float: left; margin-top: 17px; position: relative;}

.menuPrinc .centraliza ul li dl{width: 100%; height: 164px; z-index: 999; position: absolute; left: 0px; background: #282828; top: 0px; display: none;}
.menuPrinc .centraliza ul li dl dt{width: 100%; height: 39px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 -6px;}
.menuPrinc .centraliza ul li dl dd{width: 90%; height: 41px; display: block; position: relative; text-align: left; margin: 0 auto;}
.menuPrinc .centraliza ul li dl dd a{font:bold 15px/41px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; padding-left: 12px;}
.menuPrinc .centraliza ul li dl dd a:hover{color:#ffb400;}

.menuPrinc .centraliza ul li.last{border-right: 0;}
.menuPrinc .centraliza ul li a{font:bold 15px/24px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; position: relative; z-index: 9999;}
.menuPrinc .centraliza ul li a:hover{color:#ffb400;}
.menuPrinc .centraliza ul li a.ativo{color:#ffb400;}
.menuPrinc .centraliza ul li a span{width: 18px; height: 10px; background: url(../images/home/sprite-home.png) no-repeat -503px -623px; position: absolute; top: -16px; left: 50%; display: block; margin-left: -4px;}

.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}


/*conteúdo*/
.content .breadcrumb{width:446px; height:40px; background: url(../images/breadCrumb.png) no-repeat 0 0; top: -19px; position: relative; left: -1px;}
.content .breadcrumb p{font:13px/40px Arial, Helvetica, sans-serif; color:#787878; padding-left: 70px;}
.content .breadcrumb p span{font:bold 13px/40px Arial, Helvetica, sans-serif; color:#e7e7e7; text-decoration: underline;}
.content .content-top{width: 758px; height:196px; background: url(../images/cadastro/header-busca.jpg) no-repeat 0 0; margin:0 auto; position: relative;}
.content .content-top .texto{position: absolute; left: 40px; top: 40px;}
.content .content-top .texto span{font:25px "HelveticaNeueBold"; color:#333333;} 
.content .content-top .texto h3{width: 350px; font: 25px "HelveticaNeueBold"; color: #28427c; text-transform: uppercase;}
.content .content-top .texto p{width: 260px; font: 17px "HelveticaNeue"; color: #666666; margin: 7px 0 0 0;}

.content .conteudo{margin: 0 auto;}
.content .conteudo form{width: 679px; display: block; height: 125px; background: url(../images/busca/bg_form_busca.jpg) no-repeat top left #fff; margin: 0 auto; position: relative;}
.content .conteudo form .objetivo{font:20px "HelveticaNeueBold"; color:#333333; margin: 15px 0 21px 15px;}
.content .conteudo h4{width:100%; height:28px; background: url(../images/busca/h4.png) no-repeat 0 0; font:25px/28px "HelveticaNeueBold"; color:#333333; display: block; text-transform: uppercase; padding-left: 34px;}

.content .content-abas{width: 100%; margin: 15px auto; }
.content .content-abas .botoes{width: 719px; height: 170px;  margin: 30px auto 0 auto; background: #f6f6f6;}
.content .content-abas .botoes p{font:bold 20px Arial; color:#000; padding: 20px;}
.content .content-abas .botoes .radio{width: 211px; height: 74px; float: left; margin: 0 14px;}
.content .content-abas .botoes .radio input[type=radio]{display: none;}
.content .content-abas .botoes label{width: 100%; height: 100%; display: block; margin: 0 auto; background-color: #E9E9E9; cursor: pointer;}
.content .content-abas .botoes label .btli{width: 100%; height: 100%; display: block;}
.content .content-abas .botoes label .btli p{font: 16px/74px "helveticaneueBold"; color: white; text-transform: uppercase; text-align: center; padding: 0;}
.content .content-abas .botoes label .btli.quero{background: #102962; color:#fff;}
.content .content-abas .botoes label .btli.quero:hover{color:#f6f6f6;}
.content .content-abas .botoes label .btli.vou{background: #102962; color:#fff;}
.content .content-abas .botoes label .btli.vou:hover{color:#f6f6f6;}
.content .content-abas .botoes label .btli.fui{background: #102962; color:#fff;}
.content .content-abas .botoes label .btli.fui:hover{color:#f6f6f6;}
.content .content-abas .botoes .radioquero .seta{width:29px; height:16px; background: url(../images/home/sprite-home.png) no-repeat -92px -523px; position: relative; z-index: 99; margin: -1px auto 0 auto; display: none;}
.content .content-abas .botoes .radiovou .seta{width:29px; height:16px; background: url(../images/home/sprite-home.png) no-repeat -92px -523px; position: relative; z-index: 99; margin: -1px auto 0 auto; display: none;}
.content .content-abas .botoes .radiofui .seta{width:29px; height:16px; background: url(../images/home/sprite-home.png) no-repeat -92px -523px; position: relative; z-index: 99; margin: -1px auto 0 auto; display: none;}
#edit-volta, #edit-ida{padding: 0 !important; float: none !important;}

#box label{font: bold 12px Arial; color:#000;}
#box fieldset.form-wrapper{width: 570px; margin:40px auto 0 auto; }
#box .form-type-select{float: left; position: relative;}

.cortaClick{ width: 100%; height: 81px; position: absolute; top: -21px; left: 0; z-index: 99;}
.cortaClickBt{ width: 150px; height: 81px; position: absolute; top: 49px; right: 0; z-index: 99;}

#box .form-item-pais{opacity: 0.2; -moz-opacity: 0.2; -webkit-opacity: 0.2; filter:alpha(opacity=20);}
#box .form-item-cidade{opacity: 0.2; -moz-opacity: 0.2; -webkit-opacity: 0.2; filter:alpha(opacity=20);}
#box .form-item-ida{opacity: 0.2; -moz-opacity: 0.2; -webkit-opacity: 0.2; filter:alpha(opacity=20); position: relative;}
#box .form-item-volta{opacity: 0.2; -moz-opacity: 0.2; -webkit-opacity: 0.2; filter:alpha(opacity=20); position: relative;}

#box .form-type-select label{float: left; position: absolute; top: -20px;}
#box fieldset.form-wrapper fieldset.camposlocal{width:570px; height:32px; display: block; margin:0 auto;}
#box fieldset.form-wrapper fieldset.camposlocal select{width:130px; height:21px; border:1px solid #ccc; padding: 2px 3px 2px 2px; font:11px Arial; color:#696969; margin-right:16px;}
#box fieldset.form-wrapper fieldset.camposlocal #edit-objetivo{width:164px;}
#box fieldset.form-wrapper fieldset.camposdata{width:570px; height:52px; display: none; display: block; margin:0 auto;}
#box fieldset.form-wrapper fieldset.camposdata h3{font: 29px/31px "helveticaneueBold"; color:#222222; padding: 0; float: left; margin-right: 20px;}
#box fieldset.form-wrapper fieldset.camposdata div{border: none;}
#box fieldset.form-wrapper fieldset.camposdata div.container-inline-date{width:210px; float: left; clear: none;}
#box fieldset.form-wrapper fieldset.camposdata select{width:67px; height:21px; border:1px solid #ccc; padding: 2px 3px 2px 2px; font:11px Arial; color:#696969; margin-right:5px;}
#box fieldset.form-wrapper fieldset.camposdata label{top: 69px;}

#box fieldset.form-wrapper input[type=submit]{width: 126px; height: 46px; background: #eca700; margin: 0 auto; font: 18px/36px "helveticaneueBold"; color: #000; cursor: pointer; position: absolute; right: 15px; bottom: 15px; opacity: 0.2; -moz-opacity: 0.2; -webkit-opacity: 0.2; filter:alpha(opacity=20); cursor: default;}
#box fieldset.form-wrapper input[type=submit]:hover{background: #d09300;}



.content .content-abas #box{width: 719px; background: #f6f6f6; height: 143px; margin: 0 auto;}
.content .content-abas .dadosbusca{width: 719px; margin: -50px auto 0 auto;}


.content .content-abas #box .txtQuero form{margin: 45px 0 0 0;}
.content .content-abas #box .txtQuero select{width:130px; height:21px; border:1px solid #ccc; padding: 2px 3px 2px 2px; font:11px Arial; color:#696969; margin-right:20px;}
.content .content-abas #box .txtQuero label{font:11px Arial; color:#696969;}
.content .content-abas #box .txtQuero input[type=submit]{width:130px; height:42px; background: #1767ab; margin:0 auto; font:18px/42px "helveticaneueBold"; color:#fff; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; cursor:pointer;}
.content .content-abas #box .txtQuero input[type=submit]:hover{background: #13548b;}
.content .content-abas #box .txtQuero .hr{width:98%; height:2px; background: url(../images/minhas-viagens/sprite.png) no-repeat -48px -989px; margin: 55px auto 54px auto; display: block;}

.content .content-abas #box .txtVou form{margin: 40px 0;}
.content .content-abas #box .txtVou select{width:130px; height:21px; border:1px solid #ccc; padding: 2px 3px 2px 2px; font:11px Arial; color:#696969; margin-right:20px;}
.content .content-abas #box .txtVou select.selectMes{width:59px; margin-right:5px;}
.content .content-abas #box .txtVou select.selectAno{width:67px;}
.content .content-abas #box .txtVou div{margin: 45px 0;}
.content .content-abas #box .txtVou h5{font:29px/32px "helveticaneueBold"; color:#222222; width:130px; float: left; margin: 0 0px 0 33px;}
.content .content-abas #box .txtVou label{font:11px Arial; color:#696969;}
.content .content-abas #box .txtVou input[type=submit]{width:130px; height:42px; background: #1767ab; margin:0 auto; font:18px/42px "helveticaneueBold"; color:#fff; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; cursor:pointer;}
.content .content-abas #box .txtVou input[type=submit]:hover{background: #13548b;}

.content .content-abas #box .txtFui form{margin: 40px 0;}
.content .content-abas #box .txtFui select{width:130px; height:21px; border:1px solid #ccc; padding: 2px 3px 2px 2px; font:11px Arial; color:#696969; margin-right:20px;}
.content .content-abas #box .txtFui select.selectMes{width:59px; margin-right:5px;}
.content .content-abas #box .txtFui select.selectAno{width:67px;}
.content .content-abas #box .txtFui div{margin: 45px 0;}
.content .content-abas #box .txtFui h5{font:29px/32px "helveticaneueBold"; color:#222222; width:130px; float: left; margin: 0 0px 0 33px;}
.content .content-abas #box .txtFui label{font:11px Arial; color:#696969;}
.content .content-abas #box .txtFui input[type=submit]{width:130px; height:42px; background: #1767ab; margin:0 auto; font:18px/42px "helveticaneueBold"; color:#fff; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; cursor:pointer;}
.content .content-abas #box .txtFui input[type=submit]:hover{background: #13548b;}



.content .content-abas #box.quero{border:4px solid #c2304d;}
.content .content-abas #box.vou{border:4px solid #0a9c9b;}
.content .content-abas #box.fui{border:4px solid #4185b2;}
.content .content-abas #box .infoBox img{margin:-41px 0 0 -25px; }
.content .content-abas #box .infoBox span{width:58px; height:31px; background: url(../images/busca/seta.png) no-repeat 0 0; display: block; position: absolute;}
.content .content-abas #box .infoBox span.setaVermelha{ top: -3px; left: 69px;}
.content .content-abas #box .infoBox span.setaVerde{top: -3px; left:281px;}
.content .content-abas #box .infoBox span.setaAzul{top: -3px; left:494px;}
.content .content-abas #box .infoBox p{width: 267px; font: bold 16px "MyriadPro-Regular"; color: white; position: absolute; top: 65px; right: 30px; text-align: right;}
.content .content-abas #box .infoBox a{width:217px; height:37px; font:bold 20px/37px "HelveticaNeue"; color:#fff; display:block; text-align: center; text-decoration: none; border-radius:3px; position: absolute; top: 160px; right: 30px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;}

.content .content-abas #box .infoBox.txtQuero a{background: #e7395c;}
.content .content-abas #box .infoBox.txtQuero a:hover{background: #bf2f4c;}

.content .content-abas #box .infoBox.txtVou a{background: #2fbcba;}
.content .content-abas #box .infoBox.txtVou a:hover{background: #269a98;}

.content .content-abas #box .infoBox.txtFui a{background: #4c8ebc;}
.content .content-abas #box .infoBox.txtFui a:hover{background: #3f759a;}

.content .content-abas .content-resultados .boxheader{width: 100%; height: 53px; background: url(../images/busca/bg_mostra_usuarios.png) no-repeat 0 0; display: block;}
.content .content-abas .content-resultados .boxheader form{background: none; height: auto !important; margin-left: 50px;}
.content .content-abas .content-resultados .boxheader #edit-filtro{margin:0;}
.content .content-abas .content-resultados .boxheader fieldset{margin:0 auto; width: 570px; }
.content .content-abas .content-resultados .boxheader legend{font:13px "HelveticaNeueBold"; color:#cccccc; float: left; padding-top: 6px;}
.content .content-abas .content-resultados .boxheader label{font:11px Arial; color:#fff;}
.content .content-abas .content-resultados .boxheader input[type="radio"]{margin-left: 30px;}
.content .content-abas .content-resultados .boxheader p{font:11px Arial; color:#c6c6c6; padding: 14px 40px 0 40px; float: left;}
.content .content-abas .content-resultados .boxheader .form-item-criterio{margin-top: 4px; float: left;}

.content .content-resultados{display: block; background: #fff; overflow: hidden; margin: 30px auto; padding-bottom: 15px;} 


.content .content-resultados #resultado_pesquisa_ajax .userlist{width: 100%; display: block; margin: 5px auto 0 auto; position: relative; height: auto; font: bold 15px Arial; color: #333333; padding: 10px 0 0 50px;}
.content .content-resultados #resultado_pesquisa_ajax .userlist ul{width: 100%; min-height: 80px; height: auto; margin: 0 auto;}
.content .content-resultados #resultado_pesquisa_ajax .userlist ul li{width: 180px; height: 56px; margin: 15px 28px 0 0; float: left; display: inline;}
.content .content-resultados #resultado_pesquisa_ajax .userlist ul li img{float: left; width:56px; height:55px;}
.content .content-resultados #resultado_pesquisa_ajax .userlist ul li p.nome{width: 113px; font: bold 11px Arial; color: #395a9d; display: block; padding: 10px 0 0 67px;}
.content .content-resultados #resultado_pesquisa_ajax .userlist ul li a{font: bold 11px/21px Arial; color: #395A9D; background: url(../images/busca/adicionar-thumb.png) no-repeat 9px 6px; padding: 0 0 0 25px; float: left; text-decoration: none;}
.content .content-resultados #resultado_pesquisa_ajax .userlist ul li a:hover{text-decoration: underline;}

/*.content .content-resultados .mostra-usuarios .resultado_pesquisa_ajax{width:677px; height:386px; background: url(../images/busca/seta-cinza.png) no-repeat 660px 3px #EFEFF0; border: 3px solid #c3c3c3; overflow: hidden;}*/
/*.content .conteudo .mostra-usuarios .boxusuarios .boxheader{width:100%; height:42px; background: #000; margin-bottom:20px;}
.content .conteudo .mostra-usuarios .boxusuarios .boxheader form{padding-top: 10px;}
.content .conteudo .mostra-usuarios .boxusuarios .boxheader input[type="radio"]{margin-left: 30px;}
.content .conteudo .mostra-usuarios .boxusuarios .boxheader p{font:11px Arial; color:#c6c6c6; padding: 14px 40px 0 40px; float: left;}
.content .conteudo .mostra-usuarios .boxusuarios .boxheader label{font:11px Arial; color:#fff;}
.content .conteudo .mostra-usuarios .boxusuarios .boxheader select{width:131px; height:21px; border:1px solid #ccc;  font:11px Arial; color:#c6c6c6; padding: 2px 3px 2px 2px;}*/

/*.content .conteudo .mostra-usuarios .resultado_pesquisa_ajax .userlist{width:603px; height:285px; margin: 0 auto;}*/

.content .conteudo .paginacao{width:150px; height:23px; margin: 7px auto 0 auto; position: relative; text-align: center;}
.content .conteudo .paginacao a{width:22px; height:22px; background: url(../images/busca/sprite.png) no-repeat 0 0; display: block;}
.content .conteudo .paginacao a.prev{float: left; background-position:-100px -800px; position: absolute; left: 0;}
.content .conteudo .paginacao a.prev:hover{}
.content .conteudo .paginacao a.next{float: right; background-position:-129px -800px; position: absolute; right: 0;}
.content .conteudo .paginacao a.next:hover{}
.content .conteudo .paginacao p{font:14px/23px Arial; color:dimGray; padding:0; text-align: center;}
.content .conteudo .paginacao p i{background:#fff; border:1px solid #ccc; padding: 3px 8px}

/*footer*/
/*.footer{width: 100%; height: 189px; background: url(../images/bg-footer.png) no-repeat top center; position: relative; bottom: 0; z-index: 2;}*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 0px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#000; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #000; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1; display:none;}