body{background: url(../images/background-global.jpg) fixed repeat 0 0 #fff;}
hr{border:0;}

/*header*/
.facebook_share{width: 100%; height: 36px; background:#f5f5f5; position: relative;}
.facebook_share .centraliza{width: 758px; position: absolute; top: 6px; left: 50%; margin-left: -189px;}
.header{width: 100%; height: 182px; display: block; background: url(../images/home/sprite-home.png) repeat-x center top #141414; position: relative;}
.header hr{border: 0;}
.header-1{width: 758px; height: 126px; background: url(../images/bg_header-1.png) no-repeat 230px 12px; margin: 0 auto; display: block; position: relative;}
.header-1 h1{width: 313px; height: 148px; background: url(../images/home/sprite-home.png) no-repeat -18px -164px; display: block; text-indent: -999px; overflow: hidden; margin: 3px 0 0 0; float: left;}
.header-1 h2{width: 320px; float: left; font: 20px "HelveticaneueBold"; color: #6db4e5; text-transform: uppercase; margin: 79px 0 0 0px;}
.header-1 p span{color:#2fbdbb;}
/*.header-1 img{width: 78px; height: 84px; border: 0; display: block; margin: 37px 20px 0 0; float: right;}*/
/*.header-1 a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}*/
.header-1 a.linkTop{float: right; margin: 27px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}
.header-1 a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}

.menuPrinc{width: 100%; height: 57px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 0; float: left; position: absolute; bottom: 0;}
.menuPrinc .centraliza{width: 758px; margin: 0 auto;}
.menuPrinc .centraliza ul li{height:24px; padding: 0 12px; border-right: 1px solid black; display: block; float: left; margin-top: 17px; position: relative;}

.menuPrinc .centraliza ul li dl{width: 100%; height: 164px; z-index: 999; position: absolute; left: 0px; background: #282828; top: 0px; display: none;}
.menuPrinc .centraliza ul li dl dt{width: 100%; height: 39px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 -6px;}
.menuPrinc .centraliza ul li dl dd{width: 90%; height: 41px; display: block; position: relative; text-align: left; margin: 0 auto;}
.menuPrinc .centraliza ul li dl dd a{font:bold 15px/41px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; padding-left: 12px;}
.menuPrinc .centraliza ul li dl dd a:hover{color:#ffb400;}

.menuPrinc .centraliza ul li.last{border-right: 0;}
.menuPrinc .centraliza ul li a{font:bold 15px/24px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; position: relative; z-index: 9999;}
.menuPrinc .centraliza ul li a:hover{color:#ffb400;}
.menuPrinc .centraliza ul li a.ativo{color:#ffb400;}
.menuPrinc .centraliza ul li a span{width: 18px; height: 10px; background: url(../images/home/sprite-home.png) no-repeat -503px -623px; position: absolute; top: -16px; left: 50%; display: block; margin-left: -4px;}

.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}

/*conteúdo*/
.content .breadcrumb{width:446px; height:40px; background: url(../images/breadCrumb.png) no-repeat 0 0; top: -19px; position: relative; left: -1px;}
.content .breadcrumb p{font:13px/40px Arial, Helvetica, sans-serif; color:#787878; padding-left: 70px;}
.content .breadcrumb p span{font:bold 13px/40px Arial, Helvetica, sans-serif; color:#e7e7e7; text-decoration: underline;}
.content .content-top{width: 758px; height:196px; background: url(../images/cadastro/header-busca.jpg) no-repeat 0 0; margin:0 auto; position: relative;}
.content .content-top .texto{position: absolute; left: 40px; top: 40px;}
.content .content-top .texto span{font:25px "HelveticaNeueBold"; color:#333333;} 
.content .content-top .texto h3{width: 350px; font: 25px "HelveticaNeueBold"; color: #28427c; text-transform: uppercase;}
.content .content-top .texto p{width: 260px; font: 17px "HelveticaNeue"; color: #666666; margin: 7px 0 0 0;}

.content .conteudo{margin: 0 auto;}
.content .conteudo form{width: 95%; display: block; background:#fff; margin: 15px auto; padding: 10px 0;}
.content .conteudo form .objetivo{font:20px "HelveticaNeueBold"; color:#333333; margin: 15px 0 21px 15px;}
.content .conteudo h4{width:100%; height:28px; background: url(../images/busca/h4.png) no-repeat 0 0; font:25px/28px "HelveticaNeueBold"; color:#333333; display: block; text-transform: uppercase; padding-left: 34px;}
.content .conteudo .dadosUsuario{width: 737px; height: 142px; background: url(../images/busca/bg_perfil_usuario.png) no-repeat 0 0; display: block; margin: 40px 0; position: relative;}
.content .conteudo .dadosUsuario .col1{width:190px; margin: 35px auto; float: left;}
.content .conteudo .dadosUsuario .col1 img{width: 120px; height: 123px; display: block; float: right; border: 4px solid #ccc; position: absolute; top: 12px; left: 41px;}
.content .conteudo .dadosUsuario .col2{width: 539px; float: left;}

.content .conteudo .dadosUsuario .col2 .posicao{width: 420px; margin: 6px 0 10px 0px; float: left; clear: both; display: block; overflow: hidden; position: relative;}
.content .conteudo .dadosUsuario .col2 .posicao span{width: 78px; height: 23px; background: url(../images/minhas-viagens/bg_conheco.jpg) no-repeat 0 0; font:12px/12px "HelveticaNeueBold"; display: block; color:#fff; margin: 0; float: left; padding:7px 0 0 37px;}
.content .conteudo .dadosUsuario .col2 .posicao p{width: 175px; height: 15px; background: #333333; font: bold 13px/15px Arial; color: #cccccc; margin: 0 0 0 0; float: left; text-align: center; padding: 5px; position: absolute; top: 0; left: 113px;}
.content .conteudo .dadosUsuario .col2 .posicao p a{font-size: 15px; color: #fff; line-height: 15px; text-decoration: none; padding: 0; margin: 0 -20px 0 10px;}
.content .conteudo .dadosUsuario .col2 .posicao p a:hover{text-decoration: underline;}


.content .conteudo .dadosUsuario .col2 p{font:bold 18px Arial; color:#133278; padding: 10px 0; float: left;}
.content .conteudo .dadosUsuario .col2 span{font: 13px/20px Arial; color: #555555; display: block; text-decoration: underline; padding: 11px 0 0 10px; float: left;}
.content .conteudo .dadosUsuario .col2 a{height: 20px; display: block; font: bold 11px/16px Arial; color: #333333; text-decoration: none; background: url(../images/busca/sprite-interna.png) no-repeat; float: left; margin: 4px 0 0 10px;}
.content .conteudo .dadosUsuario .col2 a.adicionar{background-position:-110px -1660px; padding-left: 20px;}
.content .conteudo .dadosUsuario .col2 a.publicar{background-position:-109px -1691px; padding-left: 27px;}
.content .conteudo .dadosUsuario .col2 a:hover{text-decoration: underline;}
.content .conteudo .dadosUsuario .col3{margin:45px 0 0 27px; float: left;}
.content .conteudo .dadosUsuario .col3 p{font:bold 18px Arial; color:#025ca7; padding: 0;}
.content .conteudo .dadosUsuario .col3 p span{font:14px/20px Arial; color:#272821; display: block;}

.content .conteudo .empregadores{display: none;}
.content .conteudo .instituicao{display: none;}
.content .conteudo .box-jafoi{width: 719px; height: auto; background: #fff; margin: 30px auto; position: relative;}
.content .conteudo .box-jafoi .top{width:684px; height:14px; margin-bottom:10px;}
.content .conteudo .box-jafoi .bottom{width:684px; height:14px; position:relative; bottom:-2px;}
.content .conteudo .box-jafoi h4{width:100%; height:43px; display: block; background: url(../images/busca/bg_jafoipara.png) no-repeat 0 0; font:bold 16px/43px Arial; color:#CCC;}
.content .conteudo .box-jafoi h4 span{font-size:24px; color:#222222;}

.content .conteudo .box-jafoi .paises{width: 679px; height: auto; margin: 18px auto 0 auto; position: relative;}
.content .conteudo .box-jafoi .paises ul li{display: inline; float:left; margin:3px 4px; cursor: pointer;}
.content .conteudo .box-jafoi .paises ul li img{width:48px; height:auto; display: block; }

.content .conteudo .box-jafoi .empregadores{width: 678px; height: 105px;  margin: 20px auto 0 auto; position: relative; background: #eeebeb;}
.content .conteudo .box-jafoi .empregadores h5{width: 100%; height: 19px; font: bold 16px Arial; color: #272821; padding: 15px 0 0 26px;}
.content .conteudo .box-jafoi .empregadores h5 .box{width: 10px; height: 21px; background:#4d8fbd; margin-right: 10px; float: left;}
.content .conteudo .box-jafoi .empregadores ul{width:610px; height:auto; margin: 10px auto 0 auto;}
.content .conteudo .box-jafoi .empregadores ul li{font: 15px/30px "helveticaneueBold"; color: #4D8FBD; display: inline; float: left; margin: 0 4px; border-right: 1px dashed #4D8FBD; padding-right: 12px;}
.content .conteudo .box-jafoi .empregadores ul li img{width:86px; height:60px;}

.content .conteudo .box-jafoi .instituicao{width:678px; height:105px; margin:0 auto 20px auto; position: relative; background: #eeebeb;}
.content .conteudo .box-jafoi .instituicao h5{width: 100%; height: 19px; font: bold 16px Arial; color: #272821; padding: 15px 0 0 26px;}
.content .conteudo .box-jafoi .instituicao h5 .box{width: 10px; height: 21px; background:#4d8fbd; margin-right: 10px; float: left;}
.content .conteudo .box-jafoi .instituicao ul{width:610px; height:61px; margin: 19px auto 0 auto;}
.content .conteudo .box-jafoi .instituicao ul li{font: 15px/30px "helveticaneueBold"; color: #4D8FBD; display: inline; float: left; margin: 0 4px; border-right: 1px dashed #4D8FBD; padding-right: 12px;}
.content .conteudo .box-jafoi .instituicao ul li img{width:86px; height:60px;}

.content .conteudo .box-querir{width: 719px; height: auto; background: #fff; margin: 30px auto; position: relative;}
.content .conteudo .box-querir .top{width:684px; height:14px; margin-bottom:10px;}
.content .conteudo .box-querir .bottom{width:684px; height:14px; position:relative; bottom:-2px;}
.content .conteudo .box-querir h4{width:100%; height:43px; display: block; background: url(../images/busca/bg_querirpara.png) no-repeat 0 0; font:bold 16px/43px Arial; color:#CCC;}
.content .conteudo .box-querir h4 span{font-size:24px; color:#222222;}

.content .conteudo .box-querir .paises{width: 679px; height: auto; margin: 18px auto 0 auto; position: relative;}
.content .conteudo .box-querir .paises ul li{display: inline; float:left; margin:3px 4px; cursor: pointer;}
.content .conteudo .box-querir .paises ul li img{width:48px; height:auto; display: block; }

.content .conteudo .box-querir .empregadores{width: 678px; height: 105px;  margin: 20px auto 0 auto; position: relative; background: #eeebeb;}
.content .conteudo .box-querir .empregadores h5{width: 100%; height: 19px; font: bold 16px Arial; color: #272821; padding: 15px 0 0 26px;}
.content .conteudo .box-querir .empregadores h5 .box{width: 10px; height: 21px; background:#ea3a5d; margin-right: 10px; float: left;}
.content .conteudo .box-querir .empregadores ul{width:610px; height:auto; margin: 10px auto 0 auto;}
.content .conteudo .box-querir .empregadores ul li{font: 15px/30px "helveticaneueBold"; color: #ea3a5d; display: inline; float: left; margin: 0 4px; border-right: 1px dashed #ea3a5d; padding-right: 12px;}
.content .conteudo .box-querir .empregadores ul li img{width:86px; height:60px;}

.content .conteudo .box-querir .instituicao{width:678px; height:105px; margin:0 auto 20px auto; position: relative; background: #eeebeb;}
.content .conteudo .box-querir .instituicao h5{width: 100%; height: 19px; font: bold 16px Arial; color: #272821; padding: 15px 0 0 26px;}
.content .conteudo .box-querir .instituicao h5 .box{width: 10px; height: 21px; background:#ea3a5d; margin-right: 10px; float: left;}
.content .conteudo .box-querir .instituicao ul{width:610px; height:61px; margin: 19px auto 0 auto;}
.content .conteudo .box-querir .instituicao ul li{font: 15px/30px "helveticaneueBold"; color: #ea3a5d; display: inline; float: left; margin: 0 4px; border-right: 1px dashed #ea3a5d; padding-right: 12px;}
.content .conteudo .box-querir .instituicao ul li img{width:86px; height:60px;}

.content .conteudo .box-estaindo{width: 719px; height: auto; background: #fff; margin: 30px auto; position: relative;}
.content .conteudo .box-estaindo .top{width:684px; height:14px; margin-bottom:10px;}
.content .conteudo .box-estaindo .bottom{width:684px; height:14px; position:relative; bottom:-2px;}
.content .conteudo .box-estaindo h4{width:100%; height:43px; display: block; background: url(../images/busca/bg_vaipara.png) no-repeat 0 0; font:bold 16px/43px Arial; color:#CCC;}
.content .conteudo .box-estaindo h4 span{font-size:24px; color:#222222;}

.content .conteudo .box-estaindo .paises{width: 679px; height: auto; margin: 18px auto 0 auto; position: relative;}
.content .conteudo .box-estaindo .paises ul li{display: inline; float:left; margin:3px 4px; cursor: pointer;}
.content .conteudo .box-estaindo .paises ul li img{width:48px; height:auto; display: block; }

.content .conteudo .box-estaindo .empregadores{width: 678px; height: 105px;  margin: 20px auto 0 auto; position: relative; background: #eeebeb;}
.content .conteudo .box-estaindo .empregadores h5{width: 100%; height: 19px; font: bold 16px Arial; color: #272821; padding: 15px 0 0 26px;}
.content .conteudo .box-estaindo .empregadores h5 .box{width: 10px; height: 21px; background:#2fbdbb; margin-right: 10px; float: left;}
.content .conteudo .box-estaindo .empregadores ul{width:610px; height:auto; margin: 10px auto 0 auto;}
.content .conteudo .box-estaindo .empregadores ul li{font: 15px/30px "helveticaneueBold"; color: #2fbdbb; display: inline; float: left; margin: 0 4px; border-right: 1px dashed #2fbdbb; padding-right: 12px;}
.content .conteudo .box-estaindo .empregadores ul li img{width:86px; height:60px;}

.content .conteudo .box-estaindo .instituicao{width:678px; height:105px; margin:0 auto 20px auto; position: relative; background: #eeebeb;}
.content .conteudo .box-estaindo .instituicao h5{width: 100%; height: 19px; font: bold 16px Arial; color: #272821; padding: 15px 0 0 26px;}
.content .conteudo .box-estaindo .instituicao h5 .box{width: 10px; height: 21px; background:#2fbdbb; margin-right: 10px; float: left;}
.content .conteudo .box-estaindo .instituicao ul{width:610px; height:61px; margin: 19px auto 0 auto;}
.content .conteudo .box-estaindo .instituicao ul li{font: 15px/30px "helveticaneueBold"; color: #2fbdbb; display: inline; float: left; margin: 0 4px; border-right: 1px dashed #2fbdbb; padding-right: 12px;}
.content .conteudo .box-estaindo .instituicao ul li img{width:86px; height:60px;}

/*.content .conteudo .box-estaindo{width: 719px; height: auto;  background: #fff; margin: 30px auto; position: relative;}
.content .conteudo .box-estaindo h4{background:; font:36px/30px "helveticaneueBold"; color:#4D8FBD;}
.content .conteudo .box-estaindo h4 span{font-size:24px; color:#222222;}
.content .conteudo .box-estaindo .paises{width:610px; height:40px; margin:20px auto 0 auto; position: relative;}
.content .conteudo .box-estaindo .paises ul li{display: inline; float:left; margin:3px 4px;}
.content .conteudo .box-estaindo .paises ul li img{width:47px; height:34px; display: block;}
.content .conteudo .box-estaindo .empregadores{width:659px; height:105px; margin:20px auto 0 auto; position: relative;}
.content .conteudo .box-estaindo .empregadores h5{width:100%; height:19px; background: url(../images/busca/sprite-interna.png) no-repeat -50px -895px; font:18px/22px "helveticaneueBold"; color:#272821; padding-left: 26px;}
.content .conteudo .box-estaindo .empregadores ul{width:610px; height:61px; margin: 19px auto 0 auto;}
.content .conteudo .box-estaindo .empregadores ul li{font: 15px/30px "helveticaneueBold"; color: #2FBDBB; display: inline; float: left; margin: 0 4px; border-right: 1px dashed #2FBDBB; padding-right: 12px;}
.content .conteudo .box-estaindo .empregadores ul li img{width:86px; height:60px;}
.content .conteudo .box-estaindo .instituicao{width:659px; height:105px; margin:20px auto 0 auto; position: relative;}
.content .conteudo .box-estaindo .instituicao h5{width:100%; height:19px; background: url(../images/busca/sprite-interna.png) no-repeat -47px -1173px; font:18px/22px "helveticaneueBold"; color:#272821; padding-left: 26px;}
.content .conteudo .box-estaindo .instituicao ul{width:610px; height:61px; margin: 19px auto 0 auto;}
.content .conteudo .box-estaindo .instituicao ul li{font: 15px/30px "helveticaneueBold"; color: #2FBDBB; display: inline; float: left; margin: 0 4px; border-right: 1px dashed #2FBDBB; padding-right: 12px;}
.content .conteudo .box-estaindo .instituicao ul li img{width:86px; height:60px;}
.content .conteudo .box-estaindo h4{font:36px/30px "helveticaneueBold"; color:#2FBDBB; position:absolute; top:-10px; left:36px;}
.content .conteudo .box-estaindo h4 span{font-size:24px; color:#222222;}
.content .conteudo .box-estaindo .paises{width:610px; height:auto; margin:18px auto 0 auto; position: relative;}
.content .conteudo .box-estaindo .paises ul li{display: inline; float:left; margin:3px 4px;}
.content .conteudo .box-estaindo .paises ul li img{width:30px; height:auto; display: block;}
.content .conteudo .box-estaindo .empregadores{width:659px; height:105px; margin:20px auto 0 auto; position: relative;}
.content .conteudo .box-estaindo .empregadores h5{width:100%; height:19px; background: url(../images/busca/sprite-interna.png) no-repeat -50px -895px; font:18px/22px "helveticaneueBold"; color:#272821; padding-left: 26px;}
.content .conteudo .box-estaindo .empregadores ul{width:610px; height:61px; margin: 19px auto 0 auto;}
.content .conteudo .box-estaindo .empregadores ul li{font: 15px/30px "helveticaneueBold"; color: #2FBDBB; display: inline; float: left; margin: 0 4px; border-right: 1px dashed #2FBDBB; padding-right: 12px;}
.content .conteudo .box-estaindo .empregadores ul li img{width:86px; height:60px;}
.content .conteudo .box-estaindo .instituicao{width:659px; height:105px; margin:20px auto 0 auto; position: relative;}
.content .conteudo .box-estaindo .instituicao h5{width:100%; height:19px; background: url(../images/busca/sprite-interna.png) no-repeat -47px -1173px; font:18px/22px "helveticaneueBold"; color:#272821; padding-left: 26px;}
.content .conteudo .box-estaindo .instituicao ul{width:610px; height:61px; margin: 19px auto 0 auto;}
.content .conteudo .box-estaindo .instituicao ul li{font: 15px/30px "helveticaneueBold"; color: #2FBDBB; display: inline; float: left; margin: 0 4px; border-right: 1px dashed #2FBDBB; padding-right: 12px;}
.content .conteudo .box-estaindo .instituicao ul li img{width:86px; height:60px;}*/


/*footer*/
/*.footer{width: 100%; height: 189px; background: url(../images/bg-footer.png) no-repeat top center; position: relative; bottom: 0; z-index: 2;}*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 0px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#000; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #000; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1; display:none;}

/*lytebox*/
div.bg-preto{width:100%; height:100%; position:absolute; z-index:5; top:0; left:0; background-color: #000; -o-opacity: 0.5; -webkit-opacity: 0.5; -moz-opacity: 0.5; opacity: 0.5; filter: alpha(opacity=50);}
div.bordaPublicar{width:535px; height:180px; position:fixed; z-index:6; top:50%; left:50%; margin: -90px 0 0 -267.5px; background:#000; -o-opacity:0.4; -webkit-opacity:0.4; -moz-opacity:0.4; opacity:0.4; filter: alpha(opacity=40); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
div.publicarMural{width:512px; height:158px; position:fixed; z-index:7; top:50%; left:50%; margin: -79px 0 0 -256px; background:#fff; overflow:hidden;}
div.publicarMural h1{display:block; color:#fff; background:#8298BF; font:16px 'Segoe UI'; padding:3px 0 6px 8px;}
div.publicarMural textarea{border:1px solid #CAD2DF; width:490px; height:50px; margin:20px 0 11px 10px;}
div.publicarMural .bts{background:#f5f5f5; border-top:1px solid #d6d6d6; height:39px;}
div.publicarMural .bts a{float:right; width:48px; height:23px; margin: 7px 4px 0 0; background:#e9e9e9; cursor:pointer;}
div.publicarMural .bts a.fechar{color:#424242; font: 13px/21px 'Segoe UI'; border:1px solid #a0a0a0; background: #ebebea url('../images/bt_fechar.jpg') repeat-x 0 0; text-align:center;}
div.publicarMural .bts a.enviar{color:#FFF; font: 13px/21px 'Segoe UI'; background: #6f88b3 url('../images/bt_enviar.jpg') repeat-x 0 0; border: 1px solid #355487; text-align:center; margin-right:10px;}