body{background: url(../images/background-global.jpg) fixed repeat 0 0 #fff;}
hr{border:0;}

/*header*/
.facebook_share{width: 100%; height: 36px; background:#f5f5f5; position: relative;}
.facebook_share .centraliza{width: 758px; position: absolute; top: 6px; left: 50%; margin-left: -189px;}
.header{width: 100%; height: 182px; display: block; background: url(../images/home/sprite-home.png) repeat-x center top #141414; position: relative;}
.header hr{border: 0;}
.header-1{width: 758px; height: 126px; background: url(../images/bg_header-1.png) no-repeat 230px 12px; margin: 0 auto; display: block; position: relative;}
.header-1 h1{width: 313px; height: 148px; background: url(../images/home/sprite-home.png) no-repeat -18px -164px; display: block; text-indent: -999px; overflow: hidden; margin: 3px 0 0 0; float: left;}
.header-1 h2{width: 320px; float: left; font: 20px "HelveticaneueBold"; color: #6db4e5; text-transform: uppercase; margin: 79px 0 0 0px;}
.header-1 p span{color:#2fbdbb;}
/*.header-1 img{width: 78px; height: 84px; border: 0; display: block; margin: 37px 20px 0 0; float: right;}*/
/*.header-1 a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}*/
.header-1 a.linkTop{float: right; margin: 27px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}
.header-1 a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}

.menuPrinc{width: 100%; height: 57px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 0; float: left; position: absolute; bottom: 0;}
.menuPrinc .centraliza{width: 758px; margin: 0 auto;}
.menuPrinc .centraliza ul li{height:24px; padding: 0 12px; border-right: 1px solid black; display: block; float: left; margin-top: 17px; position: relative;}

.menuPrinc .centraliza ul li dl{width: 100%; height: 164px; z-index: 999; position: absolute; left: 0px; background: #282828; top: 0px; display: none;}
.menuPrinc .centraliza ul li dl dt{width: 100%; height: 39px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 -6px;}
.menuPrinc .centraliza ul li dl dd{width: 90%; height: 41px; display: block; position: relative; text-align: left; margin: 0 auto;}
.menuPrinc .centraliza ul li dl dd a{font:bold 15px/41px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; padding-left: 12px;}
.menuPrinc .centraliza ul li dl dd a:hover{color:#ffb400;}

.menuPrinc .centraliza ul li.last{border-right: 0;}
.menuPrinc .centraliza ul li a{font:bold 15px/24px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; position: relative; z-index: 9999;}
.menuPrinc .centraliza ul li a:hover{color:#ffb400;}
.menuPrinc .centraliza ul li a.ativo{color:#ffb400;}
.menuPrinc .centraliza ul li a span{width: 18px; height: 10px; background: url(../images/home/sprite-home.png) no-repeat -503px -623px; position: absolute; top: -16px; left: 50%; display: block; margin-left: -4px;}


/*conteúdo*/
.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}

.content .nav-padrao{width: 758px; height: 167px; margin: 0 auto; background: url(../images/bg-nav-menu.png) no-repeat bottom right #2FBDBB; position: relative;}
.content .nav-padrao a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.content .nav-padrao img{border: 0;}
.content .nav-padrao a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.content .nav-padrao .facebook{position: absolute; top: 6px; left: 110px;}

.content .nav-padrao .navMenu{position: absolute; bottom: 7px; right: 0px;}
.content .nav-padrao .navMenu ul{}
.content .nav-padrao .navMenu ul li{height: 29px; margin: 0 23px 0 17px; display: inline; float: left; text-align: center;}
.content .nav-padrao .navMenu ul li a{font: 13px/30px Arial; color:#fff; text-decoration: none;}
.content .nav-padrao .navMenu ul li a:hover{color:#ffcd00;}
.content .nav-padrao .navMenu ul li a span{color:#ffcd00;}

.content .breadCrumb{width:446px; height:40px; background: url(../images/breadCrumb.png) no-repeat 0 0; top: -19px; position: relative; left: -1px;}
.content .breadCrumb p{font:13px/40px Arial, Helvetica, sans-serif; color:#787878; padding-left: 70px;}
.content .breadCrumb p span{font:bold 13px/40px Arial, Helvetica, sans-serif; color:#e7e7e7; text-decoration: underline;}

.content .content-top{width: 758px; height:196px; background: url(../images/cadastro/header-euvou.jpg) no-repeat 0 0; margin:0 auto; position: relative;}
.content .content-top .texto{position: absolute; left: 40px; top: 40px;}
.content .content-top .texto span{font:25px "HelveticaNeueBold"; color:#333333;} 
.content .content-top .texto h3{width: 350px; font:22px "HelveticaNeueBold"; color: #1a9997; text-transform: uppercase;}
.content .content-top .texto p{width: 260px; font: 17px "HelveticaNeue"; color: #666666; margin: 7px 0 0 0;}

.content .content-conteudo{margin: 0 auto;}
.content .content-conteudo form{width: 95%; display: block; background:#fff; margin: 15px auto; padding: 10px 0;} 
.content .content-conteudo form .objetivo{font:20px "HelveticaNeueBold"; color:#333333; margin: 0 15px 15px 15px;}
.content .content-conteudo h4{width:100%; height:28px; background: url(../images/cadastro/eu-vou/h4.png) no-repeat 0 0; font:30px/28px "HelveticaNeueBold"; color:#333333; display: block; text-transform: uppercase; padding-left: 30px;}

.content .content-conteudo .eu-quero{width:725px; height:100px; margin:0 auto;}
.content .content-conteudo .bgradio{width: 211px; height: 75px; background-color: #2fbdbb;}
.content .content-conteudo .bgradio .setaAtiva{width: 32px; height: 16px; display: none; background:url(../images/cadastro/eu-vou/sprite.png) no-repeat -452px -493px; margin: 0 auto;}
.content .content-conteudo .opt{width: 211px; height: 100px; display: block; float: left; margin:0 10px;}
.content .content-conteudo .opt label{cursor: pointer;}
.content .content-conteudo .opt p.desc{font: 14px/18px 'MyriadPro-Regular'; color:#555555; margin-top: 15px; text-align: center;} 
.content .content-conteudo  div.est{margin-left:15px;}
.content .content-conteudo  div.trab{margin-left:10px;}
.content .content-conteudo  div.est-trab{margin: 0 18px;}
.content .content-conteudo .opt input[type=radio]{display: none;}
.content .content-conteudo .opt span{width: 100%; height: 100%; margin: 0 auto; font: bold 18px "HelveticaNeue"; color: #fff; background: url(../images/cadastro/eu-vou/sprite.png) no-repeat 0 0; display: block;}
.content .content-conteudo .opt span.ativo{background-color: #0f7f7d;}
.content .content-conteudo .opt span.trabalhar{background-position: -220px -382px;}
.content .content-conteudo .opt span.estudar{background-position: -220px -447px;}
.content .content-conteudo .opt span.est-trab{background-position: -220px -518px;}
.content .content-conteudo .opt span.est-trab p{position: relative; top: 16px; left: 73px; width: 90px;}
.content .content-conteudo .opt span p{font: 18px "HelveticaNeueBold"; color: #fff; position: relative; top: 16px; left: 84px;}
.content .content-conteudo .opt span:hover{background-color: #0f7f7d;}

.content .content-conteudo .mapa-paises{width:685px; margin: 0 auto 20px auto; display: block; position: relative;}
.content .content-conteudo .mapa-paises .localViagem{position: relative;}

.content .content-conteudo .mapa-paises .btTipo{width: 84px; height: 55px; background: url(../images/cadastro/bg_tipo.png) no-repeat 0 0; position: absolute; top: 0; right: 0;}

.content .content-conteudo .mapa-paises .btTipo .map{width:16px; height:16px; background: url(../images/home/sprite-home.png) no-repeat -733px -432px; float: left; margin: 16px; overflow: hidden; text-indent: -999px; cursor: pointer;}
.content .content-conteudo .mapa-paises .btTipo .list{width:16px; height:16px; background: url(../images/home/sprite-home.png) no-repeat -733px -453px; float: left; overflow: hidden; text-indent: -999px; cursor: pointer; margin: 17px 0 0 8px;}
.content .content-conteudo .mapa-paises .mapa{width: 633px; height: 360px; background: url(../images/cadastro/eu-quero/mapa.png) no-repeat 0 0px #1E1E1E; display: block; margin: 0px 0 0 0px;}
.content .content-conteudo .mapa-paises .mapa .checkbox{width:128px; height:27px; background: url(../images/cadastro/eu-quero/bg-checkbox-mapa.png) no-repeat; position: absolute; -moz-opacity: 0; -webkit-opacity: 0; -o-opacity: 0; opacity: 0; filter: alpha(opacity=0);}
.content .content-conteudo .mapa-paises .mapa .checkbox input[type="checkbox"]{display: none;}
.content .content-conteudo .mapa-paises .mapa .checkbox label{position: relative; top: 4px; left: 24px; cursor: pointer;}
.content .content-conteudo .mapa-paises .mapa .checkbox label img{width:16px; height:11px;}
.content .content-conteudo .mapa-paises .mapa .checkbox label span{font: 10px 'Arial'; color: white; position: relative; top: -2px; margin-left: 5px;}
.content .content-conteudo .mapa-paises .mapa .checkbox label.ativo span{color:#CCC; font-weight: bold;}


.content .content-conteudo .mapa-paises h5{width: 611px; height: 46px; background:#0e0e0e; font:19px/46px "HelveticaNeueBold"; color:#fff; text-align: left; padding-left: 74px;}
.content .content-conteudo .mapa-paises h5.quando{width: 611px; height: 46px; background:#0e0e0e; font:19px/46px "HelveticaNeueBold"; color:#fff; text-align: left; padding-left: 74px; margin-top: 40px;}

.content .content-conteudo .mapa-paises .leftPaises{width:52px; height: 550px; background: #396e9b; display: block; position: relative; float: left;}
.content .content-conteudo .mapa-paises .leftPaises .icone{width: 52px; height: 45px; display: block; background: url(../images/home/sprite-home.png) no-repeat -654px -507px #18476f; position: absolute; top: -45px; left: 0;}
.content .content-conteudo .mapa-paises .leftPaises .seta{width:11px; height:24px; display: block; background: url(../images/home/sprite-home.png) no-repeat -742px -512px; position: absolute; top: 50%; right: -11px; margin-top: -12px;}

.content .content-conteudo .mapa-paises .leftQuando{width:52px; height: 74px; background: #396e9b; display: block; position: relative; float: left;}
.content .content-conteudo .mapa-paises .leftQuando .icone{width: 52px; height: 45px; display: block; background: url(../images/home/sprite-home.png) no-repeat -584px -505px #18476f; position: absolute; top: -45px; left: 0;}

.content .content-conteudo .mapa-paises .lista{width:685px; height:auto; background: url(../images/cadastro/eu-quero/bg-lista-paises.png) repeat; display: block; margin-top: 10px;}
.content .content-conteudo .mapa-paises .lista div{float: left;}
.content .content-conteudo .mapa-paises .lista label.error{font: 12px "Arial"; font-weight: bold; margin: 30px 0 -10px 20px;}
.content .content-conteudo .mapa-paises .lista .colLeft{float: left; width:160px; height:258px; display: block; margin:0px 0 0 50px;}
.content .content-conteudo .mapa-paises .lista .colCenter{float: left; width:160px; height:258px; display: block; margin: 0px 0 0 90px;}
.content .content-conteudo .mapa-paises .lista .colRight{float: right; width:160px; height:258px; display: block; margin: 0px 0 0 0;}
.content .content-conteudo .mapa-paises .lista .title-list{width:90px; height:18px; background: url(../images/cadastro/eu-fui/sprite.png) no-repeat -34px -449px; font:bold 18px/16px Arial, Helvetica, sans-serif; color:#333333; text-align: left; margin-top: 40px; padding-left: 15px;}

.lista h2{width: 90px; height: 18px; background: url(../images/cadastro/eu-fui/sprite.png) no-repeat -34px -429px; font: bold 18px/16px Arial, Helvetica, sans-serif; color: #333; text-align: left; padding-top: 20px; padding-left: 15px;}
.lista input[type=radio]{display: none;}
.lista .continente-1, .continente-2, .continente-3, .continente-4, .continente-5{width: 160px; display: block; margin: 0px 0 0 20px; position: relative;}

.mapa h2{width: 90px; height: 18px; background: url(../images/cadastro/eu-fui/sprite.png) no-repeat -34px -429px; font: bold 18px/16px Arial, Helvetica, sans-serif; color: #333; text-align: left; padding-top: 20px; padding-left: 15px;}
.mapa input[type=radio]{display: none;}
.mapa .continente-1, .continente-2, .continente-3, .continente-4, .continente-5{width: 160px; display: block; margin: 0px 0 0 20px; position: relative;}


.content .content-conteudo .mapa-paises .lista .checkbox{width:150px; height:16px; margin-top:15px; display: block;}
.content .content-conteudo .mapa-paises .lista .checkbox label{font:12px Arial, Helvetica, sans-serif; color:#333333; cursor: pointer;}
.content .content-conteudo .mapa-paises .lista .checkbox label.ativo{background-color:#ece8e8; padding: 5px;}
.content .content-conteudo .mapa-paises .lista .checkbox label img{margin:0 10px 0 0; width:16px; height:11px;}
.content .content-conteudo .mapa-paises .lista .checkbox input[type=checkbox]{display: none;}

.content .content-conteudo .mapa-paises .boxselect{width:100%; height: 59px; background: #333333; display: block; position: relative; margin-top: 40px;}
.content .content-conteudo .mapa-paises .boxselect .select{width:490px; height:41px; margin: 0 0 0 15px; padding-top: 15px;}
.content .content-conteudo .mapa-paises .boxselect .select .cidade{float: left;}
.content .content-conteudo .mapa-paises .boxselect .select .instituicao{float: left !important; margin-left: 15px;}
.content .content-conteudo .mapa-paises .boxselect .select .clique-aqui{float: left; color: #fff; margin-left: 10px; font: bold 10px 'Arial'; position: absolute; left: 207px; bottom: 6px; display: block !important;}
.content .content-conteudo .mapa-paises .boxselect .select .clique-aqui a{color:#fff;}
.content .content-conteudo .mapa-paises .boxselect .select select{width: 185px; height: 20px; border: 1px solid #CCC; padding: 0px 0px;}
.content .content-conteudo .mapa-paises .boxselect .select #buscar label{width:80px; float:left; font-size:16px; color:#fff; padding-top:2px;}
.content .content-conteudo .mapa-paises .boxselect .select #buscar input{width:380px; float:left;}

.content .content-conteudo .mapa-paises .submit{width: 190px; height: 73px; background-color: #cccccc; position: absolute; z-index: 999; bottom: -7px; right: 0;}
.content .content-conteudo .mapa-paises .submit input[type=submit]{width: 100%; height: 100%; margin: 0 auto; font: 27px/73px "HelveticaNeueBold"; text-align: center; color: #000; background: none; display: block; cursor: pointer;}
.content .content-conteudo .mapa-paises .submit input[type=submit]:hover{background:#ff9c00;}

.content .content-conteudo .mapa-paises .quando{width:100%; height: 120px;}
.content .content-conteudo .mapa-paises .quando input[type="text"]{width:155px; height:32px; padding: 5px; background: #fff; border:1px solid #ccc; font: 12px Arial, Helvetica, sans-serif; color:#c2c2c2; float: left;}
.content .content-conteudo .mapa-paises .quando input[type="text"].error{border-color: red;}

.content .content-conteudo .mapa-paises .quando .data{width: 230px; float: left; position: relative; margin:24px 0 0 60px;}
.content .content-conteudo .mapa-paises .quando .data p{font:bold 12px/16px Arial, Helvetica, sans-serif; color:#333333; text-transform: uppercase; float: left; margin: 14px 10px 0 0px;}
.content .content-conteudo .mapa-paises .quando .data label{font: 12px Arial, Helvetica, sans-serif; color:#c2c2c2; text-transform: lowercase; position: absolute; top: 13px; left: 60px; z-index: 9; display: block !important;}
.content .content-conteudo .mapa-paises .quando .data label.ida{left: 40px;}

.content .content-conteudo .mapa-paises .comofoi{text-align: center;}
.content .content-conteudo .mapa-paises .comofoi h5{width:517px; height:60px; border-bottom: 1px dashed #ccc; margin: 7px auto;}
.content .content-conteudo .mapa-paises .comofoi p{font: 14px/18px "helveticaneue"; color:#555555; margin: 15px 0;}
.content .content-conteudo .mapa-paises .comofoi textarea{width:421px; height:81px; resize: none; padding: 5px;}
.content .content-conteudo .mapa-paises .comofoi .contacaracteres{width:420px; margin: 0 auto; text-align: right;}
.content .content-conteudo .mapa-paises .comofoi .contacaracteres p{font: 10px/18px Arial; color:#555555; margin:4px auto;}
.content .content-conteudo .mapa-paises .comofoi .contacaracteres span{color:#da7b00;}

/*footer*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 0px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#000; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #000; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1; display:none;}

/*lightbox*/
div.bg-preto{width:100%; height:100%; position:absolute; z-index:5; top:0; left:0; background-color: #000; display:none; -o-opacity: 0.5; -webkit-opacity: 0.5; -moz-opacity: 0.5; opacity: 0.5; filter: alpha(opacity=50);}
div.add-instituicao{width: 576px; padding: 2px; height: 206px; position: fixed; z-index: 6; top: 50%; left: 50%; margin: -105px 0 0 -290px; background: #333333; border: 3px solid #000;}
div.add-instituicao label{font:14px 'Tahoma'; color:#696969; float:left; margin-top:30px;}
div.add-instituicao label.nome{display: block;}
div.add-instituicao label.pais{display: block;}
div.add-instituicao label.cidade{display: block;}

div.add-instituicao input[type=text].iNome{height:25px; border:1px solid #dedede; margin: 10px 13px 0 0; width:191px;}
div.add-instituicao input[type=text].iCidade{height:25px; border:1px solid #dedede; margin: 10px 13px 0 0; width:131px;}
div.add-instituicao input[type=text].iPais{height:25px; border:1px solid #dedede; margin: 10px 13px 0 0; width:131px;}

div.add-instituicao select{height:20px; border:1px solid #dedede; width:136px; margin:10px 11px 0 0;}
div.add-instituicao .pontilhado{width: 500px; margin: 30px 0 0 40px; height:1px;}
div.add-instituicao .bt-fechar{position:absolute; top:2px; right:2px; cursor:pointer; background: url('../images/bt-fechar.jpg') no-repeat -3px -1px; width:20px; height:20px;}
div.add-instituicao .bt-fechar:hover{opacity:0.7; -webkit-opacity:0.7; -moz-opacity:0.7;  filter: alpha(opacity=70);}
div.add-instituicao .bt-voltar{width: 160px; height: 40px; background: #396e9b; color: #fff; position: absolute; left: 50%; margin-left: -80px; bottom: 12px; font: 17px/42px "HelveticaNeueBold";
text-align: center; cursor: pointer; display: none;}
div.add-instituicao .bgradio{width: 168px; height: 59px; background: none; margin: 10px auto; cursor: pointer; text-align: center; color: #FFF; font-size: 17px; font-family: 'HelveticaNeueBold'}
div.add-instituicao .bgradio span{width: 100%; height: 100%; margin: 0 auto; background: none; display: block;}
div.add-instituicao .bgradio span .envia_solicitacao{text-decoration: none; color: #000; font: 25px/59px "HelveticaNeueBold"; width: 100%; height: 100%; background: #ffb400; display: block; text-align: center;}
div.add-instituicao .bgradio span .envia_solicitacao:hover{background: #ffb400;}
div.add-instituicao .bgradio span:hover{background: #ff9800;}

div.add-instituicao .alinha{margin: 0 auto; display: block; width: 480px;}
div.cpoInstituicao{width: 200px; float: left;}
div.cpoPais{width: 140px; float: left;}
div.cpoCidade{width: 140px; float: left;}

.cortaClick{position: absolute; top: 0; width: 100%; height: 100%;}