body{background: url(../images/background-global.jpg) fixed repeat 0 0 #fff;}
hr{border:0;}

/*header*/
.facebook_share{width: 100%; height: 36px; background:#f5f5f5; position: relative;}
.facebook_share .centraliza{width: 758px; position: absolute; top: 6px; left: 50%; margin-left: -189px;}
.header{width: 100%; height: 182px; display: block; background: url(../images/home/sprite-home.png) repeat-x center top #141414; position: relative;}
.header hr{border: 0;}
.header-1{width: 758px; height: 126px; background: url(../images/bg_header-1.png) no-repeat 230px 12px; margin: 0 auto; display: block; position: relative;}
.header-1 h1{width: 313px; height: 148px; background: url(../images/home/sprite-home.png) no-repeat -18px -164px; display: block; text-indent: -999px; overflow: hidden; margin: 3px 0 0 0; float: left;}
.header-1 h2{width: 320px; float: left; font: 20px "HelveticaneueBold"; color: #6db4e5; text-transform: uppercase; margin: 79px 0 0 0px;}
.header-1 p span{color:#2fbdbb;}
/*.header-1 img{width: 78px; height: 84px; border: 0; display: block; margin: 37px 20px 0 0; float: right;}*/
/*.header-1 a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}*/
.header-1 a.linkTop{float: right; margin: 27px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}
.header-1 a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}

.menuPrinc{width: 100%; height: 57px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 0; float: left; position: absolute; bottom: 0;}
.menuPrinc .centraliza{width: 758px; margin: 0 auto;}
.menuPrinc .centraliza ul li{height:24px; padding: 0 12px; border-right: 1px solid black; display: block; float: left; margin-top: 17px; position: relative;}

.menuPrinc .centraliza ul li dl{width: 100%; height: 164px; z-index: 999; position: absolute; left: 0px; background: #282828; top: 0px; display: none;}
.menuPrinc .centraliza ul li dl dt{width: 100%; height: 39px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 -6px;}
.menuPrinc .centraliza ul li dl dd{width: 90%; height: 41px; display: block; position: relative; text-align: left; margin: 0 auto;}
.menuPrinc .centraliza ul li dl dd a{font:bold 15px/41px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; padding-left: 12px;}
.menuPrinc .centraliza ul li dl dd a:hover{color:#ffb400;}

.menuPrinc .centraliza ul li.last{border-right: 0;}
.menuPrinc .centraliza ul li a{font:bold 15px/24px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; position: relative; z-index: 9999;}
.menuPrinc .centraliza ul li a:hover{color:#ffb400;}
.menuPrinc .centraliza ul li a.ativo{color:#ffb400;}
.menuPrinc .centraliza ul li a span{width: 18px; height: 10px; background: url(../images/home/sprite-home.png) no-repeat -503px -623px; position: absolute; top: -16px; left: 50%; display: block; margin-left: -4px;}

.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}

/*conteúdo*/
.content .breadcrumb{width:446px; height:40px; background: url(../images/breadCrumb.png) no-repeat 0 0; top: -19px; position: relative; left: -1px;}
.content .breadcrumb p{font:13px/40px Arial, Helvetica, sans-serif; color:#787878; padding-left: 70px;}
.content .breadcrumb p span{font:bold 13px/40px Arial, Helvetica, sans-serif; color:#e7e7e7; text-decoration: underline;}
.content .content-top{width: 758px; height:196px; background: url(../images/cadastro/header-confirma_fui.jpg) no-repeat -1px 0; margin:0 auto; position: relative;}
.content .content-top .texto{position: absolute; left: 40px; top: 40px;}
.content .content-top .texto span{font:25px "HelveticaNeueBold"; color:#333333;} 
.content .content-top .texto h3{width: 350px; font:35px "HelveticaNeueBold"; color: #4d8fbd; text-transform: uppercase;}
.content .content-top .texto p{width: 260px; font: 17px "HelveticaNeue"; color: #666666; margin: 7px 0 0 0;}

.content .content-conteudo{margin:0 auto; height: 810px;}
.content .content-conteudo h4{width:100%; height:28px; background: url(../images/cadastro/eu-fui/h4.png) no-repeat 0 0; font:36px/28px "HelveticaNeueBold"; color:#333333; display: block; text-transform: uppercase; padding-left: 34px;}

.content .content-conteudo .usuario{width: 748px; height: 92px; background: url(../images/cadastro/bg_usuario_3.png) no-repeat 0 0; float: left; margin: 30px auto;}
.content .content-conteudo .usuario img{width:51px; height:49px; float: left; margin: 21px 0 0 38px;}

.content .content-conteudo .usuario .dados{position: relative; float: left; margin: 28px 0 0 29px;}
.content .content-conteudo .usuario .dados p{font:bold 18px Arial, Helvetica, sans-serif; color:#4d8fbd; text-align: left;}
.content .content-conteudo .usuario .dados p span{display: block; font: 14px Arial, Helvetica, sans-serif; color: #555555; font-style: italic; width: 373px; margin-right: 15px;}
.content .content-conteudo .usuario .viagens{width: 180px; height: 47px; background-color: #e5395b; float: left; margin: 21px 0 0 0;}
.content .content-conteudo .usuario .viagens a{height: 47px; font: bold 15px/47px "Arial"; color: #fff; background: url(../images/home/sprite-home.png) no-repeat -19px -443px #4c8cb9; display: block; text-decoration: none; padding-left: 35px;}
.content .content-conteudo .usuario .viagens a:hover{background-color: #3f759a;}

.content .limite .itens{width: 100%; height: 202px; display: block; margin:5px 0 45px 0;}
.content .content-conteudo .itens h5{font:bold 30px/30px "Arial"; color:#4d8fbd; padding: 9px 0 0 55px;}
.content .content-conteudo .itens p{font:bold 18px/30px "Arial"; color:#555555; padding: 0 0 0 55px;}
.content .content-conteudo .itens p span{font: 15px "HelveticaNeue"; color: #555555; display: block; padding: 12px 0; width: 215px;}
.content .content-conteudo .itens .link{width: 147px; height: 47px; background: none; margin: 10px 0 0 54px;}
.content .content-conteudo .itens .link a{font-weight:bold; width:100%; height:47px; font: 15px/47px "Arial"; text-align:center; text-decoration: none; color: #fff; background:#4c8cb9; display: block;}
.content .content-conteudo .itens .link a:hover{background:#3f759a;}

.content .content-conteudo .topTips{width:341px; height:200px; display: block; background: url(../images/cadastro/eu-quero/bg_toptips.png) no-repeat 0 0; margin: 0 0 0 23px; position: relative; z-index: 9; float: left;}
.content .content-conteudo .busca{width: 341px; height: 200px; display: block; background: url(../images/cadastro/eu-quero/bg_busca.png) no-repeat 0 0; margin: 0 23px 0 0; position: relative; z-index: 9; float: right;}

.content .content-conteudo .outrosUsuarios{width:717px; height:356px; background: #f7f7f7; margin: 0 auto;}
.content .content-conteudo .outrosUsuarios .header{width: 100%; height:39px; display: block; background: url(../images/bg_header_lista_usuarios_3.jpg) no-repeat 0 0;}
.content .content-conteudo .outrosUsuarios .header p{font:18px/39px "HelveticaNeueBold"; color:#fff; padding-left: 64px;}

.content .content-conteudo .outrosUsuarios .quemQuer, .quemVai, .quemFoi{width: 208px; height:271px; display: block; background: #fff; overflow: hidden; float: left; margin: 22px 0 0 23px;}
.content .content-conteudo .outrosUsuarios .quemQuer div, .quemVai div, .quemFoi div{margin:15px 0 0 15px;}

.content .content-conteudo .outrosUsuarios .quemQuer h5{width:208px; height:42px; display: block; background: url(../images/bg_conheca_galera.png) no-repeat 0 0; text-indent: -999px; margin-bottom: -15px;}
.content .content-conteudo .outrosUsuarios .quemVai h5{width:208px; height:42px; display: block; background: url(../images/bg_conheca_galera.png) no-repeat -236px 0; text-indent: -999px; margin-bottom: -15px;}
.content .content-conteudo .outrosUsuarios .quemFoi h5{width:208px; height:42px; display: block; background: url(../images/bg_conheca_galera.png) no-repeat -470px 0; text-indent: -999px; margin-bottom: -15px;}

.content .content-conteudo .outrosUsuarios .quemQuer img, .quemVai img, .quemFoi img{width:28px; height:28px; float: left; margin-right:7px;}
.content .content-conteudo .outrosUsuarios .quemQuer span, .quemVai span, .quemFoi span{font:bold 12px Arial, Helvetica, sans-serif; color:#333333;}
.content .content-conteudo .outrosUsuarios .quemQuer p, .quemVai p, .quemFoi p{font:11px Arial, Helvetica, sans-serif; color:#626262;}


/*.content .content-conteudo .outrosUsuarios .quemQuer div{margin:15px 0 0 15px;}
.content .content-conteudo .outrosUsuarios .quemQuer img{width:28px; height:28px; float: left; margin-right:7px;}
.content .content-conteudo .outrosUsuarios .quemQuer span{font:12px Arial, Helvetica, sans-serif; color:#0047a8;}
.content .content-conteudo .outrosUsuarios .quemQuer p{font:11px Arial, Helvetica, sans-serif; color:#626262;}
.content .content-conteudo .outrosUsuarios .quemVai{width:216px; height:326px; margin:0 auto;}
.content .content-conteudo .outrosUsuarios .quemVai h5{width:121px; height:52px; background: url(../images/cadastro/eu-quero/quemvai.png) no-repeat; margin:0 0 30px 60px; text-indent: -999px; overflow: hidden; display: block;}
.content .content-conteudo .outrosUsuarios .quemVai div{margin:15px 0 0 15px;}
.content .content-conteudo .outrosUsuarios .quemVai img{width:28px; height:28px; float: left; margin-right:7px;}
.content .content-conteudo .outrosUsuarios .quemVai span{font:12px Arial, Helvetica, sans-serif; color:#0047a8;}
.content .content-conteudo .outrosUsuarios .quemVai p{font:11px Arial, Helvetica, sans-serif; color:#626262;}
.content .content-conteudo .outrosUsuarios .quemFoi{width:216px; height:326px; float: right;}
.content .content-conteudo .outrosUsuarios .quemFoi h5{width:121px; height:52px; background: url(../images/cadastro/eu-quero/quemfoi.png) no-repeat; margin:0 0 30px 60px; text-indent: -999px; overflow: hidden; display: block;}
.content .content-conteudo .outrosUsuarios .quemFoi div{margin:15px 0 0 15px;}
.content .content-conteudo .outrosUsuarios .quemFoi img{width:28px; height:28px; float: left; margin-right:7px;}
.content .content-conteudo .outrosUsuarios .quemFoi span{font:12px Arial, Helvetica, sans-serif; color:#0047a8;}
.content .content-conteudo .outrosUsuarios .quemFoi p{font:11px Arial, Helvetica, sans-serif; color:#626262;}*/

.content .content-conteudo .busca-viajantes{width: 265px; height: 62px; padding: 10px; background-color: #E9E9E9; -o-opacity: 0.8; -webkit-opacity: 0.8; -moz-opacity: 0.8; opacity: 0.8; filter: alpha(opacity=80); border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; margin: 5px 0 0 232px; float: left; position: relative; z-index: 99; display: none;}
.content .content-conteudo .busca-viajantes a{width:263px; height:60px; margin:0 auto; font: 18px/60px "HelveticaNeueBold"; text-align:center; text-decoration: none; color: #fff; background:#1767aa; display: block; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px;}
.content .content-conteudo .busca-viajantes a:hover{background:#13558d;}

/*footer*/
/*.footer{width: 100%; height: 189px; background: url(../images/bg-footer.png) no-repeat top center; position: relative; bottom: 0; z-index: 2;}*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 0px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#000; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #000; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1; display:none;}

div.cpoInstituicao{float: left;}
div.cpoPais{float: left;}
div.cpoCidade{float: left;}