h1{
    cursor:pointer;
}

@font-face {
    font-family: 'AvantGarde-Demi';
    src: url('avgardm-webfont.eot');
    src: url('avgardm-webfont.eot?#iefix') format('embedded-opentype'),
         url('avgardm-webfont.woff') format('woff'),
         url('avgardm-webfont.ttf') format('truetype'),
         url('avgardm-webfont.svg#avantgarde_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('helveticaneue-webfont-webfont.eot');
    src: url('helveticaneue-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-webfont-webfont.woff') format('woff'),
         url('helveticaneue-webfont-webfont.ttf') format('truetype'),
         url('helveticaneue-webfont-webfont.svg#helveticaneueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaneueBold';
    src: url('helveticaneuebd-webfont-webfont.eot');
    src: url('helveticaneuebd-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuebd-webfont-webfont.woff') format('woff'),
         url('helveticaneuebd-webfont-webfont.ttf') format('truetype'),
         url('helveticaneuebd-webfont-webfont.svg#helveticaneuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('myriadpro-regular.eot');
	src: url('myriadpro-regular.eot?#iefix') format('embedded-opentype'),
			 url('myriadpro-regular.woff') format('woff'),
			 url('myriadpro-regular.ttf') format('truetype'),
			 url('myriadpro-regulazr.svg#myriadpro-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{margin:0; border:0; padding: 0; list-style-type: none;}
.clear{clear: both;}
.transition{transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}

body{background: url(../images/background.jpg) repeat #282828; overflow:hidden; min-height:1080px;}

.logo_encontre {display: block; float: right;}

.ui-autocomplete-loading {background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat; } 

#searchBox{width: 25em;}
#contentCol{background: url(../images/background.jpg) repeat #282828 !important; background-color:#282828;} 