/*header*/
.facebook_share{width: 100%; height: 71px; background:#f5f5f5; position: relative;}
.facebook_share .centraliza{width: 758px; position: absolute; top: 20px; left: 50%; margin-left: -189px;}
.header{width:100%; height:150px; display: block; background: url(../images/home/sprite-home.png) repeat-x center top #141414;}
.header hr{border: 0;}
.header-1{width: 758px; height: 150px; margin: 0 auto; display: block; position: relative;}
.header-1 h1{width: 313px; height: 148px; background: url(../images/home/sprite-home.png) no-repeat 0px -164px; display: block; text-indent: -999px; overflow: hidden; margin: 11px 0 0 0; float: left;}
.header-1 h2{width: 320px; float: left; font: 20px "HelveticaneueBold"; color: #6db4e5; text-transform: uppercase; margin: 79px 0 0 0px;}
.header-1 p span{color:#2fbdbb;}
/*.header-1 img{width: 78px; height: 84px; border: 0; display: block; margin: 37px 20px 0 0; float: right;}*/
/*.header-1 a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}*/
.header-1 a.linkTop{float: right; margin: 42px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}
.header-1 a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
/*conteúdo*/

.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto; position: relative;}

.content .content-top{width: 758px; height:53px; margin-top:66px; text-align: center;}
.content .content-top h3{font:30px/32px "HelveticaNeueBold"; color:#fff;}
.content .content-top h3 span{font:32px/32px "HelveticaNeueBold"; color:#fdca38;}
.content .content-top p{font:16px "HelveticaNeue"; color:#b2b1b1;}

.content .content-abas{width: 100%; height:429px; margin-top: 15px;}
.content .content-abas ul.botoes{width:708px; height:110px; margin:0 auto;}
.content .content-abas ul.botoes li{width:217px; height:110px; display: inline; float: left; margin-right:27px; text-align: center; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; cursor: pointer;}
.content .content-abas ul.botoes li a{font:44px/110px 'AvantGarde-Demi'; text-decoration: none;}
.content .content-abas ul.botoes li a p{font:34px/36px 'AvantGarde-Demi'; margin-top: 14px; height: 88px;}
.content .content-abas ul.botoes li a p.botaofui{font:34px/36px 'AvantGarde-Demi'; height: 70px; margin: 32px 0 0 37px; text-align: left;}
.content .content-abas ul.botoes li a span{font:25px 'AvantGarde-Demi'; color:#fff; display: block;}
.content .content-abas ul.botoes li a .botaofui span{margin: -35px 0 0 41px;}
.content .content-abas ul.botoes li a span b{font-size:30px;}

.content .content-abas ul.botoes li.quero{background: url(../images/home/sprite_botoes.png) no-repeat -2px -2px; color:#f97d96;}
.content .content-abas ul.botoes li.quero:hover{background-position: -2px -129px;}
.content .content-abas ul.botoes li a.quero{color:#f97d96;}

.content .content-abas ul.botoes li.vou{background: url(../images/home/sprite_botoes.png) no-repeat -248px -2px; color:#53e0de;}
.content .content-abas ul.botoes li.vou:hover{background-position: -247px -129px;}
.content .content-abas ul.botoes li a.vou{color:#53e0de;}

.content .content-abas ul.botoes li.fui{background: url(../images/home/sprite_botoes.png) no-repeat -491px -2px; color:#6db4e5;}
.content .content-abas ul.botoes li.fui:hover{background-position: -490px -129px;}
.content .content-abas ul.botoes li a.fui{color:#6db4e5;}

.content .content-abas .imgBase{margin-top:0px;}

.content .content-abas #box{width:706px; height:251px; background: #282925; margin:45px auto 0 auto; position: absolute; left:20px; display: none;}
.content .content-abas #box.quero{border:4px solid #c2304d;}
.content .content-abas #box.vou{border:4px solid #0a9c9b;}
.content .content-abas #box.fui{border:4px solid #4185b2;}
.content .content-abas #box .infoBox{}
.content .content-abas #box .infoBox img{float: left;}
.content .content-abas #box .infoBox span{width:216px; height:53px; background: url(../images/home/sprite-home.png) no-repeat 0 0; display: block; position: absolute;}
.content .content-abas #box .infoBox span.setaVermelha{background-position: -535px -557px; top: -55px; left: 0;}
.content .content-abas #box .infoBox span.setaVerde{background-position: 55px -557px; top: -54px; left: 246px;}
.content .content-abas #box .infoBox span.setaAzul{background-position: -246px -557px; top: -54px; left: 489px;}
.content .content-abas #box .infoBox p{width: 277px; font: 22px "HelveticaNeueBold"; color: white; position: absolute; top: 85px; right: 30px; text-align: right;}
.content .content-abas #box .infoBox a{width:217px; height:37px; font:bold 20px/37px "HelveticaNeue"; color:#fff; display:block; text-align: center; text-decoration: none; border-radius:3px; position: absolute; top: 160px; right: 30px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;}

.content .content-abas #box .infoBox.txtQuero a{background: #e7395c;}
.content .content-abas #box .infoBox.txtQuero a:hover{background: #bf2f4c;}

.content .content-abas #box .infoBox.txtVou a{background: #2fbcba;}
.content .content-abas #box .infoBox.txtVou a:hover{background: #269a98;}

.content .content-abas #box .infoBox.txtFui a{background: #4c8ebc;}
.content .content-abas #box .infoBox.txtFui a:hover{background: #3f759a;}


.content .content-bottom{width: 100%; height:73px; margin:36px 0 60px 0; text-align: center;}
.content .content-bottom p{font:25px "HelveticaNeueBold"; color:#49dedc;}
.content .content-bottom span{font:25px "HelveticaNeueBold"; color:#fff;}

.content hr{width:542px; height:30px; background: url(../images/home/sprite-home.png) no-repeat; display: block; margin:0 auto; border:none;}
.content hr.acima{margin:36px auto; background-position:-75px -320px;}
.content hr.abaixo{margin: 90px auto 0 auto; background-position:-123px -412px;}

/*footer*/
.footer{width:100%; height:35px; background-color:#ffcd00; position: relative; bottom: 4px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#333333; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #333; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}