body{background: url(../images/background-toptips-perguntas.jpg) fixed repeat-x center top #282828;}

/*header*/
.header{width:100%; height:159px;}
.header-1{width: 758px; height: 159px; margin: 0 auto; display: block; position: relative;}
/*.header-1 a{display:block; width:105px; height:97px; position: relative; top: 7px; left:35px;}
.header-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.header-1 a img{border:0;}
.header-1 h3{width:189px; height:67px; background: url(../images/minhas-viagens/sprite.png) no-repeat -542px -1412px; display: block; text-indent: -999px; overflow: hidden; margin: -45px 69px 0 0; float: right;}
.header-1 .facebook{position: absolute; top:33px; left: 25%;}*/


.content .nav-padrao{width: 758px; height: 325px; margin: 0 auto; background: url(../images/top-tips/sprite.png) no-repeat 0px -45px; position: relative;}
.content .nav-padrao a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.content .nav-padrao img{border: 0;}
.content .nav-padrao a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.content .nav-padrao .facebook{position: absolute; top:10px; left: 100px;}

.content .nav-padrao .navMenu{position: absolute; top: 116px; right: 0;}
.content .nav-padrao .navMenu ul{}
.content .nav-padrao .navMenu ul li{height: 29px; margin: 0 39px 0 28px; display: inline; float: left; text-align: center;}
.content .nav-padrao .navMenu ul li.voltar{width: 66px; position: absolute; left: -125px; top: -1px;}
.content .nav-padrao .navMenu ul li a{font: 13px/30px Arial; color:#fff; text-decoration: none;}
.content .nav-padrao .navMenu ul li a:hover{color:#ffcd00;}
.content .nav-padrao .navMenu ul li a span{color:#ffcd00;}

/*conteúdo*/
.content{width: 758px; /*height:881px;*/ margin:0 auto; position: relative;}
.content .conteudo{width: 100%; height:1371px; margin-top: -45px; position: relative;}
.content .conteudo h3{font:34px/36px "helveticaneueBold"; color:#222222; padding:20px 0 0 50px;}
.content .conteudo p{font:18px/36px "helveticaneue"; color:#555555; padding-left: 50px;}

.content .conteudo .busca-pergunta{width: 685px; height: 95px; margin: 70px auto 30px auto; display: block; background: url(../images/top-tips/bg-bt-pergunta.png) no-repeat right top; padding-top: 47px;}
.content .conteudo .busca-pergunta .camposbuscar{width:473px; height:36px; float: left; padding: 6px 0 0 10px; background-color: #E9E9E9; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px;}
.content .conteudo .busca-pergunta .camposbuscar select{font: 11px Arial; color:#696969; width:141px; height:21px; padding: 2px 3px 2px 2px; border: 1px solid #ccc;}
.content .conteudo .busca-pergunta .camposbuscar option{font: 11px Arial; color:#696969;}
.content .conteudo .busca-pergunta .camposbuscar input[type="text"]{width:191px; height:22px; font: 11px Arial; color:#696969; margin: 0 14px; border: 1px solid #ccc; padding: 2px}
.content .conteudo .busca-pergunta .camposbuscar input[type="submit"]{width: 94px; height: 32px; background: url(../images/top-tips/sprite.png) no-repeat -37px -1189px #363636; font: 16px "helveticaneueBold"; color: white; cursor: pointer; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; text-align: center; padding-left: 15px; }
.content .conteudo .busca-pergunta .camposbuscar input[type="submit"]:hover{background-color:#535252;}
.content .conteudo .busca-pergunta .facapergunta{width: 130px; height: 33px; float: right; padding: 5px; background-color: #E9E9E9; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; margin-right: 40px;}
.content .conteudo .busca-pergunta .facapergunta a{width:130px; height: 31px; background-color: #eebb29; margin: 0 auto; font: 16px/32px "HelveticaNeueBold"; color: #000; display: block; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; text-decoration: none; text-align: center;}
.content .conteudo .busca-pergunta .facapergunta a:hover{background-color: #c49a22;}

.content .conteudo .question{width:100%; height:190px; background: url(../images/top-tips/bg-pergunta-interna.png) no-repeat -4px 30px; display: block; margin-top: 43px;}
.content .conteudo .question .post{width:597px; height:80px; margin: 30px 0 0 50px; padding-top: 30px;}
.content .conteudo .question .post .txtpost{float: left; width:500px; height:53px;}
.content .conteudo .question .post .txtpost h4{font:10px Arial; color:#fff; padding: 5px; margin:0 10px 0 0; background: #025ca7; display: block; float: left;}
.content .conteudo .question .post .txtpost p{font:12px/25px Arial; color:#aaaaaa; padding: 0;}
.content .conteudo .question .post .txtpost p span{font:12px/25px Arial; color:#0047a8;}
.content .conteudo .question .post .txtpost p.tags{font:12px/17px Arial; color:#bdbdbd;}
.content .conteudo .question .post .txtpost a{font:24px/25px Arial; color:#025ca7; text-decoration: none;}
.content .conteudo .question .post .txtpost a:hover{color:#022848;}
.content .conteudo .question .post .infos{margin-top: 5px; clear: both; height: 26px; display: block; position: relative; top: 27px; left: -8px;}
.content .conteudo .question .post .infos dl dd{display:block; font:12px/25px Arial; color:#272821; float: left; padding-left: 7px;}
.content .conteudo .question .post .infos dl dd span{color:#0047a8;}
.content .conteudo .question .post .tags{width:100%; height:24px; clear: both; display: block; margin: -20px 0 20px 0;}
.content .conteudo .question .post .tags ul li{float: left; display: inline; padding: 4px; display: block; height:10px; background:#ababab; font:10px/10px Arial; text-align: center; color:#fff; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; margin:0 3px;}

.content .conteudo .question-principal{width:100%; height:339px; display: block; background: url(../images/top-tips/bg-pergunta-grande.png) no-repeat 0 0;}
.content .conteudo .question-principal .user-left{float:left; width:186px; height:273px; display: block;}
.content .conteudo .question-principal .user-left span{font: 13px/28px Arial; color: white; text-align: center; display: block;}
.content .conteudo .question-principal .user-left img{margin:20px 0 17px 23px;}
.content .conteudo .question-principal .user-left p{font:bold 16px Arial; color:#333333; padding-left:15px;}
.content .conteudo .question-principal .user-left p.amigos{font:11px/14px Arial; color:#555555; text-decoration: underline; padding-top:10px;}

.content .conteudo .question-principal .dados-right{float:right; width:557px; height:273px; display: block;}
.content .conteudo .question-principal .dados-right p{width:461px; font:14px/22px Arial; color:#272727; padding: 35px 0 0 45px;}
.content .conteudo .question-principal .dados-right a{width: 94px; height: 32px; background: #363636; font: 16px "helveticaneue"; color: white; cursor: pointer; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; text-align: center; text-decoration: none;}
.content .conteudo .question-principal .dados-right a.responder{width:130px; height:42px; margin: 20px 20px 0 45px; line-height:42px; display: block; background:#1767ab; border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; float:left;}
.content .conteudo .question-principal .dados-right a.responder:hover{background:#13558d;}
.content .conteudo .question-principal .dados-right a.seguir{width:132px; height:28px; margin: 26px 0 0 0; font: 12px/28px "helveticaneue"; color: #4e4e4e; display: block; background:#e3e3e3; border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; float:left;}
.content .conteudo .question-principal .dados-right a.seguir:hover{background:#bebebe;}
.content .conteudo .question-principal span.qtd-resposta{font:bold 14px Arial; color: white; text-align: center; display: block; float: left; margin: 37px 0 0 42px;}

.content .conteudo .resposta1{width:701px; height:257px; display: block; margin:25px auto;}
.content .conteudo .resposta1 .user{width:100%; height:80px; display: block;}
.content .conteudo .resposta1 img{float: left; width:80px; height:80px; margin-right: 25px;}
.content .conteudo .resposta1 p{font: 11px/14px Arial; color: #555; text-decoration: none; padding-top:20px;}
.content .conteudo .resposta1 p strong{font:bold 16px Arial; color:#333333;}
.content .conteudo .resposta1 .texto{width:100%; height:162px; display: block; background: #fff; margin-top: 16px; position: relative;}
.content .conteudo .resposta1 .texto p{font:12px/22px Arial; color:#272727; padding-right: 10px;}
.content .conteudo .resposta1 .texto a{width:89px; height:15px; font:bold 14px/22px Arial; text-decoration: none; color:#135892; padding-left: 15px; display: block; background: url(../images/top-tips/bg-bt-responder.png) no-repeat 0 5px; position: absolute; bottom: 20px; left: 45px;}
.content .conteudo .resposta1 .texto a:hover{color:#073052;}

.content .conteudo .escrever-resposta{width:554px; height:159px; display: block; margin:0 auto;}
.content .conteudo .escrever-resposta label{font:bold 15px Arial; color:#135892; margin-left:15px;}
.content .conteudo .escrever-resposta textarea{width:100%; height:92px; background:#f1f1f1; margin: 10px 0; font:12px/22px Arial; color:#272727; border: 1px solid #ccc; padding: 5px; resize: none;}
.content .conteudo .escrever-resposta input[type=submit]{width: 130px; height: 42px; font: 16px "helveticaneue"; color:#fff; margin: 0; line-height: 42px; display: block; background: #1767AB; border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; float: right; cursor: pointer;}
.content .conteudo .escrever-resposta input[type=submit]:hover{background: #13558D;}

/*footer*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; bottom: 4px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#fff; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #fff; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}