body{background: url(../images/background-global.jpg) fixed repeat 0 0 #fff;}
hr{border:0;}

/*header*/
.facebook_share{width: 100%; height: 36px; background:#f5f5f5; position: relative;}
.facebook_share .centraliza{width: 758px; position: absolute; top: 6px; left: 50%; margin-left: -189px;}
.header{width: 100%; height: 182px; display: block; background: url(../images/home/sprite-home.png) repeat-x center top #141414; position: relative;}
.header hr{border: 0;}
.header-1{width: 758px; height: 126px; background: url(../images/bg_header-1.png) no-repeat 230px 12px; margin: 0 auto; display: block; position: relative;}
.header-1 h1{width: 313px; height: 148px; background: url(../images/home/sprite-home.png) no-repeat -18px -164px; display: block; text-indent: -999px; overflow: hidden; margin: 3px 0 0 0; float: left;}
.header-1 h2{width: 320px; float: left; font: 20px "HelveticaneueBold"; color: #6db4e5; text-transform: uppercase; margin: 79px 0 0 0px;}
.header-1 p span{color:#2fbdbb;}
/*.header-1 img{width: 78px; height: 84px; border: 0; display: block; margin: 37px 20px 0 0; float: right;}*/
/*.header-1 a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}*/
.header-1 a.linkTop{float: right; margin: 27px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}
.header-1 a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}

.menuPrinc{width: 100%; height: 57px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 0; float: left; position: absolute; bottom: 0;}
.menuPrinc .centraliza{width: 758px; margin: 0 auto;}
.menuPrinc .centraliza ul li{height:24px; padding: 0 12px; border-right: 1px solid black; display: block; float: left; margin-top: 17px; position: relative;}

.menuPrinc .centraliza ul li dl{width: 100%; height: 164px; z-index: 999; position: absolute; left: 0px; background: #282828; top: 0px; display: none;}
.menuPrinc .centraliza ul li dl dt{width: 100%; height: 39px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 -6px;}
.menuPrinc .centraliza ul li dl dd{width: 90%; height: 41px; display: block; position: relative; text-align: left; margin: 0 auto;}
.menuPrinc .centraliza ul li dl dd a{font:bold 15px/41px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; padding-left: 12px;}
.menuPrinc .centraliza ul li dl dd a:hover{color:#ffb400;}

.menuPrinc .centraliza ul li.last{border-right: 0;}
.menuPrinc .centraliza ul li a{font:bold 15px/24px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; position: relative; z-index: 9999;}
.menuPrinc .centraliza ul li a:hover{color:#ffb400;}
.menuPrinc .centraliza ul li a.ativo{color:#ffb400;}
.menuPrinc .centraliza ul li a span{width: 18px; height: 10px; background: url(../images/home/sprite-home.png) no-repeat -503px -623px; position: absolute; top: -16px; left: 50%; display: block; margin-left: -4px;}

.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.content h4{width:100%; height:28px; background: url(../images/cadastro/eu-fui/h4.png) no-repeat 0 0; font:20px/28px "HelveticaNeueBold"; color:#333333; display: block; text-transform: uppercase; padding-left: 34px;}
.content .breadcrumb{width:446px; height:40px; background: url(../images/breadCrumb.png) no-repeat 0 0; top: -19px; position: relative; left: -1px;}
.content .breadcrumb p{font:13px/40px Arial, Helvetica, sans-serif; color:#787878; padding-left: 70px;}
.content .breadcrumb p span{font:bold 13px/40px Arial, Helvetica, sans-serif; color:#e7e7e7; text-decoration: underline;}
.content .content-top{width: 758px; height:196px; background: url(../images/cadastro/header-busca.jpg) no-repeat 0 0; margin:0 auto; position: relative;}
.content .content-top .texto{position: absolute; left: 40px; top: 40px;}
.content .content-top .texto span{font:25px "HelveticaNeueBold"; color:#333333;} 
.content .content-top .texto h3{width: 350px; font:25px "HelveticaNeueBold"; color: #28427c; text-transform: uppercase;}
.content .content-top .texto p{width: 260px; font: 17px "HelveticaNeue"; color: #666666; margin: 7px 0 0 0;}

.content .conteudo .busca-pergunta{width: 685px; height: 95px; margin: 30px auto 10px auto; display: block; background: url(../images/top-tips/bg-bt-pergunta.png) no-repeat 355px -23px; padding-top: 20px; display: none;}
.content .conteudo .busca-pergunta .camposbuscar{width:473px; height:36px; float: left; padding: 6px 0 0 10px; background-color: #E9E9E9; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px;}
.content .conteudo .busca-pergunta .camposbuscar select{font: 11px Arial; color:#696969; width:141px; height:21px; padding: 2px 3px 2px 2px; border: 1px solid #ccc;}
.content .conteudo .busca-pergunta .camposbuscar option{font: 11px Arial; color:#696969;}
.content .conteudo .busca-pergunta .camposbuscar input[type="text"]{width:191px; height:22px; font: 11px Arial; color:#696969; margin: 0 14px; border: 1px solid #ccc; padding: 2px}
.content .conteudo .busca-pergunta .camposbuscar input[type="submit"]{width: 94px; height: 32px; background: url(../images/top-tips/sprite.png) no-repeat -37px -1189px #363636; font: 13px "Arial"; color: white; cursor: pointer; border-radius: 4px; -moz-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; text-align:center; padding-left:15px; font-weight:bold; }
.content .conteudo .busca-pergunta .camposbuscar input[type="submit"]:hover{background-color:#535252;}
.content .conteudo .busca-pergunta .facapergunta{width: 130px; height: 33px; float: right; padding: 5px; background-color: #E9E9E9; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; margin-right: 40px;}
.content .conteudo .busca-pergunta .facapergunta a{width:130px; height: 31px; background-color: #eebb29; margin: 0 auto; font: 16px/32px "HelveticaNeueBold"; color: #000; display: block; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; text-decoration: none; text-align: center;}
.content .conteudo .busca-pergunta .facapergunta a:hover{background-color: #c49a22;}

.content .conteudo .question{width: 738px; display: block; margin: 30px 0 0 0; position: relative;}
.content .conteudo .question .post{width: 100%; margin: 0 auto; display: block; height: 100%; background: url(../images/top-tips/detalhe_usuario.png) no-repeat right bottom #fff;}
.content .conteudo .question .post .border{width: 10px; height: 100%; display: block; background: #133278; position: absolute; left: 0; top: 0;}
.content .conteudo .question .post .txtpost{float: left; width:100%;}
.content .conteudo .question .post .txtpost h4{font:10px Arial; color:#fff; padding: 5px; margin:0 10px 0 0; background: #025ca7; display: block; float: left;}
.content .conteudo .question .post .txtpost p{font:12px/25px Arial; color:#aaaaaa; padding: 0;}
.content .conteudo .question .post .txtpost p span{font:bold 12px/25px Arial; color:#333333;}
.content .conteudo .question .post .txtpost p.tags{font:12px/17px Arial; color:#bdbdbd;}
.content .conteudo .question .post .txtpost p.topic{font:bold 21px/25px Arial; color:#133278; padding: 8px 0 8px 35px;}
.content .conteudo .question .post .txtpost p.data{position: absolute; top: 5px; right: 54px;}
.content .conteudo .question .post .txtpost p.categoria{font:13px "HelveticaNeueBold"; color:#333333; padding: 10px 0 0 35px;}
.content .conteudo .question .post .tags{width: 100%; clear: both; display: block; margin: 10px 0; height: 20px;}
.content .conteudo .question .post .tags ul li{float: left; display: inline; padding: 4px; display: block; height:10px; background:#ababab; font:10px/10px Arial; text-align: center; color:#fff; margin: 0 34px;}
.content .conteudo .infos{position: relative; width: 453px; height: 37px; display: block; clear: both; padding: 0px 0 0 27px; background: url(../images/top-tips/icon-busca.png) no-repeat 0 -92px; margin: 0 0 30px 0;}
.content .conteudo .infos dl dd{display:block; font:12px/25px Arial; color:#fff; float: left; padding-left: 7px;}
.content .conteudo .infos dl dd span{color:#0047a8;}

.content .conteudo .question-principal{width:688px; margin: 0 auto 15px auto; display: block; background: #f0f0f0; padding: 15px;}
.content .conteudo .question-principal .user-left{float: left; width: 210px; display: block; background: #e4e4e4;}
.content .conteudo .question-principal .user-left span{width:187px; height:33px; background: #333333; font: 13px/33px Arial; color: white; text-align: left; display: block; padding-left: 23px;}
.content .conteudo .question-principal .user-left img{margin: 9px 0 9px 22px; border: 3px solid #ccc;}
.content .conteudo .question-principal .user-left p{font: 15px Arial; color: #133278; padding-left: 23px;}
.content .conteudo .question-principal .user-left p.amigos{font:11px/14px Arial; color:#555555; text-decoration: underline; padding: 3px 0 10px 23px;}

.content .conteudo .form_responder{display: none;}
.content .conteudo .form_responder_replica{display: none;}

.content .conteudo .question-principal .dados-right{width: 477px; display: block; margin-left: 211px; background: url(../images/top-tips/bg_resposta.png) no-repeat right bottom #fff;}
.content .conteudo .question-principal .form_responder{width: 608px; margin: 20px 0 0 20px; float: right;}
.content .conteudo .question-principal .form_responder span{font: bold 14px Arial; color: #133278; margin: 5px 0;}
.content .conteudo .question-principal .form_responder textarea{width: 598px; min-height: 92px; padding: 5px; resize: none; margin: 5px auto; background: #e4e4e4;}
.content .conteudo .question-principal .form_responder input[type=button]{width: 146px; height: 48px; margin: 5px 0px 0 11px; line-height: 48px; display: block; background: #f7ae00; border-radius: 0; font: 18px "helveticaneuebold"; color: #000; cursor: pointer; text-align: center; text-decoration: none; float: right;}
.content .conteudo .question-principal .form_responder input[type=button]:hover{background: #d29400;}

.content .conteudo .question-principal .envia_replica{width: 598px; margin: 30px 0px 20px 0; float: right; display: none;}
.content .conteudo .question-principal .envia_replica span{font: bold 14px Arial; color: #133278; margin: 5px 0;}
.content .conteudo .question-principal .envia_replica textarea{width: 588px; min-height: 92px; padding: 5px; resize: none; margin: 5px auto; background: #e4e4e4;}
.content .conteudo .question-principal .envia_replica input[type=button]{width: 146px; height: 48px; margin: 5px 0px 0 11px; line-height: 48px; display: block; background: #f7ae00; border-radius: 0; font: 18px "helveticaneuebold"; color: #000; cursor: pointer; text-align: center; text-decoration: none; float: right;}
.content .conteudo .question-principal .envia_replica input[type=button]:hover{background: #d29400;}

/*.content .conteudo .resposta1 .form_responder_replica{width: 100%; margin: 10px auto;}
.content .conteudo .resposta1 .form_responder_replica span{font:bold 15px Arial; color:#135892; margin: 5px 0;}
.content .conteudo .resposta1 .form_responder_replica textarea{width: 485px; height: 92px; padding: 5px; resize: none; margin: 5px auto; border: 1px solid #CCC;}
.content .conteudo .resposta1 .form_responder_replica input[type=submit]{width: 113px; height: 33px; display: block; clear: both; margin: 15px 0; font: 13px/33px Arial; color: white; display: block; background: #1767AB; border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; cursor: pointer;}
.content .conteudo .resposta1 .form_responder_replica input[type=button]{width: 113px; height: 33px; display: block; clear: both; margin: 15px 0; font: 13px/33px Arial; color: white; display: block; background: #1767AB; border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; cursor: pointer;}
.content .conteudo .resposta1 .form_responder_replica input[type=submit]:hover{background: #13558D;}
.content .conteudo .resposta1 .form_responder_replica input[type=button]:hover{background: #13558D;}*/

.content .conteudo .question-principal .dados-right p{width:461px; font:14px/22px Arial; color:#272727; padding: 10px;}
.content .conteudo .question-principal .dados-right a{width: 94px; height: 32px; background: #363636; font: 18px "helveticaneuebold"; color: white; cursor: pointer; text-align: center; text-decoration: none;}
.content .conteudo .question-principal .dados-right a.responder{width: 146px; height: 48px; margin: 5px 20px 0 11px; line-height: 48px; display: block; background: #003264; border-radius: 0;}
.content .conteudo .question-principal .dados-right a.responder:hover{background:#002a53;}
.content .conteudo .question-principal .dados-right a.seguir{width: 123px; height: 28px; font: bold 12px/28px Arial; color: #4e4e4e; display: block; background: none; text-decoration: underline; text-align: left; padding-left: 10px}
.content .conteudo .question-principal .dados-right a.seguir:hover{background:none; text-decoration: none;}
.content .conteudo .question-principal div.qtd-resposta{width: 662px; height: 28px; background: #333333; font: bold 14px Arial; color: white; display: block; margin: 28px 0 0 0; padding: 10px 0 0 26px;}
.content .conteudo .question-principal div.qtd-resposta div{float: left; margin-right: 5px;}

.loadGif{width: 677px; height: 150px; display: none; margin: 70px 0 0 -70px; background:#fff; border: 1px solid #ccc;}
.loadGif img{width: 32px !important; height: 32px !important; display: block; margin: 60px auto !important; float: none !important; border: 0 !important;}

.content .conteudo .resposta1{position:relative; width: 648px; display: block;  margin: 0 auto 10px auto; background: #fff; padding: 20px;}
.content .conteudo .resposta1 .user{width:100%; height:80px; display: block;}
.content .conteudo .resposta1 img{float: left; width:80px; height:80px; margin-right: 10px; border: 3px solid #ccc;}
.content .conteudo .resposta1 p{font: 11px/14px Arial; color: #555; text-decoration: none; padding-top:20px;}
.content .conteudo .resposta1 p strong{font:bold 16px Arial; color:#333333;}
.content .conteudo .resposta1 .texto{width: 628px; display: block; background: #e4e4e4; margin: 16px auto 0 auto; position: relative; padding: 10px;}
.content .conteudo .resposta1 .texto p{font:12px/22px Arial; color:#272727; padding: 0px;}
.content .conteudo .resposta1 .texto a{width: 139px; height: 36px; font: bold 14px/45px Arial; text-decoration: none; color: #135892; display: block; background: url(../images/top-tips/bg-bt-responder.png) no-repeat 0 5px; text-align: center; margin: 0 0 -9px 489px;}
.content .conteudo .resposta1 .texto a:hover{text-decoration: underline;}

.content .conteudo .resposta2{position:relative; width: 588px; display: block; margin: -5px 0 15px 80px; background: #fff; padding: 5px 10px 10px 10px;}
.content .conteudo .resposta2 .user{width:100%; height:65px; display: block;}
.content .conteudo .resposta2 img{float: left; width: 60px; height: 60px; margin-right: 10px; border: 2px solid #ccc;}
.content .conteudo .resposta2 p{font: 11px/14px Arial; color: #555; text-decoration: none; padding-top:10px;}
.content .conteudo .resposta2 p strong{font:bold 13px Arial; color:#333333;}
.content .conteudo .resposta2 .texto{width: 568px; display: block; background: #e4e4e4; margin: 7px auto 0 auto; position: relative; padding: 5px 10px;}
.content .conteudo .resposta2 .texto p{font:12px/22px Arial; color:#272727; padding: 0px;}
.content .conteudo .resposta2 .texto a{width: 139px; height: 36px; font: bold 14px/45px Arial; text-decoration: none; color: #135892; display: block; background: url(../images/top-tips/bg-bt-responder.png) no-repeat 0 5px; text-align: center; margin: 0 0 -9px 489px;}
.content .conteudo .resposta2 .texto a:hover{text-decoration: underline;}

/*.content .conteudo .resposta2{width:590px; display: block; margin:25px auto; float: right; position: relative; z-index: 999; clear: both;}
.content .conteudo .resposta2 .user{width:100%; height:80px; display: block;}
.content .conteudo .resposta2 img{float: left; width:80px; height:80px; margin-right: 25px;}
.content .conteudo .resposta2 p{font: 11px/14px Arial; color: #555; text-decoration: none; padding-top:20px;}
.content .conteudo .resposta2 p strong{font:bold 16px Arial; color:#333333;}
.content .conteudo .resposta2 .texto{width:95%; display: block; background: #fff; margin-top: 16px; position: relative; padding: 5px;}
.content .conteudo .resposta2 .texto p{font:12px/22px Arial; color:#272727; padding: 0px;}
.content .conteudo .resposta2 .texto a{width: 89px; height: 20px; font: bold 14px/22px Arial; text-decoration: none; color: #135892; padding-left: 15px; display: block; background: url(../images/top-tips/bg-bt-responder.png) no-repeat 0 5px;}
.content .conteudo .resposta2 .texto a:hover{color:#073052;}*/

/*footer*/
/*.footer{width: 100%; height: 189px; background: url(../images/bg-footer.png) no-repeat top center; position: relative; bottom: 0; z-index: 2;}*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 0px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#000; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #000; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1; display:none;}

.conteudo .resposta .fechar{position:absolute; text-indent:-99999px; width:10px; height:9px; background: url(../images/bt-fechar-topico.png) no-repeat 0 0; right: 6px; top: 6px; z-index: 999;}