body{background: url(../images/background-global.jpg) fixed repeat 0 0 #fff;}
hr{border:0;}

/*header*/
.facebook_share{width: 100%; height: 36px; background:#f5f5f5; position: relative;}
.facebook_share .centraliza{width: 758px; position: absolute; top: 6px; left: 50%; margin-left: -189px;}
.header{width: 100%; height: 182px; display: block; background: url(../images/home/sprite-home.png) repeat-x center top #141414; position: relative;}
.header hr{border: 0;}
.header-1{width: 758px; height: 126px; background: url(../images/bg_header-1.png) no-repeat 230px 12px; margin: 0 auto; display: block; position: relative;}
.header-1 h1{width: 313px; height: 148px; background: url(../images/home/sprite-home.png) no-repeat -18px -164px; display: block; text-indent: -999px; overflow: hidden; margin: 3px 0 0 0; float: left;}
.header-1 h2{width: 320px; float: left; font: 20px "HelveticaneueBold"; color: #6db4e5; text-transform: uppercase; margin: 79px 0 0 0px;}
.header-1 p span{color:#2fbdbb;}
/*.header-1 img{width: 78px; height: 84px; border: 0; display: block; margin: 37px 20px 0 0; float: right;}*/
/*.header-1 a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}*/
.header-1 a.linkTop{float: right; margin: 27px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}
.header-1 a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}

.menuPrinc{width: 100%; height: 57px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 0; float: left; position: absolute; bottom: 0;}
.menuPrinc .centraliza{width: 758px; margin: 0 auto;}
.menuPrinc .centraliza ul li{height:24px; padding: 0 12px; border-right: 1px solid black; display: block; float: left; margin-top: 17px; position: relative;}

.menuPrinc .centraliza ul li dl{width: 100%; height: 164px; z-index: 999; position: absolute; left: 0px; background: #282828; top: 0px; display: none;}
.menuPrinc .centraliza ul li dl dt{width: 100%; height: 39px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 -6px;}
.menuPrinc .centraliza ul li dl dd{width: 90%; height: 41px; display: block; position: relative; text-align: left; margin: 0 auto;}
.menuPrinc .centraliza ul li dl dd a{font:bold 15px/41px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; padding-left: 12px;}
.menuPrinc .centraliza ul li dl dd a:hover{color:#ffb400;}

.menuPrinc .centraliza ul li.last{border-right: 0;}
.menuPrinc .centraliza ul li a{font:bold 15px/24px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; position: relative; z-index: 9999;}
.menuPrinc .centraliza ul li a:hover{color:#ffb400;}
.menuPrinc .centraliza ul li a.ativo{color:#ffb400;}
.menuPrinc .centraliza ul li a span{width: 18px; height: 10px; background: url(../images/home/sprite-home.png) no-repeat -503px -623px; position: absolute; top: -16px; left: 50%; display: block; margin-left: -4px;}

.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.content h4{width:100%; height:28px; background: url(../images/cadastro/eu-fui/h4.png) no-repeat 0 0; font:20px/28px "HelveticaNeueBold"; color:#333333; display: block; text-transform: uppercase; padding-left: 34px;}
.content .breadcrumb{width:446px; height:40px; background: url(../images/breadCrumb.png) no-repeat 0 0; top: -19px; position: relative; left: -1px;}
.content .breadcrumb p{font:13px/40px Arial, Helvetica, sans-serif; color:#787878; padding-left: 70px;}
.content .breadcrumb p span{font:bold 13px/40px Arial, Helvetica, sans-serif; color:#e7e7e7; text-decoration: underline;}
.content .content-top{width: 758px; height:196px; background: url(../images/cadastro/header-busca.jpg) no-repeat 0 0; margin:0 auto; position: relative;}
.content .content-top .texto{position: absolute; left: 40px; top: 40px;}
.content .content-top .texto span{font:25px "HelveticaNeueBold"; color:#333333;} 
.content .content-top .texto h3{width: 350px; font:25px "HelveticaNeueBold"; color: #28427c; text-transform: uppercase;}
.content .content-top .texto p{width: 260px; font: 17px "HelveticaNeue"; color: #666666; margin: 7px 0 0 0;}

.content .conteudo .envia-pergunta{width: 717px; margin: 30px auto 20px auto; background: #f7f7f7; padding-bottom: 20px;}
.content .conteudo .envia-pergunta .tags{width:100%; height:24px; display: block; margin: -20px 0 20px 15px;}
.content .conteudo .envia-pergunta .tags span{float: left; display: inline; padding: 4px; display: block; height:10px; background:#ababab; font:10px/10px Arial; text-align: center; color:#fff; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; margin:0 3px;}

.content .conteudo .envia-pergunta div{margin: 0 0 30px 0;}
.content .conteudo .envia-pergunta div.blococategorias{width:717px; height:69px; margin: 0 auto; display: block; background: url(../images/top-tips/bg_categorias_respostas.png) no-repeat 0 0;}
.content .conteudo .envia-pergunta div.campo label{color: #133278; display: block; float: none; font: bold 20px/25px Arial;}
.content .conteudo .envia-pergunta div.campo label b{font: 14px Arial; color: #666666;}
.content .conteudo .envia-pergunta .hr{border-bottom: 1px solid #ccc; width: 95%; margin: 0 auto;}

.content .conteudo .envia-pergunta label{font: bold 20px/25px Arial; color: #fff; float: left; padding: 22px 35px 0 15px;}
.content .conteudo .envia-pergunta span{display: block; font: 12px Arial; margin: 5px 0 0 15px;}
.content .conteudo .envia-pergunta select{width: 145px; height: 25px; border: 1px solid #CCC; padding: 2px 3px; margin: 22px 0;}
.content .conteudo .envia-pergunta textarea{width: 678px; height: 196px; padding: 5px; margin-top: 5px; resize: none; border: 1px solid #ccc; margin: 0 auto; display: block;}
.content .conteudo .envia-pergunta input[type=text]{width:371px; height:26px; padding: 5px; margin: 5px 0 0 15px; border: 1px solid #ccc;}
.content .conteudo .envia-pergunta input[type=button]{width: 115px; height: 37px; font: bold 13px/37px Arial; color: #fff; background: #545454; text-align: center; cursor: pointer; margin-left: 30px;}
.content .conteudo .envia-pergunta input[type=button]:hover{background:#474747;}
.content .conteudo .envia-pergunta input[type=submit]{width: 194px; height: 65px; font:bold 18px/65px Arial; color: #000; background: #f3ac00; text-align: center; cursor: pointer; margin: 0 auto; display: block;}
.content .conteudo .envia-pergunta input[type=submit]:hover{background:#d29400;}



/*footer*/
/*.footer{width: 100%; height: 189px; background: url(../images/bg-footer.png) no-repeat top center; position: relative; bottom: 0; z-index: 2;}*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 0px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#000; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #000; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1; display:none;}