body{background: url(../images/background-global.jpg) fixed repeat 0 0 #fff;}
hr{border:0;}

/*header*/
.loadGif{width: 677px; height: 150px; display: block; margin: 0 auto; background:#fff; border: 1px solid #ccc;}
.loadGif img{display: block; margin: 60px auto;}

/*header*/
.facebook_share{width: 100%; height: 36px; background:#f5f5f5; position: relative;}
.facebook_share .centraliza{width: 758px; position: absolute; top: 6px; left: 50%; margin-left: -189px;}
.header{width: 100%; height: 182px; display: block; background: url(../images/home/sprite-home.png) repeat-x center top #141414; position: relative;}
.header hr{border: 0;}
.header-1{width: 758px; height: 126px; background: url(../images/bg_header-1.png) no-repeat 230px 12px; margin: 0 auto; display: block; position: relative;}
.header-1 h1{width: 313px; height: 148px; background: url(../images/home/sprite-home.png) no-repeat -18px -164px; display: block; text-indent: -999px; overflow: hidden; margin: 3px 0 0 0; float: left;}
.header-1 h2{width: 320px; float: left; font: 20px "HelveticaneueBold"; color: #6db4e5; text-transform: uppercase; margin: 79px 0 0 0px;}
.header-1 p span{color:#2fbdbb;}
/*.header-1 img{width: 78px; height: 84px; border: 0; display: block; margin: 37px 20px 0 0; float: right;}*/
/*.header-1 a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}*/
.header-1 a.linkTop{float: right; margin: 27px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}
.header-1 a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}

.menuPrinc{width: 100%; height: 57px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 0; float: left; position: absolute; bottom: 0;}
.menuPrinc .centraliza{width: 758px; margin: 0 auto;}
.menuPrinc .centraliza ul li{height:24px; padding: 0 12px; border-right: 1px solid black; display: block; float: left; margin-top: 17px; position: relative;}

.menuPrinc .centraliza ul li dl{width: 100%; height: 164px; z-index: 999; position: absolute; left: 0px; background: #282828; top: 0px; display: none;}
.menuPrinc .centraliza ul li dl dt{width: 100%; height: 39px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 -6px;}
.menuPrinc .centraliza ul li dl dd{width: 90%; height: 41px; display: block; position: relative; text-align: left; margin: 0 auto;}
.menuPrinc .centraliza ul li dl dd a{font:bold 15px/41px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; padding-left: 12px;}
.menuPrinc .centraliza ul li dl dd a:hover{color:#ffb400;}

.menuPrinc .centraliza ul li.last{border-right: 0;}
.menuPrinc .centraliza ul li a{font:bold 15px/24px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; position: relative; z-index: 9999;}
.menuPrinc .centraliza ul li a:hover{color:#ffb400;}
.menuPrinc .centraliza ul li a.ativo{color:#ffb400;}
.menuPrinc .centraliza ul li a span{width: 18px; height: 10px; background: url(../images/home/sprite-home.png) no-repeat -503px -623px; position: absolute; top: -16px; left: 50%; display: block; margin-left: -4px;}

.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}

/*conteúdo*/
.content .breadcrumb{width:446px; height:40px; background: url(../images/breadCrumb.png) no-repeat 0 0; top: -19px; position: relative; left: -1px;}
.content .breadcrumb p{font:13px/40px Arial, Helvetica, sans-serif; color:#787878; padding-left: 70px;}
.content .breadcrumb p span{font:bold 13px/40px Arial, Helvetica, sans-serif; color:#e7e7e7; text-decoration: underline;}
.content .content-top{width: 758px; height:196px; background: url(../images/cadastro/header-busca.jpg) no-repeat 0 0; margin:0 auto; position: relative;}
.content .content-top .texto{position: absolute; left: 40px; top: 40px;}
.content .content-top .texto span{font:25px "HelveticaNeueBold"; color:#333333;} 
.content .content-top .texto h3{width: 350px; font:22px "HelveticaNeueBold"; color: #28427c; text-transform: uppercase;}
.content .content-top .texto p{width: 260px; font: 17px "HelveticaNeue"; color: #666666; margin: 7px 0 0 0;}

.content .conteudo{width: 100%; margin-top: 0px; position: relative;}
.content .conteudo h3{font:34px/36px "helveticaneueBold"; color:#222222; padding:20px 0 0 50px;}
.content .conteudo h4{width:100%; height:28px; background: url(../images/cadastro/eu-fui/h4.png) no-repeat 0 0; font:25px/28px "HelveticaNeueBold"; color:#333333; display: block; text-transform: uppercase; padding-left: 34px;}
.content .conteudo p{font:18px/36px "helveticaneue"; color:#555555; padding-left: 50px;}
.content .conteudo .busca-pergunta{width: 540px; height: 64px; display: block; background: url(../images/top-tips/bg_busca_form.png) no-repeat 0 0; float: right; margin: 20px 0;}
.content .conteudo .busca-pergunta .camposbuscar{width: 100%; height: 38px; float: left; padding: 16px 0 0 40px;}
.content .conteudo .busca-pergunta .camposbuscar label{float: left; font: 16px "HelveticaNeueBold"; color: #333333; padding: 8px 10px 0 0;}
.content .conteudo .busca-pergunta .camposbuscar select{font: 11px Arial; color:#696969; width:141px; height:28px; padding: 2px 3px 2px 2px; border: 1px solid #ccc;}
.content .conteudo .busca-pergunta .camposbuscar option{font: 11px Arial; color:#696969;}
.content .conteudo .busca-pergunta .camposbuscar input[type="text"]{width:191px; height:22px; font: 11px Arial; color:#696969; margin: 0 14px; border: 1px solid #ccc; padding: 2px}
.content .conteudo .busca-pergunta .camposbuscar input[type="submit"]{width: 50px; height: 36px; background: url(../images/top-tips/sprite.png) no-repeat -24px -1188px #efa800; font: 16px "helveticaneueBold"; color: white; cursor: pointer; text-indent: -999px;}
.content .conteudo .busca-pergunta .camposbuscar input[type="submit"]:hover{background-color:#d79800;}

.content .conteudo .blocoMural{width: 719px; display: block; background: #f1f1f1; margin: 0 auto; position: relative;}
.content .conteudo .blocoMural h3{width: 100%; height: 43px; display: block; background: url(../images/top-tips/h3.png) no-repeat 0 0; margin: 0; padding: 0;}
.content .conteudo .blocoMural .facapergunta{width: 196px; height: 67px; display: block; background: #333333; position: absolute; top: 0; right: 0;}
.content .conteudo .blocoMural .facapergunta a{width: 156px; height: 47px; background-color: #eebb29; margin: 11px auto 0 auto; font: 16px/47px "HelveticaNeueBold"; color: #000; display: block; text-decoration: none; text-align: center;}
.content .conteudo .blocoMural .facapergunta a:hover{background-color: #c49a22;}

.content .conteudo .blocoMural .lista-botoes{width: 641px; height: 70px; position: relative; z-index: 999; margin: 70px auto 0px auto;}
.content .conteudo .blocoMural .lista-botoes h3{width: 283px; height: 30px; background: url(../images/top-tips/sprite.png) no-repeat 0 -453px; font:36px/25px "helveticaneueBold"; color:#025ca7; display: block; padding: 0 0 0 60px;}
.content .conteudo .blocoMural .lista-botoes h3 span{font:20px/25px "helveticaneueBold"; color:#222222; padding-left: 10px;}
.content .conteudo .blocoMural .lista-botoes ul{width: 640px; margin:15px auto 0 auto;}
.content .conteudo .blocoMural .lista-botoes ul li{display: inline; float: left; width: 120px; height: 69px; margin: 0 2px; position: relative;}
.content .conteudo .blocoMural .lista-botoes ul li.ativo{background: url(../images/top-tips/ativo_bt.png) no-repeat center 58px; position: relative; z-index: 9; }
.content .conteudo .blocoMural .lista-botoes ul li a{width:120px; height:45px; font:bold 13px/50px Arial; text-decoration: none; color:#fff; background-color: #1c3775; text-align: center; display: block; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease; position: absolute; bottom: 0; position: relative; top: 13px;}
.content .conteudo .blocoMural .lista-botoes ul li a#categoria2{width:120px; height:39px; font:bold 13px Arial; text-decoration: none; color: white; background-color: #1c3775; text-align: center; display: block; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; padding-top:6px; top: 13px;}
.content .conteudo .blocoMural .lista-botoes ul li a.ativo{background-color: #003165; height: 58px; line-height: 58px; top: 0;}
.content .conteudo .blocoMural .lista-botoes ul li #categoria2.ativo{background-color: #003165; height: 47px; padding-top: 11px; top: 0;}
.content .conteudo .blocoMural .lista-botoes ul li a:hover{background-color: #003165;}
.content .conteudo .blocoMural .lista-botoes ul li #categoria2:hover{background-color: #003165;}
.content .conteudo .blocoMural .lista-botoes ul li a p{font:19px/25px "helveticaneueBold"; color:#fff; padding: 15px 0 0 0; text-align: center;}

.content .conteudo .mostra-posts{margin: -12px 0 0 0; padding-bottom: 40px;}
.content .conteudo .post-categoria{width:677px; display: block; background:#cccccc; margin: 0 auto; padding: 50px 0 20px 0;}
.respostas .respostas-2 .text textarea{resize: none;}


.content .conteudo .mural{width: 632px; margin: 0 auto; position: relative; z-index: 99;}
.content .conteudo .detalhe-top{width: 58px; height: 31px; background: url(../images/busca/seta.png) no-repeat center top; display: block; position: absolute; z-index: 999; left: 45%;}
.content .conteudo .header-mural{width:685px; height:30px; margin: 0 auto;}
.content .conteudo .header-mural h3.title{font:18px/22px "helveticaneueBold"; color:#272821; padding: 0; margin-bottom: 50px; float: left;}
.content .conteudo .header-mural a{width:155px; background: url(../images/minhas-viagens/seta-resposta.png) no-repeat 3px 12px; display: block; font:bold 11px/34px Arial; color:#025ca7; text-align: right; text-decoration: none; float: right;}
.content .conteudo .header-mural a:hover{color:#022848;}

.content .conteudo .mural .hr{width:98%; height:2px; background: url(../images/minhas-viagens/sprite.png) no-repeat -48px -989px; margin:30px auto; display: block;}
.content .conteudo .mural .post{width: 597px;
margin: 2px 8px;
display: block;
background: #fff;
float: left;
padding: 10px;}
.content .conteudo .mural .post .txtpost{float: left; width: 599px; position: relative;}
.content .conteudo .mural .post .txtpost .fechar{position:absolute; text-indent:-99999px; width:10px; height:9px; background: url(../images/bt-fechar-topico.png) no-repeat 0 0; right: -4px; top: -5px; z-index: 999;}
.conteudo .resposta .fechar{position:absolute; text-indent:-99999px; width:10px; height:9px; background: url(../images/bt-fechar-topico.png) no-repeat 0 0; right: -4px; top: -5px; z-index: 999;}
.content .conteudo .mural .post .txtpost h4{font:10px Arial; color:#fff; padding: 5px; margin:0 10px 0 0; background: #025ca7; display: block; float: left;}
.content .conteudo .mural .post .txtpost p{font: 12px Arial; color: #aaaaaa; padding: 0px 22px 0 0; text-align: right; text-align: right; position: absolute; right: 0; top: -4px;}
.content .conteudo .mural .post .txtpost p span{font:bold 12px/25px Arial; color:#333333;}
.content .conteudo .mural .post .txtpost p span a{color:#333333;}
.content .conteudo .mural .post .txtpost p span a:hover{color:#333333; text-decoration: underline;}
.content .conteudo .mural .post .txtpost p.tags{font:12px/17px Arial; color:#bdbdbd;}
.content .conteudo .mural .post .txtpost p.categoria{font: 14px "helveticaneueBold"; color: #333333; text-align: left; position: relative; left: 1px; top: 0;}
.content .conteudo .mural .post .txtpost a{font:bold 21px/25px Arial; color:#133278; text-decoration:none;}
.content .conteudo .mural .post .txtpost a.follow{font-weight:normal;}
.content .conteudo .mural .post .txtpost a:hover{color:#0047a8;}
.content .conteudo .mural .post .infos{margin-top: 5px;}
.content .conteudo .mural .post .infos .respostas{background-position:-19px -618px;}
.content .conteudo .mural .post .infos .seguidores{background-position: -19px -646px;}
.content .conteudo .mural .post .infos .visualizacoes{background-position:-19px -671px;}
.content .conteudo .mural .post .infos div{width:130px; height:20px; background: url(../images/top-tips/sprite.png) no-repeat 0 0; display:block; font:12px/25px Arial; color:#0047a8; float: left; margin-right: 5px; padding-left: 22px;}
.content .conteudo .mural .post .infos div span{color:#272821;}

.content .conteudo .mural .post .resposta{float: right; width:91px; height:24px; margin-top:50px;}
.content .conteudo .mural .post .resposta a{width:100%; height:24px; background:#1767AA; display: block; font:bold 11px/24px Arial; color:#fff; text-align: center; text-decoration: none; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.content .conteudo .mural .post .resposta a:hover{background:#13548B;}

.txtpost .respostas{width:577px; overflow:hidden; background: url('../images/bg-respostas.png') no-repeat top left; margin:10px 0 0 0; padding: 3px 0 0px 0;}
.txtpost .respostas h2{font: 12px 'Arial'; color: #025ca7; height:28px; top: 8px; left: 10px; position:relative; font-weight:bold;}
.txtpost .respostas a.follow{font: 12px 'Arial' !important; color:#666666 !important; text-decoration: underline !important; padding-left: 10px !important;}
.txtpost .respostas a.follow:hover{font: 12px 'Arial' !important; color:#333333 !important; text-decoration: underline !important; padding-left: 10px !important;}
.txtpost .respostas .respostas-1{border-top: 1px solid #efefef; background: #e5e5e5; padding: 5px 5px 5px 10px;}
.txtpost .respostas .respostas-1 .foto{float:left; width:34px; height:34px; margin-right: 5px;}
.txtpost .respostas .respostas-1 .foto img{width:34px; height:34px;}
.txtpost .respostas .respostas-1 .container{float:left; width: 515px; position:relative;}
.txtpost .respostas .respostas-1 .container .nome{float:left; color: #272821; font: 12px 'Arial'; margin-right: 5px; width:525px;}
.txtpost .respostas .respostas-1 .container span{color: #272821; font: 12px 'Arial';}
.txtpost .respostas .respostas-1 .container .data{color: #272821; font: 12px 'Arial';}
.txtpost .respostas .respostas-2{border-top: 1px solid #efefef; background: #e5e5e5; padding: 5px 5px 0 5px; display: none;}
.txtpost .respostas .respostas-2 .foto{float:left; width:34px; height:34px; margin-right: 5px; background: #d0d7e5;}
.txtpost .respostas .respostas-2 .foto img{width:34px; height:34px;}
.txtpost .respostas .respostas-2 .text{float:left; width:515px; min-height:38px;}
.txtpost .respostas .respostas-2 .text textarea{width:513px; height:38px; border:1px solid #c3c3c3; margin:0; padding:0; overflow:hidden;}

/*footer*/
/*.footer{width: 100%; height: 189px; background: url(../images/bg-footer.png) no-repeat top center; position: relative; bottom: 0; z-index: 2;}*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 0px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#000; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #000; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1; display:none;}