body{background: url(../images/background-padrao.jpg) fixed repeat-x center top #fff;}
hr{border: 0;}

/*header*/
.header{width:100%; height:159px;}
.header-1{width: 758px; height: 159px; margin: 0 auto; display: block; position: relative;}
/*.header-1 a{display:block; width:105px; height:97px; position: relative; top: 7px; left:35px;}
.header-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.header-1 a img{border:0;}
.header-1 h3{width:189px; height:67px; background: url(../images/minhas-viagens/sprite.png) no-repeat -542px -1412px; display: block; text-indent: -999px; overflow: hidden; margin: -45px 69px 0 0; float: right;}
.header-1 .facebook{position: absolute; top:33px; left: 25%;}*/


.content .nav-padrao{width: 758px; height: 325px; margin: 0 auto; background: url(../images/top-tips/sprite.png) no-repeat 0px -45px; position: relative;}
.content .nav-padrao a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.content .nav-padrao img{border: 0;}
.content .nav-padrao a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.content .nav-padrao .facebook{position: absolute; top:10px; left: 100px;}

.content .nav-padrao .navMenu{position: absolute; top: 116px; right: 0;}
.content .nav-padrao .navMenu ul{}
.content .nav-padrao .navMenu ul li{height: 29px; margin: 0 39px 0 28px; display: inline; float: left; text-align: center;}
.content .nav-padrao .navMenu ul li.voltar{width: 66px; position: absolute; left: -125px; top: -1px;}
.content .nav-padrao .navMenu ul li a{font: 13px/30px Arial; color:#fff; text-decoration: none;}
.content .nav-padrao .navMenu ul li a:hover{color:#ffcd00;}
.content .nav-padrao .navMenu ul li a span{color:#ffcd00;}

/*conteúdo*/
.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto;}

.content .conteudo{width: 100%; margin-top: -165px; position: relative;}
.content .conteudo h3{font:34px/36px "helveticaneueBold"; color:#222222; padding:20px 0 0 50px;}
.content .conteudo p{font:18px/36px "helveticaneue"; color:#555555; padding-left: 50px;}
.content .conteudo .busca-pergunta{width: 685px; height: 95px; margin: 30px auto 0 auto; display: block; background: url(../images/top-tips/bg-bt-pergunta.png) no-repeat 355px -23px; padding-top:20px;}
.content .conteudo .busca-pergunta .camposbuscar{width:473px; height:36px; float: left; padding: 6px 0 0 10px; background-color: #E9E9E9; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px;}
.content .conteudo .busca-pergunta .camposbuscar select{font: 11px Arial; color:#696969; width:141px; height:21px; padding: 2px 3px 2px 2px; border: 1px solid #ccc;}
.content .conteudo .busca-pergunta .camposbuscar option{font: 11px Arial; color:#696969;}
.content .conteudo .busca-pergunta .camposbuscar input[type="text"]{width:191px; height:22px; font: 11px Arial; color:#696969; margin: 0 14px; border: 1px solid #ccc; padding: 2px}
.content .conteudo .busca-pergunta .camposbuscar input[type="submit"]{width: 94px; height: 32px; background: url(../images/top-tips/sprite.png) no-repeat -37px -1189px #363636; font: 16px "helveticaneueBold"; color: white; cursor: pointer; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; text-align: center; padding-left: 15px; }
.content .conteudo .busca-pergunta .camposbuscar input[type="submit"]:hover{background-color:#535252;}
.content .conteudo .busca-pergunta .facapergunta{width: 130px; height: 33px; float: right; padding: 5px; background-color: #E9E9E9; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; margin-right: 40px;}
.content .conteudo .busca-pergunta .facapergunta a{width:130px; height: 31px; background-color: #eebb29; margin: 0 auto; font: 16px/32px "HelveticaNeueBold"; color: #000; display: block; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; text-decoration: none; text-align: center;}
.content .conteudo .busca-pergunta .facapergunta a:hover{background-color: #c49a22;}

.content .conteudo .lista-botoes{width:100%; height:140px; position: relative; z-index: 999;}
.content .conteudo .lista-botoes h3{width: 283px; height: 36px; background: url(../images/top-tips/sprite.png) no-repeat 0 -453px; font:36px/25px "helveticaneueBold"; color:#025ca7; display: block; padding: 0 0 0 60px;}
.content .conteudo .lista-botoes h3 span{font:20px/25px "helveticaneueBold"; color:#222222; padding-left: 10px;}
.content .conteudo .lista-botoes ul{margin:15px auto 0 auto;}
.content .conteudo .lista-botoes ul li{display: inline; float: left; width:133px; height:88px; margin:0 2px;}
.content .conteudo .lista-botoes ul li a{width:133px; height:88px; font:19px/88px "helveticaneueBold"; text-decoration: none; color:#fff; background-color:#3590dd; text-align: center; display: block; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.content .conteudo .lista-botoes ul li a.ativo{background-color: #13548B;}
.content .conteudo .lista-botoes ul li a:hover{background-color: #1767AA;}
.content .conteudo .lista-botoes ul li a p{font:19px/25px "helveticaneueBold"; color:#fff; padding: 15px 0 0 0; text-align: center;}
.content .conteudo .sombra{width:648px; height:25px; background: url(../images/top-tips/sprite.png) no-repeat 0 -498px; display: block;}

.content .conteudo .mural{width: 685px; background: url(../images/busca/seta-cinza.png) no-repeat 667px 3px #EFEFEF; margin: 0 auto 60px auto; position: relative; z-index: 99; border: 3px solid #C3C3C3;}
.content .conteudo .detalhe-top{width: 58px; height: 31px; background: url(../images/busca/seta.png) no-repeat center top; display: block; position: absolute; z-index: 999; left: 45%;}
.content .conteudo .header-mural{width:685px; height:30px; margin: 0 auto;}
.content .conteudo .header-mural h3.title{font:18px/22px "helveticaneueBold"; color:#272821; padding: 0; margin-bottom: 50px; float: left;}
.content .conteudo .header-mural a{width:155px; background: url(../images/minhas-viagens/seta-resposta.png) no-repeat 3px 12px; display: block; font:bold 11px/34px Arial; color:#025ca7; text-align: right; text-decoration: none; float: right;}
.content .conteudo .header-mural a:hover{color:#022848;}

.content .conteudo .mural .hr{width:98%; height:2px; background: url(../images/minhas-viagens/sprite.png) no-repeat -48px -989px; margin:30px auto; display: block;}
.content .conteudo .mural .post{width:597px; height:80px; margin: 0 auto;}
.content .conteudo .mural .post .txtpost{float: left; width:500px; height:68px;}
.content .conteudo .mural .post .txtpost h4{font:10px Arial; color:#fff; padding: 5px; margin:0 10px 0 0; background: #025ca7; display: block; float: left;}
.content .conteudo .mural .post .txtpost p{font:12px/25px Arial; color:#aaaaaa; padding: 0;}
.content .conteudo .mural .post .txtpost p span{font:12px/25px Arial; color:#0047a8;}
.content .conteudo .mural .post .txtpost p.tags{font:12px/17px Arial; color:#bdbdbd;}
.content .conteudo .mural .post .txtpost a{font:24px/25px Arial; color:#025ca7; text-decoration: none;}
.content .conteudo .mural .post .txtpost a:hover{color:#022848;}
.content .conteudo .mural .post .infos{margin-top: 5px;}
.content .conteudo .mural .post .infos .respostas{background-position:-19px -618px;}
.content .conteudo .mural .post .infos .seguidores{background-position: -19px -646px;}
.content .conteudo .mural .post .infos .visualizacoes{background-position:-19px -671px;}
.content .conteudo .mural .post .infos div{width:130px; height:20px; background: url(../images/top-tips/sprite.png) no-repeat 0 0; display:block; font:12px/25px Arial; color:#0047a8; float: left; margin-right: 5px; padding-left: 22px;}
.content .conteudo .mural .post .infos div span{color:#272821;}

.content .conteudo .mural .post .resposta{float: right; width:91px; height:24px; margin-top:50px;}
.content .conteudo .mural .post .resposta a{width:100%; height:24px; background:#1767AA; display: block; font:bold 11px/24px Arial; color:#fff; text-align: center; text-decoration: none; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.content .conteudo .mural .post .resposta a:hover{background:#13548B;}

/*footer*/
.footer{width: 100%; height: 189px; background: url(../images/bg-footer.png) no-repeat top center; position: relative; margin-top: -118px; bottom: 0; z-index: 2;}
.footer .barra{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 114px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#fff; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #fff; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1; display:none;}