body{background: url(../images/background-global.jpg) fixed repeat 0 0 #fff;}
hr{border:0;}

/*header*/
.facebook_share{width: 100%; height: 36px; background:#f5f5f5; position: relative;}
.facebook_share .centraliza{width: 758px; position: absolute; top: 6px; left: 50%; margin-left: -189px;}
.header{width: 100%; height: 182px; display: block; background: url(../images/home/sprite-home.png) repeat-x center top #141414; position: relative;}
.header hr{border: 0;}
.header-1{width: 758px; height: 126px; background: url(../images/bg_header-1.png) no-repeat 230px 12px; margin: 0 auto; display: block; position: relative;}
.header-1 h1{width: 313px; height: 148px; background: url(../images/home/sprite-home.png) no-repeat -18px -164px; display: block; text-indent: -999px; overflow: hidden; margin: 3px 0 0 0; float: left;}
.header-1 h2{width: 320px; float: left; font: 20px "HelveticaneueBold"; color: #6db4e5; text-transform: uppercase; margin: 79px 0 0 0px;}
.header-1 p span{color:#2fbdbb;}
/*.header-1 img{width: 78px; height: 84px; border: 0; display: block; margin: 37px 20px 0 0; float: right;}*/
/*.header-1 a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}*/
.header-1 a.linkTop{float: right; margin: 27px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}
.header-1 a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}

.menuPrinc{width: 100%; height: 57px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 0; float: left; position: absolute; bottom: 0;}
.menuPrinc .centraliza{width: 758px; margin: 0 auto;}
.menuPrinc .centraliza ul li{height:24px; padding: 0 12px; border-right: 1px solid black; display: block; float: left; margin-top: 17px; position: relative;}

.menuPrinc .centraliza ul li dl{width: 100%; height: 164px; z-index: 999; position: absolute; left: 0px; background: #282828; top: 0px; display: none;}
.menuPrinc .centraliza ul li dl dt{width: 100%; height: 39px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 -6px;}
.menuPrinc .centraliza ul li dl dd{width: 90%; height: 41px; display: block; position: relative; text-align: left; margin: 0 auto;}
.menuPrinc .centraliza ul li dl dd a{font:bold 15px/41px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; padding-left: 12px;}
.menuPrinc .centraliza ul li dl dd a:hover{color:#ffb400;}

.menuPrinc .centraliza ul li.last{border-right: 0;}
.menuPrinc .centraliza ul li a{font:bold 15px/24px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; position: relative; z-index: 9999;}
.menuPrinc .centraliza ul li a:hover{color:#ffb400;}
.menuPrinc .centraliza ul li a.ativo{color:#ffb400;}
.menuPrinc .centraliza ul li a span{width: 18px; height: 10px; background: url(../images/home/sprite-home.png) no-repeat -503px -623px; position: absolute; top: -16px; left: 50%; display: block; margin-left: -4px;}


/*conteúdo*/
.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.content h4{width:100%; height:28px; background: url(../images/cadastro/eu-fui/h4.png) no-repeat 0 0; font:25px/28px "HelveticaNeueBold"; color:#333333; display: block; text-transform: uppercase; padding-left: 34px;}
.content .breadcrumb{width:446px; height:40px; background: url(../images/breadCrumb.png) no-repeat 0 0; top: -19px; position: relative; left: -1px;}
.content .breadcrumb p{font:13px/40px Arial, Helvetica, sans-serif; color:#787878; padding-left: 70px;}
.content .breadcrumb p span{font:bold 13px/40px Arial, Helvetica, sans-serif; color:#e7e7e7; text-decoration: underline;}
.content .content-top{width: 758px; height:196px; background: url(../images/cadastro/header-busca.jpg) no-repeat 0 0; margin:0 auto; position: relative;}
.content .content-top .texto{position: absolute; left: 40px; top: 40px;}
.content .content-top .texto span{font:22px "HelveticaNeueBold"; color:#333333;} 
.content .content-top .texto h3{width: 350px; font:25px "HelveticaNeueBold"; color: #28427c; text-transform: uppercase;}
.content .content-top .texto p{width: 260px; font: 17px "HelveticaNeue"; color: #666666; margin: 7px 0 0 0;}

.content .conteudo .busca-pergunta{width: 540px; height: 64px; display: block; background: url(../images/top-tips/bg_busca_form.png) no-repeat 0 0; float: right; margin: 20px 0;}
.content .conteudo .busca-pergunta .camposbuscar{width: 100%; height: 38px; float: left; padding: 16px 0 0 40px;}
.content .conteudo .busca-pergunta .camposbuscar label{float: left; font: 16px "HelveticaNeueBold"; color: #333333; padding: 8px 10px 0 0;}
.content .conteudo .busca-pergunta .camposbuscar select{font: 11px Arial; color:#696969; width:141px; height:28px; padding: 2px 3px 2px 2px; border: 1px solid #ccc;}
.content .conteudo .busca-pergunta .camposbuscar option{font: 11px Arial; color:#696969;}
.content .conteudo .busca-pergunta .camposbuscar input[type="text"]{width:191px; height:22px; font: 11px Arial; color:#696969; margin: 0 14px; border: 1px solid #ccc; padding: 2px}
.content .conteudo .busca-pergunta .camposbuscar input[type="submit"]{width: 50px; height: 36px; background: url(../images/top-tips/sprite.png) no-repeat -24px -1188px #efa800; font: 16px "helveticaneueBold"; color: white; cursor: pointer; text-indent: -999px;}
.content .conteudo .busca-pergunta .camposbuscar input[type="submit"]:hover{background-color:#d79800;}
.content .conteudo .facapergunta{width: 196px; height: 67px; display: block; background: #333333; position: absolute; top: 0; right: 0; display: none;}

.content .conteudo .lista-botoes{width:100%; height:140px; position: relative; z-index: 999;}
.content .conteudo .lista-botoes h3{width: 283px; height: 36px; background: url(../images/top-tips/sprite.png) no-repeat 0 -453px; font:36px/25px "helveticaneueBold"; color:#025ca7; display: block; padding: 0 0 0 60px;}
.content .conteudo .lista-botoes h3 span{font:20px/25px "helveticaneueBold"; color:#222222; padding-left: 10px;}
.content .conteudo .lista-botoes ul{margin:15px auto 0 auto;}
.content .conteudo .lista-botoes ul li{display: inline; float: left; width:133px; height:88px; margin:0 2px;}
.content .conteudo .lista-botoes ul li a{width:133px; height:88px; font:19px/88px "helveticaneueBold"; text-decoration: none; color:#fff; background-color:#3590dd; text-align: center; display: block; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.content .conteudo .lista-botoes ul li a.ativo{background-color: #13548B;}
.content .conteudo .lista-botoes ul li a:hover{background-color: #1767AA;}
.content .conteudo .lista-botoes ul li a p{font:19px/25px "helveticaneueBold"; color:#fff; padding: 15px 0 0 0; text-align: center;}
.content .conteudo .sombra{width:648px; height:25px; background: url(../images/top-tips/sprite.png) no-repeat 0 -498px; display: block;}

.content .conteudo .blocoMural {width: 719px; display: block; background: #f1f1f1; margin: 10px auto; position: relative; padding-bottom: 20px;}
.content .conteudo .blocoMural h3 {width: 637px; height: 43px; display: block; font: bold 18px Arial; color: #fff; text-transform: uppercase; background: url(../images/top-tips/h3-2.png) no-repeat left bottom; margin: 0px auto -17px auto; padding: 20px 0 0 40px; position: relative; z-index: 9;}


.content .conteudo .mural{width: 685px; background: url(../images/busca/seta-cinza.png) no-repeat 667px 3px #EFEFEF; margin: 0 auto 60px auto; position: relative; z-index: 99; border: 3px solid #C3C3C3;}
.content .conteudo .detalhe-top{width: 58px; height: 31px; background: url(../images/busca/seta.png) no-repeat center top; display: block; position: absolute; z-index: 999; left: 45%;}
.content .conteudo .header-mural{width:685px; height:30px; margin: 0 auto;}
.content .conteudo .header-mural h3.title{font:18px/22px "helveticaneueBold"; color:#272821; padding: 0; margin-bottom: 50px; float: left;}
.content .conteudo .header-mural a{width:155px; background: url(../images/minhas-viagens/seta-resposta.png) no-repeat 3px 12px; display: block; font:bold 11px/34px Arial; color:#025ca7; text-align: right; text-decoration: none; float: right;}
.content .conteudo .header-mural a:hover{color:#022848;}




.content .conteudo .mural .hr{width:98%; height:2px; background: url(../images/minhas-viagens/sprite.png) no-repeat -48px -989px; margin:30px auto; display: block;}
.content .conteudo .blocoMural .post{width: 677px; min-height: 110px; margin-left: 20px; background: #fff; position: relative; display: block; float: left;}
.content .conteudo .blocoMural .post .barra{position: absolute; left: 1px; top: 0; width:40px; height: 100%; display: block; background:#ccc;}
.content .conteudo .blocoMural .post .txtpost{float: left; width: 599px; padding: 15px 0; border-bottom: 1px solid #ccc; margin-left: 53px;}
.content .conteudo .blocoMural .post .txtpost h4{font:10px Arial; color:#fff; padding: 5px; margin:0 10px 0 0; background: #025ca7; display: block; float: left;}
.content .conteudo .blocoMural .post .txtpost p{font: 12px Arial; color: #aaaaaa; padding: 0px 1px 0 0; text-align: right;}
.content .conteudo .blocoMural .post .txtpost p span{font:bold 12px/25px Arial; color:#333333;}
.content .conteudo .blocoMural .post .txtpost p span a{color:#333333;}
.content .conteudo .blocoMural .post .txtpost p span a:hover{color:#333333; text-decoration: underline;}
.content .conteudo .blocoMural .post .txtpost p.tags{font:12px/17px Arial; color:#bdbdbd;}
.content .conteudo .blocoMural .post .txtpost p.categoria{font:14px "helveticaneueBold"; color:#333333; text-align: left;}
.content .conteudo .blocoMural .post .txtpost a{font:bold 21px/25px Arial; color:#133278; text-decoration:none;}
.content .conteudo .blocoMural .post .txtpost a.follow{font-weight:normal;}
.content .conteudo .blocoMural .post .txtpost a:hover{color:#0047a8;}
.content .conteudo .blocoMural .post .infos{margin-top: 5px;}
.content .conteudo .blocoMural .post .infos .respostas{background-position:-19px -618px;}
.content .conteudo .blocoMural .post .infos .seguidores{background-position: -19px -646px;}
.content .conteudo .blocoMural .post .infos .visualizacoes{background-position:-19px -671px;}
.content .conteudo .blocoMural .post .infos div{width:130px; height:20px; background: url(../images/top-tips/sprite.png) no-repeat 0 0; display:block; font:12px/25px Arial; color:#0047a8; float: left; margin-right: 5px; padding-left: 22px;}
.content .conteudo .blocoMural .post .infos div span{color:#272821;}

.content .conteudo .blocoMural .post .resposta{float: right; width: 91px; height: 24px; position: absolute; bottom: 10px; right: 25px;}
.content .conteudo .blocoMural .post .resposta a{width: 100%; height: 24px; background: #1c3775; display: block; font: bold 11px/24px Arial; color: #fff; text-align: center; text-decoration: none;}
.content .conteudo .blocoMural .post .resposta a:hover{background:#003165;}

/*footer*/
/*.footer{width: 100%; height: 189px; background: url(../images/bg-footer.png) no-repeat top center; position: relative; bottom: 0; z-index: 2;}*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 0px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#000; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #000; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1; display:none;}