body{background: url(../images/background-toptips-interna.jpg) repeat center top #282828;}

/*header*/
.header{width:100%; height:207px;}
.header-1{width: 758px; height: 332px; background: url(../images/top-tips/sprite-facapergunta.png) no-repeat -2px 1px; margin: 0 auto; display: block; position: relative;}
.header-1 a{display:block; width:105px; height:97px; position: relative; top: 7px; left:35px;}
.header-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.header-1 a img{border:0;}
.header-1 h3{width:189px; height:67px; background: url(../images/minhas-viagens/sprite.png) no-repeat -542px -1412px; display: block; text-indent: -999px; overflow: hidden; margin: -45px 69px 0 0; float: right;}
.header-1 .facebook{position: absolute; top:33px; left: 25%;}


/*nav menu*/
.navMenu{position: absolute; top: -46px; right: 0;}
.navMenu ul{}
.navMenu ul li{height:29px; margin: 0 13px 0 16px; display: inline; float: left; text-align: center;}
.navMenu ul li.voltar{width: 66px; position: absolute; left: -426px; top: -1px;}
.navMenu ul li a{font: 13px/30px Arial; color:#fff; text-decoration: none;}
.navMenu ul li a:hover{color:#ffcd00;}
.navMenu ul li a span{color:#ffcd00;}

/*conteúdo*/
.content{width: 758px; /*height:881px;*/ margin:0 auto; position: relative;}
.content .conteudo{width: 100%; height:1000px; margin-top: -45px; position: relative;}
.content .conteudo h3{font:34px/36px "helveticaneueBold"; color:#222222; padding:20px 0 0 50px;}
.content .conteudo p{font:18px/36px "helveticaneue"; color:#555555; padding-left: 50px;}

.content .conteudo .envia-pergunta{width:682px; margin: 90px auto 0 auto;}
.content .conteudo .envia-pergunta .tags{width:100%; height:24px; display: block; margin: -20px 0 20px 0;}
.content .conteudo .envia-pergunta .tags ul li{float: left; display: inline; padding: 4px; display: block; height:10px; background:#ababab; font:10px/10px Arial; text-align: center; color:#fff; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; margin:0 3px;}
.content .conteudo .envia-pergunta div{margin:30px 0;}
.content .conteudo .envia-pergunta label{font:20px/25px "helveticaneueBold"; color:#025ca7; display: block;}
.content .conteudo .envia-pergunta textarea{width:629px; height:136px; padding: 5px; margin-top: 5px; resize: none; border: 1px solid #ccc;}
.content .conteudo .envia-pergunta input[type=text]{width:371px; height:26px; padding: 5px; margin-top: 5px; border: 1px solid #ccc;}
.content .conteudo .envia-pergunta input[type=button]{width:115px; height:26px; font:15px/26px "helveticaneue"; color:#fff; background:#545454; text-align: center; cursor:pointer; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}
.content .conteudo .envia-pergunta input[type=button]:hover{background:#474747;}
.content .conteudo .envia-pergunta input[type=submit]{width:180px; height:42px; font:18px/42px "helveticaneue"; color:#fff; background:#1666a9; text-align: center; cursor:pointer; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}
.content .conteudo .envia-pergunta input[type=submit]:hover{background:#13558d;}



/*footer*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; bottom: 4px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#fff; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #fff; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}