body{background: url(../images/background-global.jpg) fixed repeat 0 0 #fff;}
hr{border:0;}
.NavBar_modeSelectorControlContainer{display: none;}

/*header*/
.facebook_share{width: 100%; height: 36px; background:#f5f5f5; position: relative;}
.facebook_share .centraliza{width: 758px; position: absolute; top: 6px; left: 50%; margin-left: -189px;}
.header{width: 100%; height: 182px; display: block; background: url(../images/home/sprite-home.png) repeat-x center top #141414; position: relative;}
.header hr{border: 0;}
.header-1{width: 758px; height: 126px; background: url(../images/bg_header-1.png) no-repeat 230px 12px; margin: 0 auto; display: block; position: relative;}
.header-1 h1{width: 313px; height: 148px; background: url(../images/home/sprite-home.png) no-repeat -18px -164px; display: block; text-indent: -999px; overflow: hidden; margin: 3px 0 0 0; float: left;}
.header-1 h2{width: 320px; float: left; font: 20px "HelveticaneueBold"; color: #6db4e5; text-transform: uppercase; margin: 79px 0 0 0px;}
.header-1 p span{color:#2fbdbb;}
/*.header-1 img{width: 78px; height: 84px; border: 0; display: block; margin: 37px 20px 0 0; float: right;}*/
/*.header-1 a.linkTop{float: right; margin: 22px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}*/
.header-1 a.linkTop{float: right; margin: 27px 16px 0 0; display: block; border: 0;}
.header-1 img{border: 0;}
.header-1 a.linkTop:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}

.menuPrinc{width: 100%; height: 57px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 0; float: left; position: absolute; bottom: 0;}
.menuPrinc .centraliza{width: 758px; margin: 0 auto;}
.menuPrinc .centraliza ul li{height:24px; padding: 0 12px; border-right: 1px solid black; display: block; float: left; margin-top: 17px; position: relative;}

.menuPrinc .centraliza ul li dl{width: 100%; height: 164px; z-index: 999; position: absolute; left: 0px; background: #282828; top: 0px; display: none;}
.menuPrinc .centraliza ul li dl dt{width: 100%; height: 39px; display: block; background: url(../images/bg_menu.jpg) repeat-x 0 -6px;}
.menuPrinc .centraliza ul li dl dd{width: 90%; height: 41px; display: block; position: relative; text-align: left; margin: 0 auto;}
.menuPrinc .centraliza ul li dl dd a{font:bold 15px/41px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; padding-left: 12px;}
.menuPrinc .centraliza ul li dl dd a:hover{color:#ffb400;}

.menuPrinc .centraliza ul li.last{border-right: 0;}
.menuPrinc .centraliza ul li a{font:bold 15px/24px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none; position: relative; z-index: 9999;}
.menuPrinc .centraliza ul li a:hover{color:#ffb400;}
.menuPrinc .centraliza ul li a.ativo{color:#ffb400;}
.menuPrinc .centraliza ul li a span{width: 18px; height: 10px; background: url(../images/home/sprite-home.png) no-repeat -503px -623px; position: absolute; top: -16px; left: 50%; display: block; margin-left: -4px;}

/*conteúdo*/
.breadCrumb{width:446px; height:40px; background: url(../images/breadCrumb.png) no-repeat 0 0; top: -19px; position: relative; left: -1px;}
.breadCrumb p{font:13px/40px Arial, Helvetica, sans-serif; color:#787878; padding-left: 70px;}
.breadCrumb p span{font:bold 13px/40px Arial, Helvetica, sans-serif; color:#e7e7e7; text-decoration: underline;}
.content-top{width: 758px; height:196px; background: url(../images/cadastro/header-viagens.jpg) no-repeat 0 0; margin:0 auto; position: relative;}
.content-top .texto{position: absolute; left: 40px; top: 40px;}
.content-top .texto span{font:25px "HelveticaNeueBold"; color:#333333;} 
.content-top .texto h3{width: 450px; font:30px "HelveticaNeueBold"; color: #1ca5a3; text-transform: uppercase;}
.content-top .texto p{width: 260px; font: 17px "HelveticaNeue"; color: #666666; margin: 7px 0 0 0;}

.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; margin: 0 auto; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.content h4{width:100%; height:28px; background: url(../images/minhas-viagens/h4.png) no-repeat 0 0; font:30px/28px "HelveticaNeueBold"; color:#333333; display: block; text-transform: uppercase; padding-left: 34px; margin-top: 20px;}

.content .usuario{width:740px; height: 134px; background: url(../images/minhas-viagens/bg-box-usuarios.png) no-repeat 0 0; border: none !important; display: block; position: relative; margin: 30px 0;}
.content .usuario .thumb{width:118px; height: 118px; padding: 3px; background:#d4d4d4; margin: 10px 0 0 28px; position: relative;  float: left; border: none !important;}
.content .usuario .thumb img{width:118px; height:118px; display: block;}
.content .dadosusuario{width: 400px; margin: 10px 0 0 19px; float: left; height: 70px; overflow: hidden;}
.content .dadosusuario .dadosusuario{margin: 0; width: 400px; height: 60px; overflow: hidden;}
.content .dadosusuario h3{font:bold 18px/18px Arial; color:#ff9000;}
.content .dadosusuario span{width: 82px; height: 25px; background: url(../images/minhas-viagens/bg_conheco.jpg) no-repeat -2px 0; font: 12px/25px "HelveticaNeueBold"; display: block; color: #fff; margin: 16px 0 0 0; float: left; padding-left: 31px;}
.content .dadosusuario p{width: 175px; max-height: 25px; background: #333333; font: bold 13px/25px Arial; color: #cccccc;  text-align: center; margin: 16px 0 0 -1px; float: left; overflow: hidden;}
.content .dadosusuario p a{font-size:15px; color: #fff; text-decoration: none;}
.content .dadosusuario p a:hover{color: #fff; text-decoration: underline;}

.content .minhasviagens{width:100%; height:429px; background: #fff; margin: 0 0 40px 0}
.content .minhasviagens h5{width: 684px; height: 39px; background:#0e0e0e; font:19px/39px "HelveticaNeueBold"; color:#fff; text-align: left; padding-left: 74px;}
.content .minhasviagens .leftPaises{width:52px; background: #396e9b; display: block; position: relative; float: left;}
.content .minhasviagens .leftPaises .icone{width: 52px; height: 39px; display: block; background: url(../images/home/sprite-home.png) no-repeat -505px -507px #18476f; position: absolute; top: -39px; left: 0;}

.content .minhasviagens strong{font:20px/43px "helveticaneueBold"; color:#272821;}
.content .minhasviagens select{width: 100%; height: 22px; padding: 3px; border: 1px solid #CCC; margin-top: 10px; font: 11px Arial; color: dimGray;}
.content .minhasviagens .check{float: left;}

.content .minhasviagens label.vermelho{width: 130px; height: 41px; cursor: pointer; background:none; position:relative;}
.content .minhasviagens label.verde{width: 130px; height: 41px; cursor: pointer; background:none; position:relative;}
.content .minhasviagens label.azul{width: 130px; height: 41px; cursor: pointer; background:none; position:relative;}

.content .minhasviagens input[type=checkbox]{display: none;}
.content .minhasviagens label span{width: 100%; height: 30px; padding: 0; margin: 0 auto; font: 16px/31px "HelveticaNeueBold"; color: white; display: block; text-decoration: none; text-align: center;}
.content .minhasviagens label .icone{display:none;}
.content .minhasviagens label .icone.ativo{display:block;}

.content .minhasviagens label.vermelho .icone.ativo{position:absolute; bottom: -1px; left:50%; margin-left:-14px; width:28px; height:14px; background: url(../images/minhas-viagens/bg-rosa.png);}
.content .minhasviagens label span.vermelho{background:#e93a5d;}

.content .minhasviagens label.verde .icone.ativo{position:absolute; bottom: -1px; left:50%; margin-left:-14px; width:28px; height:14px; background: url(../images/minhas-viagens/bg-verde.png);}
.content .minhasviagens label span.verde{background:#2fbcba;}

.content .minhasviagens label.azul .icone.ativo{position:absolute; bottom: -1px; left:50%; margin-left:-14px; width:28px; height:14px; background: url(../images/minhas-viagens/bg-azul.png);}
.content .minhasviagens label span.azul{background:#4d8fbd;}



/* GRADIENTE COM CSS3, SE NECESSÁRIO:
.content .minhasviagens label span.ativo.vermelho{background:-webkit-gradient(linear, 80% 20%, 80% 100%, from(#be2f4c), to(#e8395c));}
.content .minhasviagens label span.ativo.verde{background:-webkit-gradient(linear, 80% 20%, 80% 100%, from(#279a98), to(#2fbcba));}
.content .minhasviagens label span.ativo.azul{background:-webkit-gradient(linear, 80% 20%, 80% 100%, from(#3f759a), to(#4d8ebc));}
*/

.content .filtros{width: 693px; height:46px; margin:10px auto;}
.content .filtros ul{width:100%; display: block;}
.content .filtros ul li{width:130px; height:43px; display: inline; float: left; margin: 0 3px;}
.content .filtros ul li p{font:14px/43px "helveticaneueBold"; color:#272821;}
.content .filtros ul li select{width: 100%; height: 30px; padding: 5px; border: 1px solid #CCC; margin-top: 5px; font: 11px Arial; color: dimGray;}
.content .filtros ul li select option{font:11px Arial; color:#696969;}
.content .filtros ul li .botao{width: 120px; height: 30px; padding: 5px; background-color: #E9E9E9; -o-opacity: 0.8; -webkit-opacity: 0.8; -moz-opacity: 0.8; opacity: 0.8; filter: alpha(opacity=80); border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; float: left; margin-top: 1px;}
.content .filtros ul li .botao a{height: 28px; margin: 0 auto; font: 14px/28px "HelveticaNeue"; color: white; display: block; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; text-decoration: none; text-align: center;}
.content .filtros ul li .botao a.vermelho{background: #E4385A;}
.content .filtros ul li .botao a.vermelho:hover{background: #C0304C;}
.content .filtros ul li .botao a.verde{background: #06BCBB;}
.content .filtros ul li .botao a.verde:hover{background: #239392;}
.content .filtros ul li .botao a.azul{background: #1767AA;}
.content .filtros ul li .botao a.azul:hover{background: #13548B;}


#myMap #ajaxControl{width: 100%; height: 300px; color:#fff; text-align: center; line-height: 300px; position: absolute; z-index: 9999; background: #000; opacity: 0.6; -moz-opacity: 0.6; -webkit-opacity: 0.6; filter: alpha(opacity=60); display: none; top:0; left:0;}
.content #myMap{position: relative; width:713px; height:300px; margin:0 auto;}
.content #myMap .active_quero{width: 100px; min-width: 40px; max-height: 23px; padding: 4px 9px; font: bold 12px Arial; text-align: center; color:#fff; background: #e6395b; display: block; border: 1px solid #c2304d; margin:2px 0 0 27px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; o-border-radius: 3px; -moz-text-shadow: 2px 2px 10px black; -webkit-text-shadow: 2px 2px 10px black; -o-text-shadow: 2px 2px 10px black; text-shadow: 2px 2px 10px black;}
.content #myMap .active_vou{width: 100px; min-width: 40px; max-height: 23px; position: relative; top: 9px; padding: 4px 9px; font: bold 12px Arial; text-align: center; color:#fff; background: #2ebab8; display: block; border: 1px solid #279c9a; margin:0 0 0 27px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; o-border-radius: 3px; -moz-text-shadow: 2px 2px 10px black; -webkit-text-shadow: 2px 2px 10px black; -o-text-shadow: 2px 2px 10px black; text-shadow: 2px 2px 10px black;}
.content #myMap .active_fui{width: 100px; min-width: 40px; max-height: 23px; position: relative; top: -3px; left: 10px; padding: 4px 9px; font: bold 12px Arial; text-align: center; color:#fff; background: #4c8ebc; display: block; border: 1px solid #40769c; margin:2px 0 0 27px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; o-border-radius: 3px; -moz-text-shadow: 2px 2px 10px black; -webkit-text-shadow: 2px 2px 10px black; -o-text-shadow: 2px 2px 10px black; text-shadow: 2px 2px 10px black;}
/*.content #myMap .active_fui{width: auto; min-width: 40px; max-height: 23px; padding: 4px 9px; font: bold 12px Arial; color:#fff; background: #4c8ebc; display: block; border: 1px solid #40769c; margin:-1px 0 0 27px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; o-border-radius: 3px; -moz-text-shadow: 2px 2px 10px black; -webkit-text-shadow: 2px 2px 10px black; -o-text-shadow: 2px 2px 10px black; text-shadow: 2px 2px 10px black;}*/


.content .box-users{width: 718px; height: auto; display: block; background: url(../images/minhas-viagens/bg_header_viajantes.jpg) no-repeat 0 0 #fff; margin: 0 auto;}
.content .users-block h2{width: 227px; height: 38px; display: block; font: 18px/38px "helveticaneueBold"; color: #fff; padding-left: 55px;}
.content #mostraUsers{width: 684px !important; min-height: 42px; display: block; margin: 0 auto;}
.content #mostraUsers p{text-align: center; font: 16px/58px "HelveticaNeueBold"; color: #666666;}
.content #mostraUsers p span{color: #133278;}
.content #mostraUsers a{width:40px; height: 40px; float: left; margin: 10px 5px 0 5px; position: relative;}
.content #mostraUsers a img{width:40px; height: 40px;}
.content #mostraUsers div.hover{width:49px; height:49px; display: block; background: url(../images/minhas-viagens/hover_user2.png) no-repeat; position: absolute; top: -5px; left: -5px; z-index: 99;}
.content #detalhaUsers{display: none; position: relative; width: 684px; height: 76px; margin: 10px auto; border-top: 1px solid #ccc;}
.content #detalhaUsers img{position: absolute; left: 0; top: 10px; width: 58px; border: 3px solid #ccc;}
.content #detalhaUsers span{position: absolute; left: 75px; top: 14px; font: bold 18px Arial; color: #003366;}
.content #detalhaUsers span.local{position: absolute; left: 75px; top: 37px; font: 15px Arial; color: #333333;}
.content #detalhaUsers a{width: 158px; height: 46px; display: block; position: absolute; right: 0; top: 20px; text-decoration: none; font: bold 17px/46px Arial; color: #000; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; text-align: center;}
.content #detalhaUsers a.tipo_1{background: #f7ae00;}
.content #detalhaUsers a.tipo_2{background: #f7ae00;}
.content #detalhaUsers a.tipo_3{background: #f7ae00;}

.content #detalhaUsers a.tipo_1:hover{background: #d39500;}
.content #detalhaUsers a.tipo_2:hover{background: #d39500;}
.content #detalhaUsers a.tipo_3:hover{background: #d39500;}

.content .maisviagens{width: 719px; height: 145px; background: #fff; margin: 25px auto;}

.content .maisviagens h5{width: 645px; height: 39px; background:#0e0e0e; font:19px/39px "HelveticaNeueBold"; color:#fff; text-align: left; padding-left: 74px;}
.content .maisviagens .leftPaises{width:52px; background: #396e9b; display: block; position: relative; float: left;}
.content .maisviagens .leftPaises .icone{width: 52px; height: 39px; display: block; background: url(../images/home/sprite-home.png) no-repeat -440px -505px #18476f; position: absolute; top: -39px; left: 0;}

.content .maisviagens .botoes-cad{width:596px; height:75px; display: block; margin: 13px auto 0 auto;}
.content .maisviagens .bg-bt{width: 178px; height: 74px; background: none;}
.content .maisviagens .bg-bt.p01{float: left;}
.content .maisviagens .bg-bt.p01 span{color:#ffd2db;}
.content .maisviagens .bg-bt.p02{margin:0 auto;}
.content .maisviagens .bg-bt.p02 span{color:#9ff7f6;}
.content .maisviagens .bg-bt.p03{float: right;}
.content .maisviagens .bg-bt.p03 span{color:#95caf0; padding-top: 20px;}
.content .maisviagens .bg-bt.p03 a{}
.content .maisviagens .bg-bt a{width: 100%; height: 64px; margin: 0 auto; font: 22px "HelveticaNeueBold"; color: white; display: block; text-decoration: none; text-align: center; padding-top:10px;}
/*.content .maisviagens .bg-bt a span{margin-left: 35px}*/
.content .maisviagens .bg-bt a p{padding: 10px 0 0 50px; line-height: 19px;}
.content .maisviagens .bg-bt a.vermelho{background-color: #E4385A; background-position: -220px -462px;}
.content .maisviagens .bg-bt a.vermelho:hover{background-color: #C0304C;}
.content .maisviagens .bg-bt a.verde{background-color: #06BCBB; background-position: -220px -533px;}
.content .maisviagens .bg-bt a.verde:hover{background-color: #239392;}
.content .maisviagens .bg-bt a.azul{background-color: #1767AA; background-position: -220px -391px;}
.content .maisviagens .bg-bt a.azul:hover{background-color: #13548B;}

.content .titlemural {display: block; margin: 0 auto 29px auto; height: 10px; width: 100%;}
.content .titlemural h5{width: 695px; height: 39px; background: #0e0e0e; font: 19px/39px "HelveticaNeueBold"; color: #fff; text-align: left; padding-left: 24px; margin: 0 auto;}
.content .mural{width: 719px; background: #EFEFEF; margin: 0 auto 15px auto; position: relative; z-index: 999;}
.content .mural .content{width:100%;margin:0;}
.content .mural .hr{width:98%; height:2px; background: url(../images/minhas-viagens/sprite.png) no-repeat -48px -989px; margin:10px auto; display: block;}
.content .mural .post{width: 658px; min-height: 95px; margin: 15px auto; display: block; position: relative; border: 2px solid #d6d6d6; background: #fff; padding: 10px;}
.content .mural .post .txtpost{width: 650px;}
.content .mural .post .txtpost h4{font:10px Arial; color:#fff; padding: 5px; margin:0 10px 0 0; background: #025ca7; display: block; float: left;}
.content .mural .post .txtpost p{font:12px/25px Arial; color:#333333; float:left; position: absolute; top: 0; right: 10px;}
.content .mural .post .txtpost p span{font: bold 12px/25px Arial; color: #333333;}
.content .mural .post .txtpost div.titulo{font: 15px "HelveticaneueBold"; color: #333333;}
.content .mural .post .txtpost div.tags{width: 520px; display: block;}
.content .mural .post .txtpost div.tags span{float: left; display: inline; padding: 8px; display: block; height: 10px; background: #ababab; font: bold 12px/10px Arial; text-align: center; color: #fff; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; margin: 0 3px;}
.content .mural .post .txtpost a{font: 21px Arial; color: #025ca7; font-weight: bold; text-decoration: none; width: 650px; display: block; margin: 6px 0;}
.content .mural .post .txtpost .excluir{float:right; width:10px; height:9px;}

.content .mural .post .resposta{position: absolute; bottom: 0; right: 10px;}
.content .mural .post .resposta p{width:126px; background: url(../images/minhas-viagens/bg_respostas.jpg) no-repeat left top #133278; display: block; font:bold 12px/34px Arial; color:#fff; text-align: center; text-decoration: none; cursor:pointer;}
.content .mural .post .resposta a:hover{color:#fff; text-decoration: underline;}

/*.mural .content .post .container-respostas{width:577px; overflow:hidden; background: url('../images/bg-respostas.png') no-repeat top left; margin:10px 0 0 0;}*/
.mural .content .post .container-respostas{width: 517px; overflow: hidden; background: url('../images/bg-respostas.png') no-repeat top left; margin: 36px 0 0 0;}
.mural .content .post .container-respostas h2{font: 12px 'Arial'; color: #025ca7; height:28px; top: 8px; left: 10px; position:relative; font-weight:bold;}
.mural .content .post .container-respostas .respostas-1{border-top: 1px solid #efefef; background: #e5e5e5; padding: 5px;}
.mural .content .post .container-respostas .respostas-1 .foto{float:left; width:34px; height:34px; margin-right: 5px;}
.mural .content .post .container-respostas .respostas-1 .foto img{width:34px; height:34px;}
/*.mural .content .post .container-respostas .respostas-1 .container{float:left; width: 515px;}*/
.mural .content .post .container-respostas .respostas-1 .container{float:left; width: 465px;}
.mural .content .post .container-respostas .respostas-1 .container .nome{float:left; color: #272821; font: 12px 'Arial'; margin-right: 5px; width:525px;}
.mural .content .post .container-respostas .respostas-1 .container span{color: #272821; font: 12px 'Arial';}
.mural .content .post .container-respostas .respostas-1 .container .data{color: #272821; font: 12px 'Arial';}
.mural .content .post .respostas-2{border-top: 1px solid #efefef; background: #e5e5e5; padding: 5px 5px 0 5px; width:567px; display: none;}
.mural .content .post .respostas-2 .foto{float:left; width:34px; height:34px; margin-right: 5px; background: #d0d7e5;}
.mural .content .post .respostas-2 .foto img{width:34px; height:34px;}
.mural .content .post .respostas-2 .text{float:left; width:515px; min-height:38px;}
.mural .content .post .respostas-2 .text textarea{width:513px; height:38px; border:1px solid #c3c3c3; margin:0; padding:0; overflow:hidden;}

#pager {margin: 10px 0 10px 0; background: url(../images/minhas-viagens/bg_pagination.png) repeat-x 0 0 #2e2e2e; width: 100%; height: 40px; }
#pager .page{text-align: center; margin:0 auto;}
#pager a {width: 90px; height: 20px; font-family: arial; font-size: 12px; color: #333333; font-weight: bold; text-decoration: none;}
#pager .right {float: right; background: url(../images/minhas-viagens/sprite_pagination.png) no-repeat 0 0; text-align: right; width: 24px; height: 24px; display: block; overflow: hidden; text-indent: -999px;}
#pager .left {float: left; background: url(../images/minhas-viagens/sprite_pagination.png) no-repeat 0 0; text-align: right; width: 24px; height: 24px; display: block; overflow: hidden; text-indent: -999px;}
#pager .position {text-align: center; color: #666666; font-family: arial; font-weight: bold; width: 40px; margin: 0 0 0 30%; display: block; float: left;}
#pager .position b{color: #2db7b5;}

/*footer*/
/*.footer{width: 100%; height: 189px; background: url(../images/bg-footer.png) no-repeat top center; position: relative; bottom: 0; z-index: 2;}*/
.footer{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 0px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#000; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #000; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1; display:none;}

.pin_quero{width: 25px; height: 34px;background: url(../images/rosa.png) no-repeat;}
.pin_vou{width: 25px; height: 54px;background: url(../images/verde.png) 0 10px no-repeat;}   
.pin_fui{width: 35px; height: 34px;background: url(../images/azul.png) 10px 0 no-repeat;}

.respostas-1 .container{position:relative;}
.respostas-1 .container .fechar{
position: absolute;
text-indent: -99999px;
width: 10px;
height: 9px;
background: url(../images/bt-fechar-topico.png) no-repeat 0 0;
right: -4px;
top: -5px;
z-index: 999;
}