.page-busca .boxIcon {width: 34px; height: 25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
.page-busca .boxcolor {background-color: #fc581d;}
.page-busca .boxTitle {min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center; float: left;}
.page-busca .icone {background-position: -415px -11px;}

.page-busca  p{font:bold 12px/56px Arial; color: #000; text-transform: uppercase;}
.page-busca  p span{color: #005aab;}

.page-busca .content dl dd{width:964px; height:182px; display: block; background: url(../img/busca/bg_dd.jpg) no-repeat right bottom #ececec; position: relative; margin: 23px 0;}
.page-busca .content dl dd .borda{width:588px; height:9px; background: #c1c1c1; position: absolute; top: 0; left: 13px;}
.page-busca .content dl dd .image{width:121px; height:103px; display: block; background: #fc581d; margin: 38px 0 0 30px; float: left;}

.page-busca .content dl dd .title a{font:bold 14px Arial; color: #555555; float: left; padding: 40px 10px 0px 25px; text-decoration: none;}
.page-busca .content dl dd .title a:hover{font:bold 14px Arial; color: #555555; float: left; padding: 40px 0 0 25px; text-decoration: underline;}

.page-busca .content dl dd .body{float: left; font: 13px/19px Arial; color: #555555; width: 760px; padding-left: 25px;}
/*.page-busca dl dd .link{float: left; display: none;}*/
.page-busca .content dl dd .image img{ width:121px; height:103px; margin:-12px 0 0 12px;}
.page-busca .content dl dd .linha{width:945px; border-bottom: 1px dashed #ccc; height: 2px; position: absolute; bottom: 24px; left: 10px;}