#master {background:url("../img/bg-clipping-interna.png") no-repeat 50% -7px;}


/*.clipping{float: left;width: 558px;}
.field-name-field-subtitulo{color: #333333; font: bold 12px/35px Arial;}
	
.field-name-field-clipping-data{color: #333333;
    font: 12px/24px Arial;
    padding: 0 0 25px;}

.field-items p {
    color: #333333;
    font: 12px/24px Arial;
    text-align: justify;
}

.field-name-field-clipping-imagem{float: right;
    height: 152px;
    margin: 0 0 0 20px;
    overflow: hidden;
    width: 212px;}
	
.block.block-views.contextual-links-region {
    float: right;
    width: 322px;
	background-color: #DBDBDB;
    height: 781px;
    top: -8px;
    width: 351px;
}

#content h4{ color: #07BDBC !important;
    font: bold 24px/20px 'HelveticaNeue' !important;}
	
.views-field-title a{
	color: #555555;
    font: 15px 'HelveticaneueBold' !important;
    text-decoration: none;padding-left:15px;
}

.field-content{
	color: #555555;
     font: 13px/17px Arial !important;
}

.views-field-field-clipping-data {
    background: url("../img/sobre/bg-data-sobreie.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-family: 'HelveticaneueBold';
    font-size: 14px;
    height: 31px;
    width: 52px;
	margin-top:5px;
}

.views-field-field-clipping-data .date-display-single{
	color: #FFFFFF;
    font-size: 16px;
    padding: 9px 0 0 2px;
    position: absolute;
}

.views-field-field-clipping-data .date-display-single strong{padding-left:2px;}

.view-id-clippings_interno {
    border-bottom: 1px dotted #B1B1B1;
    height: 32px;
    left: 20px;
    margin: 20px auto 0;
    padding: 0 0 15px;
    position: absolute;
    width: 90%;
}

.views-field-field-subtitulo .field-content{left: 69px; position: absolute;}*/

.clipping h4{ color: #07BDBC !important;
    font: bold 24px/20px 'HelveticaNeue' !important;}

.clipping{width:600px; float:left; margin-top:27px;}
.bloco-clippings{width:330px; float:right; background: #ebebeb; position:relative; margin-top: 40px;}
.bloco-clippings .fltlft{position: relative; top: -13px;}
.bloco-clippings h2{display: none;}
.bloco-clippings .views-row{width: 90%; margin: 0 auto; border-bottom: 1px dotted #b1b1b1; padding: 0 0 10px 0; min-height: 70px; margin-top: 15px;}
.bloco-clippings .views-row .views-field-field-clipping-data{float:left; background: url(../img/sobre/bg-data-sobreie.png) no-repeat 0 0; color:#fff; font-family: 'HelveticaneueBold'; font-size: 14px; width:52px; height:31px;}
.bloco-clippings .views-row .views-field-title{float:left; width: 180px; margin-left: 10px;}
.bloco-clippings .views-row .views-field-title span a{font: 15px 'HelveticaneueBold' !important; color: #555555; text-decoration: none; -moz-transition: 0.4s; -webkit-transition: 0.4s; -o-transition: 0.4s;}
.bloco-clippings .views-row .views-field-title span a:hover{color:#777;}
.bloco-clippings .views-row .views-field-field-subtitulo {margin-left: 11px; height: 20px; width: 180px; /*font: 15px 'HelveticaneueBold' !important;*/
 font: 13px/17px Arial !important; overflow: hidden; float: left; color:#555555;}
.bloco-clippings img{position:absolute; right:0; bottom:-13px; width:100%;}
.bloco-clippings .view-footer{width: 86%; margin: 15px auto 0 auto; background: #f2f2f2; padding: 10px 0 10px 0; position:relative;}
.bloco-clippings .view-footer p{text-align:center; color: #555555;}
.bloco-clippings .view-footer p a{text-align:center; font: 15px 'HelveticaneueBold' !important; color: #555555;}
.bloco-clippings .view-footer span{display: block; background: #ebebeb; width: 21px; height: 21px; text-indent: -99999px; position: absolute; bottom: 0; right: 0;}
.bloco-clippings .views-field-field-clipping-data div{padding-top:8px;}
.bloco-clippings .date-display-single{padding: 0 0 0 6px; font-size:16px;}
.bloco-clippings .date-display-single strong{padding: 0 0 0 3px; font-size: 9px; text-transform: uppercase;}

.field-name-field-clipping-imagem{float:right;height: 152px;
    margin: 0 0 0 20px;
    overflow: hidden;
    width: 212px;}
	
.field-type-text-with-summary{text-align:justify;}
.field-name-field-subtitulo{color: #333333;
    font: bold 12px/35px Arial;}
.field-name-field-clipping-data{color: #333333;
    font: 12px/24px Arial;
    padding: 0 0 25px;}
	
.icone {
    background-position: -132px -11px;
}

.field-name-field-clipping-arquivo {
    margin: 20px 0 0;
}

.voltar_clippings{
    color: #FC581D !important;
    display: block !important; float:left; width:auto;
    font: bold 13px/24px Arial !important;
}

.voltar_clippings:hover{text-decoration:underline;}

.voltar_clippings span {
    background: url("../img/sprite_global.png") no-repeat scroll -209px -248px transparent;
    display: block;
    float: left; text-indent:-999em;
    width: 24px; height:24px;
}

.baixar{ color: #FC581D !important;
    display: block !important; float:right; width:295px;
    font: bold 13px/24px Arial !important; /*text-align:right;*/ background: url("../img/sprite_global.png") no-repeat scroll -322px -244px transparent;
	 padding-left: 20px;
    position: absolute;left: 510px;}
	
.baixar:hover{text-decoration:underline;}

h3 {
    color: #FC571D !important;
}