.page-node-43 #master{background:url(../img/conhecer/bg-conhecer.png) no-repeat 50% 17%;}
.page-node-41 #master{background:url(../img/bg-ie_explorer_interna.png) no-repeat 50% 18.8%;}

/*BOX 1 COLUNA*/
#box1col{width:288px; display: block; float: left; margin: 5px 0;}
#box1col .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1col .icone{background-position:0px -11px;}
#box1col .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -180px -61px;}
#box1col .boxcolor{background-color:#e4b615;}
#box1col .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1col .boxBar{width:34px; background: #a78510;}
#box1col .box{width:254px; background: #e4b615; position: relative; overflow: hidden;}
#box1col .box h4{padding: 25px 0 0 21px; color:#000;}
#box1col .box p{width:85%; margin:0 auto; text-align: justify; color:#000;}
#box1col .box p.text{height:165px; overflow:hidden;}
#box1col .box .detail{position: absolute; top: 5px; left: 5px;}


/*BOX 2 COLUNAS*/
#box2col{margin:18px 0 0 30px;}
#box2col h5 {padding: 35px 0 20px 21px; color:#ff4400;}

/*BOX 3 COLUNAS*/
#box3col{margin:50px 0 0 31px}
#box3col h5{padding: 35px 0 20px 21px; color:#a78510;}

/*BOX MAPA*/
#boxMap{background: url(../img/estudar/shutter-map.jpg)no-repeat; width: 911px; height:442px; float:left; margin: 10px 0 0 31px;}

/* BOTAO LINK */
.boxlink {width: 190px; height: 42px; display: block; background: #E7E7E7; padding: 7px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; margin: 20px 0 0 20px;}
.boxlink .bt {width: 100%; height: 100%; display: block; background: black; cursor: pointer; font: 14px/42px 'HelveticaneueBold'; color: white; text-align: center; text-decoration: none; text-transform:none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; }
.bt:hover{background: #414141;}

h3{color: #e4b615 !important;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo{background-position: -323px -265px;}
#iexplorer .boxcolor{background-color:#e4b615;}

/*PÁGINA DE MOCHILÕES*/
.page-node-41 #box1col .boxBar{height:277px;}
.page-node-41 #box1col .box{height:277px;}
.page-node-41 #box2col p {padding-left:21px; padding-right:21px; width:auto;}
.page-node-41 .boxlink {width:auto; height:auto; display:block; background:#e7e7e7; padding:7px; margin:0; position:absolute; bottom:26px; left:4px;}
.page-node-41 .boxlink a.link {width:auto; height:auto; font-size:15px; line-height:18px; padding:15px 30px; text-transform:none;}
.view-mochiloes-destaques-pagina .views-field-field-mochiloes-imagem img {padding:20px 0 40px 30px;}
.view-mochiloes-destaques-pagina .views-field-field-mochiloes-video {position:relative;}
.view-mochiloes-destaques-pagina .views-field-field-mochiloes-video .field-content {position:absolute; top:-895px; left:40px;}
.view-mochiloes-destaques-pagina .views-field-field-mochiloes-mapa {margin-left: 30px;}


/*GALERIA DE DESTINOS DOS MOCHILÕES*/
.galeria03{width:662px; height:278px; background: url(../img/estudar/bg_galeria-3-mochilao.png) no-repeat 10px 0; border: none; float: left; position:relative; margin:30px 0 0 10px; padding:0;}
.galeria03 .titulo{color: #e4b615; display: block; margin-bottom: 10px; font: 25px/72px 'Helveticaneue'; padding-left: 24px;}
.galeria03 ul{width: 99999px; height: auto; margin-left: 5px; float: left;} 
.galeria03 ul li{width: 116px; height: 158px; display: block; display: inline-block; float: left; margin:0 4px 20px; padding: 0; overflow: hidden; position: relative; cursor: pointer; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;} 
.galeria03 ul li:hover{opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7;  filter: alpha(opacity=70);} 
.galeria03 ul li img{width: 100%; height: 100%; border:0; display: block;}
.galeria03 ul li .title_curso{height: 40px; overflow: hidden; background-color: #2d2d2d; position: absolute; bottom: 0; width: 100%; padding: 4px 0 0 0; font: 10px/15px Arial, Helvetica, sans-serif; color: #fff; text-transform: uppercase; text-align: center;}
.galeria03 ul li:hover .title_curso{color: yellow;}
.galeria03 ul li.ativo{border-bottom: 20px solid #e4b615; margin-bottom:0;}
.galeria03 a.btRight{right: 7px !important;}

.galeria03 .mCSB_horizontal .mCSB_scrollTools a+.mCSB_draggerContainer {display:none;}
.galeria03 .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {position:absolute; width:14px; height:27px; opacity:1; margin:0;}
.galeria03 .mCSB_scrollTools .mCSB_buttonLeft {background:url(../img/sprite-seta-galeria.png) no-repeat 0 0; bottom:98px; left:0;}
.galeria03 .mCSB_scrollTools .mCSB_buttonLeft:hover {background:url(../img/sprite-seta-galeria.png) no-repeat -1px -27px;}
.galeria03 .mCSB_scrollTools .mCSB_buttonRight {background:url(../img/sprite-seta-galeria.png) no-repeat -14px 0; bottom:98; right:-10px;}
.galeria03 .mCSB_scrollTools .mCSB_buttonRight:hover {background:url(../img/sprite-seta-galeria.png) no-repeat -14px -28px;}

/*LISTAGEM*/
#block-block-9{float: left; width: 960px;}
.view-mochiloes-destaques-pagina{float: left;}
.view-mochiloes-destaques-pagina .views-field-body .col01 iframe{margin: 9px auto; display: block;}
.view-mochiloes-destaques-pagina .views-row{display: none;}
.view-mochiloes-destaques-pagina .views-field-field-mochiloes-video{display: none;}
.view-mochiloes-destaques-pagina .views-field-nid{display: none;}
.view-mochiloes-destaques-pagina .views-field-title{display: none;}
.view-mochiloes-destaques-pagina .views-field-field-mochiloes-imagem{display: none;}
.view-mochiloes-destaques-pagina .views-field-field-embed-mapa{margin-left: 30px;}
.view-mochiloes-destaques-pagina .views-field-field-embed-mapa iframe {margin-top:20px;}

/*Galeria principal*/
.galeriaPrincipal{width: 634px; height: 301px; display: block; float: right; margin-top: 71px;}

.galeriaPrincipal .link{width: 78px; height: 26px; display: block; background: #e7e7e7; margin: -20px 0 0 6px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; float: left; position: relative; z-index: 9999;}
.galeriaPrincipal .link a{width: 70px; height: 20px; display: block; background: #1b1b1b; font:10px/20px Arial; color: #fff; text-align: center; margin: 3px auto; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;}
.galeriaPrincipal .link a:hover{background: #bdb9b9;}
.galeriaPrincipal .link a.ativo{background: #898989;}

.galeriaPrincipal .galerytitle {width: 118px; height: 26px; display: block; background: url(../img/sprite_global.png) no-repeat 0px 0px; overflow: hidden; text-indent: -999px; float: left;}
.galeriaPrincipal .fotored {background-position: -298px -112px;}
.galeriaPrincipal .videored {background-position: -1214px -112px; display: none;}
.galeriaPrincipal p.title {font:37px/30px "Helveticaneue"; color:#EC5900; position: absolute; top: 70px; right: 118px;}
.galeriaPrincipal p.subtitle {font:18px/16px "Helveticaneue"; color:#000; position: absolute; top: 92px; right: 189px;}

#block-block-15{width: 638px; position: absolute; top: 0; right: 0;}

#block-block-15 .view-experiencias-sem-filtro-por-pais{width:388px; height:301px; display: block; margin: 75px 0 0 0; background: url(../img/bg_galeria_experiencia.png) no-repeat -4px -1px; float: right; position: relative; overflow: hidden;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .view-content{width:3000px; height:301px; display: block; position: relative;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row{width:388px; height:301px; display: block; float: left;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-body{}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-body p{font: 12px/20px Arial; color: #5a5a5a; width: 170px; text-align: right; float: right; padding: 70px 18px 0 0; height: 178px; overflow: hidden;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-field-experiencias-imagem{width: 154px; height: 176px; display: block; overflow: hidden; float: left; margin: 88px 0 0 42px;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-field-experiencias-imagem img{display: block; width: 100%; height: auto; border: 0;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing{width: 260px; clear: both; position: relative; top: -10px; z-index: 999;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing .field-content{padding: 0;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing p{font: 16px Arial; color: #fff; padding: 5px 0 0 50px;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing span{font: 12px Arial; color: #ef3b5b; padding: 5px 0 0 50px;}

#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias{width:393px; height:47px; background: url(../img/bg_navegacao_experiencias.png) no-repeat 0 0; position: absolute; bottom: 0; right: 0; z-index: 99;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao{height: 15px; width: 80px; float: right; margin: 16px 27px 0 0;}

#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .bullet{width: 13px; height: 13px; display: block; background: url(../img/sprite_global.png) no-repeat -13px -251px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .bullet:hover{background-position:-33px -251px;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .ativo{background-position:-52px -251px; cursor: default;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .ativo:hover{background-position:-52px -251px; cursor: default;}

#block-block-15 .view-fotos-sem-filtro-por-pais .thumbImage{width:100%; height:75px; display: block; position: absolute; bottom: 1px;}
#block-block-15 .view-fotos-sem-filtro-por-pais .thumbImage img{width:80px; height:58px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}

#block-block-15 .view-videos-sem-filtro-por-pais .thumbVideos{width:100%; height:75px; display: block; position: absolute; bottom: 1px;}
#block-block-15 .view-videos-sem-filtro-por-pais .thumbVideos img{width:80px; height:58px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}

#block-block-15 .view-fotos-sem-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-15 .view-fotos-sem-filtro-por-pais .views-row{display: none; position: absolute; top: 0; left: 0;}
#block-block-15 .view-fotos-sem-filtro-por-pais .views-field-field-fotos-imagem img{width: 283px; height: 204px; display: block; border: 0; position: relative; z-index: 999999;}
#block-block-15 .view-fotos-sem-filtro-por-pais .views-field-nothing{margin-top: 10px;}

#block-block-15 .view-videos-sem-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-15 .view-videos-sem-filtro-por-pais .views-row{display: none;}
#block-block-15 .view-videos-sem-filtro-por-pais .views-field-nothing{margin-top: 5px;}

/*Scroll*/
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {bottom: 4px;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {height: 11px; width: 99%;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {margin: 8px auto;}
.mCSB_dragger{width: 23px !important; height: 11px;}
.mCSB_dragger_bar{background: url(../img/dragger.png) no-repeat -5px -1px transparent !important; opacity: 1; height: 11px !important;}
.mCSB_scrollTools .mCSB_draggerRail{background: #fff; border: 1px solid #ccc;}