#master {background:url(../img/bg-seguro.png) no-repeat 50% -7%;}
/*BOX 1 COLUNA*/
#box1col {width:322px; display:block; float:left; margin:5px 0;}
#box1col .boxIcon {width:34px; height:25px; display:block; background:url(../img/sprite_global.png) no-repeat 0 0; float:left;}
#box1col .icone {background-position:0px -11px;}
#box1col .detail {width:19px; height:19px; display:block; background:url(../img/sprite_global.png) no-repeat -180px -61px;}
#box1col .boxcolor {background-color:#e4b615;}
#box1col .boxTitle {min-width:84px; height:25px; background:#000; font:10px/25px Arial; color:#fff; text-transform:uppercase; text-align:center;}
#box1col .boxBar {width:34px; height:371px; background:#a78510;}
#box1col .box {width:287px; height:371px; background:#e4b615; position:relative; overflow:hidden;}
#box1col .box h4 {padding:25px 0 0 21px; color:#000;}
#box1col .box p {width:85%; margin:0 auto; text-align:justify; color:#000;}
#box1col .box .detail {position:absolute; top:5px; left:5px;}

#box1colnobar .box {height:316px; width:297px;}
#box1colnobar {width:331px;}
#box2colsmall {height:316px; margin-top:30px; background:none;}

#box2colsmall .col01, #box2colsmall .col02 {width:297px; margin-left:19px;}

.page-node-39 #box2colsmall {width:634px;}
#box1colnobar .boxBar {height:340px;}
#box1colnobar .boxcolor {background-color:#e4b615;}
	
#box1colnobar .icone {background-position:-44px -11px;}

#boxfull2colbig ul li {background-position: 0 5px;}
ul li {background:url(../img/seta-li-amarela.png) no-repeat scroll 0 0;}

#boxfull2colbig {margin-left:32px;}

#boxfull2colbig h5 {color:#fc581d;}

#boxfull2colbig .col02 {background:url(../img/bg-box-seguro2.png) no-repeat 25px 15px;}

#boxfull2colbig h5.pl210 {padding-left: 163px; width: 280px;}
#boxfull2colbig p.pl210 {padding-left:150px; width: 270px;}

#boxfull2colbig .pt150 {padding-top:30px;}
#boxfull2colbig .col02 .primeiralista {margin-left: 140px !important; width: 310px !important;}
#boxfull2colbig .boxlink {width: 326px; height: 57px; margin-left: 65px; position: relative; bottom: 0; left: 0;}


#boxfull2colbig .line {border-bottom:1px solid #CACACA; height:0; margin:290px auto 20px; width:247px;}

h3 {color:#e4b615 !important;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo {background-position:-323px -285px;}
#iexplorer .boxcolor {background-color:#e4b615;}

/*PÁGINA CIDADES INTERNA*/
.node-cidades .boxIcon {width:34px; height:25px; display:block; background:#e4b615 url(../img/sprite_global.png) no-repeat -44px -12px; float:left;}
.node-cidades .field-name-field-cidades-cidade {display:inline-block; float:left;}
.node-cidades .field-name-field-cidades-cidade .field-item {float:left; min-width:84px; height:25px; background-color:black; font:10px/25px Arial; color:white; text-transform:uppercase; text-align:center;}
.node-cidades .field-type-image {float:left; margin-left:19px; width:297px; height:316px; position:relative;}
.node-cidades .field-type-image img {width:297px; height:316px;}
.node-cidades .field-name-field-cidades-imagem-1 {clear:both; margin-left:34px !important;}
.node-cidades .field-name-field-cidades-imagem-1 .espaco2 {width:0; height:0; border-top:30px solid #f7f7f7; border-left:30px solid transparent; position:absolute; top:0; right:0;}
.node-cidades #boxfull2colbig {margin-top:45px; height: 530px;}
.node-cidades #boxfull2colbig .line {margin-top:50px;}