.page-node-58 #master {background:url(../img/bg-conhecer-pais.png) no-repeat 605px 910px;}

/*BOX 1 COLUNA*/
#box1col{width: 322px; display: block; float: left; margin: 5px 0;}
#box1col .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1col .icone{background-position:0px -11px;}
#box1col .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -180px -61px;}
#box1col .boxcolor{background-color:#e4b615;}
#box1col .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1col .boxBar{width:34px; height:371px; background: #a78510;}
#box1col .box{width:287px; height:371px; background: #e4b615; position: relative; overflow: hidden;}
#box1col .box h4{padding: 25px 0 0 21px; color:#000;}
#box1col .box p{width:85%; margin:0 auto; text-align: justify; color:#000;}
#box1col .box .detail{position: absolute; top: 5px; left: 5px;}

#box1colnobar .box{height:316px; width:297px;}
#box1colnobar{width:331px;}

#box2colsmall{height:316px; margin-top:30px; margin-left: 11px;}
#box2colsmall h5 {padding: 30px 0 15px 30px; color:#fc581d;}


#box1colbig {width: 100%; height: 395px; display: block; float: left; margin: 5px 0; position: relative;}
#box1colbig .detail {width: 19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -77px -61px;}
#box1colbig h4 {padding: 20px 0 10px 21px; color:#e4b615;}
#box1colbig .box {width: 930px; height: 371px; background: transparent; position: relative; overflow: hidden;}
#box1colbig p {width: 100%; margin: 0; text-align: justify;}
#box1colbig p img {border: 0; margin-left: 20px;}
#box1colbig .legenda {position: absolute; bottom: 30px; right: 6px; width: 135px; height: 80px; background: #f6f6f6; padding-top: 7px;}
#box1colbig .legenda div{clear:both; padding: 2px 0 2px 8px;}
#box1colbig .legenda p {text-transform: uppercase; font: 10px 'Arial'; color: #000; padding: 2px 0 1px 8px; width: 108px; line-height: 17px;}
#box1colbig .legenda span {display:inline-block; width:20px; height:20px; background:#06b2b2; margin-right:7px; float:left;}
#box1colbig .legenda .quem-vai span {background:#e8395b;}
#box1colbig .legenda .querer-ir span {background:#4289b9;}

#box1colnobar .boxBar{height:340px;}
#box1colnobar .boxcolor {background-color:#e4b615;}
#box1colnobar .boxTitle {min-width:124px; height:25px; background:black; font:10px/25px Arial; color:white; text-transform:uppercase; text-align:center;}
#box1colbig .icone { background-position:-44px -12px;}
#box1colbig .boxcolor {background-color:#e4b615;}
#box1colbig .boxBar {width:34px; height:361px; background:#e4e4e4;}
#box1colnobar .detail {width: 19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -144px -61px;}
#box1colnobar .box h4 { padding: 25px 0 0 21px;}
#box1colnobar .box { width: 287px; height: 371px; background: #ebebeb; position: relative; overflow: hidden; }

.boxlink {width: 155px; height:62px; display: block; background: /*#e7e7e7*/#aaa; padding: 7px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; margin:10px 0 0 20px;}
.col02 p .link {width: 100%; height: 30px; display: block; background: #000; cursor: pointer; font: 14px/22px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none; text-transform: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; padding-top:8px;}

h3{color: #e4b615 !important;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo{background-position: -323px -285px;}
#iexplorer .boxcolor{background-color:#e4b615;}

.field-name-body{float: left; width: 100%;}
.field-name-field-paises-saiba-mais{float: right; margin-top: -406px; position: relative;}
.field-name-field-paises-saiba-mais .field-label{display: none;}
.field-name-field-paises-continente{display: none;}

#box1colbig{height:auto;}
#box1colbig .boxcolor {background-color: #e4b615;}
#box1colbig .boxBar {height: 365px;}
#box1colbig .detail {top: 30px;left: 40px;}
#box1colbig h4 { padding: 25px 0 10px 54px; color: #e4b615; font-weight: bold;}


#box2colsmall02 { height: 369px; }

#box2colsmall02 .boxcolor {background-color: #e4b615;}
#box2colsmall02 .col01 { height: 370px; }
#box2colsmall02 .col02 {background-color:#ebebeb; height: 370px; position: relative;}
#box2colsmall02 h5 { padding: 30px 0 15px 15px; margin-top: -25px; color: #fc581d;}
#box2colsmall02 .link {width: 85%;position: absolute;bottom: 10px;right: 17px;}

#block-block-12 {display:none;}

.flex-viewport {width: 340px;height: 294px;}
.flex-control-nav {right: 9px; top: 320px;}
.view-cidades{margin: 20px 0 0 15px;}
.view-cidades .view-content{width: 345px !important;}
.view-cidades .views-row{width: 155px !important; height: 133px !important; margin: 7px; float: left; display: inline-block; overflow: hidden; position: relative;}
.view-cidades .views-row .views-field-field-cidades-imagem-1{}
.view-cidades .views-row .views-field-field-cidades-imagem-1 img{width: 100%; height: 100%; margin-top: -15px;}
.view-cidades .views-row .views-field-title{width: 100%; height:32px; position: absolute; bottom: 0; background: #2d2d2d; text-align: center; overflow: hidden;}
.view-cidades .views-row .views-field-title a{font: 10px/35px 'Helveticaneue'; letter-spacing: 1px; color:#fff; text-transform: uppercase; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.view-cidades .views-row .views-field-title a:hover{color:#e4b615;}

#block-views-mochiloes-block{float: right;}
#block-views-mochiloes-block h2{display: none;}
#block-views-mochiloes-block #box1colnobar {width: 295px; height: 337px;}
#block-views-mochiloes-block #box1colnobar .box{width: 261px; height: 300px; background: url(../img/bg_galeria.jpg) no-repeat !important; padding-top: 20px; border: none !important; border-radius: 0 !important; position: relative; top: 0; z-index: 0; top:-8px;}
#block-views-mochiloes-block #box1colnobar .boxTitle {position: relative; z-index: 99;}
#block-views-mochiloes-block #box1colnobar .boxcolor {background-color: #027d9b;}

.view-mochiloes{float: left; width: 295px; overflow: hidden; position: relative;}
.view-mochiloes .navegacao{height: 20px; display: block; position: absolute; bottom: 0; text-align: center; left: 50%;}
.view-mochiloes .navegacao .bullet{width: 9px; height: 9px; display: block; background: url(../img/sprite_global.png) no-repeat -92px -255px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
.view-mochiloes .navegacao .bullet:hover{background-position:-104px -255px;}
.view-mochiloes .navegacao .ativo{background-position:-116px -255px;}
.view-mochiloes .navegacao .ativo:hover{background-position:-116px -255px;}

.view-mochiloes .view-content{width: 1000px; height: 292px; margin: -298px 0 0 34px; float: left; position: relative;}
.view-mochiloes .view-content .grupo{width: 261px; height: 292px; float: left; position: relative;}
.view-mochiloes .view-content .views-row{width:236px; height:53px; display: block; margin: 0 auto 20px auto; display: none;}
.view-mochiloes .view-content .views-row .views-field-field-mochiloes-imagem{width:80px; height:53px; float: left; margin-right: 7px;}
.view-mochiloes .view-content .views-row .views-field-field-mochiloes-imagem img{width:100%; height:100%; border: 0;}
.view-mochiloes .view-content .views-row .views-field-title {width:145px; float: left;}
.view-mochiloes .view-content .views-row .views-field-title a{font:14px "helveticaneue"; color: #fff; text-decoration: none;}
.view-mochiloes .view-content .views-row .views-field-title a:hover{text-decoration: underline;}
.view-mochiloes .view-content .views-row .views-field-nothing {width:145px; font:12px/16px Arial; color:#eee8e8; float: left;}

.field-name-body #box1colbig{display:none;}

/*TEMPORÁRIO PARA DESENVOLVIMENTO*/
/*.page-node-154 #block-views-mochiloes-block {display:none;}*/



/* ---------------INICIO FORM FALE-CONOSCO CONHECER-------------------- */
.submitted {display:none;}
#content{width: 965px; margin: 0 auto;}
#block-system-main .content{float: left; width: 100%;}


#box1colbig .boxcolor{background-color: #fc581d;}

#box1colbig h4{color:#fc581d;}
#box1colbig .boxBar{background:#e4e4e4;}

#box1colbig .detail {background: url("../img/sprite_global.png") no-repeat scroll -78px -61px transparent; display: block;height: 19px;width: 19px;}

#franqueado{color:#07bdbc;}
#trab_conosco{color:#ef3b5b;}
#qualidade_ie{color:#e4b615;}

.seta{background:url("../img/sprite_setas_menu.png") no-repeat -5px 1px; display:block; width:23px; height:43px; float:right; position:relative; top:-60px; right:10px;}
.s_franqueado{background-position: -40px 1px;}
.s_qualidade{background-position:-75px 1px;}


/* BOX DO FORM */


#webform-client-form-169 {float:left; width:520px; color:#474747; font:13px Arial; margin: -430px 0 0 57px; position:relative;}

/* OCULTA TÍTULO PADRÃO DO BLOCO */
#webform-client-block-169 h2{display:none;}

/* TIRA NEGRITO DOS LABELS */
#webform-client-block-169 label{font-weight:normal;}

/* ESTILOS INPUT E SELECT*/
.form-text, .form-select{background:#f6f6f6; border:1px solid #e4e4e4; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; width: 334px; height: 18px; padding: 5px;}
.form-select{padding:5px; width:346px; height: 30px;}


/* RESETA FIELDSET TELEFONE*/
fieldset{margin:0; padding:0;}

/* RESETA DIVS */
.form-item{margin:0; padding:0;}
fieldset span.field-prefix{position: absolute; z-index: 99; font: 13px Arial; color: #c7c7c7; font-style: italic;}
div span.field-suffix{position: absolute; z-index: 99; font: 13px Arial; color: #c7c7c7; font-style: italic;}
.error{border: 1px solid red !important;}
input[type=checkbox].error{background:#fff !important;}
div.messages{display: none;}

/* CAMPO NOME */
#webform-component-nome{width:100%; position:relative; height:36px;}
#webform-component-nome label{position:absolute; top:4px; right:350px;}
#webform-component-nome label span{display:none;}
#webform-component-nome input{position:absolute; top:0; right:0;}
#webform-component-nome span.field-suffix{top: -20px; left: 177px;}

/* CAMPO E-MAIL */
#webform-component-email{width:100%; position:relative; height:36px;}
#webform-component-email label{position:absolute; top:4px; right:350px;}
#webform-component-email label span{display:none;}
#webform-component-email label.error{right: -6px; top: 8px; position: absolute;} 
#webform-component-email input{position:absolute; top:0; right:0;}

/* CAMPO TELEFONE */
#webform-component-telefone-box{width:100%; position:relative; height:36px;}
#webform-component-telefone-box legend{position:absolute; top:5px; right: 362px;}
#webform-component-telefone-box input#edit-submitted-telefone-box-ddd-telefone{position:absolute; top:0; right:260px; width:74px;}
#webform-component-telefone-box input#edit-submitted-telefone-box-telefone{position:absolute; top:0; right:0; width: 240px; width:240px;}
#webform-component-telefone-box .field-prefix{top: 7px; left: 205px;}
#webform-component-telefone-box--telefone .field-prefix{top: 7px; left: 325px;}

/* CAMPO AGÊNCIA DE PREFERÊNCIA */
#webform-component-agencia-de-preferencia{width:100%; position:relative; height:36px;}
#webform-component-agencia-de-preferencia label{position:absolute; top:4px; right:350px;}
#webform-component-agencia-de-preferencia label span{display:none;}
#webform-component-agencia-de-preferencia select{position:absolute; top:0; right:0;}

/* CAMPO GOSTARIA DE SABER SOBRE */
#webform-component-gostaria-de-saber-sobre{height:100px; position:relative;}
#webform-component-gostaria-de-saber-sobre > label {position:absolute; top:4px; right:350px;}
#webform-component-gostaria-de-saber-sobre label span{display:none;}
#webform-component-gostaria-de-saber-sobre .form-checkboxes{position:absolute; left: 175px;}
#webform-component-gostaria-de-saber-sobre .form-checkboxes .form-item{display: block;}

/* CAMPO COMENTÁRIO */
#webform-component-comentario{position:relative; height:110px;}
#webform-component-comentario label{position:absolute; top: -1px; right: 365px;}
#webform-component-comentario label span{display:none;}
#webform-component-comentario .form-textarea-wrapper{position:absolute; top:0; right:0; width: 345px;}
#webform-component-comentario .form-textarea-wrapper textarea{background:#f6f6f6; padding:5px; border:1px solid #e4e4e4; height: 100px; resize: none; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; resize: none;}

/* CAMPO DESEJO RECEBER NOVIDADES */
#webform-component-receber-novidades{position:relative; height:16px; float: right; width: 345px;}

/* CAMPO BOTÃO ENVIAR */
#edit-actions{clear:both; position:relative; width:150px; height:40px; float:right; margin:20px 0 20px 0; display: block; background: #e7e7e7; padding: 7px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;}
#edit-actions input{width: 100%; height: 100%; display: block; background: #000; cursor: pointer; font: 14px/42px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none; text-transform: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;}
#edit-actions input:hover{background: #414141;}

/* BOX DO FORM */
#box1col{margin:0; width:600px;}
#box1col .box {width: 560px; height: 371px; background: none; position: relative; overflow: hidden;}
#box1col .detail {width: 19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -144px -61px;}
#box1col .boxBar {width: 34px; height: 595px; background: #e4e4e4;}
#box1col .boxcolor {background-color: #e4b615;}
#box1col .box h4 {padding: 25px 0 0 21px; color: #e4b615;}
#box1col .box p {width: 100% !important; margin: 5px 0 0 21px; text-align: justify;}

/* BOX PROCURAR AGÊNCIAS */
#procurar-agencias{width:330px; height: 380px; background: #ffffff; float:right; position:relative; display:block;}
#procurar-agencias .detail {width: 19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -77px -61px;}
#procurar-agencias .boxIcon {width: 34px; height: 25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 -11px; float: left;}
#procurar-agencias .boxcolor {background-color: #e4b615;}
#procurar-agencias .boxTitle {min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#procurar-agencias select{width:204px; background:#fff; border:1px solid #e4e4e4; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; height:30px; padding:5px; margin:10px auto 0px auto; display:block;}
#procurar-agencias .boxlink {width: 195px; height: 34px; display: block; background: #e7e7e7; padding: 7px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 
6px; margin: 20px auto;}
#procurar-agencias .bt {width: 100%; height: 100%; display: block; background: #000; cursor: pointer; font: 14px/36px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none;  text-transform: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;}
#procurar-agencias .bt:hover{background:#414141;}
#procurar-agencias h5{font-weight:bold; font: 16px 'Arial'; margin-bottom: 15px; margin-left:15px;}
#procurar-agencias  p{margin-left:15px;}
#procurar-agencias  p strong{margin-top:10px; display:block;}
#procurar-agencias .contato{width: 190px; float: left;}
#procurar-agencias .contato p a{color:#454545; font: 13px 'Arial';}
#procurar-agencias .ver-no-mapa{width: 121px; height:44px; background: url(../img/sobre/bt-ver-no-mapa.png) 0 0; float: right; margin-right:15px;}
#procurar-agencias .ver-no-mapa a{color:#fff; font: 11px 'Arial'; padding-left:35px; height: 15px; margin-top: 15px; display: block;}
#procurar-agencias .ver-no-mapa a:hover{color:#fc581d;}
#procurar-agencias .ver-no-mapa a span {background: url(../img/sprite_global.png) no-repeat 0 0; background-position: -747px -195px; padding: 3px 0px 0px 4px; margin-left: 8px;}
#procurar-agencias .ver-no-mapa a:hover span{background-position: -747px -168px;}
#procurar-agencias hr{margin: 0 10px 20px 10px; border:none; border-top: 2px dotted #292929;}

#iexplorer .boxcolor{background-color:#e4b615;}
/* ---------------FIM FORM FALE-CONOSCO CONHECER-------------------- */


.pin_quero{width: 25px; height: 34px;background: url(../img/rosa.png) no-repeat;}
.pin_vou{width: 25px; height: 54px;background: url(../img/verde.png) 0 10px no-repeat;}   
.pin_fui{width: 35px; height: 34px;background: url(../img/azul.png) 10px 0 no-repeat;}
#myMap{padding-left: 56px;}



/*Galeria principal*/
.galeriaPrincipal{width: 634px; height: 301px; display: block; top: 445px; position: absolute; left: -313px;}
/*.galeriaPrincipal span{width: 110px; height: 26px; display: block; background: url() no-repeat 0 0;}*/

.galeriaPrincipal .link{width: 78px; height: 26px; display: block; background: #e7e7e7; margin: -20px 0 0 6px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; float: left; position: relative; z-index: 9999;}
.galeriaPrincipal .link a{width: 70px; height: 20px; display: block; background: #1b1b1b; font:10px/20px Arial; color: #fff; text-align: center; margin: 3px auto; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;}
.galeriaPrincipal .link a:hover{background: #bdb9b9;}
.galeriaPrincipal .link a.ativo{background: #898989;}

.galeriaPrincipal .galerytitle {width: 118px; height: 26px; display: block; background: url(../img/sprite_global.png) no-repeat 0px 0px; overflow: hidden; text-indent: -999px; float: left;}
.galeriaPrincipal .fotored {background-position: -298px -112px;}
.galeriaPrincipal .videored {background-position: -1214px -112px; display: none;}
.galeriaPrincipal p.title {font:37px/30px "Helveticaneue"; color:#e4b615; position: absolute; top: 5px; right: 118px;}
.galeriaPrincipal p.subtitle {font:18px/16px "Helveticaneue"; color:#000; position: absolute; top: 26px; right: 189px;}

#block-block-16{width: 638px; float: left; position: relative;}

#block-block-16 .view-experiencias-com-filtro-por-pais{width: 388px; height: 301px; display: block; top: 9px; background: url(../img/bg_galeria_experiencia.png) no-repeat 12px -1px; float: left; position: relative; overflow: hidden; left: 280px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .view-content{width:3000px; height:301px; display: block; position: relative;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row{width:388px; height:301px; display: block; float: left;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-body{}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-body p{font: 12px/20px Arial; color: #5a5a5a; width: 170px; text-align: right; float: right; padding: 70px 18px 0 0; height: 178px; overflow: hidden;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-field-experiencias-imagem{width: 154px; height: 176px; display: block; overflow: hidden; float: left; margin: 88px 0 0 42px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-field-experiencias-imagem img{display: block; width: 100%; height: auto; border: 0;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing{width: 260px; clear: both; position: relative; top: -10px; z-index: 999;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing .field-content{padding: 0;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing p{font: 16px Arial; color: #fff; padding: 5px 0 0 50px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing span{font: 12px Arial; color: #e4b615; padding: 5px 0 0 50px;}

#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias{width:393px; height:47px; background: url(../img/bg_navegacao_experiencias.png) no-repeat 0 0; position: absolute; bottom: 0; right: 0; z-index: 99;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao{height: 15px; width: 80px; float: right; margin: 16px 27px 0 0;}

#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .bullet{width: 13px; height: 13px; display: block; background: url(../img/sprite_global.png) no-repeat -13px -251px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .bullet:hover{background-position:-33px -251px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .ativo{background-position:-52px -251px; cursor: default;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .ativo:hover{background-position:-52px -251px; cursor: default;}


#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage{width:100%; height:75px; display: block; position: absolute; bottom: 1px; /*-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;*/}
#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img{width:80px; height:58px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}
/*#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img:hover{opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}*/

#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos{width:100%; height:75px; display: block; position: absolute; bottom: 1px; /*-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;*/}
#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img{width:80px; height:58px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}
/*#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img:hover{opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}*/

#block-block-16 .view-fotos-com-filtro-por-pais{position: absolute; top: 47px; left: 34px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-row{display: none; position: absolute; top: 0; left: 0;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-field-fotos-imagem img{width: 283px; height: 204px; display: block; border: 0; position: relative; z-index: 999999;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-nothing{margin-top: 10px;}

#block-block-16 .view-videos-com-filtro-por-pais{position: absolute; top: 47px; left: 34px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-videos-com-filtro-por-pais .views-row{display: none;}
#block-block-16 .view-videos-com-filtro-por-pais .views-field-nothing{margin-top: 5px;}

/*Scroll*/
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {bottom: 4px;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {height: 11px; width: 99%;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {margin: 8px auto;}
.mCSB_dragger{width: 23px !important; height: 11px;}
.mCSB_dragger_bar{background: url(../img/dragger.png) no-repeat -5px -1px transparent !important; opacity: 1; height: 11px !important;}
.mCSB_scrollTools .mCSB_draggerRail{background: #fff; border: 1px solid #ccc;}