@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/helveticaneue-webfont.eot');
    src: url('fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-webfont.woff') format('woff'),
         url('fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-webfont.svg#helveticaneueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaneueBold';
    src: url('fonts/helveticaneuebd-webfont.eot');
    src: url('fonts/helveticaneuebd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuebd-webfont.woff') format('woff'),
         url('fonts/helveticaneuebd-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuebd-webfont.svg#helveticaneuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde-Demi';
    src: url('fonts/avgardm-webfont.eot');
    src: url('fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/avgardm-webfont.woff') format('woff'),
             url('fonts/avgardm-webfont.ttf') format('truetype'),
             url('fonts/avgardm-webfont.svg#ufonts.com_avantgarde-demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{margin:0; padding: 0; border: 0;}
body{width: 965px; margin: 0 auto; background:#efeeee;}
.clear{clear: both; height: 0;}
.fltlft{float:left;}
.fltrgt{float:right;}

/*TEXTOS*/
ul li{font:12px/21px Arial, Helvetica, sans-serif; color:#454545; list-style-type:none;  background: url(../img/sprite_global.png) no-repeat 0 0; display: block; margin:2px 0; text-align: left; padding: 0 0 0 12px;}
h2{font:32px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: capitalize; display: block; text-align: left; margin: 0; padding: 0;}
h3{font:30px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: capitalize; display: block; text-align: left; margin: 0; padding: 0;}
h4{font:30px/30px 'Helveticaneue'; color:#fff; display: block; text-align: left; margin: 0; padding: 0;}
h5{font:24px/16px 'Helveticaneue'; color:#454545; display: block; text-align: left; margin: 0; padding: 0;}
p{font:13px/20px Arial, Helvetica, sans-serif; color:#454545; text-align: left;}
p.subtitle{font:14px/16px; font-weight: bold; padding: 15px 0;}
span.detailBGl{width: 25px; height: 399px; display: block; background: url(../img/sprite_global.png) no-repeat -1569px -2082px; left: -13px; position: absolute; z-index: 99;}
span.detailBGr{width: 25px; height: 399px; display: block; background: url(../img/sprite_global.png) no-repeat -1569px -2082px; right: -13px; position: absolute; z-index: 99;}
span.detailBGl-2{width: 25px; height: 229px; display: block; background: url(../img/sprite_global.png) no-repeat -1313px -2196px; left: -13px; position: absolute; z-index: 99;}
span.detailBGr-2{width: 25px; height: 229px; display: block; background: url(../img/sprite_global.png) no-repeat -1313px -2196px; right: -13px; position: absolute; z-index: 99;}
span.detailBGt{width: 25px; height: 20px; display: block; background: url(../img/sprite_global.png) no-repeat -1569px -2082px; top: 0; left: 50%; margin-left:-12px; position: absolute; z-index: 99;}
span.detailBGb{width: 25px; height: 20px; display: block; background: url(../img/sprite_global.png) no-repeat -1569px -2464px; bottom: 0; left: 50%; margin-left:-12px; position: absolute; z-index: 99;}
.boxlink{width:155px; height:42px; display: block; background:#e7e7e7; padding: 7px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; border-radius:6px;}
.link{width:100%; height:100%; display: block; background: #000; cursor: pointer; font:14px/42px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; border-radius:6px;}
.link:hover{background: #414141;}


/*BOX 1 COLUNA*/
#box1col{width: 322px; display: block; float: left; margin: 5px 0;}
#box1col .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1col .icone{background-position:0px -11px;}
#box1col .boxcolor{background-color:#bbbbbb;}
#box1col .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1col .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -10px -61px;}
#box1col .boxBar{width:34px; height:371px; background: #848383;}
#box1col .box{width:287px; height:371px; background: #bbbbbb; position: relative; overflow: hidden;}
#box1col .box h4{padding: 25px 0 0 21px;}
#box1col .box p{width:85%; margin:0 auto; text-align: justify;}
#box1col .box .detail{position: absolute; top: 5px; left: 5px;}

/*BOX 1 COLUNA SEM BARRA*/
#box1colnobar{width: 322px; display: block; float: left; margin: 5px 0;}
#box1colnobar .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1colnobar .icone{background-position:0px -11px;}
#box1colnobar .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -10px -61px;}
#box1colnobar .boxcolor{background-color:#bbbbbb;}
#box1colnobar .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1colnobar .boxBar{width:34px; height:371px; background: transparent;}
#box1colnobar .box{width:287px; height:371px; background: #bbbbbb; position: relative; overflow: hidden;}
#box1colnobar .box h4{padding: 25px 0 0 21px;}
#box1colnobar .box p{width:85%; margin:0 auto; text-align: justify;}
#box1colnobar .box .detail{position: absolute; top: 5px; left: 5px;}

/*BOX 2 COLUNAS*/
#box2col{width: 929px; height: 399px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -17px -972px; margin: 5px 0;}
#box2col h5{padding: 35px 0 20px 21px;}
#box2col p{width:93%; margin:0 auto; text-align: justify;}
#box2col ul{padding:0 0 0 20px;}
#box2col ul li{background-position: -747px -195px;}
#box2col .col01{width: 602px; height: 399px; display: block; overflow: hidden; position: relative;}
#box2col .col02{width: 326px; height: 399px; display: block; overflow: hidden; position: relative;}

/*BOX 3 COLUNAS*/
#box3col{width: 929px; height: 402px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -16px -437px; margin: 5px 0;}
#box3col h5{padding: 35px 0 20px 21px;}
#box3col p{width:85%; margin:0 auto; text-align: justify;}
#box3col ul{padding:20px 0 0 20px;}
#box3col ul li{background-position: -747px -195px;}
#box3col .col01{width: 305px; height: 401px; display: block; overflow: hidden; position: relative;}
#box3col .col02{width: 314px; height: 401px; display: block; overflow: hidden; position: relative;}
#box3col .col03{width: 307px; height: 401px; display: block; overflow: hidden; position: relative;}

/*BOX 3 COLUNAS BIG*/
#box3colbig{width: 965px; display: block; float: left; margin: 5px 0;}
#box3colbig h5{padding: 15px 0 10px 21px;}
#box3colbig p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#box3colbig .img{width:100%; height:170px; position: relative; overflow: hidden;}
#box3colbig img{width:100%;}
#box3colbig .boxlink{width:149px; height:42px; position: absolute; bottom: 10px; left: 50%; margin-left:-72px;}
#box3colbig .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box3colbig .icone{background-position:0px -11px;}
#box3colbig .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; position: absolute; top: 5px; left: 5px;}
#box3colbig .boxcolor{background-color:#bbbbbb;}
#box3colbig .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box3colbig .boxBar{width:34px; height:371px; background: transparent;}
#box3colbig .col01{width:287px; height:400px; background: #fff; position: relative; overflow: hidden;}
#box3colbig .col02{width:287px; height:400px; background: #fff; position: relative; overflow: hidden; margin:0 21px;}
#box3colbig .col03{width:287px; height:400px; background: #fff; position: relative; overflow: hidden;}
#box3colbig .col01 .detail{background-position: -10px -61px;}
#box3colbig .col02 .detail{background-position: -10px -61px;}
#box3colbig .col03 .detail{background-position: -10px -61px;}


/*BOX 2 COLUNAS BIG*/
#boxfull2colbig{width: 931px; height: 683px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -16px -1442px; margin: 5px 0;}
#boxfull2colbig .col01{width:465px; height:683px; float: left; position: relative;}
#boxfull2colbig .col02{width:465px; height:683px; float: left; position: relative;}
#boxfull2colbig .col02 .primeiralista{margin-left: 150px;}
#boxfull2colbig .boxlink{width:326px; height:57px; position: absolute; bottom: 10px; left: 50%; margin-left:-163px;}
#boxfull2colbig .boxlink .link{line-height:57px;}
#boxfull2colbig h5{padding: 45px 0 0 30px;}
#boxfull2colbig p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#boxfull2colbig ul{padding:20px 0 0 20px;}
#boxfull2colbig ul li{background-position: -747px -195px;}

/*BOX FULL 3 COL*/
#boxfull3col{width: 965px; display: block; float: left; background: #fff; margin: 5px 0; overflow: hidden; height: 347px;}
#boxfull3col .col01{width:316px; height:400px; position: relative; overflow: hidden; float: left;}
#boxfull3col .col01 img{width:316px;}
#boxfull3col .col02{width:297px; height:316px; background: #ccc; position: relative; float: left; overflow: hidden; margin-right:21px;}
#boxfull3col .col03{width:297px; height:316px; background: #ccc; position: relative; float: left; overflow: hidden;}
#boxfull3col h5{padding: 30px 0 15px 30px;}
#boxfull3col p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}

/*BOX SMALL 2 COL*/
#box2colsmall{width: 622px; height: 339px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -967px -494px; margin: 5px 0; position: relative;}
#box2colsmall .col01{width:315px; height:340px; position: relative; float: left; overflow: hidden;}
#box2colsmall .col02{width:306px; height:340px; position: relative; float: left; overflow: hidden;}
#box2colsmall ul{margin-left: 30px;}
#box2colsmall ul li{background-position: -747px -195px;}
#box2colsmall h5{padding: 30px 0 15px 30px;}
#box2colsmall p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#box2colsmall .col01 .detailBGt{left: 315px;}
#box2colsmall .col01 .detailBGb{left: 315px;}
#box2colsmall .col02 .detailBGt{left: 0;}
#box2colsmall .col02 .detailBGb{left: 0;}

/*BOX SMALL 02 - 2 COL*/
#box2colsmall02{width: 615px; height: 339px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -907px -494px; margin: 30px 0 5px 0; position: relative;}
#box2colsmall02 .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left; margin-top: -25px;}
#box2colsmall02 .icone{background-position:0px -11px;}
#box2colsmall02 .boxcolor{background-color:#bbbbbb;}
#box2colsmall02 .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center; margin: -25px 0 0 34px;}
#box2colsmall02 .col01{width:375px; height:340px; position: relative; float: left; overflow: hidden; background: #dbdbdb;}  
#box2colsmall02 .col02{width:240px; height:340px; position: relative; float: left; overflow: hidden;}
#box2colsmall02 ul{margin-left: 30px;}
#box2colsmall02 ul li{background-position: -747px -195px;}
#box2colsmall02 h5{padding: 30px 0 15px 30px;}
#box2colsmall02 p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#box2colsmall02 .col01 .detailBGt{left: 376px; bottom:-1px;}
#box2colsmall02 .col01 .detailBGb{left: 376px; bottom:-1px;}
#box2colsmall02 .col02 .detailBGt{left: 0; bottom:-1px;}
#box2colsmall02 .col02 .detailBGb{left: 0; bottom:-1px;}

/*BOX 4 COLUNAS*/
#box4col{width: 935px; height: 230px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -32px -2197px; margin: 5px 0; position: relative;}
#box4col .col01, .col02, .col03, .col04{width:233px; height:230px; display: block; float: left; position: relative;}
#box4col h5{padding: 30px 0 15px 16px;}
#box4col p{width:85%; font-size: 12px; margin:0 auto; text-align: left;}

/*BOX BIG 1 COL*/
#box1colbig{width: 588px; height: 235px; display: block; float: left; margin: 5px 0; position: relative;}
#box1colbig .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1colbig .icone{background-position:0px -11px;}
#box1colbig .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -10px -61px;}
#box1colbig .boxcolor{background-color:#bbbbbb;}
#box1colbig .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1colbig .boxBar{width:34px; height:210px; background: #848383;}
#box1colbig .box{width:553px; height:371px; background: transparent; position: relative; overflow: hidden;}
#box1colbig  h4{padding: 20px 0 10px 21px;}
#box1colbig  p{width:92%; margin:0 auto; text-align: justify;}
#box1colbig  .detail{position: absolute; top: 5px; left: 5px;}
#box1colbig ul{margin:20px 0 0 20px;}
#box1colbig ul li{background-position: -747px -195px;}

.galeria01{width:965px; height:77px; background:#eeeded; border: 1px solid #ccc; float: left;}
.galeria02{width:296px; height:336px; background:#eeeded; border: 1px solid #ccc; float: left;}
.galeria03{width:623px; height:329px; background:#eeeded; border: 1px solid #ccc; float: left;}
.galeria04{width:973px; height:117px; background:#eeeded; border: 1px solid #ccc; float: left;}
.modulo_datas{width:376px; height:150px; background:#eeeded; border: 1px solid #ccc; float: left;}