@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/helveticaneue-webfont.eot');
    src: url('fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-webfont.woff') format('woff'),
         url('fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-webfont.svg#helveticaneueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaneueBold';
    src: url('fonts/helveticaneuebd-webfont.eot');
    src: url('fonts/helveticaneuebd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuebd-webfont.woff') format('woff'),
         url('fonts/helveticaneuebd-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuebd-webfont.svg#helveticaneuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'AvantGarde-Demi';
	src: url('fonts/avgardm-webfont.eot');
	src: url('fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/avgardm-webfont.woff') format('woff'),
			 url('fonts/avgardm-webfont.ttf') format('truetype'),
			 url('fonts/avgardm-webfont.svg#ufonts.com_avantgarde-demi') format('svg');
	font-weight: normal;
	font-style: normal;
}

.clear{clear: both; height: 0;}
.fltlft{float:left;}
.fltrgt{float:right;}

.elementos div{float: left; margin-right: 5px;}
.boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}

.audioIcon{width:25px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat -370px -10px; float: left;}

.icogeneric{background-position:0px -11px;}
.ico01{background-position:0px -11px;}
.ico02{background-position:-44px -11px;}
.ico03{background-position:-87px -11px;}
.ico04{background-position:-132px -12px;}
.ico05{background-position:-177px -11px;}
.ico06{background-position:-223px -12px;}
.ico07{background-position:-270px -10px;}

.colorgeneric{background-color:#bbbbbb !important;}
.colorred{background-color:#ef3b5b !important;}
.colorblack{background-color:#000 !important;}
.colorwhite{background-color:#fff !important;}
.colorblue{background-color:#158ae4 !important;}
.colorgreen{background-color:#07bdbc !important;}
.coloryellow{background-color:#e4b615 !important;}
.colororange{background-color:#fc581d !important;}

.textgeneric{color:#bbbbbb !important;}
.textred{color:#ef3b5b !important;}
.textblack{color:#000 !important;}
.textwhite{color:#fff !important;}
.textblue{color:#158ae4 !important;}
.textgreen{color:#07bdbc !important;}
.textyellow{color:#e4b615 !important;}
.textorange{color:#fc581d !important;}

.boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
.boxBar{width:34px; height:371px; background: #848383;}
.box{width:287px; height:371px; background: #bbbbbb; position: relative; overflow: hidden;}
.box h4{padding: 25px 0 0 21px;}
.box p{width:85%; margin:0 auto; text-align: justify;}
.box .detail{position: absolute; top: 5px; left: 5px;}
.marginbox{width:261px; height:320px; background: #bbbbbb; display: block; margin-left: 34px;}

.box_3col{width:931px; height:401px; display: block; background: url(../img/sprite_global.png) no-repeat -14px -432px; margin-left: 33px; float: left;}
.box_3col h5{padding-top: 33px; margin: 0;}
.box_3col p{text-align: justify;}
.box_3col .col01{width:255px; height:339px; overflow: hidden; float: left; margin-left: 32px;}
.box_3col .col02{width:252px; height:339px; overflow: hidden; float: left; margin-left: 56px;}
.box_3col .col03{width:255px; height:339px; overflow: hidden; float: left; margin-left: 58px;}

.box_2col{width:931px; height:401px; display: block; background: url(../img/sprite_global.png) no-repeat -17px -970px;}

.boxsmall_2col{width:622px; height:401px; display: block; background: url(../img/sprite_global.png) no-repeat -967px -432px;}

.boxbig_2col{width:934px; height:685px; display: block; background: url(../img/sprite_global.png) no-repeat -18px -1440px;}

.box_4col{width:931px; height:230px; display: block; background: url(../img/sprite_global.png) no-repeat -32px -2197px;}

.box_1col{width:600px; height:403px; display: block; background: url(../img/sprite_global.png) no-repeat -980px -1440px;}

.marcadores div{float: left; margin-right: 5px;}

.detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat 0px 0px;}

.detailred{background-position:-45px -61px;}
.detailblack{background-position:-180px -61px;}
.detailwhite{background-position: -10px -61px;}
.detailblue{background-position:-214px -61px;}
.detailgreen{background-position:-108px -61px;}
.detailyellow{background-position:-144px -61px;}
.detailorange{background-position:-78px -61px;}

.title_galery div{float: left; margin-right: 8px;}
.galerytitle{width:118px; height: 26px; display: block; background: url(../img/sprite_global.png) no-repeat 0px 0px;}
.fotored{background-position:-10px -112px;}
.fotolightgreen{background-position:-148px -112px;}
.fotoyellow{background-position:-298px -112px;}
.fotoblue{background-position:-448px -112px;}
.fotogreen{background-position:-588px -112px;}
.videored{background-position:-916px -112px;}
.videolightgreen{background-position:-1066px -112px;}
.videoyellow{background-position:-1214px -112px;}
.videoblue{background-position:-767px -112px;}
.videogreen{background-position:-1363px -112px;}


.listas{position: relative; border: 1px solid #ccc; padding: 20px; display: block; background: #f5f5f5;}
ul.lista{margin: 0; padding: 0;}
ul.lista li{font:12px/21px Arial, Helvetica, sans-serif; color:#454545; list-style-type:none;  background: url(../img/sprite_global.png) no-repeat -748px -306px; display: block; margin:2px 0; text-align: left; padding: 0 0 0 15px;}
ul.lista li.orange{background-position: -983px -1908px;}
ul.lista li.white{background-position: -983px -1935px;}
ul.lista li.blue{background-position: -983px -1963px;}
ul.lista li.yellow{background-position: -983px -1991px;}

.itemativo{width: 120px; height: 60px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0;}
.itemred{background-position:-10px -285px;}
.itemgreen{background-position:-161px -285px;}
.itemyellow{background-position:-319px -285px;}
.itemblue{background-position:-488px -285px;}

.boxlink{width:155px; height:42px; display: block; background:#e7e7e7; padding: 7px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; border-radius:6px;}
.bt{width:100%; height:100%; display: block; background: #000; cursor: pointer; font:14px/42px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; border-radius:6px;}
.bt:hover{background: #414141;}


#box322{width: 322px; display: block; float: left;}
.galeria01{background: url("../img/bg-galeria-teste.jpg") no-repeat scroll 0 0 transparent; display: block; float: left; height: 320px; margin: 84px 0 0 6px; width: 637px;}

/*TEXTOS*/
h2{font:32px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: capitalize; display: block; text-align: left; margin: 0; padding: 0;}
h3{font:30px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: capitalize; display: block; text-align: left; margin: 0; padding: 0;}
h4{font:30px/30px 'Helveticaneue'; color:#fff; display: block; text-align: left; margin: 0; padding: 0;}
h5{font:24px/16px 'Helveticaneue'; color:#454545; display: block; text-align: left; margin: 0; padding: 0;}
p{font:13px/20px Arial, Helvetica, sans-serif; color:#454545; text-align: left;}
p.subtitle{font:14px/16px; font-weight: bold; padding: 15px 0;}




--------------------------------- ###### -------------------------------------

/*Templates*/