#master {background:url("../img/bg-seguro.png") no-repeat 50% -10%;}
#box1col .boxcolor {background-color:#FC581D;}
#box1col {width:965px; margin:0;}
#box1col .boxBar {height:347px; background-color:#e4e4e4;}
#boxfull3col {float:none; background-color:#f8f8f8; width:931px; margin:0;}
#boxfull3col .col01 {height:347px;}
#boxfull3col .col02, #boxfull3col .col03 {background-color:#fc571d;}
#boxfull3col h5 {color:#fff;}
#boxfull3col p {color:#fff;}

#boxfull2colbig {margin:0 0 0 33px;}
#boxfull2colbig h5 {color:#fc571d;}
#boxfull2colbig .line {border-bottom:1px solid #cacaca; height:0; margin:50px auto 20px; width:247px;}
#boxfull2colbig .pl210 {padding-left:210px;}
#boxfull2colbig .pt150 {padding-top:150px;}
#boxfull2colbig .col02 {background:url("../img/bg-box-seguro.png") no-repeat 25px 15px;}
#boxfull2colbig .col02 .primeiralista {margin-left:160px;}

#boxfull2colbig ul li {background:url("../img/sprite_lista.png") no-repeat 0 5px;}

.boxlink {background-color:#E6E6E6;}

h3{color:#fc571d !important;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo{background-position: -10px -285px;}
#iexplorer .boxcolor{background-color:#FC581D;}