/*bloco: Estudar - curso de idiomas - destaques (estudar/curso-de-idiomas)*/
#block-views-80739e0094cc4bbdb2368b493f193d7a {display:inline-block; width:100%; margin:25px 0 15px;}
#block-views-80739e0094cc4bbdb2368b493f193d7a h2 {float:left; font:16px/71px Arial, Helvetica, sans-serif; text-transform:none; text-align:left; background:url(../img/destaques/bg_tit_cursos-vermelho.png) no-repeat top left; color:#d22342; padding:0 0 0 48px; width:191px; height:93px; margin:11px 0 0;}
.view-curso-de-idiomas-destaques ul {float:right; width:726px; height:115px; margin:0; padding:0; overflow:hidden;}

/*bloco: Estudar - curso de idiomas - profissionalizantes (estudar/curso-de-idiomas)*/
#block-views-60286ce83bebfc426d255e2e80f5a403 {display:inline-block; width:100%; margin:25px 0 15px;}
#block-views-60286ce83bebfc426d255e2e80f5a403 h2 {float:left; font:16px/71px Arial, Helvetica, sans-serif; text-transform:none; text-align:left; background:url(../img/destaques/bg_tit_cursos-vermelho.png) no-repeat top left; color:#d22342; padding:0 0 0 48px; width:191px; height:73px; margin:11px 0 0;}
.view-curso-de-idiomas-profissionalizantes ul {float:right; width:726px; height:115px; margin:0; padding:0; overflow:hidden;}



/*bloco: Estudar - curso de idiomas - destaques (estudar/study-and-work/programa   -   estudar/study-and-work/destaques)*/
#block-views-09ecf94fd4e801defcf474c13f09045b {display:inline-block; width:100%; margin:25px 0 15px;}
#block-views-09ecf94fd4e801defcf474c13f09045b h2 {float:left; font:20px/71px Arial, Helvetica, sans-serif; text-transform:none; text-align:left; background:url(../img/destaques/bg_tit_cursos-vermelho.png) no-repeat top left; color:#d22342; padding:0 0 0 48px; width:191px; height:93px; margin:11px 0 0;}
.view-study-and-work-estudar-destaques ul {float:right; width:726px; height:115px; margin:0; padding:0; overflow:hidden;}


/*bloco: Estudar - curso de idiomas - destaques (estudar/teen-experience/programa)*/
#block-views-teen-experience-destaques-block {display:inline-block; width:100%; margin:25px 0 15px;}
#block-views-teen-experience-destaques-block h2 {float:left; font:20px/71px Arial, Helvetica, sans-serif; text-transform:none; text-align:left; background:url(../img/destaques/bg_tit_cursos-vermelho.png) no-repeat top left; color:#d22342; padding:0 0 0 48px; width:191px; height:93px; margin:11px 0 0;}
.view-teen-experience-destaques ul {float:right; width:726px; height:115px; margin:0; padding:0; overflow:hidden;}


/*bloco: Estudar - curso de idiomas - destaques (trabalhar/study-and-work/programa)*/
#block-views-b998672b69476dadcb72a0ada8863e7f {display:inline-block; width:100%; margin:25px 0 15px;}
#block-views-b998672b69476dadcb72a0ada8863e7f h2 {float:left; font:20px/71px Arial, Helvetica, sans-serif; text-transform:none; text-align:left; background:url(../img/destaques/bg_tit_cursos-azul.png) no-repeat top left; color:#07bebc; padding:0 0 0 48px; width:191px; height:93px; margin:11px 0 0;}
.view-study-and-work-trabalhar-destaques ul {float:right; width:726px; height:115px; margin:0; padding:0; overflow:hidden;}

/*bloco: Estudar - curso de idiomas - destaques (trabalhar/study-and-work/programa)*/
#block-block-18 {display:inline-block; width:100%; margin:25px 0 15px;}
#block-block-18 h2 {float:left; font:20px/71px Arial, Helvetica, sans-serif; text-transform:none; text-align:left; background:url(../img/destaques/bg_tit_cursos-azul.png) no-repeat top left; color:#07bebc; padding:0 0 0 48px; width:191px; height:93px; margin:11px 0 0;}
.view-study-and-work-trabalhar-destaques ul {float:right; width:726px; height:115px; margin:0; padding:0; overflow:hidden;}


/*bloco: Estudar - curso de idiomas - destaques (conhecer/mochilao/programa)*/
#block-views-mochiloes-destaques-block {display:inline-block; width:100%; margin:25px 0 15px;}
#block-views-mochiloes-destaques-block h2 {float:left; font:20px/71px Arial, Helvetica, sans-serif; text-transform:none; text-align:left; background:url(../img/destaques/bg_tit_cursos-amarelo.png) no-repeat top left; color:#e4b615; padding:0 0 0 48px; width:191px; height:93px; margin:11px 0 0;}
.view-mochiloes-destaques ul {float:right; width:726px; height:115px; margin:0; padding:0; overflow:hidden;}


/*bloco: Estudar - curso de idiomas - destaques (iexplorer/ie-explorer)*/
#block-views-mochiloes-destaques-bloc {display:inline-block; width:100%; margin:25px 0 15px;}
#block-views-mochiloes-destaques-bloc h2 {float:left; font:20px/71px Arial, Helvetica, sans-serif; text-transform:none; text-align:left; background:url(../img/destaques/bg_tit_cursos-verde.png) no-repeat top left; color:#08c078; padding:0 0 0 48px; width:191px; height:93px; margin:11px 0 0;}
.view-mochiloes-destaques ul {float:right; width:726px; height:115px; margin:0; padding:0; overflow:hidden;}


.view ul li.item-curso {float:left; background:none; position:relative; margin:0 0 0 6px; padding:0; width:116px; color:#fff; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.view ul li.item-curso:first-child {margin:0;}
.view ul li.item-curso a {/*display:block; width:116px; height:71px; outli.item-cursone:0; color:#fff;*/ display: block; width: 116px; height: 71px; color: #fff; position: relative; overflow: hidden;}
.view ul li.item-curso:hover{opacity:0.8; -moz-opacity:0.80; -webkit-opacity:0.80; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; filter:alpha(opacity=80);}
.view ul li.item-curso:hover a {color:yellow;}
.view ul li.item-curso a img {/*width:116px; height:71px; border:0;*/ width: 116px; height: 121px; border: 0; position: absolute; top: 0;}
.view ul li.item-curso .title_curso {height:44px; overflow: hidden; background-color: #2d2d2d;}
.view ul li.item-curso .title_curso a {height:auto; font:10px/12px Arial, Helvetica, sans-serif; text-transform:uppercase; text-align:center; outline:0;}
.views-row-1 div.pelicula{width:0; height:0; border-top:25px solid #F8F8F8; border-right:25px solid transparent; position:absolute; top:0; left:0; cursor:pointer; overflow:hidden;}

/* Galerias */
.galeria03 {position:relative;} 
.galeria03 .scroll{width: 610px; height: 180px; margin: 0 0 0 25px; overflow:hidden;} 
.galeria03 .scroll ul{margin-left:0;} 
.galeria03 .scroll ul li{margin: 0 6px 0 0 !important;} 
.galeria03 .scroll .container{width: 8888px; height: 180px; margin:0;}
.galeria03 a.btLeft{position: absolute; width: 14px; height: 27px; left:0; top: 150px; background: url(../img/sprite-seta-galeria.png) 0 0; display:block; cursor:pointer;} 
.galeria03 a.btRight{position: absolute; width: 14px; height: 27px; right:-30px; top: 150px; background: url(../img/sprite-seta-galeria.png) -14px 0; display:block; cursor:pointer;}
.galeria03 a.btLeft:hover{background-position: 0 -28px;} 
.galeria03 a.btRight:hover{background-position: -14px -28px;}
#node-47{background: url(../img/bg_default_seta.png) 298px 200px no-repeat;}





