@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/helveticaneue-webfont.eot');
    src: url('fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-webfont.woff') format('woff'),
         url('fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-webfont.svg#helveticaneueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaneueBold';
    src: url('fonts/helveticaneuebd-webfont.eot');
    src: url('fonts/helveticaneuebd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuebd-webfont.woff') format('woff'),
         url('fonts/helveticaneuebd-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuebd-webfont.svg#helveticaneuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde-Demi';
    src: url('fonts/avgardm-webfont.eot');
    src: url('fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
             url('fonts/avgardm-webfont.woff') format('woff'),
             url('fonts/avgardm-webfont.ttf') format('truetype'),
             url('fonts/avgardm-webfont.svg#ufonts.com_avantgarde-demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{margin:0; padding: 0; border: 0;}
body{width:100%; margin: 0 auto; background:url(../img/bg-global.png) repeat-x bottom center #ffffff;}
.clear{clear: both; height: 0;}
.fltlft{float:left;}
.fltrgt{float:right;}
.field-name-field-estilo{display: none;}
.field-name-field-taxonomia-estilo{display: none;}


/* HEADER */
#header{width: 100%; position: relative; background:#fff; margin-bottom: 30px;}
#header .fltrgt{margin:0 !important;}
#header .header-1{width: 100%; height: 124px; display: block; background: url(../img/bg-header.png) repeat-x 0 0; margin: 0 auto;}
#header .header-2{width: 965px; height: 124px; margin: 0 auto; position: relative; z-index: 9;}

#header .logo{width: 185px; height: 124px; float: left; background: url(../img/bg-logo.png) no-repeat center -6px; position: relative; z-index: 99; }
#header .logo img{margin: 10px auto 0 auto; display: block; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
#header .logo img:hover{margin: 10px auto 0 auto; display: block; opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}

#header .page-title{/*width: 100%; height: 164px; display: block; background: url(../img/bg_page_title.png) no-repeat top center transparent; overflow: hidden;*/width: 100%;
height: 57px; display: block; background: url(../img/bg_page_title.png) no-repeat center top transparent;}
#header .page-title .menu-level-3{width:435px; display:inline-block;}
#header .page-title .menu-level-3 ul.menu{display:inline-block; float:right;}
#header .page-title .menu-level-3 ul.menu li{min-width:113px; height:57px; background: none; float: left; display: block; margin:0; padding: 0; position: relative; text-align: center;}
#header .page-title .menu-level-3 ul.menu li.first{margin-right:20px;}
#header .page-title .menu-level-3 ul.menu li.last{margin-left:20px;}
#header .page-title .menu-level-3 ul.menu li.active a{opacity: 0.6; -moz-opacity: 0.6; -webkit-opacity: 0.6; -o-opacity: 0.7; filter: alpha(opacity=60);}
#header .page-title .menu-level-3 ul.menu li.active a:hover{color:#fff;}
#header .page-title .menu-level-3 ul.menu li a{font:13px/60px 'HelveticaneueBold'; color: #fff; text-decoration: none; text-transform: uppercase; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
#header .page-title .menu-level-3 ul.menu li a:hover{color:#e4b615;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo{width: 113px; height: 80px; background: url(../img/sprite_global.png) no-repeat -10px -285px; overflow: hidden; text-indent: -999px; display: block; margin: -47px auto 0 auto;}
#header .page-title .menu-level-3 .menu_33 {float:right; position:relative;}
#header .page-title .menu-level-3 .menu_33 span {text-transform:uppercase; color:#000; display:block; background:#fefefe url(../img/setas-menu3.png) no-repeat 230px -81px; font:13px/30px 'HelveticaneueBold'; padding:0 46px 0 26px; margin:15px 0 0 0; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; cursor:pointer;}
#header .page-title .menu-level-3 .menu_33 span:hover {background-position:230px 11px;}
.page-title .voltar-cidades{margin-top: 4px; display: block;}
.page-title .voltar-cidades a{padding: 6px 10px; background: #e4b615; border: 3px solid #a78510; margin: 5px 0 0 0; border-radius: 5px; font-size: 13px; font-family: Arial; font-weight: bold; -moz-border-radius: 5px; -o-border-radius: 5px;}
.page-title .voltar-cidades a:hover{text-decoration:underline;}

#content ul.menu_sel {display:none; width: 17%; position: absolute; top: -43px; right: 5px; background-color: #3f3f3f; border: 1px solid #fefefe; z-index: 99; padding: 15px 0;}
#content ul.menu_sel li {background:none; padding:0; border:0; outline:0;}
#content ul.menu_sel li a {background:none; padding:0; text-align:center; font:13px/30px 'HelveticaneueBold'; color:#fff; text-transform:uppercase; text-align:center; display:block; border:0; outline:0;}
#content ul.menu_sel li a:hover {color:#22c384;}
#content ul.menu_sel li a:active {color:#22c384;}

#header h2{font-weight:bold; margin: 21px 0 0 5px; display:none;}
#header h3{font-weight:bold; float: left; margin: 15px 15px 0 5px; font-size:25px;}
#header .adjust{width: 965px; margin: 0 auto;}

#header .auxiliary-items{width: 100%; height: 29px; display: block; background: url(../img/bg-auxiliary-itens.png) repeat-x 0 0; overflow: hidden; margin-top: -23px; display:none;}
#header .auxiliary-items .item01{width:158px; height:29px; display: block; background: url(../img/bg-link-auxiliary.png) no-repeat top center; text-align: center; position: relative; float: left; margin-right: 43px;}
#header .auxiliary-items .item02{width:129px; height:29px; display: block; background: url(../img/bg-link-auxiliary.png) no-repeat top center; text-align: center; position: relative; float: left;}
#header .auxiliary-items span.bdrlft{width:28px; height:28px; display: block; background: url(../img/bg-link-auxiliary.png) no-repeat top left; position: absolute; top: 0; left: -28px;}
#header .auxiliary-items span.bdrrgt{width:28px; height:28px; display: block; background: url(../img/bg-link-auxiliary.png) no-repeat -185px 0px; position: absolute; top: 0; right: -28px;}
#header .auxiliary-items a{font:13px/29px 'AvantGarde-Demi'; color: #ec5900; text-decoration: underline; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;} 
#header .auxiliary-items a:hover{color: #252525;}

#header .socials{margin: 17px 0 0 9px; float: left; width: 240px; position: relative; height: 50px;}
#header .socials .pls .sp_like{display:none;}
#header .socials .facebook{height: 28px; overflow: hidden; float: left; margin-right: 5px; display: inline-block;}
#header .socials .linkedin{float: left; margin-right: 5px; float:left;}
#header .socials .pinterest{width: 40px; height: 22px; display: block; overflow: hidden; float:left; margin-right: 5px;}
#header .socials .pinterest a{line-height: 0;}
#header .socials .gmais{width: 39px; height: 24px;  display: inline-block; overflow: hidden;}

#header .menu-principal{width: 611px; position: absolute; top: 71px; right: 145px; z-index: 999;}
#header .menu-principal .primeiro-nivel{width: 605px; height: 45px; position: absolute; left: -22px; top: 0; padding-left: 22px; background: url(../img/bg-primeiro-nivel.jpg) repeat-x;}
#header .menu-principal h2{display: none;}
#header .menu-principal ul{margin: 0; padding: 0;}
#header .menu-principal ul li{display: inline; width: 121px; height:45px; text-align: center; float: left; border: 0; margin: 0; padding: 0; cursor: pointer;}
#header .menu-principal ul li span, a{font:16px/50px 'HelveticaneueBold'; color:#fff; text-decoration: none;}
#header .menu-principal ul li.l01{background: url(../img/sprite-menu-principal.png) no-repeat 0 0 #ef3b5b; position: relative; z-index: 999;}
#header .menu-principal ul li.l01 .segundo-nivel{width: 429px; height: 210px; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -16px -321px; margin: -13px 0 0 0; display: block; position: relative; z-index: 9999;}
#header .menu-principal ul li.l01 .segundo-nivel .col01{width: 245px; height: 181px; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat 13px -112px; float: left; margin: 18px 0 0 22px;}
#header .menu-principal ul li.l01 .segundo-nivel .col02{width: 123px; height: 181px; float: left; margin: 18px 0 0 16px;}

#header .menu-principal ul li.l02{background: url(../img/sprite-menu-principal.png) no-repeat -123px 0 #07bdbc; position: relative; z-index: 999;}
#header .menu-principal ul li.l02 .segundo-nivel{width: 432px; height: 246px; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -516px -321px; margin: -13px 0 0 0; display: block; position: relative; z-index: 9999;}
#header .menu-principal ul li.l02 .segundo-nivel .col01{width: 173px; height: 201px; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -578px -74px; float: left; margin: 18px 0 0 22px;}

#header .menu-principal ul li.l02 .segundo-nivel .col01 .paises{width: 135px; margin: 8px 0 0 5px;}
#header .menu-principal ul li.l02 .segundo-nivel .col01 .paises dd{height: 20px; padding-top: 2px; display: block; text-align: left; cursor: default;}
#header .menu-principal ul li.l02 .segundo-nivel .col01 .paises dd a{font: 12px/16px Arial; color: #656565; text-decoration: none;}
#header .menu-principal ul li.l02 .segundo-nivel .col01 .paises dd a:hover{text-decoration: underline;}
#header .menu-principal ul li.l02 .segundo-nivel .col01 .paises dd a .flag{margin-right: 8px; border: 0; position: relative; top: 1px;}
#header .menu-principal ul li.l02 .segundo-nivel .col02{width: 213px; float: left; margin: 18px 0 0 16px;}

#header .menu-principal ul li.l03{background: url(../img/sprite-menu-principal.png) no-repeat -243px 0 #e4b615; position: relative; z-index: 999;}
#header .menu-principal ul li.l03 .segundo-nivel{width: 950px; height: 220px; background: url(../img/bg-submenu-conhecer.png) no-repeat 0px 0px; margin: -13px 0 0 -390px; display: block; position: relative; z-index: 9999; overflow:hidden;}
#header .menu-principal ul li.l03 .segundo-nivel .close{display:none;}
#header .menu-principal ul li.l03 .segundo-nivel .col01{width: 134px; height: 189px; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -1264px -74px; float: left; margin: 18px 0 0 22px;}
#header .menu-principal ul li.l03 .segundo-nivel .col01 .paises{width: 135px; margin: 8px 0 0 5px;}
#header .menu-principal ul li.l03 .segundo-nivel .col01 .paises dd{height: 20px; padding-top: 2px; display: block; text-align: left; cursor: default;}
#header .menu-principal ul li.l03 .segundo-nivel .col01 .paises dd a{font: 12px/16px Arial; color: #656565; text-decoration: none;}
#header .menu-principal ul li.l03 .segundo-nivel .col01 .paises dd a:hover{text-decoration: underline;}
#header .menu-principal ul li.l03 .segundo-nivel .col01 .paises dd .flag{margin-right: 8px; border: 0; position: relative; top: 1px;}
/*
	Quando desce para o Footer
*/#header .menu-principal ul li.l03 .segundo-nivel.segundo-nivel-footer{width: 780px !important; height: 220px; background: #FFF; margin: 0 0 0 -390px !important; display: block; position: absolute !important; z-index: 9999;
overflow: hidden; top: 1688px; border: 10px solid #ffcd00;}
#header .menu-principal ul li.l03 .segundo-nivel.segundo-nivel-footer .close{position:absolute; top:-8px; right:8px; color:#F00; display:block;}


#header .menu-principal ul li.l03 .segundo-nivel .col02{width:121px; height: 189px; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -1277px -74px; float: left; margin: 18px 0 0 22px;}
#header .menu-principal ul li.l03 .segundo-nivel .col02 .paises{width: 135px; margin: 8px 0 0 5px;}
#header .menu-principal ul li.l03 .segundo-nivel .col02 .paises dd{height: 20px; padding-top: 2px; display: block; text-align: left; cursor: default;}
#header .menu-principal ul li.l03 .segundo-nivel .col02 .paises dd a{font: 12px/16px Arial; color: #656565; text-decoration: none;}
#header .menu-principal ul li.l03 .segundo-nivel .col02 .paises dd a:hover{text-decoration: underline;}
#header .menu-principal ul li.l03 .segundo-nivel .col02 .paises dd .flag{margin-right: 8px; border: 0; position: relative; top: 1px;}

#header .menu-principal ul li.l03 .segundo-nivel .col03{width:134px; height: 189px; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -1265px -74px; float: left; margin: 18px 0 0 22px;}
#header .menu-principal ul li.l03 .segundo-nivel .col03 .paises{width: 135px; margin: 8px 0 0 5px;}
#header .menu-principal ul li.l03 .segundo-nivel .col03 .paises dd{height: 20px; padding-top: 2px; display: block; text-align: left; cursor: default;}
#header .menu-principal ul li.l03 .segundo-nivel .col03 .paises dd a{font: 12px/16px Arial; color: #656565; text-decoration: none;}
#header .menu-principal ul li.l03 .segundo-nivel .col03 .paises dd a:hover{text-decoration: underline;}
#header .menu-principal ul li.l03 .segundo-nivel .col03 .paises dd .flag{margin-right: 8px; border: 0; position: relative; top: 1px;}

#header .menu-principal ul li.l03 .segundo-nivel .col04{width:123px; height: 189px; float: left; margin: 18px 0 0 22px;}
#header .menu-principal ul li.l03 .segundo-nivel .col04 .paises{width: 135px; margin: 8px 0 0 5px;}
#header .menu-principal ul li.l03 .segundo-nivel .col04 .paises dd{height: 20px; padding-top: 2px; display: block; text-align: left; cursor: default;}
#header .menu-principal ul li.l03 .segundo-nivel .col04 .paises dd a{font: 12px/16px Arial; color: #656565; text-decoration: none;}
#header .menu-principal ul li.l03 .segundo-nivel .col04 .paises dd a:hover{text-decoration: underline;}
#header .menu-principal ul li.l03 .segundo-nivel .col04 .paises dd .flag{margin-right: 8px; border: 0; position: relative; top: 1px;}

#header .menu-principal ul li.l04{background: url(../img/sprite-menu-principal.png) no-repeat -364px 0 #098b58; position: relative; z-index: 999;}
#header .menu-principal ul li.l04 .segundo-nivel{width: 175px; height: 186px; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -1694px -316px; margin: -13px 0 0 0px; padding: 25px 0 0 25px; display: block; position: relative; z-index: 9999;}

#header .menu-principal ul li dl.segundo-nivel div{cursor: default;}
#header .menu-principal ul.primeiro-nivel li .segundo-nivel dd.orangeitem a{font-weight: bold !important; color: #eb9121 !important;}
#header .menu-principal ul.primeiro-nivel li .segundo-nivel dd.collapsed{display: block; float: none; background: url(../img/seta_lista.png) no-repeat 0 15px; padding: 11px 0 0 18px; text-align: left; cursor: default;}
#header .menu-principal ul.primeiro-nivel li .segundo-nivel dd.collapsed a{font: 12px/16px Arial; color: #000; text-decoration: none;}
#header .menu-principal ul.primeiro-nivel li .segundo-nivel dd.collapsed a:hover{text-decoration: underline;}

#header .menu-principal ul li.l05{background: url(../img/sprite-menu-principal.png) no-repeat -487px 0 #158ae4;}

#header .menu-secundario{width: 151px; height: 112px; position: relative; top: 12px; display: block; background:#292929; float: right; opacity: 0.9; -moz-opacity: 0.9; -webkit-opacity: 0.9; -o-opacity: 0.9; filter: alpha(opacity=90);}
#header .menu-secundario ul{width: 136px; height: 98px; margin: -49px auto 0 auto; padding: 0; position: relative; top: 50%;}
#header .menu-secundario ul li{width: 100%; height:31px; margin:2px 0 2px 0; list-style-image: none; list-style-type: none; padding: 0; text-align: center; cursor: pointer; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
#header .menu-secundario ul li.first{background: url(../img/sprite-secondary-menu03.png) no-repeat -9px -86px #000; margin-top: 0; background-position: -9px -54px;}
#header .menu-secundario ul li.first:hover{background-position:-9px -86px; background-color: #EF3B5B;}
#header .menu-secundario ul li{background: url(../img/sprite-secondary-menu02.png) no-repeat -9px -54px #000;}
#header .menu-secundario ul li:hover{background-position: -9px -86px; background-color: #07bdbc; color: black;}
#header .menu-secundario ul li:hover a{color: black}
#header .menu-secundario ul li.last{background: url(../img/sprite-secondary-menu.png) no-repeat -9px -54px #000; margin-bottom: 0;}
#header .menu-secundario ul li.last:hover{background-position:-9px -86px; background-color: #e4b615;}
#header .menu-secundario ul li a{font:bold 12px/31px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none;}

#header .busca{width: 629px; height: 71px; float: left; background: url(../img/bg-busca.png) no-repeat 561px bottom;}
#header .busca .form-busca{width: 255px; height: 40px; display: block; background-color: #e3e3e3; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; margin: 16px 0 0 0; float: left; border:1px solid #ddd;}
#header .busca .form-busca input[type="text"]{ display: block; background: url(../img/filete-input-busca.png) repeat-x; font: bold 13px/30px Arial, Helvetica, sans-serif; color: #646464; width: 235px; height: 30px; padding: 0 5px; border:1px solid #dcdcdc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; float: left; position: relative; left: 4px; top: 4px;}
#header .busca label{font:bold 12px Arial; color:#646464; position: absolute; top: 29px; left: 203px; z-index: 99;}
#header .busca .bt_submit{width: 69px; height: 30px; margin:16px 0 0 5px; border: 1px solid #DDD; display: block; padding: 5px; background:#e3e3e3; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; float: left;}
#header .busca .bt_submit input[type=submit]{ display: block; width: 68px; height: 30px; background:#1d1d1d; border: none; font:16px 'HelveticaneueBold'; color:#fff; padding: 2px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; cursor: pointer; transition:All 0.3 ease; -webkit-transition:All 0.3 ease; -moz-transition:All 0.3 ease; -o-transition:All 0.3 ease;}
#header .busca .bt_submit input[type=submit]:hover{background:#313131;}

/*MENU DIFERENCIADO*/
#header .page-title .adjust ul.menu-dif {float:right; margin-right:11px;}
#header .page-title .adjust ul.menu-dif li {min-width:113px; height:80px; background: none; float: left; display: block; margin:0; padding: 0; position: relative; text-align: center;}

#header .page-title .adjust ul.menu-dif li.first{margin-right:20px;}
#header .page-title .adjust ul.menu-dif li.last{margin-left:20px;}
#header .page-title .adjust ul.menu-dif li.active a{opacity: 0.6; -moz-opacity: 0.6; -webkit-opacity: 0.6; -o-opacity: 0.7; filter: alpha(opacity=60);}
#header .page-title .adjust ul.menu-dif li.active a:hover{color:#fff;}
#header .page-title .adjust ul.menu-dif li a{font:13px/60px 'HelveticaneueBold'; color: #fff; text-decoration: none; text-transform: uppercase; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
#header .page-title .adjust ul.menu-dif li a:hover{color:#e4b615;}
#header .page-title .adjust ul.menu-dif li div.ativo{width: 113px; height: 80px; background: url(../img/sprite_global.png) no-repeat -166px -265px; overflow: hidden; text-indent: -999px; display: block; margin: -47px auto 0 auto;}

h3 span.peq {font-size:22px; color:#ec5900;}

.li-trabalhar .col01 .collapsed a{text-decoration: none !important; cursor: default !important;}
.li-trabalhar .col01 .collapsed a:hover{text-decoration:none !important; cursor:default !important;}

/*TEXTOS*/
ul li{font:12px/21px Arial, Helvetica, sans-serif; color:#454545; list-style-type:none;  background: url(../img/sprite_global.png) no-repeat 0 0; display: block; margin:2px 0; text-align: left; padding: 0 0 0 12px;}
h2{font:32px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: capitalize; display: block; text-align: left; margin: 0; padding: 0;}
.page-node-59 h2{font:32px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: none; display: block; text-align: left; margin: 0; padding: 0;}
h3{font:30px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: capitalize; display: block; text-align: left; margin: 0; padding: 0;}
.page-node-56 h3{font:30px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: none; display: block; text-align: left; margin: 0; padding: 0;}
.page-node-59 h3{font:30px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: none; display: block; text-align: left; margin: 0; padding: 0;}
h4{font:30px/30px 'HelveticaneueBold'; color:#fff; display: block; text-align: left; margin: 0; padding: 0;}
h5{font:24px/16px 'Helveticaneue'; color:#454545; display: block; text-align: left; margin: 0; padding: 0;}
p{font:13px/20px Arial, Helvetica, sans-serif; color:#454545; text-align: left;}
p.subtitle{font:14px/16px; font-weight: bold; padding: 15px 0; height: auto !important;}
span.detailBGl{width: 25px; height: 399px; display: none !important; background: url(../img/sprite_global.png) no-repeat -1569px -2082px; left: -13px; position: absolute; z-index: 99;}
span.detailBGr{width: 25px; height: 399px; display: none !important; background: url(../img/sprite_global.png) no-repeat -1569px -2082px; right: -13px; position: absolute; z-index: 99;}
span.detailBGl-2{width: 25px; height: 229px; display: none !important; background: url(../img/sprite_global.png) no-repeat -1313px -2196px; left: -13px; position: absolute; z-index: 99;}
span.detailBGr-2{width: 25px; height: 229px; display: none !important; background: url(../img/sprite_global.png) no-repeat -1313px -2196px; right: -13px; position: absolute; z-index: 99;}
span.detailBGt{width: 25px; height: 20px; display: none !important; background: url(../img/sprite_global.png) no-repeat -1569px -2082px; top: 0; left:3%; margin-left:-12px; position: absolute; z-index: 99;}
span.detailBGb{width: 25px; height: 20px; display: none !important; background: url(../img/sprite_global.png) no-repeat -1569px -2463px; bottom: 0; left:3%; margin-left:-12px; position: absolute; z-index: 99;}

span.bicot {display:block; position:absolute; top:0; right:0; width: 0; height: 0; border-top: 12px solid #f7f7f7; border-left: 10px solid transparent; z-index:100;}
span.bicob {display:block; position:absolute; bottom:0; right:0; width: 0; height: 0; border-bottom: 12px solid #f7f7f7; border-left: 10px solid transparent; z-index:100;}

.boxlink{width:155px; height:42px; display: block; background:#e7e7e7; padding: 7px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; border-radius:6px;}
.link{width:100%; height:100%; display: block; background: #000; cursor: pointer; font:14px/42px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; border-radius:6px;}
.link.destinos{font:13px/19px 'HelveticaneueBold'; padding-top:6px;}
.link:hover{background: #414141;}
a.audioIcon{width: 25px; height: 25px; display: block; background: url(../img/sprite_global.png) no-repeat -370px -10px; overflow: hidden; text-indent: -999px; cursor: pointer; margin-top: 16px; float: left; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease; display:none;}
a.audioIcon:hover{opacity: 0.6; -webkit-opacity: 0.6; -moz-opacity: 0.6; -o-opacity: 0.6; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);}


/*BOX 1 COLUNA*/
#box1col{width: 322px; display: block; float: left; margin: 5px 0;}
#box1col .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1col .icone{background-position:0px -11px;}
#box1col .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -10px -61px;}
#box1col .boxcolor{background-color:#bbbbbb;}
#box1col .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1col .boxBar{width:34px; height:371px; background: #848383;}
#box1col .box{width:287px; height:371px; background: #bbbbbb; position: relative; overflow: hidden;}
#box1col .box h4{padding: 25px 0 0 21px; font-family:'Helveticaneue';}
#box1col .box p{width:85%; margin:0 auto; text-align: justify; /*height:60%;*/ overflow: hidden;}
#box1col .box .detail{position: absolute; top: 5px; left: 5px;}

/*BOX 1 COLUNA SEM BARRA*/
#box1colnobar{width: 322px; display: block; float: left; margin: 5px 0;}
#box1colnobar .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1colnobar .icone{background-position:0px -11px;}
#box1colnobar .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -10px -61px;}
#box1colnobar .boxcolor{background-color:#bbbbbb;}
#box1colnobar .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1colnobar .boxBar{width:34px; height:371px; background: transparent;}
#box1colnobar .box{width:287px; height:371px; background: #bbbbbb; position: relative; overflow: hidden;}
#box1colnobar .box h4{padding: 25px 0 0 21px; font-family:'Helveticaneue';}
#box1colnobar .box p{width:85%; margin:0 auto; text-align: justify;}
#box1colnobar .box .detail{position: absolute; top: 5px; left: 5px;}

/*BOX 2 COLUNAS*/
#box2col{width: 929px; height: 399px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -17px -972px; margin: 5px 0;}
#box2col h5{padding: 35px 0 20px 21px;}
#box2col p{width:93%; margin:0 auto; text-align: justify;}
#box2col ul{padding:0 0 0 20px;}
#box2col ul li{background-position: -747px -195px;}
#box2col .col01{width: 602px; height: 393px; display: block; overflow: hidden; position: relative;}
#box2col .col02{width: 326px; height: 399px; display: block; overflow: hidden; position: relative;}

/*BOX 3 COLUNAS*/
#box3col{width: 929px; height: 402px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -16px -435px; margin: 5px 0;}
#box3col h5{padding: 35px 0 20px 21px;}
#box3col p{width:85%; margin:0 auto; text-align: justify;}
#box3col ul{padding:20px 0 0 20px;}
#box3col ul li{background-position: -747px -195px;}
#box3col .col01{width:304px; height: 401px; display: block; overflow: hidden; position: relative;}
#box3col .col02{width: 314px; height: 401px; display: block; overflow: hidden; position: relative;}
#box3col .col03{width: 307px; height: 401px; display: block; overflow: hidden; position: relative;}

/*BOX 3 COLUNAS BIG*/
#box3colbig{width: 965px; display: block; float: left; margin: 5px 0;}
#box3colbig h5{padding: 15px 0 10px 21px;}
#box3colbig p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#box3colbig .img{width:100%; height:170px; position: relative; overflow: hidden;}
#box3colbig img{width:100%;}
#box3colbig .boxlink{width:149px; height:42px; position: absolute; bottom: 10px; left: 50%; margin-left:-72px;}
#box3colbig .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box3colbig .icone{background-position:0px -11px;}
#box3colbig .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; position: absolute; top: 5px; left: 5px;}
#box3colbig .boxcolor{background-color:#bbbbbb;}
#box3colbig .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box3colbig .boxBar{width:34px; height:371px; background: transparent;}
#box3colbig .col01{width:287px; height:400px; background: #fff; position: relative; overflow: hidden;}
#box3colbig .col02{width:287px; height:400px; background: #fff; position: relative; overflow: hidden; margin:0 21px;}
#box3colbig .col03{width:287px; height:400px; background: #fff; position: relative; overflow: hidden;}
#box3colbig .col01 .detail{background-position: -10px -61px;}
#box3colbig .col02 .detail{background-position: -10px -61px;}
#box3colbig .col03 .detail{background-position: -10px -61px;}


/*BOX 2 COLUNAS BIG*/
#boxfull2colbig{width: 931px; height: 683px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -16px -1442px; margin: 5px 0;}
#boxfull2colbig .col01{width:465px; height:683px; float: left; position: relative;}
#boxfull2colbig .col02{width:465px; height:683px; float: left; position: relative;}
#boxfull2colbig .col02 .primeiralista{margin-left: 150px;}
#boxfull2colbig .boxlink{width:326px; height:57px; position: absolute; bottom: 10px; left: 50%; margin-left:-163px;}
#boxfull2colbig .boxlink .link{line-height:57px;}
#boxfull2colbig h5{padding: 45px 0 0 30px;}
#boxfull2colbig p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#boxfull2colbig ul{padding:20px 0 0 20px;}
#boxfull2colbig ul li{background-position: -747px -195px;}

/*BOX FULL 3 COL*/
#boxfull3col{width: 965px; display: block; float: left; background: #fff; margin: 5px 0; overflow: hidden; height: 347px;}
#boxfull3col .col01{width:316px; height:400px; position: relative; overflow: hidden; float: left;}
#boxfull3col .col01 img{width:316px;}
#boxfull3col .col02{width:297px; height:316px; background: #ccc; position: relative; float: left; overflow: hidden; margin-right:21px;}
#boxfull3col .col03{width:297px; height:316px; background: #ccc; position: relative; float: left; overflow: hidden;}
#boxfull3col h5{padding: 30px 0 15px 30px;}
#boxfull3col p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}

/*BOX SMALL 2 COL*/
#box2colsmall{width: 622px; height: 345px; display: block; float: left; background: url(../img/bg-box2colsmall.png) no-repeat 0 0; margin: 5px 0; position: relative;}
#box2colsmall .col01{width:315px; height:340px; position: relative; float: left; overflow: hidden;}
#box2colsmall .col02{width:306px; height:340px; position: relative; float: left; overflow: hidden;}
#box2colsmall ul{margin-left: 30px;}
#box2colsmall ul li{background-position: -747px -195px;}
#box2colsmall h5{padding: 30px 0 15px 30px;}
#box2colsmall p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#box2colsmall .col01 .detailBGt{left: 315px;}
#box2colsmall .col01 .detailBGb{left: 315px;}
#box2colsmall .col02 .detailBGt{left: 0;}
#box2colsmall .col02 .detailBGb{left: 0;}

/*BOX SMALL 02 - 2 COL*/
#box2colsmall02{width: 615px; height: 339px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -907px -494px; margin: 30px 0 5px 0; position: relative;}
#box2colsmall02 .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left; margin-top: -25px;}
#box2colsmall02 .icone{background-position:0px -11px;}
#box2colsmall02 .boxcolor{background-color:#bbbbbb;}
#box2colsmall02 .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center; margin: -25px 0 0 34px;}
#box2colsmall02 .col01{width:375px; height:340px; position: relative; float: left; overflow: hidden; background: #dbdbdb;}  
#box2colsmall02 .col02{width:240px; height:340px; position: relative; float: left; overflow: hidden;}
#box2colsmall02 ul{margin-left: 30px;}
#box2colsmall02 ul li{background-position: -747px -195px;}
#box2colsmall02 h5{padding: 30px 0 15px 30px;}
#box2colsmall02 p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#box2colsmall02 .col01 .detailBGt{left: 376px; bottom:-1px;}
#box2colsmall02 .col01 .detailBGb{left: 376px; bottom:-1px;}
#box2colsmall02 .col02 .detailBGt{left: 0; bottom:-1px;}
#box2colsmall02 .col02 .detailBGb{left: 0; bottom:-1px;}

/*BOX 4 COLUNAS*/
#box4col{width: 935px; height: 230px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -32px -2197px; margin: 5px 0; position: relative;}
#box4col .col01, .col02, .col03, .col04{width:233px; height:230px; display: block; float: left; position: relative;}
#box4col h5{padding: 30px 0 15px 16px;}
#box4col p{width:85%; font-size: 12px; line-height:18px; margin:0 auto; text-align: left;}

/*BOX BIG 1 COL*/
#box1colbig{width: 588px; height: 235px; display: block; float: left; margin: 5px 0; position: relative;}
#box1colbig .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1colbig .icone{background-position:0px -11px;}
#box1colbig .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -10px -61px;}
#box1colbig .boxcolor{background-color:#bbbbbb;}
#box1colbig .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1colbig .boxBar{width:34px; height:210px; background: #848383;}
#box1colbig .box{width:553px; height:371px; background: transparent; position: relative; overflow: hidden;}
#box1colbig  h4{padding: 20px 0 10px 21px;}
#box1colbig  p{width:92%; margin:0 auto; text-align: justify;}
#box1colbig  .detail{position: absolute; top: 5px; left: 5px;}
#box1colbig ul{margin:20px 0 0 20px;}
#box1colbig ul li{background-position: -747px -195px;}

.galeria01{width:965px; height:77px; background:#eeeded; border: 1px solid #ccc; float: left;}
.galeria02{width:296px; height:336px; background:#eeeded; border: 1px solid #ccc; float: left;}
.galeria03{width:623px; height:329px; background:#eeeded; border: 1px solid #ccc; float: left;}
.galeria04{width:973px; height:117px; background:#eeeded; border: 1px solid #ccc; float: left;}
.modulo_datas{width:376px; height:150px; background:#eeeded; border: 1px solid #ccc; float: left;}


/*CONTENT*/
#content{width: 965px; margin: 0 auto; position: relative; z-index:0;}

/*TV IE*/
#block-views-tv-ie-block {float: right; margin: 20px 0 60px 0; position:relative; z-index:0;}
#block-views-tv-ie-block div{position:relative; z-index:1;}
#block-views-tv-ie-block h2{display: none;}
#block-views-tv-ie-block #box1col .boxcolor{background-color:#027d9b;}
#block-views-tv-ie-block #box1col .boxBar {background-color:#07a5bd; height: 365px;}
#block-views-tv-ie-block #box1col .boxIcon { width: 34px; height: 25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0 #027d9b; background-position: -223px -12px; float: left; }
#block-views-tv-ie-block #box1col .boxTitle {padding: 0 7px;}
#block-views-tv-ie-block #box1col .boxTitle a {font-size:10px; margin-top: -10px; display: block;}
#block-views-tv-ie-block #box1col .box { width: 287px; height: 371px; background: url(../img/bg_tvie.jpg) repeat-x 0 0; position: relative; overflow: hidden; }
#block-views-tv-ie-block .view-id-tv_ie .view-content{}
#block-views-tv-ie-block .view-id-tv_ie .views-field-title{margin: 15px 10px 7px 10px; font: 15px/20px "helveticaneueBold"; color: #fff; padding-top: 200px;}
#block-views-tv-ie-block .view-id-tv_ie .views-field-body .field-content{font: 12px/16px Arial; color: #fff; margin: 0 10px;}
#block-views-tv-ie-block #video-home{position:absolute; z-index:0;}

/* PROMOÇÕES DA HOME */
#block-views-promocoes-destaque-block{width: 620px; height: 400px; display: block; float: left; overflow: hidden; margin: 20px 20px 60px 0; position: relative;}
#block-views-promocoes-destaque-block h2{display: none;}
#block-views-promocoes-destaque-block #box1col{width: 635px;}
#block-views-promocoes-destaque-block #box1col .boxcolor{background-color: #0059ae;}
#block-views-promocoes-destaque-block #box1col .icone{background-position: -177px -11px;}
#block-views-promocoes-destaque-block #box1col .boxTitle{padding: 0 10px;}
#block-views-promocoes-destaque-block #box1col .boxBar{height: 365px;background: #0072c0;}
#block-views-promocoes-destaque-block #box1col .box {width: 601px; height: 365px; background: url(../img/home/bg_promocoes.jpg) repeat 0 0;}
#block-views-promocoes-destaque-block .view-id-promocoes_destaque{width: 575px; height: 353px; position: absolute; top: 30px; left: 34px;}
#block-views-promocoes-destaque-block .view-id-promocoes_destaque .views-row{width: 100%; height: 109px; display: block; margin-bottom: 13px; overflow: hidden;}
#block-views-promocoes-destaque-block .view-id-promocoes_destaque .views-row .imagem{float: left; width: 250px;}
#block-views-promocoes-destaque-block .view-id-promocoes_destaque .views-row .imagem img{width: 100%; height: auto;}
#block-views-promocoes-destaque-block .view-id-promocoes_destaque .views-row .titulo{width: 248px; background: url(../img/sprite_global.png) no-repeat -746px -273px; float: left; margin-left: 10px; font: 14px "HelveticaNeueBold"; color: #fff; padding: 10px 0 5px 13px;}
#block-views-promocoes-destaque-block .view-id-promocoes_destaque .views-row .descricao{width: 310px; float: right; margin-left: 8px; font: 12px/16px Arial; color: #fff; height: 75px;}
#block-views-promocoes-destaque-block .view-id-promocoes_destaque .views-row .descricao p{font:12px/16px Arial; color: #fff;}

#block-system-main #first-time{display: none;}

/*IE EXPLORER*/
#iexplorer{width: 965px; height: 165px; display: block; background: url(../img/home/sprite-home.png) no-repeat -1px -1px; margin: 35px auto; clear: both; position:relative;}
#iexplorer .box-left-facebook{width: 608px; height: 92px; background: #fff; border: 3px solid #b1b1b1; display: block; float: left; margin-left: 16px; /*position:absolute;*/ margin-top:5px;}
#iexplorer .box-left-facebook .fb-like{margin:15px 0 0 18px;}
#iexplorer .box-right-facebook{width:292px; height: 92px; background: #fff; border:3px solid #b1b1b1; display: block; float: right; margin-right: 19px; /*position: absolute;*/margin-top: 5px; left:648px;}
#iexplorer .box-right-facebook .cont-faceapp{padding: 20px 0 0 20px;}
#iexplorer .box-right-facebook .cont-faceapp span{display:inline-block; color:#3a5a97; padding-left:10px; font: 13px 'Verdana'; font-weight:bold;}
#iexplorer .box-right-facebook .cont-faceapp a{font: 14px/20px 'Verdana';}
#iexplorer .box-right-facebook .fb-like-box {margin: 10px; width: 272px; height: 72px;}
#iexplorer .box-right-facebook .cont-faceapp .fb-like {margin: 5px 0 0;}
#iexplorer .titulo{top: -25px; position: relative;}
#iexplorer .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#iexplorer .icone{background-position:-270px -10px;}
#iexplorer .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -10px -61px;}
#iexplorer .boxcolor{background-color:#07bebc;}
#iexplorer .boxTitle{min-width: 84px; height: 25px; background: #2d2d2d; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}

.box-querovoufui { font-family: helvetica; margin: 0 0 0 16px; top: -27px; position:relative;}
.box-querovoufui li {float: left; position:absolute; top:0;}

.quero {width: 292px; height: 406px; background: #ef3b5b; padding: 13px 0 0 6px; /*margin: 2px 18px 7px 0;*/}
.quero h3 {width: 128px; font-weight: bold; font-family: helvetica; font-size: 28px; margin: 0 0 0 0; float: left; color: #fff !important; margin: 0 20px 0 0; position: relative; left: 10px;}
.quero select {float: left; width: 120px; height: 30px; position: relative; left: 18px;}
.quero .interno {width: 286px; height: 340px; background: #fff; padding-top:15px; margin-top: 12px; position: relative;}
.quero .interno span{width: 18px; height: 18px; display: block; background: url(../img/seta_vermelha.png) no-repeat 0 0; position: absolute; right: 3px; top: 4px;}
.quero .interno p {width: 258px; display: block; margin: 0 0 15px 15px; font-size: 12px;}
.quero .interno .bt {width: 149px; height: 36px; margin: 10px auto 0 auto; padding-top: 6px; background: #e9e9e9;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.quero .interno .bt a {width: 135px; height: 22px; display: block; margin: 0 auto; background: #252525; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; color: #fff; text-decoration: none; text-align: center; font-size: 12px; line-height: 17px; font-family: helvetica; padding-top: 8px;}
.quero .interno .bt a:hover {background: #3f3e3e;}
.quero .interno .pessoas { height: 220px; width: 286px; border-color: #000; border-top: dotted 2px ; border-bottom: dotted 2px; display: block; overflow: hidden;}
.quero .interno .pessoas .row{width:279px; height: 74px; display: block; margin: 0 auto; clear: both;}
.quero .interno .pessoas .row:nth-child(odd) {background: #f7f6f6;}
.quero .interno .pessoas .avatar {margin:12px 0 0px 11px; float: left;}
.quero .interno .pessoas .avatar img{width: 49px; height: 49px; display: block;}
.quero .interno .pessoas .nome {width: 200px; margin: 14px 0 0 10px; float: left; display: block; font:bold 13px Arial; color: #0a4fae;}
.quero .interno .pessoas .frase {margin-left: 11px; float: left; font:12px Arial; color: #000;}

.vou {width: 292px; height: 406px; background: #07bebc; padding: 13px 0 0 6px; /*margin: 2px 18px 7px 0;*/ left:316px;}
.vou h3 {width: 128px; font-weight: bold; font-family: helvetica; font-size: 28px; margin: 0 0 0 0; float: left; color: #fff !important; margin: 0 20px 0 0; position: relative; left: 10px;}
.vou select {float: left; width: 120px; height: 30px; position: relative; left: 18px;}
.vou .interno {width: 286px; height: 340px; background: #fff; padding-top:15px; margin-top: 12px; position: relative;}
.vou .interno span{width: 18px; height: 18px; display: block; background: url(../img/seta_azul.png) no-repeat 0 0; position: absolute; right: 3px; top: 4px;}
.vou .interno p {width: 258px; display: block; margin: 0 0 15px 15px; font-size: 12px;}
.vou .interno .bt {width: 159px; height: 36px; margin: 10px auto 0 auto; padding-top: 6px; background: #e9e9e9;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.vou .interno .bt a {width: 145px; height: 22px; display: block; margin: 0 auto; background: #252525; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; color: #fff; text-decoration: none; text-align: center; font-size: 12px; line-height: 17px; font-family: helvetica; padding-top: 8px;}
.vou .interno .bt a:hover {background: #3f3e3e;}
.vou .interno .pessoas { height: 220px; width: 286px; border-color: #000; border-top: dotted 2px ; border-bottom: dotted 2px; display: block; overflow: hidden;}
.vou .interno .pessoas .row{width:279px; height: 74px; display: block; margin: 0 auto; clear: both;}
.vou .interno .pessoas .row:nth-child(odd) {background: #f7f6f6;}
.vou .interno .pessoas .avatar {margin:12px 0 0px 11px; float: left;}
.vou .interno .pessoas .avatar img{width: 49px; height: 49px; display: block;}
.vou .interno .pessoas .nome {width: 200px; margin: 14px 0 0 10px; float: left; display: block; font:bold 13px Arial; color: #0a4fae;}
.vou .interno .pessoas .frase {margin-left: 11px; float: left; font:12px Arial; color: #000;}

.fui {width: 292px; height: 406px; background: #458ec0; padding: 13px 0 0 6px; left:631px;}
.fui h3 {width: 128px; font-weight: bold; font-family: helvetica; font-size: 28px; margin: 0 0 0 0; float: left; color: #fff !important; margin: 0 20px 0 0; position: relative; left: 10px;}
.fui select {float: left; width: 120px; height: 30px; position: relative; left: 18px;}
.fui .interno {width: 286px; height: 340px; background: #fff; padding-top:15px; margin-top: 12px; position: relative;}
.fui .interno span{width: 18px; height: 18px; display: block; background: url(../img/seta_azul2.png) no-repeat 0 0; position: absolute; right: 3px; top: 4px;}
.fui .interno p {width: 258px; display: block; margin: 0 0 15px 15px; font-size: 12px;}
.fui .interno .bt {width: 199px; height: 36px; margin: 10px auto 0 auto; padding-top: 6px; background: #e9e9e9;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.fui .interno .bt a {width: 185px; height: 22px; display: block; margin: 0 auto; background: #252525; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; color: #fff; text-decoration: none; text-align: center; font-size: 12px; line-height: 17px; font-family: helvetica; padding-top: 8px;}
.fui .interno .bt a:hover {background: #3f3e3e;}
.fui .interno .pessoas { height: 220px; width: 286px; border-color: #000; border-top: dotted 2px ; border-bottom: dotted 2px; display: block; overflow: hidden;}
.fui .interno .pessoas .row{width:279px; height: 74px; display: block; margin: 0 auto; clear: both;}
.fui .interno .pessoas .row:nth-child(odd) {background: #f7f6f6;}
.fui .interno .pessoas .avatar {margin:12px 0 0px 11px; float: left;}
.fui .interno .pessoas .avatar img{width: 49px; height: 49px; display: block;}
.fui .interno .pessoas .nome {width: 200px; margin: 14px 0 0 10px; float: left; display: block; font:bold 13px Arial; color: #0a4fae;}
.fui .interno .pessoas .frase {margin-left: 11px; float: left; font:12px Arial; color: #000;}

/*FOOTER*/
#footer{position: relative; bottom: 51px;}
.region-footer-menu{width: 100%; height: 212px; margin:0 auto;}
.region-footer-menu h2{display: none;}
.region-footer-menu ul li{list-style-type: none; background: none;}

.region-footer-menu ul.menu{width: 965px; height: 212px; margin: 0 auto; overflow: hidden;}
.region-footer-menu ul.menu li.expanded{width: 965px; display: block; float: left; margin: 0 auto; background: url(../img/sprite-menu-footer.png) no-repeat 0 0 #272821;}
.region-footer-menu ul.menu li.expanded a{font:12px/16px Arial; color: #fff; text-decoration: none; display: block; padding:0 0 0 23px;}
.region-footer-menu ul.menu li.expanded a:hover{text-decoration: underline;}
.region-footer-menu ul.menu li.expanded a.noclick{font:10px/6px Arial; text-transform: uppercase; cursor: default; padding: 15px 0 45px 23px;}
.region-footer-menu ul.menu li.expanded a.noclick:hover{text-decoration: none;}
.region-footer-menu ul.menu li.item0{width: 173px; background-position: 0 0;}
.region-footer-menu ul.menu li.item1{width: 173px; background-position: -179px 0;}
.region-footer-menu ul.menu li.item2{width: 156px; background-position: -358px 0;}

.region-footer-menu ul.menu li.item3 a{font-size:11px;}
.region-footer-menu ul.menu li.item4 a{font-size:11px;}
.region-footer-menu ul.menu li.item5 a{font-size:11px;}
.region-footer-menu ul.menu li.item6 a{font-size:11px;}
.region-footer-menu ul.menu li.item3 a.noclick{font-size:11px; font-weight: bold; color:#ffcd00; text-transform: none; padding: 20px 0 5px 28px;}
.region-footer-menu ul.menu li.item4 a.noclick{font-size:11px; font-weight: bold; color:#ffcd00; text-transform: none; padding: 20px 0 5px 28px;}
.region-footer-menu ul.menu li.item5 a.noclick{font-size:11px; font-weight: bold; color:#ffcd00; text-transform: none; padding: 20px 0 5px 28px;}
.region-footer-menu ul.menu li.item6 a.noclick{font-size:11px; font-weight: bold; color:#ffcd00; text-transform: none; padding: 7px 0 5px 28px;}

.region-footer-menu ul.menu li.item3{width: 150px; background-position: -520px 0;}
.region-footer-menu ul.menu li.item4{width: 115px; height: 215px; background-position: -524px 0;}
.region-footer-menu ul.menu li.item5{width: 162px; height: 215px;background-position: -524px 0;}
.region-footer-menu ul.menu li.item6{width: 263px; background-position: -556px -10px;}

.footer-2{width:100%; height:51px; display: block; background: url(../img/bg-footer.jpg) repeat-x 0 0 #272821; position: fixed; bottom: 0; z-index: 9999999;}
.footer-2 .footer-center{width: 965px; margin: 0 auto; position: relative;}
.footer-2 ul.footerLeft{float: left; width: 517px; height: 45px;}
.footer-2 ul.footerLeft li{width: 244px; height: 45px; background: none; float: left; list-style-type: none; margin: 4px 0 0 0; padding: 0;}
.footer-2 ul.footerLeft li a{width:100%; height: 100%; display: block; background: url(../img/bg-links-footer.png) no-repeat 0 0 transparent; font: 21px/45px Arial; color: #fff; text-decoration: none; text-align: center;}
.footer-2 ul.footerLeft li a:hover{background-position: 0px -60px;}
.footer-2 ul.footerLeft li a.ativo{background-position: 0px -60px;}
.footer-2 ul.footerLeft li.link02{width: 290px; margin-left: -26px;}
.footer-2 ul.footerLeft li.link02 a{background-position:0 0; cursor: default;}
.footer-2 ul.footerLeft li.link02 a:hover{background-position:0 -130px;}
.footer-2 ul.footerLeft li.link02 a.ativo{background-position:0 -130px;}
.footer-2 ul.footerRight{float: right; width: 444px; height: 39px; border-left: 1px solid black; margin-top: 7px;}
.footer-2 ul.footerRight li{width: 209px; height: 31px; background: url(../img/sprite_global.png) no-repeat 0 0 #272821; font:12px/31px Arial; color: #fff; float: left; margin-top:4px; text-align: center; cursor: pointer; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.footer-2 ul.footerRight li:hover{background: url(../img/sprite_global.png) no-repeat 0 0 #000;}
.footer-2 ul.footerRight li.telefone{background-position:-665px -2450px; margin-right:2px;}
.footer-2 ul.footerRight li.atendimento{background-position:-885px -2451px; display: none;}

.footer-2 .boxForm{width:339px; height:266px; display: block; background: url(../img/bg-boxlocalizador.png) repeat 0 0; position: absolute; bottom: 0; left: 187px; z-index: 9999; display: none;  opacity: 0; -webkit-opacity: 0; -o-opacity: 0;  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.footer-2 .boxForm .bt_fechar{display:none; color:#F00; cursor:pointer; position:absolute; right:32px; top:25px; z-index:99999; font-weight:bold;}
.footer-2 .boxForm .boxIcon{display: none;}
.footer-2 .boxForm .boxTitle{display: none;}
.footer-2 .boxForm .boxInterno{width: 264px; height: 240px; display: block; background: url(../img/bg-boxlocalizador-interno.png) no-repeat 0 0; position: absolute; top: 20px; left: 22px; overflow: hidden; padding: 10px 15px;}
.footer-2 .boxForm .boxInterno .form-busca{width: 100%; height: 174px; /*border-bottom: 1px dashed #000;*/}
.footer-2 .boxForm .boxInterno .endereco{width: 100%; height: 170px;}
.footer-2 .boxForm .boxInterno .endereco p.agencia{font:14px/16px 'HelveticaNeueBold'; color:#000; display: block; padding-top: 10px;}
.footer-2 .boxForm .boxInterno .endereco p.contato{font:bold 12px/12px Arial; color:#616161; display: block; padding: 10px 0 2px 0;}
.footer-2 .boxForm .boxInterno .endereco p{font:12px/14px Arial; color:#616161; display: block;}
.footer-2 .boxForm .boxInterno .endereco .boxlink{width:106px; height:30px; padding: 5px; margin: 7px auto 0 auto;}
.footer-2 .boxForm .boxInterno .endereco a.link{width:105px; height:30px; background: #323232; font:13px/30px 'Helveticaneue'; color: #fff; text-transform:none; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease; cursor: pointer;}
.footer-2 .boxForm .boxInterno .endereco a.link:hover{background: #000;}

.footer-2 .boxForm .boxInterno .select{position: absolute; top: 25px; width: 165px;}
.footer-2 .boxForm .boxInterno form select{width: 165px; height: 34px; border: 1px solid #ccc; line-height: 25px; margin-bottom: 6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.footer-2 .boxForm .boxInterno form input[type=submit]{width:90px; height: 114px; font:13px/83px 'HelveticaneueBold'; color:#fff; background: #323232; border: 8px solid #eaeaea; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor: pointer; position: absolute; top: 25px; right: 15px; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.footer-2 .boxForm .boxInterno form input[type=submit]:hover{background:#000;}

.footer-2 .busca_lojas form .buscaPorEnd p.tipsBusca{font:bold 14px/26px Arial; color:#000; text-align: center; display: block; padding: 6px 0;}
.footer-2 .busca_lojas form .buscaPorEnd .busca{}
.footer-2 .busca_lojas form .buscaPorEnd .busca input[type=text]{width: 238px; height: 22px; padding: 3px; display: block; margin: 10px auto; border: 1px solid #ccc; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;}
.footer-2 .busca_lojas form .buscaPorEnd .busca span.legenda{font:9px/15px Arial; color:#000; text-align: center; display: block; margin-top: -5px;}
.footer-2 .busca_lojas form .buscaPorEnd .busca .button{width:205px; display: block; background:#b7b7b7; margin: 17px auto; padding: 6px 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px;}
.footer-2 .busca_lojas form .buscaPorEnd .busca input[type=button]{width:194px; height:28px; display: block; background-color:#323232; margin: 0 auto; font:bold 12px Arial; text-align: center; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; cursor: pointer; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.footer-2 .busca_lojas form .buscaPorEnd .busca input[type=button]:hover{background-color:#000;}

.footer-2 .busca_lojas form .buscaPorRegiao .busca{}
.footer-2 .busca_lojas form .buscaPorRegiao p.tipsBusca{font:bold 14px/23px Arial; color:#000; text-align: center; display: block; padding: 5px 0;}
.footer-2 .busca_lojas form .buscaPorRegiao select{width:206px; height: 30px; margin: 4px auto; display: block;}
.footer-2 .busca_lojas form .buscaPorRegiao .busca .button{width:205px; display: block; background:#b7b7b7; margin: 22px auto; padding: 6px 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px;}
.footer-2 .busca_lojas form .buscaPorRegiao .busca input[type=button]{width:194px; height:28px; display: block; background-color:#323232; margin: 0 auto; font:bold 12px Arial; text-align: center; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; cursor: pointer; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.footer-2 .busca_lojas form .buscaPorRegiao .busca input[type=button]:hover{background-color:#000;}

/*PÁGINA DE SUCESSO DOS FORMULÁRIOS*/
.page-node-123 #box1col{margin-bottom: 100px;}
.page-node-123 #box1col .box {width: 560px; height: 201px; background: none; position: relative; overflow: hidden;}
.page-node-123 #box1col .boxBar {width: 34px; height: 200px; background: #e4e4e4;}


.view-destaques .views-row-1 .titulo a{color:#458ec0 !important; font: bold 24px/26px 'HelveticaNeue' !important;}
.view-destaques .views-row-2 .titulo a{color:#07bdbc !important; font: bold 24px/26px 'HelveticaNeue' !important;}
.view-destaques .views-row-3 .titulo a{color:#ef3b5b !important; font: bold 24px/26px 'HelveticaNeue' !important;}