#header {margin-bottom: 0px !important;}

#block-views-destaques-block h2 {display:none;}
#block-views-destaques-block .content {display:inline-block;}
#block-views-destaques-block .views-row {position:relative; float:left; width:304px; height: 340px; background-color:#fff;}
#block-views-destaques-block .views-row span {background:url(../img/home/bg-coluna1.png) no-repeat 0 0; display:block;}
#block-views-destaques-block .views-row .imagem {height:162px;}
#block-views-destaques-block .views-row .imagem img {height:162px; width:304px;}
#block-views-destaques-block .views-row .titulo {font:bold 24px/26px 'HelveticaNeue'; text-align:left; color:#458ec0; padding:15px 90px 5px 17px;}
#block-views-destaques-block .views-row .descricao {}
#block-views-destaques-block .views-row .saiba_mais {width: 80px; height: 24px; display: block; float: left; margin-left:20px;}
#block-views-destaques-block .views-row .saiba_mais a{text-transform: lowercase; color: #ef3b5b; font-family: 'Arial'; font: 12px/20px 'Arial'; display: block; background: url(../img/seta-li-rosa-2.png) no-repeat 68px 6px;}
#block-views-destaques-block .views-row .saiba_mais a:hover{text-decoration:underline;}
#block-views-destaques-block .views-row .facebook {width: 55px; height: 24px; display: block; float: right; overflow: hidden; margin-right: 15px;}
#block-views-destaques-block .views-row .descricao p {font:12px/16px Arial, Helvetica, sans-serif; color:#616161; text-align:left; padding:0 15px 15px 17px;}
#block-views-destaques-block .views-row .link {background: none; border: 0; position: absolute; width: 100px; top: 295px; left: 17px;}
#block-views-destaques-block .views-row .link a {display:block; font:bold 12px/16px Arial, Helvetica, sans-serif; text-align:left; background:url(../img/sprite_global.png) no-repeat 71px 981px; color:#458ec0; text-transform:none;}
#block-views-destaques-block .views-row .link a:hover {color:#000;}
#block-views-destaques-block .views-row-2 {margin:0 26px;}
#block-views-destaques-block .views-row-2 .titulo {color:#07bdbc;}
#block-views-destaques-block .views-row-2 .link a {color:#07bdbc;}
#block-views-destaques-block .views-row-3 .titulo {color:#ef3b5b;}
#block-views-destaques-block .views-row-3 .link a {color:#ef3b5b;}

#block-views-destaques-block .views-row-1 .saiba_mais a{color:#458ec0; background: url(../img/seta-li-azul-2.png) no-repeat 68px 6px;}
#block-views-destaques-block .views-row-2 .saiba_mais a{color:#07bdbc; background: url(../img/seta-li-azul.png) no-repeat 68px 6px;}

#block-views-webdoors-block{position: relative; z-index: 3;}


.webdoor{width: 100%; height: 294px; margin-bottom: 70px; position: relative;}
.webdoor .contentWebdoor{width: 965px; height: 100%; margin: 0 auto; background: url(../img/bg_webdoor.jpg) repeat; position: relative;}
.webdoor .contentWebdoor .textos{width:251px; height: 294px; background:#f2f2f2; position: absolute; top: 0; left: 0;}
.webdoor .contentWebdoor .textos div{opacity: 0; -webkit-opacity: 0; -moz-opacity: 0; -o-opacity: 0;  filter: alpha(opacity=0);}
.webdoor .contentWebdoor .textos div.dados-ativo{height:294px; position: relative; z-index: 999; opacity: 1; -webkit-opacity: 1; -moz-opacity: 1; -o-opacity: 1;  filter: alpha(opacity=100);}
.webdoor .contentWebdoor .textos p{font:14px/16px Arial; color:#616161; padding: 20px 40px 20px 0;}
.webdoor .contentWebdoor .textos .titulo{font:32px/36px 'AvantGarde-Demi'; color:#000; padding: 30px 40px 0 0;} 
.webdoor .contentWebdoor .textos .titulo strong {color:#458ec0; font-weight:normal;}

.webdoor .contentWebdoor .socials{margin-top:5px; display:block; position:absolute; top:196px; left:0; z-index:999; overflow:hidden;}
.webdoor .contentWebdoor .socials .facebook{width:56px; height:24px; display: block; float: left; overflow: hidden;}
.webdoor .contentWebdoor .socials .pinterest{width:44px; height:29px; display: block; float: left; overflow: hidden; margin-top:3px;}
.webdoor .contentWebdoor .socials .gmais{width:39px; height:24px; display: block; float: left; overflow: hidden; margin: 0 8px;}

.webdoor .contentWebdoor .saibaMais{width:479px; height: 40px; display: block; background: url(../img/bg-link-webdoor.png) no-repeat bottom right; position: absolute; bottom: 0; z-index:999; -webkit-opacity: 1 !important; -moz-opacity: 1 !important; -o-opacity: 1 !important; opacity: 1 !important; filter: alpha(opacity=100);}
.webdoor .contentWebdoor .saibaMais a{width:100px; height: 40px; display:none; background: url(../img/webdoor/seta.png) no-repeat 85px 18px; font:17px/43px Arial; color:#56a8df; z-index:999; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.webdoor .contentWebdoor .saibaMais a:hover{text-decoration: underline;}

.webdoor .contentWebdoor .imagem{width:563px; height:289px; overflow:hidden; position:absolute; top:-1px; left:251px; opacity:0; -webkit-opacity:0; -moz-opacity:0; -o-opacity:0;  filter:alpha(opacity=0); transition:All 1s ease; -webkit-transition:All 1s ease; -moz-transition:All 1s ease; -o-transition:All 1s ease;}
.webdoor .contentWebdoor .wAtivo .imagem{opacity:1; -webkit-opacity:1; -moz-opacity:1; -o-opacity:1;  filter:alpha(opacity=100); z-index:8;}
.webdoor .contentWebdoor .imagem img{}

.webdoor .contentWebdoor .thumbs{width:140px; position: absolute; top: 0; right: 0; z-index: 2;}
.webdoor .contentWebdoor .thumbs .thumWebdoor{width:135px; height: 140px; position: absolute; right: 8px; background: #fff; overflow: hidden; cursor: pointer;}
.webdoor .contentWebdoor .thumbs .thumWebdoor img{height:100%; width: auto; position: relative; left: -50%;}
.webdoor .contentWebdoor .thumbs #thumbPrev{top: 0;}
.webdoor .contentWebdoor .thumbs #thumbPrev span.itemPrev{width:100%; height:100%; display: block; background: url(../img/seta-prev.png) no-repeat 0 0 transparent; position: absolute; top:0; right: -135px; z-index: 9;}
.webdoor .contentWebdoor .thumbs #thumbNext{top: 147px;}
.webdoor .contentWebdoor .thumbs #thumbNext span.itemNext{width:100%; height:100%; display: block; background: url(../img/seta_next.png) no-repeat 0 0 transparent; position: absolute; top:0; left: -135px; z-index: 9;}

.webdoor .contentWebdoor .bullets{position: absolute; z-index:999; bottom: 12px; left: 251px; width: 204px;}
.webdoor .contentWebdoor .bullets ul.navegacao{}
.webdoor .contentWebdoor .bullets ul.navegacao li{width: 12px; height: 12px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -13px -251px; margin: 0 14px; padding: 0; text-indent: -999px; overflow: hidden; cursor: pointer;}
.webdoor .contentWebdoor .bullets ul.navegacao li:hover{background-position: -33px -251px;}
.webdoor .contentWebdoor .bullets ul.navegacao li.ativo{background-position: -52px -251px;}
.webdoor .contentWebdoor .bullets ul.navegacao li.ativo:hover{background-position: -52px -251px;}


.webdoor .detalheBase{width: 100%; height: 354px; position: absolute; top: 0;}
.webdoor .detalheBase .esquerda{width: 36%; float: left; height: 294px; position: relative; z-index: 0; background: url(../img/bg-detalhe-webdoor-left.png) repeat-x 0px 258px #f2f2f2;}
.webdoor .detalheBase .esquerdaBase{width: 36%; height: 29px; background: url(../img/home/footer-webdoor_fetalhe.jpg) repeat-x 0 -4px; position: absolute; z-index: 0; bottom: 20px;}
.webdoor .detalheBase .detalhe{width: 965px; height: 350px; display: block; background: url(../img/webdoor/footer-webdoor.png) no-repeat -170px bottom; margin: 0 auto;}
.webdoor .detalheBase .direita{}

.webdoor .auxiliary-items{width:965px; height:29px; display:block; /*background: url(../img/bg-auxiliary-itens.png) repeat-x 0 0;*/ overflow:hidden; margin:11px auto 0;}
.webdoor .auxiliary-items .item01{width:158px; height:29px; display: block; background: url(../img/bg-link-auxiliary.png) no-repeat top center; text-align: center; position: relative; float: left; margin-right: 43px; display:none;}
.webdoor .auxiliary-items .item02{width:129px; height:29px; display: block; background: url(../img/bg-link-auxiliary.png) no-repeat top center; text-align: center; position: relative; float: left; display:none;}
.webdoor .auxiliary-items span.bdrlft{width:28px; height:28px; display: block; background: url(../img/bg-link-auxiliary.png) no-repeat top left; position: absolute; top: 0; left: -28px;}
.webdoor .auxiliary-items span.bdrrgt{width:28px; height:28px; display: block; background: url(../img/bg-link-auxiliary.png) no-repeat -185px 0px; position: absolute; top: 0; right: -28px;}
.webdoor .auxiliary-items a{font:13px/29px 'AvantGarde-Demi'; color: #ec5900; text-decoration: underline; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;} 
.webdoor .auxiliary-items a:hover{color: #252525;}

#node-121, #node-120, #node-117, #node-116, #node-115, #node-114, #node-113, #node-112, #node-111, #node-110, #node-109{display: none;}
.item-list{display: none;}

