#master {background:url(../img/bg-ie_explorer_interna.png) no-repeat 50% 45%;}
#box1col {width: 288px; display: block; float: left; margin: 5px 0;}
#box1col .boxcolor {background-color:#098b58;}
#box1col .boxBar {background-color:#1abd7d; height:277px; width:34px;}
#box1col .box {background-color:#098b58; height:277px; width:254px;}
#box1col .box h4, #box1col .box p {color:#fff;}
#box1col .box p {height:auto; overflow:hidden;}

#box2col {margin:18px 0 0 30px;}
#box2col .col01 {padding:12px 0 0 10px; width: 590px !important;}
#box2col .col01 p {margin-bottom: 10px;}
#box2col .col02 h5 {color:#166a49;}
#box2col .col02 p {padding:0 21px; width:auto;}

.boxlink {width:auto; height:auto; display:block; background:#e7e7e7; padding:7px; margin:0; position:absolute; bottom:26px; left:41px;}
.boxlink a.link {width:auto; height:auto; font-size:15px; line-height:18px; padding:15px 30px; text-transform:none;}

.galeria-explorer {float:left; margin:30px 0 0 16px; width:627px; height:260px; background-color:#cccccc;}
.box-video-galery {background-color:#dbdbdb; clear:both; height:431px; margin:0 0 20px 35px; width:925px; position:relative;}
.box-video-galery .video {float:left; padding:20px; width:638px;}
.box-video-galery .video .content-video {height:391px; width:638px;}
.box-video-galery .descricao-video {float:right; padding:20px 20px 0 0; width:220px;}
.box-video-galery .descricao-video h5 {padding:14px 0 20px; font:bold 24px/16px 'HelveticaNeue'; color:#098b58;}
.box-video-galery .descricao-video p {font:12px/20px Arial; color:#555555; text-align:justify;}
.box-video-galery .descricao-video .boxlink {margin:25px auto 0;}
.box-video-galery .seta01 {width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-top:11px solid #f7f7f7; position:absolute; right:237px;}
.box-video-galery .seta02 {width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:11px solid #EDEDED; position:absolute; right:237px; bottom:0;}
.box-video-galery .seta03 {width:0; height:0; border-bottom:30px solid #EDEDED; border-left:30px solid transparent; position:absolute; right:0; bottom:0;}

h3{color: #0f6e48 !important;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo{background-position: -488px -265px;}
#header .page-title .menu-level-3 ul.menu { display: inline-block; float: left !important; }
#header .page-title .menu-level-3 ul.menu li.first{margin-left: 20px !important; margin-right:0 !important;}

/*GALERIA DOS CURSOS DA INTERNA*/
.galeria03{width:662px; height:278px; background: url(../img/estudar/bg_galeria-3_destinos.png) no-repeat 10px 0; border: none; float: left; margin:30px 0 0 10px; position:relative;}
.galeria03 .titulo{color: #166a49; display: block; margin-bottom: 10px; font: 25px/72px 'Helveticaneue'; padding-left: 24px;}
.galeria03 ul li{width: 116px; height: 158px; display: block; display: inline-block; float: left; margin: 0 7px; padding: 0; overflow: hidden; position: relative; cursor: pointer; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;} 
.galeria03 ul li:hover{opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7;  filter: alpha(opacity=70);} 
.galeria03 ul li img{width: 100%; height: 100%; border:0; display: block;}
.galeria03 ul li .title_curso{height: 44px; overflow: hidden; background-color: #2d2d2d; position: absolute; bottom: 0; width: 100%; padding: 0; font: 10px/44px Arial, Helvetica, sans-serif; color: #fff; text-transform: uppercase; text-align: center;}
.galeria03 ul li:hover .title_curso{color: yellow;}
.galeria03 ul li.ativo{border-bottom: 20px solid #166a49;}
.galeria03 a.btRight {right:7px !important;}

/*PÁGINA INTERNA DOS DESTAQUES*/
#block-block-7{float: left; width: 960px;}
.view-destinos-por-continente{float: left;}
.view-destinos-por-continente .col03 .field-content {font-family:helvetica; font-size:14px; font-weight:bold; color:#282826; text-align:right; width:150px; position:relative; top:-220px; left:90px;}
.view-destinos-por-continente .views-row{display: none;}
.view-destinos-por-continente .views-field-field-destinos-imagem img {position: absolute; top: 320px;}
.view-destinos-por-continente .views-field-field-destinos-video {display: none;}
.view-destinos-por-continente .views-field-nid{display: none;}
.view-destinos-por-continente .views-field-title{display: none;}