.conteudo-fixo{width:965px; margin: 0 auto;}

.boxIcon {width: 34px; height: 25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
.boxcolor {background-color: #fc581d;}
.boxTitle {min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center; padding: 0 10px;}
.icone {background-position: -415px -11px;}

.exibe_resultados ul{margin-top: 50px;}
.exibe_resultados li{width:301px; height:347px; display: block; background: url(../img/busca/bg_resultado_busca.jpg) no-repeat right bottom #ececec; position: relative; padding: 0; margin:10px;}
.exibe_resultados li img{margin: 29px 0 0 24px;}
.exibe_resultados li .titulo{width: 210px; position: absolute; top: 33px; left: 75px; font:20px "helveticaneuebold"; color:#fc571d;}
.exibe_resultados li .endereco{width: 85%; margin: 10px auto;}
.exibe_resultados li .endereco p{font:14px Arial; color:#454545;}
.exibe_resultados li .horario{width: 85%; margin: 10px auto;}

.exibe_resultados li .button{width:174px; display: block; background:#b7b7b7; margin: 17px auto; padding: 8px 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px;}
.exibe_resultados li .button a{width:158px; height:44px; display: block; background-color:#323232; margin: 0 auto; font:bold 13px/44px Arial; text-align: center; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; cursor: pointer; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.exibe_resultados li .button a:hover{background-color:#000;}


.mapa{width:600px; height:450px; float:left;  margin: 20px 0;}

.loja{  float: right;width: 340px; margin-top: 20px;
    /*height: 420px;
    margin: 20px 0;
    width: 340px; background: #FFFFFF;
    margin: 20px 0;
    padding: 20px 0 20px 20px; position:relative;*/}
	
.bloco_voltar{width:340px;}

.loja .title_loja{font: bold 16px Arial;margin-bottom: 15px;color: #454545;display: block;text-transform: uppercase;}

.btt{width:205px; display: block; background:#b7b7b7; margin: 24px auto; padding: 6px 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px;}
.bt{width:194px; height:28px; display: block;   background-color:#323232;  margin: 0 auto; font:bold 12px Arial; text-align: center; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; cursor: pointer; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.bt:hover{background-color:#000;}
.bt .texto{font:bold 12px Arial; text-align: center; padding: 6px 0; color: #fff;}

.endereco{ font: 14px Arial;margin:15px 0 15px 0; width:296px;}
	
/*.facebook{position:absolute; top:250px; background:#FFF;  padding: 20px 0 20px 20px; width:340px; height:50px; display:none;}*/

.loja-dados{background:#0FF; margin-top:30px; background: #FFFFFF;
    margin: 20px 0;
    padding: 20px 0 20px 20px; color: #454545; font: 14px Arial;}
	
.bloco_voltar{background: #E7E7E7;border-radius: 6px 6px 6px 6px; display: block;height: 42px;padding:7px;width: 325px;}	
	
	
.internaLojas .loja .bloco_voltar .link{background: #000000;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
   font: 14px/42px 'HelveticaneueBold';
    height: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: 100%;
}

#link_voltar{ font: 14px/42px 'HelveticaneueBold';}