/* Promoções Interna */

#promo-dez{width: 617px; float: left; position: relative; min-height:350px; background: #ebebeb url(../img/promocoes/bg-topo-promocoes.jpg)top left no-repeat;}
#promo-dez h4{color:#e4b615; font-size:40px; font-family: 'Arial'; font-weight: bold; position:absolute; top:14px; left:0; width:100%; text-align:center; text-transform:uppercase;}
#promo-dez .x10{position: absolute; top: 80px; left: 30px; color: #9c9c9c; font-size: 18px;}
#promo-dez .x10 span{font-size: 53px; position: relative; bottom: -10px; left: 5px; color:#158ae4;}
#promo-dez .cidade{position: absolute; top: 80px; right: 40px; font-size: 18px; color:#158ae4; width: 215px;}
#promo-dez ul.info{width: 290px; position: relative; margin: 160px 0 10px 20px;}
#promo-dez ul.info li{text-align: left; background: url(../img/seta-li-azul.png) no-repeat 0px 6px; padding-left: 12px;}
#promo-dez .investimento{width: 270px; position: absolute; right: 10px; top: 138px; text-align: right;}
#promo-dez .aviso{font-size: 10px; position: absolute; bottom: 60px; right: 10px;}
#promo-dez .aviso.dois{font-size: 10px; position: absolute; bottom: 95px; right: 10px;}

#promo-dez .p1{width: 270px; position: absolute; right: 10px; top: 165px; text-align: right; color:#5d5d5d;  height: 32px; background:#d6d6d6;}
#promo-dez .p1 .border-yellow{width: 9px; background: #e4b615; height: 100%; float: left; border-right: 2px solid #ebebeb;}
#promo-dez .p1 .text{padding: 5px 5px 0 0; font-size:18px; font-family: 'Arial';}
#promo-dez .p1 .text span{color:#158ae4;}

#promo-dez .p2{width: 270px; position: absolute; right: 10px; top: 202px; text-align: right; color:#5d5d5d; height: 32px;}
#promo-dez .p2 .ou{float: left; width: 46px; height: 24px; background: url(../img/promocoes/bg-ou-promocoes.png) 0 0 no-repeat; color: #fff; text-transform: uppercase; text-align: left; font-family: 'Arial'; font-size: 15px; padding: 8px 0 0 13px;}
#promo-dez .p2 .border-yellow{width: 9px; background: #e4b615; height: 100%; float: left; border-right: 2px solid #ebebeb; margin-left:5px;}
#promo-dez .p2 .text{font-size: 18px; background: #d6d6d6; margin-left: 70px; height: 27px; font-family: 'Arial'; padding: 5px 5px 0 0;}
#promo-dez .p2 span{color:#158ae4;}

#promo-dez .p3{width: 270px; position: absolute; right: 10px; top: 239px; text-align: right; color:#5d5d5d; height: 32px;}
#promo-dez .p3 .ou{float: left; width: 46px; height: 24px; background: url(../img/promocoes/bg-ou-promocoes.png) 0 0 no-repeat; color: #fff; text-transform: uppercase; text-align: left; font-family: 'Arial'; font-size: 15px; padding: 8px 0 0 13px;}
#promo-dez .p3 .border-yellow{width: 9px; background: #e4b615; height: 100%; float: left; border-right: 2px solid #ebebeb; margin-left:5px;}
#promo-dez .p3 .text{font-size:19px; background:#d6d6d6; margin-left:70px; height:28px; font-family: 'Arial'; padding: 4px 5px 0 0;}
#promo-dez .p3 span{color:#158ae4;}

#promo-dez .euquero{position:absolute; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; background: #fff; width: 113px; height:42px; bottom: 8px; right: 8px;}
#promo-dez .euquero a{color: #fff; font: 13px/32px 'helveticaneueBold'; text-align: center; width: 101px; height: 30px; display: inline-block; background: #1b1b1b; border-radius: 4px; margin: 6px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius:}

.view-promoces .views-row{cursor:pointer; width: 200px; overflow: hidden;}
.view-promoces .views-row .views-field-field-promocoes-escola .field-content{width: 200px; font: 13px/73px 'helveticaneueBold';}
.view-promoces .views-row .views-field-field-promocoes-escola .field-content .taxonomy_name{margin-left:0; width: 150px; float:left; padding-left:5px; background:#fff;}
.view-promoces .views-row .views-field-field-promocoes-escola .field-content .taxonomy_empresa_logo{padding-top: 10px; float: right; background: #fff; width: 45px; height: 63px;}
.view-promoces .views-row .views-field-field-promocoes-legenda{display:none;}
.view-promoces .views-row .views-field-field-valor-cad{display:none;}
.view-promoces .views-row .views-field-body{display:none;}
.view-promoces .views-row .views-field-field-parcelamento-1, .view-promoces .views-row .views-field-field-parcelamento-2{display:none;}
.view-promoces .views-row div span{color:#158ae4; font-size: 24px; font-family: arial; padding: 15px 0 5px 0; display: block; text-align: center;}

.view-promoces .views-row.ativo .views-field-field-promocoes-cidade,
.view-promoces .views-row.ativo div span{background:#ffdb5e;}
.view-promoces .views-row.ativo .views-field-field-promocoes-valor{border-bottom: 6px solid #ffdb5e;}
.view-promoces .views-row .views-field-field-promocoes-valor a{position: absolute; background: none; color: #e4b615; font-size: 12px; text-transform: lowercase; right: 0; top: 1px; padding-right: 20px; background: url(../img/seta_lista.png) no-repeat 53px 19px; font-family: Arial;}

/* Galeria Internas */
.galeriaPrincipal {
width: 325px !important;
height: 301px !important;
display: block;
position: absolute;
top: 415px !important;
left: 580px !important;
}

#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage{width:100%; height:75px; display: block; position: absolute; bottom: 1px; /*-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;*/}
#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img{width:80px; height:58px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}
/*#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img:hover{opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}*/

#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos{width:100%; height:75px; display: block; position: absolute; bottom: 1px; /*-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;*/}
#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img{width:80px; height:58px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}
/*#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img:hover{opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}*/

#block-block-16 .view-fotos-com-filtro-por-pais{position: absolute; top: 510px; left:645px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-row{display: none; position: absolute; top: 0; left: 0;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-field-fotos-imagem img{width: 283px; height: 204px; display: block; border: 0; position: relative; z-index: 999999;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-nothing{margin-top: 10px;}

#block-block-16 .view-videos-com-filtro-por-pais{position: absolute; top: 510px; left:645px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-videos-com-filtro-por-pais .views-row{display: none;}
#block-block-16 .view-videos-com-filtro-por-pais .views-field-nothing{margin-top: 5px;}

/*Scroll*/
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {bottom: 4px;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {height: 11px; width: 99%;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {margin: 8px auto;}
.mCSB_dragger{width: 23px !important; height: 11px;}
.mCSB_dragger_bar{background: url(../img/dragger.png) no-repeat -5px -1px transparent !important; opacity: 1; height: 11px !important;}
.mCSB_scrollTools .mCSB_draggerRail{background: #fff; border: 1px solid #ccc;}