/* PÁGINA PROMOÇÕES*/
.page-node-48 #master {background: url(../img/bg-promocoes.png) no-repeat 525px 215px}
.page-node-48 #box1col {width:350px; float:left;}
.page-node-48 #box1col .box {width:313px; height:304px; margin:47px 0 0; background:none;}

#box1col .boxcolor {background-color:#158AE4; background-position:-44px -11px;}
#box1col .boxBar {height:351px; background-color:#e4e4e4;}
#box1col .detail {background-position:-144px -61px;}
.col-promo1 {float:left; width:285px; margin:0 20px; padding:77px 0 0; overflow:hidden;}
.col-promo1 h3 {color:#158ae4; font:bold 30px/30px 'HelveticaNeue'; text-transform:none;}
.col-promo1 p {font-size:12px; line-height:18px; text-align:justify; padding:15px 0 0;}
.col-promo2 {float:left; margin:0 0 0 37px; padding:77px 0 0; width:253px;}
.col-promo2 span.chamada {display:block; color:#e4b615; font:37px/63px 'HelveticaneueBold'; height:69px; text-transform:uppercase; background:url(../img/bg-com-seta.png) no-repeat top center; padding:0; margin:0; text-align:center; letter-spacing:-1px;}
.col-promo2 div {position:relative;}
.col-promo2 div p {font:bold 21px/30px 'HelveticaNeue'; text-transform:uppercase; color:#9c9c9c; text-align:center; padding:20px 0 0;}
.col-promo2 div span {display:block; color:#158ae4; font:bold 64px/73px 'HelveticaNeue'; padding:0 0 0 25px; text-align:left;}
.col-promo2 div span b {font-size:45px; padding:0 0 0 5px;}
.col-promo2 div a {display:block; font:bold 12px/16px Arial; color:#e4b615; text-decoration:none; position:absolute; right:23px; top:82px; text-transform:none; padding:0 15px 0 0; background:url(../img/sprite_lista.png) no-repeat 68px -190px;}
.col-promo2 div a:hover {text-decoration:underline;}

h3{color: #158ae4 !important;}
#iexplorer .boxcolor{background-color:#158AE4;}

.view-promooes-destaque-pagina {clear:both; padding-top:50px;}
.view-promooes-destaque-pagina .views-row {position:relative; float:left; width:471px; margin-right:22px; margin-bottom:50px;}
.view-promooes-destaque-pagina .views-row-even{float:right; margin-right:0;}
.view-promooes-destaque-pagina .views-row .views-field-field-promopagina-imagem {width:471px; height:253px; cursor:pointer;}
.view-promooes-destaque-pagina .views-row .views-field-field-promopagina-imagem .field-content {height:253px;}
.view-promooes-destaque-pagina .views-row .views-field-title {background-color:#fff;}
.view-promooes-destaque-pagina .views-row .views-field-title a {display:block; color:#158ae4; font:24px/33px 'HelveticaneueBold'; text-align:left; padding:10px 0 0 26px;}
.view-promooes-destaque-pagina .views-row .views-field-field-promopagina-subtitulo {background-color:#fff; color:#555; font:12px/16px 'Arial'; text-align:left; padding:0 126px 20px 26px;}
.view-promooes-destaque-pagina .views-row .views-field-field-promopagina-link {position:absolute; bottom:19px; right:45px; padding:0 15px 0 0; background:url(../img/sprite_lista.png) no-repeat 69px -191px;}
.view-promooes-destaque-pagina .views-row .views-field-field-promopagina-link a {display:block; color:#e4b615; font:bold 12px/16px 'Arial';}
.view-promooes-destaque-pagina .views-row .bread {width:0; height:0; border-left:13px solid transparent; border-right:13px solid transparent; border-top:13px solid #fff; position:absolute; top:0; right:224px;}

/* PÁGINA PROMOÇÕES INTERNA*/
#master {}
#box1col {width:auto; float:none;}
#box1col .box {height:351px; width:25px; background:none; margin:0;}
.galeria20 {width:906px; height:398px; border:none; float:left; position:relative; margin:15px 0 0 0; padding:0;}
.galeria20 .scroll {height:398px; margin:0 0 0 25px; overflow:hidden; width:860px;}
.galeria20 .scroll .container {height:398px; margin:0; width:8888px;}
.galeria20 .scroll .container .view-id-promoces {float:left; height:auto; margin-left:0; width:9999px;}
.galeria20 .scroll .container .view-id-promoces .views-row {float:left; position:relative; margin-left:15px; background-color:#fff;}
.galeria20 .scroll .container .view-id-promoces .views-row:first-child {margin-left:0;}
.galeria20 .scroll .container .view-id-promoces .views-row .views-field-field-promocoes-imagem {width:200px; height:154px;}
.galeria20 .scroll .container .view-id-promoces .views-row .views-field-field-promocoes-imagem .field-content {height:154px;}
.galeria20 .scroll .container .view-id-promoces .views-row .views-field-field-promocoes-imagem .field-content img {width:200px; height:154px;}
.galeria20 .scroll .container .view-id-promoces .views-row .views-field-field-promocoes-empresa {height:75px; border-bottom:1px dotted #cfcfcf;}
.galeria20 .scroll .container .view-id-promoces .views-row .views-field-title {height:50px;}
.galeria20 .scroll .container .view-id-promoces .views-row .views-field-title a {display:block; color:#158ae4; text-align:center; font:bold 24px/71px 'HelveticaNeue';}
.galeria20 .scroll .container .view-id-promoces .views-row .views-field-field-promocoes-pais {}
.galeria20 .scroll .container .view-id-promoces .views-row .views-field-field-promocoes-cidade {color:#616161; font:12px/16px 'Arial'; text-align:center; height:27px; border-bottom:1px dotted #353535;}
.galeria20 .scroll .container .view-id-promoces .views-row .views-field-field-promocoes-valor {color:#616161; font:12px/16px 'Arial'; text-align:left; text-transform:uppercase; height:47px; position:relative;}
.galeria20 .scroll .container .view-id-promoces .views-row .views-field-field-promocoes-valor div {padding:16px 0 0 17px;}
.galeria20 .scroll .container .view-id-promoces .views-row .bread {width:0; height:0; border-left:13px solid transparent; border-right:13px solid transparent; border-top:13px solid #fff; position:absolute; top:0; right:89px;}
.galeria20 a.btLeft {background:url("../img/sprite-seta-galeria.png") no-repeat 0 0 transparent; cursor:pointer; display:block; height:27px; width:14px; position:absolute; left:0; top:150px;}
.galeria20 a.btLeft:hover {background-position:0 -29px;}
.galeria20 a.btRight {background:url("../img/sprite-seta-galeria.png") no-repeat -14px 0 transparent; cursor:pointer; display:block; height:27px; width:14px; position:absolute; right:7px; top:150px;}
.galeria20 a.btRight:hover {background-position:-14px -27px;}

#block-block-14{position:relative;}

/*Galeria principal*/
.galeriaPrincipal{width: 634px; height: 301px; display: block; position: absolute; top: 55px; left: 50px;}

.galeriaPrincipal .link{width: 78px; height: 26px; display: block; background: #e7e7e7; margin: -20px 0 0 6px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; float: left; position: relative; z-index: 9999;}
.galeriaPrincipal .link a{width: 70px; height: 20px; display: block; background: #1b1b1b; font:10px/20px Arial; color: #fff; text-align: center; margin: 3px auto; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;}
.galeriaPrincipal .link a:hover{background: #bdb9b9;}
.galeriaPrincipal .link a.ativo{background: #898989;}

.galeriaPrincipal .galerytitle {width: 118px; height: 26px; display: block; background: url(../img/sprite_global.png) no-repeat 0px 0px; overflow: hidden; text-indent: -999px; float: left;}
.galeriaPrincipal .fotored {background-position: -449px -112px;}
.galeriaPrincipal .videored {background-position: -766px -112px; display: none;}
.galeriaPrincipal p.title {font:37px/30px "Helveticaneue"; color:#ff4400; position: absolute; top: 70px; right: 118px;}
.galeriaPrincipal p.subtitle {font:18px/16px "Helveticaneue"; color:#000; position: absolute; top: 92px; right: 189px;}

#block-block-15{width: 638px; position: absolute; top: -20px; right: 280px;}

#block-block-15 .view-experiencias-sem-filtro-por-pais{width:388px; height:301px; display: block; margin: 72px 0 0 0; background: url(../img/bg_galeria_experiencia.png) no-repeat -4px -1px; float: right; position: relative; overflow: hidden; display:none;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .view-content{width:3000px; height:301px; display: block; position: relative;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row{width:388px; height:301px; display: block; float: left;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-body{}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-body p{font: 12px/20px Arial; color: #5a5a5a; width: 170px; text-align: right; float: right; padding: 70px 18px 0 0; height: 178px; overflow: hidden;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-field-experiencias-imagem{width: 154px; height: 176px; display: block; overflow: hidden; float: left; margin: 88px 0 0 42px;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-field-experiencias-imagem img{display: block; width: 100%; height: auto; border: 0;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing{width: 260px; clear: both; position: relative; top: -10px; z-index: 999;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing .field-content{padding: 0;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing p{font: 16px Arial; color: #fff; padding: 5px 0 0 50px;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing span{font: 12px Arial; color: #ef3b5b; padding: 5px 0 0 50px;}

#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias{width:393px; height:47px; background: url(../img/bg_navegacao_experiencias.png) no-repeat 0 0; position: absolute; bottom: 0; right: 0; z-index: 99;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao{height: 15px; width: 80px; float: right; margin: 16px 27px 0 0;}

#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .bullet{width: 13px; height: 13px; display: block; background: url(../img/sprite_global.png) no-repeat -13px -251px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .bullet:hover{background-position:-33px -251px;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .ativo{background-position:-52px -251px; cursor: default;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .ativo:hover{background-position:-52px -251px; cursor: default;}

#block-block-15 .view-fotos-sem-filtro-por-pais .thumbImage{width:100%; height:67px; display: block; position: absolute; bottom: 1px;}
#block-block-15 .view-fotos-sem-filtro-por-pais .thumbImage img{width:82px; height:47px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}

#block-block-15 .view-videos-sem-filtro-por-pais .thumbVideos{width:100%; height:67px; display: block; position: absolute; bottom: 1px;}
#block-block-15 .view-videos-sem-filtro-por-pais .thumbVideos img{width:82px; height:47px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}

#block-block-15 .view-fotos-sem-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-15 .view-fotos-sem-filtro-por-pais .views-row{display: none; position: absolute; top: 0; left: 0;}
#block-block-15 .view-fotos-sem-filtro-por-pais .views-field-field-fotos-imagem img{width: 283px; height: 204px; display: block; border: 0; position: relative; z-index: 999999;}
#block-block-15 .view-fotos-sem-filtro-por-pais .views-field-nothing{margin-top: 10px;}

#block-block-15 .view-videos-sem-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-15 .view-videos-sem-filtro-por-pais .views-row{display: none;}
#block-block-15 .view-videos-sem-filtro-por-pais .views-field-nothing{margin-top: 5px;}

/*Scroll*/
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {bottom: 4px;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {height: 11px; width: 99%;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {margin: 8px auto;}
.mCSB_dragger{width: 23px !important; height: 11px;}
.mCSB_dragger_bar{background: url(../img/dragger.png) no-repeat -5px -1px transparent !important; opacity: 1; height: 11px !important;}
.mCSB_scrollTools .mCSB_draggerRail{background: #fff; border: 1px solid #ccc;}