.page-node-64 #master{background:url(../img/sobre/bg-sejafranqueado.png) no-repeat 50% 21.5%;}

.modulo_datas{width:375px;}

#box1colbig .detail { background: url("../img/sprite_global.png") no-repeat scroll -78px -61px transparent;display: block;height: 19px;width: 19px;}

#box1colbig .boxcolor{background-color: #fc581d;}
#box1colbig h4{color:#fc581d;}
#box1colbig .boxBar{background:#e4e4e4;}

.boxlink {
    background: none repeat scroll 0 0 #E7E7E7;
    border-radius: 6px 6px 6px 6px;
    display: block;
    height: 42px;
    padding: 7px;
    width: 515px; margin-top:20px; margin-left:20px;
}

.bt {background: none repeat scroll 0 0 #000000;border-radius: 6px 6px 6px 6px;color: #FFFFFF;cursor: pointer;display: block;font: 14px/42px 'HelveticaneueBold';  height: 100%;text-align: center; text-decoration: none; text-transform: none; width: 100%;}
.bt:hover {background: none repeat scroll 0 0 #414141;}

#box4col{margin:115px 0 0 30px;}
#box4col h5{color:#07bdbc;}

ul{margin-left:17px;}

ul li {
    background: url("../img/sprite_lista_verde.png") no-repeat scroll -1px -124px transparent;
    color: #454545;
    display: block;
    font: 11px/17px Arial,Helvetica,sans-serif;
    list-style-type: none;
    margin: 2px 0;
    padding: 0 0 0 12px;
    text-align: left; 
}

#box2colsmall ul {margin-left: 30px;}
#box2colsmall ul li { background-position: -1px -121px;}



#iexplorer .boxcolor{background-color:#fc581d;}

#block-views-c21fa6f3376bb7008ba1e3fba005df1f{width:360px; height:310px; display: block; position: absolute; top: 10px; right: 0; overflow: hidden;}
#block-views-c21fa6f3376bb7008ba1e3fba005df1f h2{display: none;}
#block-views-c21fa6f3376bb7008ba1e3fba005df1f .barraItens{width:232px; height:57px; display: block; background: url(../img/bg_barraItens.png) no-repeat 0 0; position: absolute; bottom: 0; right: 0;}
#block-views-c21fa6f3376bb7008ba1e3fba005df1f .views-row{width:361px; height:309px; display: block; float: left;}
#block-views-c21fa6f3376bb7008ba1e3fba005df1f .views-row img{width:341px; height:100%; display: block; float: left;}

.view-galeria-seja-um-franqueado .barraItens{height: 15px; width: 80px; float: right; margin: 16px 0 0 0; padding-left: 40px;}
.view-galeria-seja-um-franqueado .view-content{position: relative;}

.view-galeria-seja-um-franqueado .barraItens .marcador{width: 13px; height: 13px; display: block; background: url(../img/sprite_global.png) no-repeat -13px -251px; margin: 32px 15px 0 15px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
.view-galeria-seja-um-franqueado .barraItens .marcador:hover{background-position:-33px -251px;}
.view-galeria-seja-um-franqueado .barraItens .ativo{background-position:-52px -251px; cursor: default;}
.view-galeria-seja-um-franqueado .barraItens .ativo:hover{background-position:-52px -251px; cursor: default;}