#master {background:url("../img/bg-clippings.png") no-repeat 1301px 145px;}
.content {margin:50px 0 0 0;}
.noticia {width:558px;}
.noticia h4 {font:bold 24px/20px 'HelveticaNeue'; color:#07bdbc;}
.noticia p {font:12px/24px Arial; color:#333333; text-align:justify;}
.noticia p.chamada {font:bold 12px/35px Arial; color:#333333;}
.noticia p.data-completa {font:12px/24px Arial; color:#333333; padding:0 0 25px;}
.noticia .img-peq {float:right; height:152px; overflow:hidden; width:212px; margin:0 0 0 20px;}
.noticia .img-gran {width:558px; height:231px; margin:21px 0;}
.noticia .area-download {margin:23px 0 0;}
.noticia .area-download a {display:block; font:bold 13px/24px Arial; color:#fc581d;}
.noticia .area-download a:hover {text-decoration:underline;}
.noticia .area-download a:hover span {text-decoration:none;}
.noticia .area-download a.voltar span {background:url(../img/sprite_global.png) no-repeat -209px -248px; display:block; float:left; width:24px;}
.noticia .area-download a.download span {background:url(../img/sprite_global.png) no-repeat -322px -244px; display:block; float:left; width:24px;}

#box1colnobar {float:right; width:inherit;}

#box1colnobar .fltlft .seta03 {border-bottom:30px solid #EDEDED; border-left:30px solid transparent; bottom:0; height:0; position:absolute; right:0; width:0;}
#box1colnobar .icone {position:relative; z-index:8; background-position:-132px -12px; background-color:#FC581D;}
#box1colnobar .boxTitle {position:relative; z-index:8;}
#box1colnobar .box {top:-8px; width:351px; height:781px; background-color:#dbdbdb;}
#box1colnobar .box ul {padding:35px 0 0;}
#box1colnobar .box ul li {position:relative; background:none; background:url(../img/bg-lista-clipping.png) no-repeat -7px 10px; padding:0; display:inline-block; margin:0 38px 14px 9px;}
#box1colnobar .box ul li .data {position:absolute; left:18px; top:15px;}
#box1colnobar .box ul li .data span.dia {font:bold 18px/19px 'HelveticaNeue'; color:#f5f5f5;}
#box1colnobar .box ul li .data span.mes {font:9px/9px 'HelveticaNeue'; color:#f5f5f5; text-transform:uppercase; letter-spacing:2px;}
#box1colnobar .box ul li .chamada-noticia {padding:5px 23px 10px 67px; border-bottom:1px dotted #b2b2b2; margin:0 0 0 16px;}
#box1colnobar .box ul li .chamada-noticia a {display:block; font:13px/17px Arial; color:#555555;}
#box1colnobar .box ul li .chamada-noticia a strong {font-size:14px;}

#box1colnobar .box .paginacao {display:inline-block; padding:45px 0 0 60px;}
#box1colnobar .box .paginacao div {display:inline-block; float:left;}
#box1colnobar .box .paginacao a.prev1 {float:left; display:block; background:url(../img/sprite_global.png) no-repeat -183px -249px; width:15px; height:20px; margin:0 17px 0 0;}
#box1colnobar .box .paginacao a.prev {float:left; display:block; background:url(../img/sprite_global.png) no-repeat -210px -249px; width:15px; height:20px;}
#box1colnobar .box .paginacao p {float:left; width:92px; text-align:center; font:13px/20px Arial; color:#555555; margin:0 15px;}
#box1colnobar .box .paginacao p span.pag-atual {border:1px solid #777777; padding:5px 22px; margin-right:5px; font-weight:bold;}
#box1colnobar .box .paginacao p span.pag-total {padding-left:3px;}
#box1colnobar .box .paginacao a.next1 {float:left; display:block; background:url(../img/sprite_global.png) no-repeat -271px -249px; width:15px; height:20px;}
#box1colnobar .box .paginacao a.next {float:left; display:block; background:url(../img/sprite_global.png) no-repeat -244px -249px; width:15px; height:20px; margin:0 17px 0 0;}

h3{color:#fc571d !important;}
#iexplorer .boxcolor{background-color:#fc581d;}