.page-node-56 #master{background: url(../img/sobre/bg-sobreie.png) no-repeat 50% 33.5%;}

.modulo_menu { margin:35px 0 0 60px;float: left;height: 150px; width:316px;}
.modulo_menu ul{height:250px; width:316px; position:relative;}
.page-node-56 .modulo_menu ul li{width:298px; padding:7px 0 18px 18px;background:url("../img/bg_menu_sobre_ie.jpg") no-repeat; color:#e4e4e4; margin-bottom:10px; height:50px; position:relative;}
.page-node-56 .modulo_menu ul li a{text-decoration:none; font-size:23px; display:block;}
.page-node-56 .modulo_menu ul li a:hover{text-decoration:underline;}
.page-node-56 .modulo_menu ul li .txt-menu{bottom:14px; position:absolute; color:#bbbbbb;}
.submitted{display: none;}
#content{width: 965px; margin: 0 auto;}
#block-system-main .content{float: left; width: 100%;}


/*.page-node-56 .modulo_menu ul li .txt-menu-d{bottom:102px;}
.page-node-56 .modulo_menu ul li .txt-menu-t{bottom:16px;}*/

#box1colbig .boxcolor{background-color: #fc581d;}

#box1colbig{height:310px;}
#box1colbig h4{color:#fc581d;}
#box1colbig .boxBar{height:280px; background:#e4e4e4;}

#box1colbig .detail {background: url("../img/sprite_global.png") no-repeat scroll -78px -61px transparent; display: block;height: 19px;width: 19px;}

#franqueado{color:#07bdbc;}
#trab_conosco{color:#ef3b5b;}
#qualidade_ie{color:#e4b615;}

.seta{background:url("../img/sprite_setas_menu.png") no-repeat -5px 1px; display:block; width:23px; height:43px; float:right; position:relative; top:-60px; right:10px;}
.s_franqueado{background-position: -40px 1px;}
.s_qualidade{background-position:-75px 1px;}


/* BOX DO FORM */
#box1col{margin:20px 0; width: 630px;}
#box1col .box {width: 580px; height: 371px; background: none; position: relative; overflow: hidden;}
#box1col .detail {width: 19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -77px -61px;}
#box1col .boxBar {width: 34px; height: 995px; background: #e4e4e4;}
#box1col .boxcolor {background-color: #fc581d;}
#box1col .box h4 {padding: 25px 0 0 21px; color: #fc581d;}
#box1col .boxTitle {min-width: 100px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1col .box p {width: 100%; margin: 5px 0 0 21px; text-align: justify;}

#webform-client-form-55{float:left; width:520px; color:#474747; font:bold 13px Arial; margin: -430px 0 0 57px; position:relative;}

/* OCULTA TÍTULO PADRÃO DO BLOCO */
#webform-client-block-55 h2{display:none;}

/* TIRA NEGRITO DOS LABELS */
#webform-client-block-55 label{font-weight:normal;}

/* ESTILOS INPUT E SELECT*/
.form-text, .form-select{background:#f6f6f6; border:1px solid #e4e4e4; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; width: 334px; height: 18px; padding: 5px;}
.form-select{padding:5px; width:346px; height: 30px;}


/* RESETA FIELDSET TELEFONE*/
fieldset{margin:0; padding:0;}

/* RESETA DIVS */
.form-item{margin:0; padding:0;}
fieldset span.field-prefix{position: absolute; z-index: 99; font: 13px Arial; color: #c7c7c7; font-style: italic;}
div span.field-suffix{position: absolute; z-index: 99; font: 13px Arial; color: #c7c7c7; font-style: italic;}
.error{border: 1px solid red !important;}
input[type=checkbox].error{background:#fff !important;}
div.messages{display: none;}

#webform-component-cidadeok{display:none;}

/* CAMPO NOME */
#webform-component-nome{width:100%; position:relative; height:36px;}
#webform-component-nome label{position:absolute; top:4px; right:350px;}
#webform-component-nome label span{display:none;}
#webform-component-nome input{position:absolute; top:0; right:0;}
#webform-component-nome span.field-suffix{top: -20px; left: 177px;}

/* CAMPO E-MAIL */
#webform-component-email{width:100%; position:relative; height:36px;}
#webform-component-email label{position:absolute; top:4px; right:350px;}
#webform-component-email label span{display:none;}
#webform-component-email label.error{right: -6px; top: 8px; position: absolute;} 
#webform-component-email input{position:absolute; top:0; right:0;}

/*CAMPO PRODUTO*/
#webform-component-produtos{width:100%; position:relative; height:36px;}
#webform-component-produtos label{position:absolute; top:4px; right:350px;}
#webform-component-produtos label span{display:none;}
#webform-component-produtos label.error{right: -6px; top: 8px; position: absolute;} 
#webform-component-produtos input{position:absolute; top:0; right:0;}

/* CAMPO TELEFONE */
#webform-component-telefone-box{width:100%; position:relative; height:36px;}
#webform-component-telefone-box legend{position:absolute; top:5px; right: 362px;}
#webform-component-telefone-box input#edit-submitted-telefone-box-ddd-telefone{position:absolute; top:0; right:260px; width:74px;}
#webform-component-telefone-box input#edit-submitted-telefone-box-telefone{position:absolute; top:0; right:0; width: 240px; width:240px;}
#webform-component-telefone-box .field-prefix{top: 7px; left: 205px;}
#webform-component-telefone-box--telefone .field-prefix{top: 7px; left: 325px;}

/* Campo Estado, Como Conheceu a IE */
#webform-component-estado, #webform-component-como-conheceu-a-ie{width: 100%; position: relative; height: 36px;}
#webform-component-estado label, #webform-component-como-conheceu-a-ie label{position: absolute; top: 4px; right: 364px;}
#webform-component-estado select, #webform-component-como-conheceu-a-ie select{position: absolute; top: 0; right: 0; z-index:99;}

#webform-component-cidade{width: 100%; position: relative; height: 36px; z-index:9;}
#webform-component-cidade label{position: absolute; top: 42px; right: 364px;}
#webform-component-cidade select{position: absolute; top: 37px; right: 0; z-index:999;}

/* CAMPO PRODUTOS QUANDO ESSE FOR UM SELECT */
#webform-component-produtos{width:100%; position:relative; height:36px;}
#webform-component-produtos label{position:absolute; top:4px; right:350px;}
#webform-component-produtos label span{display:none;}
#webform-component-produtos select{position:absolute; top:0; right:0;}

/* CAMPO AGÊNCIA DE PREFERÊNCIA */
#webform-component-agencia-de-preferencia{width:100%; position:relative; height:36px;}
#webform-component-agencia-de-preferencia label{position:absolute; top:4px; right:350px;}
#webform-component-agencia-de-preferencia label span{display:none;}
#webform-component-agencia-de-preferencia select{position:absolute; top:0; right:0;}

/* CAMPO GOSTARIA DE SABER SOBRE */
#webform-component-gostaria-de-saber-sobre{height:100px; position:relative;}
#webform-component-gostaria-de-saber-sobre > label {position:absolute; top:4px; right:350px;}
#webform-component-gostaria-de-saber-sobre label span{display:none;}
#webform-component-gostaria-de-saber-sobre .form-checkboxes{position:absolute; left: 175px;}
#webform-component-gostaria-de-saber-sobre .form-checkboxes .form-item{display: block;}

/* CAMPO COMENTÁRIO */
#webform-component-comentario{position:relative; height:110px;}
#webform-component-comentario label{position:absolute; top: -1px; right: 365px;}
#webform-component-comentario label span{display:none;}
#webform-component-comentario .form-textarea-wrapper{position:absolute; top:0; right:0; width: 345px;}
#webform-component-comentario .form-textarea-wrapper textarea{background:#f6f6f6; padding:5px; border:1px solid #e4e4e4; height: 100px; resize: none; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; resize: none;}

/* CAMPO DESEJO RECEBER NOVIDADES */
#webform-component-receber-novidades{position:relative; height:56px; float: right; width: 345px;}
#webform-component-receber-novidades label a{font:13px Arial; color:#fc581d; text-decoration: none;}
#webform-component-receber-novidades label a:hover{text-decoration: underline;}

/* CAMPO BOTÃO ENVIAR */
#edit-actions{clear:both; position:relative; width:150px; height:40px; float:right; margin:20px 0 20px 0; display: block; background: #e7e7e7; padding: 7px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;}
#edit-actions input{width: 100%; height: 100%; display: block; background: #000; cursor: pointer; font: 14px/42px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none; text-transform: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;}
#edit-actions input:hover{background: #414141;}

/* BOX DO FORM */
#box1col{margin:0; width:600px;}
#box1col .box {width: 560px; height: 371px; background: none; position: relative; overflow: hidden;}
#box1col .detail {width: 19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -77px -61px;}
#box1col .boxBar {width: 34px; height: 595px; background: #e4e4e4;}
#box1col .boxcolor {background-color: #fc581d;}
#box1col .box h4 {padding: 25px 0 0 21px; color: #fc581d; font-family: 'HelveticaneueBold';}
#box1col .box p {width: 100% !important; margin: 5px 0 0 21px; text-align: justify;}

/* BOX PROCURAR AGÊNCIAS */
#procurar-agencias{width:330px; height: 380px; background: #ffffff; float:right; position:relative; display:block;}
#procurar-agencias .detail {width: 19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -77px -61px;}
#procurar-agencias .boxIcon {width: 34px; height: 25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 -11px; float: left;}
#procurar-agencias .boxcolor {background-color: #fc581d;}
#procurar-agencias .boxTitle {min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#procurar-agencias select{width:204px; background:#fff; border:1px solid #e4e4e4; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; height:30px; padding:5px; margin:10px auto 0px auto; display:block;}
#procurar-agencias .boxlink {width: 195px; height: 34px; display: block; background: #e7e7e7; padding: 7px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 
6px; margin: 20px auto;}
#procurar-agencias .bt {width: 100%; height: 100%; display: block; background: #000; cursor: pointer; font: 14px/36px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none;  text-transform: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;}
#procurar-agencias .bt:hover{background:#414141;}
#procurar-agencias h5{font-weight:bold; font: 16px 'Arial'; margin-bottom: 15px; margin-left:15px;}
#procurar-agencias  p{margin-left:15px;}
#procurar-agencias  p strong{margin-top:10px; display:block;}
#procurar-agencias .contato{width: 190px; float: left;}
#procurar-agencias .contato p a{color:#454545; font: 13px 'Arial';}
#procurar-agencias .ver-no-mapa{width: 121px; height:44px; background: url(../img/sobre/bt-ver-no-mapa.png) 0 0; float: right; margin-right:15px;}
#procurar-agencias .ver-no-mapa a{color:#fff; font: 11px 'Arial'; padding-left:35px; height: 15px; margin-top: 15px; display: block;}
#procurar-agencias .ver-no-mapa a:hover{color:#fc581d;}
#procurar-agencias .ver-no-mapa a span {background: url(../img/sprite_global.png) no-repeat 0 0; background-position: -747px -195px; padding: 3px 0px 0px 4px; margin-left: 8px;}
#procurar-agencias .ver-no-mapa a:hover span{background-position: -747px -168px;}
#procurar-agencias hr{margin: 0 10px 20px 10px; border:none; border-top: 2px dotted #292929;}

#iexplorer .boxcolor{background-color:#fc581d;}

.boxInterno .form-busca{border:none !important;}

#block-lojas-lojas-buscaloja{float: right;}
#block-lojas-lojas-buscaloja .content{height: 620px; width: 350px; background: #fff;}

#block-lojas-lojas-buscaloja.block-lojas .busca_lojas{padding: 55px 0 0 0;}
#block-lojas-lojas-buscaloja.block-lojas .busca_lojas form .buscaPorEnd{padding: 0 0 20px 0;}
#block-lojas-lojas-buscaloja.block-lojas .busca_lojas form .buscaPorEnd p.tipsBusca{font:bold 14px/26px Arial; color:#000; text-align: center; display: block; padding: 6px 0;}
.block-lojas .busca_lojas form .buscaPorEnd .busca{}
.block-lojas .busca_lojas form .buscaPorEnd .busca input[type=text]{width: 238px; height: 22px; padding: 3px; display: block; margin: 10px auto; border: 1px solid #ccc; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;}
.block-lojas .busca_lojas form .buscaPorEnd .busca span.legenda{font:9px/15px Arial; color:#000; text-align: center; display: block; margin-top: -5px;}
.block-lojas .busca_lojas form .buscaPorEnd .busca .button{width:205px; display: block; background:#b7b7b7; margin: 17px auto; padding: 6px 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px;}
.block-lojas .busca_lojas form .buscaPorEnd .busca input[type=button]{width:194px; height:28px; display: block; background-color:#323232; margin: 0 auto; font:bold 12px Arial; text-align: center; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; cursor: pointer; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.block-lojas .busca_lojas form .buscaPorEnd .busca input[type=button]:hover{background-color:#000;}

#block-lojas-lojas-buscaloja.block-lojas .busca_lojas form .buscaPorRegiao{/*border-top: 1px dotted #000; */ padding: 10px 0 0 0;}
.block-lojas .busca_lojas form .buscaPorRegiao .busca{}
#block-lojas-lojas-buscaloja.block-lojas .busca_lojas form .buscaPorRegiao p.tipsBusca{font:bold 14px/23px Arial; color:#000; text-align: center; display: block; padding: 15px 0;}
#block-lojas-lojas-buscaloja.block-lojas .busca_lojas form .buscaPorRegiao select{width:206px; height: 30px; margin: 4px auto; display: block; border: 1px solid #e4e4e4;}
.block-lojas .busca_lojas form .buscaPorRegiao .busca .button{width:205px; display: block; background:#b7b7b7; margin: 22px auto; padding: 6px 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px;}
.block-lojas .busca_lojas form .buscaPorRegiao .busca input[type=button]{width:194px; height:28px; display: block; background-color:#323232; margin: 0 auto; font:bold 12px Arial; text-align: center; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; cursor: pointer; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;}
.block-lojas .busca_lojas form .buscaPorRegiao .busca input[type=button]:hover{background-color:#000;}

#block-lojas-lojas-buscaloja.block-lojas .busca_franq{padding: 15px 0 0 0;}
#block-lojas-lojas-buscaloja.block-lojas .busca_franq .buscaPorf{/*border-top: 1px dotted #000; */ padding: 10px 0 0 0;}


/* Clippings */

#box1colbig .box { width: 553px; height: 280px !important;  background: transparent; position: relative; overflow: hidden; }
.bloco-clippings{width: 590px; float: left; background: #ebebeb; margin-left: 35px; /*padding: 0 0 16px 0;*/ position:relative; border-top: 8px #e1e1e1 solid; margin-top: 35px; padding-bottom:15px;}
.bloco-clippings .icone{background-position: -132px -11px;}
.bloco-clippings .fltlft{position: relative; top: -25px;}
.bloco-clippings h2{display: none;}
.bloco-clippings .views-row{width: 86%; margin: 0 auto; border-bottom: 1px dotted #b1b1b1; padding: 0 0 10px 0; height: 32px; margin-top: 20px;}
.bloco-clippings .views-row .views-field-field-clipping-data{float:left; background: url(../img/sobre/bg-data-sobreie.png) no-repeat 0 0; color:#fff; font-family: 'HelveticaneueBold'; font-size: 14px; width:52px; height:31px;}
.bloco-clippings .views-row .views-field-title{float:left; width: 80%; margin-left: 10px;}
.bloco-clippings .views-row .views-field-title span a{font: 15px 'HelveticaneueBold' !important; color: #555555; text-decoration: none; -moz-transition: 0.4s; -webkit-transition: 0.4s; -o-transition: 0.4s;}
.bloco-clippings .views-row .views-field-title span a:hover{color:#777;}
.bloco-clippings .views-row .views-field-field-subtitulo {margin-left: 11px; height: 20px; font: 13px 'HelveticaneueBold' !important; margin-top:2px; overflow: hidden; float: left; color:#555555;}
.bloco-clippings img{position:absolute; right:0; bottom:-24px; width:100%;}
.bloco-clippings .view-footer{width: 86%; margin: 15px auto 0 auto; background: #f2f2f2; padding: 10px 0 10px 0; position:relative;}
.bloco-clippings .view-footer p{text-align:center; color: #555555;}
.bloco-clippings .view-footer p a{text-align:center; font: 15px 'HelveticaneueBold' !important; color: #555555;}
.bloco-clippings .view-footer span{display: block; background: #ebebeb; width: 21px; height: 21px; text-indent: -99999px; position: absolute; bottom: 0; right: 0;}
.bloco-clippings .views-field-field-clipping-data div{padding-top:8px;}
.bloco-clippings .date-display-single{padding: 0 0 0 6px; font-size:16px;}
.bloco-clippings .date-display-single strong{padding: 0 0 0 3px; font-size: 9px; text-transform: uppercase;}
.bloco-clippings .img-rodape{height:24px; background: url(../img/sobre/bottom-clippings.png) no-repeat 0 0; position:absolute; bottom:-24px; left:0; width:100%;}


.bloco-parcerias{float: right; width: 320px; min-height: 300px; background: #e0e0e0; border-top: 8px #eaeaea solid; margin-top: 35px;}
.bloco-parcerias .fltlft{position: relative; top: -25px;}
.bloco-parcerias .icone{background-position: 0px -11px;}
.bloco-parcerias h2, .bloco-parcerias .views-field-title, .bloco-parcerias .views-field-body, .bloco-parcerias .views-field-field-subtitulo-parcerias{display:none;}
.bloco-parcerias .views-field-field-parcerias-imagem{width: 86%; margin: 14px auto;}
.bloco-parcerias .views-field-field-parcerias-imagem img{width:100%; height: auto;}
.bloco-parcerias .view-footer{background: #f2f2f2; width: 86%; margin: 0 auto 14px auto; padding: 8px 0 8px 0;}
.bloco-parcerias .view-footer p{text-align:center;}
.bloco-parcerias .views-row{position:relative;}
.bloco-parcerias .conteudo{display:none; background: url(../img/sobre/bg-balao.png) no-repeat 0 0; width: 131px; height: 97px; position: absolute; right: -110px; top: -40px; padding: 0 5px 0 30px;}
.bloco-parcerias .views-row:hover .conteudo{display:block;}
.bloco-parcerias .conteudo:first-child a{color: #000; margin: 10px auto 10px auto; font: 14px 'Arial'; font-weight: bold; display: block; text-align:left; -moz-transition: 0.4s; -webkit-transition: 0.4s; -o-transition: 0.4s;}
.bloco-parcerias .conteudo:first-child a:hover{color:#666;}
.bloco-parcerias .conteudo span {color: #000; margin: 17px auto 10px auto; font: 13px 'Arial'; font-weight: normal; display: block; text-align:left;}

