#box1colbig h4 {padding: 20px 0 10px 21px; color:#fc581d;}
#box1colbig .detail {width: 19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -77px -61px;}
#box1colbig .boxcolor {background-color: #fc581d;}
#box1colbig .boxBar {width: 34px; height: 210px; background: #e4e4e4;}
#box1colbig .box > p {margin-bottom: 15px;}

#fltbuttons{float:left; overflow:hidden; width:360px; height:253px; background: url(../img/sobre/bg-buttons-qualidade.jpg) no-repeat 0 17px; display: block; position: relative;}
#fltbuttons .boxIcon {width: 34px; height: 25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 -11px; float: left;}
#fltbuttons .boxcolor {background-color: #fc581d;}
#fltbuttons .boxTitle {min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#fltbuttons p {clear:both; margin: 0 0 0 30px; font: 13px/40px Arial, Helvetica, sans-serif;}
#fltbuttons .boxlink {width: 300px; height: 42px; display: block; background: #e7e7e7; padding: 7px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; margin-bottom: 5px; margin-left:23px;}
#fltbuttons .link {width: 100%; height: 100%; display: block; background: #000; cursor: pointer; font: 14px/42px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none; text-transform: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;}

#iexplorer .boxcolor{background-color:#fc581d;}