.page-node-200 #master{background:url(../img/trabalhar/bg-trab-studyandwork.png) no-repeat 50% 18%;}

#box1colbig{width:587px;}
#box1colbig .boxBar{background:#e4e4e4;}
#box1col .boxBar{background:#0e9695;}
#box1col .box{background:#07bdbc;}
#box1colbig .boxcolor, #box1col .boxcolor {background-color:#07bdbc;}
#box2colsmall ul li {background-position: -747px -223px;}
.galeria04 {border:none;background:none;float: left;height: 15px;width: 973px;}
#box1colbig h4, h5{color:#07bdbc;}
.galeria01{margin:10px 0;}
.galeria02{margin:-27px 0 0 25px;}
.galeria03{margin-top:70px; margin-left:18px;}
#box1colbig .detail {background: url("../img/sprite_global.png") no-repeat scroll -78px -61px transparent;display: block;height: 19px;width: 19px;}
#box1colbig ul li {background-position: -747px -223px;}
#box1colbig .boxTitle{width:115px;}

#box2colsmall{margin:13px 0 0 20px;}

h3{color: #07bdbc !important;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo{background-position: -165px -265px;}
#iexplorer .boxcolor{background-color:#07bdbc;}

#box3col ul li {background-position: -747px -222px;}

#box3col{margin:18px 0 0 39px;}

.page-node-200 span.detailBGl {
    background: url("../img/sprite_global.png") no-repeat scroll -1558px -2082px transparent;
    display: block;
    height: 399px;
    left: -13px;
    position: absolute;
    width: 40px;
    z-index: 99;
}

/*Galeria principal*/
.galeriaPrincipal{width: 634px; height: 301px; display: block; float: right; margin-top: 71px;}

.galeriaPrincipal .link{width: 78px; height: 26px; display: block; background: #e7e7e7; margin: -20px 0 0 6px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; float: left; position: relative; z-index: 9999; top: -30px;}
.galeriaPrincipal .link a{width: 70px; height: 20px; display: block; background: #1b1b1b; font:10px/20px Arial; color: #fff; text-align: center; margin: 3px auto; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;}
.galeriaPrincipal .link a:hover{background: #bdb9b9;}
.galeriaPrincipal .link a.ativo{background: #898989;}

.galeriaPrincipal .galerytitle {width: 118px; height: 26px; display: block; background: url(../img/sprite_global.png) no-repeat 0px 0px; overflow: hidden; text-indent: -999px; float: left; top: -30px; position: relative;}
.galeriaPrincipal .fotored {background-position: -148px -112px;}
.galeriaPrincipal .videored {background-position: -1066px -112px; display: none;}
.galeriaPrincipal p.title {font:37px/30px "Helveticaneue"; color:#098b58; position: absolute; top: 90px; right: 118px;}
.galeriaPrincipal p.subtitle {font:18px/16px "Helveticaneue"; color:#000; position: absolute; top: 115px; right: 189px;}

#block-block-16{width: 638px; position: absolute; top: 25px; right: 0;}

#block-block-16 .view-experiencias-com-filtro-por-pais{width:388px; height:301px; display: block; margin: 72px 0 0 0; background: url(../img/bg_galeria_experiencia.png) no-repeat -4px -1px; float: right; position: relative; overflow: hidden;}
#block-block-16 .view-experiencias-com-filtro-por-pais .view-content{width:3000px; height:301px; display: block; position: relative;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row{width:388px; height:301px; display: block; float: left;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-body{}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-body p{font: 12px/20px Arial; color: #5a5a5a; width: 170px; text-align: right; float: right; padding: 70px 18px 0 0; height: 178px; overflow: hidden;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-field-experiencias-imagem{width: 164px; height: 176px; display: block; overflow: hidden; float: left; margin: -183px 0 0 42px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-field-experiencias-imagem img{display: block; width: 100%; height: auto; border: 0;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing{width: 260px; clear: both; position: relative; top: 6px; z-index: 999;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing .field-content{padding: 0;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing p{font: 16px Arial; color: #fff; padding: 5px 0 0 50px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing span{font: 12px Arial; color: #ef3b5b; padding: 5px 0 0 50px;}

#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias{width:393px; height:47px; background: url(../img/bg_navegacao_experiencias.png) no-repeat 0 0; position: absolute; bottom: 0; right: 0; z-index: 99;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao{height: 16px; width: 80px; float: right; margin: 16px 27px 0 0;}

#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .bullet{width: 13px; height: 13px; display: block; background: url(../img/sprite_global.png) no-repeat -13px -251px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .bullet:hover{background-position:-33px -251px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .ativo{background-position:-52px -251px; cursor: default;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .ativo:hover{background-position:-52px -251px; cursor: default;}


#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage{width:100%; height:67px; display: block; position: absolute; bottom: 1px; /*-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;*/}
#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img{width:82px; height:47px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}
/*#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img:hover{opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}*/

#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos{width:100%; height:67px; display: block; position: absolute; bottom: 1px; /*-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;*/}
#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img{width:82px; height:47px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}
/*#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img:hover{opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}*/

#block-block-16 .view-fotos-com-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-row{display: none; position: absolute; top: 0; left: 0;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-field-fotos-imagem img{width: 283px; height: 204px; display: block; border: 0; position: relative; z-index: 999999;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-nothing{margin-top: 10px;}

#block-block-16 .view-videos-com-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-videos-com-filtro-por-pais .views-row{display: none;}
#block-block-16 .view-videos-com-filtro-por-pais .views-field-nothing{margin-top: 5px;}

/*Scroll*/
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {bottom: 4px;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {height: 11px; width: 99%;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {margin: 8px auto;}
.mCSB_dragger{width: 23px !important; height: 11px;}
.mCSB_dragger_bar{background: url(../img/dragger.png) no-repeat -5px -1px transparent !important; opacity: 1; height: 11px !important;}
.mCSB_scrollTools .mCSB_draggerRail{background: #fff; border: 1px solid #ccc;}

/*.loading{width:100%; height:67px; display: block; position: absolute; bottom: 1px; background: url(../img/loading.gif) no-repeat center #fff; z-index: 99; margin-bottom:0px;}*/

.galeriaPrincipal p.title {
    color: #EC5900;
}