.page-node-74 #master{background: url(../img/trabalhar/bg-ie_estudar_profissionalizantes.png) no-repeat 50% 50%;}
#box1col .boxBar{background:#0e9695;}
#box1col .box{background:#07bdbc;}
#box1col .boxcolor{background-color:#07bdbc;}

#box2colsmall ul li {background-position: -747px -223px;}

#box2colsmall h5{color:#07bdbc;}

.galeria03{margin: 50px 0 0 10px;}


/*BOX 1 COLUNA*/
#box1col{width: 322px; display: block; float: left; margin: 5px 0;}
#box1col .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1col .icone{background-position:0px -11px;}
#box1col .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -10px -61px;}
#box1col .boxcolor{background-color:#07bdbc;}
#box1col .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1col .boxBar{width:34px; height:371px; background: #0e9695;}
#box1col .box{width:287px; height:371px; background: #07bdbc; position: relative; overflow: hidden;}
#box1col .box h4{padding: 25px 0 0 21px; color:#FFF;}
#box1col .box p{width:85%; margin:0 auto; text-align: justify; color:#000;;}
#box1col .box .detail{position: absolute; top: 5px; left: 5px;}

.galeria03{margin: 50px 0 0 10px;}
.galeria02{margin: 5px 0 0 10px;}


/*BOX 2 COLUNAS*/
#box2col{margin-left:31px}

/*BOX 3 COLUNAS*/
#box3col{margin:15px 0 0 31px}
#box3col h5{padding: 35px 0 20px 21px; color:#a78510;}

#box3colbig .boxTitle{min-width:124px;}
#box3colbig .boxcolor{background-color:#07bdbc;}
#box3colbig h5{color:#07bdbc;}

#box2colsmall ul li {background-position: -747px -223px;}

h5{color:#07BDBC;}

/*BOX 1 COLUNA*/
#box1col{width: 322px; display: block; float: left; margin: 5px 0;}
#box1col .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1col .icone{background-position:0px -11px;}
#box1col .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -10px -61px;}
#box1col .boxcolor{background-color:#07bdbc;}
#box1col .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1col .boxBar{width:34px; height:371px; background: #0e9695;}
#box1col .box{width:287px; height:371px; background: #07bdbc; position: relative; overflow: hidden;}
#box1col .box h4{padding: 25px 0 0 21px; color:#FFF;}
#box1col .box p{width:85%; margin:0 auto; text-align: justify; color:#454545;}
#box1col .box p.subtitle{color:#2b2b2b;}
#box1col .box .detail{position: absolute; top: 5px; left: 5px;}

.galeria02{margin: 23px 0 0 0; border: 0 !important; background: none !important;}
.galeria02 .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 -11px; float: left;}
.galeria02 .boxcolor{background-color:#027d9b;}
.galeria02 .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center; position: relative; z-index: 1;}

#box2colsmall{margin:22px 0 0 27px;}
#box2colsmall h5{color:#07bdbc;}
#box2colsmall ul li {background-position: -1px -121px;}

#box1colbig .boxBar {background: none repeat scroll 0 0 #e4e4e4; height: 210px; width: 34px;}
#box1colbig h4 {color:#07bdbc; padding: 20px 0 10px 21px;}
#box1colbig .boxcolor {background-color: #07bdbc;}
#box1colbig .detail{background: url(../img/sprite_global.png) no-repeat scroll -78px -61px transparent;}

ul li {background:url(../img/sprite_lista.png) no-repeat scroll 0 0; color:#454545; display:block;  font:11px/21px Arial,Helvetica,sans-serif; list-style-type:none; margin:2px 0; padding:0 0 0 12px; text-align:left;}

#box1colbig p{margin-left:10px;}
 
#box1colbig ul {margin: 20px 0 0 34px;width: 395px;}
#box1colbig .boxTitle{width:135px;}

#box1colbig{margin: 5px 0;}
.field-name-field-voceno #box1colbig{width: 100%; height: 365px; display: block; float: left; margin: 5px 0; position: relative;}
.field-name-field-voceno #box1colbig .boxBar {background: none repeat scroll 0 0 #0e9696; height: 332px; width: 34px;}
.field-name-field-voceno #box1colbig h4 {font-size: 23px; width: 660px;}
.field-name-field-voceno #box1colbig .box { width: 904px; height: 340px; background: transparent; position: relative; margin-left: 35px; overflow:inherit !important;}
.field-name-field-voceno #box4col { width: 935px; height: 230px; margin: -13px 0 0 0; position: relative;}
#box1colbig .box{width:auto;}


#box1colbig ul li {background-position: 0 -121px;}

.border-bt-list{border-bottom:1px dashed #b1dad9;}
#txt-desc-eua{position:absolute; left:315px; top:157px; width:240px !important;}
#img-box-eua{position:absolute; left:580px; top:-45px; width:323px; height:388px; z-index:2;}

.link {text-transform:none;}

#box3colbig .col01, #box3colbig .col02, #box3colbig .col03{height:490px;}
#box3colbig .col01 .detail {background-position: -107px -61px;}
#box3colbig .col02 .detail {background-position: -107px -61px;}
#box3colbig .col03 .detail {background-position: -107px -61px;}

h3{color: #07bdbc !important;}

#box3colbig .boxlink{margin-left:-80px;}

#box2colsmall h5{padding:16px 0 10px 30px;}

#box4col h5{padding:0 0 15px 16px;}
#box4col #title-onde-morar{padding:20px 0 15px 16px;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo{background-position: -165px -285px;}
#iexplorer .boxcolor{background-color:#07bdbc;}

* {border: 0 none; margin: 0; padding: 0;}
span.detailBGl-2 {background: url(../img/sprite_global.png) no-repeat scroll -1313px -2196px transparent; display: block; height: 231px; left: 210px; position: absolute; top: -1px; width: 25px; z-index: 99;}

#box3colbig {display: block; float: left; margin: 25px 0 5px; width: 965px;}

#block-views-mochiloes-block{float: right; margin-top: -349px;}
#block-views-mochiloes-block h2{display: none;}
#block-views-mochiloes-block #box1colnobar {width: 295px; height: 337px;}
#block-views-mochiloes-block #box1colnobar .box{width: 261px; height: 300px; background: url(../img/bg_galeria.jpg) no-repeat !important; padding-top: 20px; border: none !important; border-radius: 0 !important; position: relative; top: -8px; z-index: 0;}
#block-views-mochiloes-block #box1colnobar .boxTitle {position: relative; z-index: 99;}
#block-views-mochiloes-block #box1colnobar .boxcolor {background-color: #027d9b;}

.view-mochiloes{float: left; width: 295px; overflow: hidden; position: relative;}
.view-mochiloes .navegacao{height: 20px; display: block; position: absolute; bottom: 0; text-align: center; left: 50%;}
.view-mochiloes .navegacao .bullet{width: 9px; height: 9px; display: block; background: url(../img/sprite_global.png) no-repeat -92px -255px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
.view-mochiloes .navegacao .bullet:hover{background-position:-104px -255px;}
.view-mochiloes .navegacao .ativo{background-position:-116px -255px;}
.view-mochiloes .navegacao .ativo:hover{background-position:-116px -255px;}

.view-mochiloes .view-content{width: 1000px; height: 292px; margin: -298px 0 0 34px; float: left; position: relative;}
.view-mochiloes .view-content .grupo{width: 261px; height: 292px; float: left; position: relative;}
.view-mochiloes .view-content .views-row{width:236px; height:53px; display: block; margin: 0 auto 20px auto; display: none;}
.view-mochiloes .view-content .views-row .views-field-field-mochiloes-imagem{width:80px; height:53px; float: left; margin-right: 7px;}
.view-mochiloes .view-content .views-row .views-field-field-mochiloes-imagem img{width:100%; height:100%; border: 0;}
.view-mochiloes .view-content .views-row .views-field-title {width:145px; float: left;}
.view-mochiloes .view-content .views-row .views-field-title a{font:14px "helveticaneue"; color: #fff; text-decoration: none;}
.view-mochiloes .view-content .views-row .views-field-title a:hover{text-decoration: underline;}
.view-mochiloes .view-content .views-row .views-field-nothing {width:145px; font:12px/16px Arial; color:#eee8e8; float: left;}

/*Galeria principal*/
.galeriaPrincipal{width: 634px; height: 301px; display: block; float: right; margin-top: 71px; position:relative;}

.galeriaPrincipal .link{width: 78px; height: 26px; display: block; background: #e7e7e7; margin: -20px 0 0 6px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; float: left; position: relative; z-index: 0; top: -30px;}
.galeriaPrincipal .link a{width: 70px; height: 20px; display: block; background: #1b1b1b; font:10px/20px Arial; color: #fff; text-align: center; margin: 3px auto; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; text-transform: uppercase;}
.galeriaPrincipal .link a:hover{background: #bdb9b9;}
.galeriaPrincipal .link a.ativo{background: #898989;}

.galeriaPrincipal .galerytitle {width: 118px; height: 26px; display: block; background: url(../img/sprite_global.png) no-repeat 0px 0px; overflow: hidden; text-indent: -999px; float: left; top: -30px; position: relative;}
.galeriaPrincipal .fotored {background-position: -148px -112px;}
.galeriaPrincipal .videored {background-position: -1066px -112px; display: none;}
.galeriaPrincipal p.title {font:37px/30px "Helveticaneue"; color:#ec5900; position: absolute; top: -24px; right: 118px;}
.galeriaPrincipal p.subtitle {font:18px/16px "Helveticaneue"; color:#000; position: absolute; top: 0px; right: 189px;}

#block-block-16{width: 638px; position: absolute; top: 0; right: 0;}

#block-block-16 .view-experiencias-com-filtro-por-pais{width:388px; height:301px; display: block; margin: 75px 0 0 0; background: url(../img/bg_galeria_experiencia.png) no-repeat -4px -1px; float: right; position: relative; overflow: hidden;}
#block-block-16 .view-experiencias-com-filtro-por-pais .view-content{width:3000px; height:301px; display: block; position: relative;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row{width:388px; height:301px; display: block; float: left;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-body{}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-body p{font: 12px/20px Arial; color: #5a5a5a; width: 170px; text-align: right; float: right; padding: 70px 18px 0 0; height: 178px; overflow: hidden;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-field-experiencias-imagem{width: 164px; height: 176px; display: block; overflow: hidden; float: left; margin: -170px 0 0 42px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-field-experiencias-imagem img{display: block; width: 100%; height: auto; border: 0;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing{width: 260px; clear: both; position: relative; top: 6px; z-index: 999;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing .field-content{padding: 0;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing p{font: 16px Arial; color: #fff; padding: 0 0 0 50px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing span{font: 12px Arial; color: #ef3b5b; padding: 5px 0 0 50px;}

#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias{width:393px; height:47px; background: url(../img/bg_navegacao_experiencias.png) no-repeat 0 0; position: absolute; bottom: 0; right: 0; z-index: 99;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao{height: 16px; width: 80px; float: right; margin: 16px 27px 0 0;}

#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .bullet{width: 13px; height: 13px; display: block; background: url(../img/sprite_global.png) no-repeat -13px -251px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .bullet:hover{background-position:-33px -251px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .ativo{background-position:-52px -251px; cursor: default;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .ativo:hover{background-position:-52px -251px; cursor: default;}


#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage{width:100%; height:75px; display: block; position: absolute; bottom: 1px;}
#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img{width:80px; height:58px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}

#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos{width:100%; height:75px; display: block; position: absolute; bottom: 1px;}
#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img{width:80px; height:58px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}

#block-block-16 .view-fotos-com-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-row{display: none; position: absolute; top: 0; left: 0;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-field-fotos-imagem img{width: 283px; height: 204px; display: block; border: 0; position: relative; z-index: 999999;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-nothing{margin-top: 10px;}

#block-block-16 .view-videos-com-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-videos-com-filtro-por-pais .views-row{display: none;}
#block-block-16 .view-videos-com-filtro-por-pais .views-field-nothing{margin-top: 5px;}

/*Scroll*/
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {bottom: 4px;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {height: 11px; width: 99%;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {margin: 8px auto;}
.mCSB_dragger{width: 23px !important; height: 11px;}
.mCSB_dragger_bar{background: url(../img/dragger.png) no-repeat -5px -1px transparent !important; opacity: 1; height: 11px !important;}
.mCSB_scrollTools .mCSB_draggerRail{background: #fff; border: 1px solid #ccc;}

/*PÁGINA FEIRA DE CONTRATAÇÃO*/
#block-views-feira-de-contratacao-block {position:relative; display:inline-block;}
#block-views-feira-de-contratacao-block h2 {position:absolute; color:#07BDBC; display:block; font:30px/30px 'HelveticaneueBold'; margin:0; padding:0; text-align:left; top:49px; left:52px;}

.view-feira-de-contratacao .view-header #box1colbig .boxTitle {width:126px;}
.view-feira-de-contratacao .view-header #box1colbig .box {width:540px; height:24px; min-height: 220px;}
.view-feira-de-contratacao .view-content .views-row .views-field-title {display:none;}
.view-feira-de-contratacao .view-content .views-row .views-field-body {float:left; width:472px; height:160px; margin: -158px 0 21px 50px;}
.view-feira-de-contratacao .view-content .views-row .views-field-body p {text-align:justify;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas {float:right; position:relative; width:365px; padding:0 0 0 15px; background:url(../img/bg-datas.png) no-repeat 9px 34px; margin-top: -193px;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas span {display:block; font:30px/30px 'HelveticaneueBold'; color:#07BDBC;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas ul {display:inline-block; padding:10px 0 0 0;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas ul li {float:left; width:50%; margin:0 0 3px 0; padding:0; border-bottom:1px dotted #b9b9b9; background:none; background:url(../img/bg-feira.png) no-repeat 0 0; height:28px;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas ul li .datas {width:100%; font:12px/12px 'Arial'; color:#111; padding:8px 0 0 0;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas ul li .datas strong {font:14px/14px 'Helveticaneue'; color:#f5f5f5; padding:0 14px 0 3px;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-empresas {}

.field-name-field-pais .field-items .field-item a{display:none;}


#block-block-19 {clear:both; width:965px; height:400px; border:none; position:relative; margin:15px 0 0 0; padding:0; display:none;}
#block-block-19 h2 {font: 32px 'Arial'; color:#07bdbc; padding: 15px 0 0 15px; font-weight:bold;}
#block-block-19 .content {height:700px; overflow:hidden;}
#block-block-19 .content .views-field-status{display:none;}
#block-block-19 .content .view-feira-de-contratacao {height: 295px;}
#block-block-19 .views-field-field-feiras-empresas {clear:both; height:78px; margin: 0 auto; width:901px; height:355px;overflow:hidden;}
#block-block-19 .views-field-field-feiras-empresas .conteudo {width: 99999px; background-color:#fff; }
#block-block-19 .views-field-field-feiras-empresas .view-content {float:left; height:auto; margin-left:0; width:9999px;}
#block-block-19 .views-field-field-feiras-empresas .views-row {position: relative; float: left; margin-left: 10px; height: 78px; width: 170px;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-field-empresas-logo {opacity:0.4; cursor:pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter:alpha(opacity=40); -khtml-opacity:0.4; -moz-opacity:0.4;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-field-empresas-logo:hover {opacity:1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); -khtml-opacity:1; -moz-opacity:1;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-field-empresas-logo img {max-width:150px; max-height:78px; display:block; margin:0 auto;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing {position: absolute; width: 181px; height: auto; padding: 0; z-index: 1; top: 80px; left: -10px; display:none; z-index:9999;}
#block-block-19 .views-field-field-feiras-empresas .views-row:hover .views-field-nothing {display:block;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing span {display:block; padding:15px 0 0 0;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .desc_empresa {background-color:#ededed; padding:15px;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .desc_empresa .nome {font:bold 14px/20px 'Arial'; color:#111; text-align:left;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .desc_empresa .cidade {font:12px 'Arial'; color:#0e9695; text-align:left; padding:0 0 10px 0;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .desc_empresa .descricao {}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .desc_empresa .descricao p {font:12px/20px 'Arial'; color:#3f3f3f; text-align:left;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .seta {width:0; height:0; border-left:15px solid transparent; border-right:15px solid transparent; border-bottom:20px solid #ededed; position:absolute; top:-5px; left:70px;}
.view-feira-de-contratacao a.btLeft {background:url(../img/seta-galeria-feira.png) no-repeat 0 0; cursor:pointer; display:block; height:78px; width:32px; position:absolute; left:0; top:268px; opacity:0.5;}
.view-feira-de-contratacao a.btRight {background:url(../img/seta-galeria-feira.png) no-repeat -32px 0; cursor:pointer; display:block; height:78px; width:32px; position:absolute; right:0; top:268px;}

.galeriaPrincipal .link{z-index:999 !important;}
#block-block-16 .view-fotos-com-filtro-por-pais,
#block-block-16 .view-videos-com-filtro-por-pais{z-index:999 !important;}