#master {background:url(../img/bg-seguro.png) no-repeat 50% -10%;}
#box1col .boxcolor {background-color:#FC581D;}
#box1col {width:965px; margin:0;}
#box1col .boxBar {height:347px; background-color:#e4e4e4;}
#boxfull3col {float:none; background-color:#f8f8f8; width:931px; margin:0;}
#boxfull3col .col01 {height:347px;}
#boxfull3col .col02, #boxfull3col .col03 {background-color:#fc571d;}
#boxfull3col h5 {color:#fff;}
#boxfull3col p {color:#fff;}

#boxfull2colbig {margin:0 0 0 33px;}
#boxfull2colbig h5 {color:#fc571d;}
#boxfull2colbig .line {border-bottom:1px solid #cacaca; height:0; margin:50px auto 20px; width:247px;}
#boxfull2colbig .pl210 {padding-left:210px;}
#boxfull2colbig .pt150 {padding-top:150px;}
#boxfull2colbig .col02 {background:url(../img/bg-box-seguro.png) no-repeat 25px 15px;}
#boxfull2colbig .col02 .primeiralista {margin-left:160px;}

#boxfull2colbig ul li {background:url(../img/sprite_lista.png) no-repeat 0 5px;}

.boxlink {background-color:#E6E6E6;}

h3{color:#fc571d !important;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo {background-position:-165px -265px;}
#iexplorer .boxcolor {background-color:#FC581D;}


// PÁGINA 'CÂMBIO'
.page-node-371 .page-title .adjust h2 {display:none;}
.page-node-371 #boxfull3col .col01 {width:594px;}
.page-node-371 #boxfull3col .col02 {display:none;}
.page-node-371 #boxfull3col .col03 {float:right;}
.page-node-371 #boxfull3col .col03 p {line-height:17px;}
.page-node-371 #boxfull2colbig h5 {font-family:'HelveticaneueBold'; line-height:23px;}
.page-node-371 #boxfull2colbig h5.pl200 {padding-right:130px;}
.page-node-371 #boxfull2colbig ul {padding-right:39px;}
.page-node-371 #boxfull2colbig ul li {margin:12px 0; line-height:18px; background:url(../img/seta_laranja.png) no-repeat 0 3px; text-align:justify;}
.page-node-371 #boxfull2colbig .col01 {width:469px;}
.page-node-371 #boxfull2colbig .col02 {background:none; width:462px;}
.page-node-371 #boxfull2colbig .col02 .primeiralista {margin-left:20px;}
.page-node-371 #boxfull2colbig .col02 h5 {padding-left:50px;}
.page-node-371 #boxfull2colbig .col02 .line {margin:50px auto 50px;}
.page-node-371 #boxfull2colbig .col02 .boxlink {position:relative; left:0; bottom:0; margin:50px auto 0;}
.page-node-371 #boxfull2colbig .col02 .boxlink a.link {}