.page-node-28 #master, .page-node-75 #master{/*background: url(../img/trabalhar/bg-trainee.png) no-repeat 50% 57%;*/}

#box1colbig{width:587px;}
#box1colbig .boxBar{background:#e4e4e4;}
#box1col{}
#box1col .boxBar{background:#0e9695;}
#box1col .box{background:#07bdbc;}
#box1colbig .boxcolor, #box1col .boxcolor {background-color:#07bdbc;}
#box2colsmall ul li {background: url(../img/sprite_lista.png) no-repeat -1px -121px !important; font: 11px/21px Arial, Helvetica, sans-serif;}
#box2colsmall h5 {padding: 20px 0 10px 30px;}
.galeria04 {border:none;background:none;float: left;height: 15px;width: 973px;}
#box1colbig h4, h5{color:#07bdbc;}
.galeria01{margin:10px 0;}
.galeria02{margin:-27px 0 0 25px;}
.galeria03{margin-top:70px; margin-left:18px;}
#box1colbig .detail {background: url("../img/sprite_global.png") no-repeat scroll -78px -61px transparent;display: block;height: 19px;width: 19px;}
#box1colbig ul li {background-position: -747px -223px;}
#box1colbig .boxTitle{width:115px;}

/* Voce nos EUA */
.field-name-field-trainee-voceno #box1colbig{width:934px; height: 364px; overflow: inherit !important;}
.field-name-field-trainee-voceno .box{width:900px !important; height: 387px !important; background: url(../img/study_work/bg-work-experience-vc-eua.png) no-repeat scroll 240px -11px !important; overflow: inherit !important; margin-left: 35px;}
.field-name-field-trainee-voceno #txt-desc-eua{width: 240px; position: absolute; top: 158px; left: 350px;}
.field-name-field-trainee-voceno #img-box-eua{position: absolute; right: 0; top: -47px;}
.field-name-field-trainee-voceno .boxBar{background: none repeat scroll 0 0 #0e9695 !important; height: 330px !important; width: 34px !important;}
.field-name-field-trainee-voceno #box1colbig ul{margin: 20px 0 0 20px; width: 395px;}
.field-name-field-trainee-voceno #box1colbig ul li{background-position: 0 -121px !important; background: url(../img/sprite_lista.png) no-repeat scroll 0 0; color: #454545; display: block; font: 11px/21px Arial,Helvetica,sans-serif; list-style-type: none; margin: 2px 0; padding: 0 0 0 12px; text-align: left;}
.field-name-field-trainee-voceno .border-bt-list { border-bottom: 1px dashed #b1dad9 !important; }
.field-name-field-trainee-voceno #box4col {margin: -14px 0 5px 0 !important; z-index: -1;}
.field-name-field-trainee-voceno #box4col h5 {padding: 0 0 15px 16px !important; }
.field-name-field-trainee-voceno #box4col #title-onde-morar { padding: 20px 0 15px 16px !important; }




/* ------ */

#box2colsmall{margin:13px 0 0 20px;}

h3{color: #07bdbc !important;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo{background-position: -165px -265px;}
#iexplorer .boxcolor{background-color:#07bdbc;}

#block-views-mochiloes-block{float: right; margin-top: -349px;}
#block-views-mochiloes-block h2{display: none;}
#block-views-mochiloes-block #box1colnobar {width: 295px; height: 337px;}
#block-views-mochiloes-block #box1colnobar .box{width: 261px; height: 300px; background: url(../img/bg_galeria.jpg) no-repeat !important; padding-top: 20px; border: none !important; border-radius: 0 !important; position: relative; top: -8px; z-index: 0;}
#block-views-mochiloes-block #box1colnobar .boxTitle {position: relative; z-index: 99;}
#block-views-mochiloes-block #box1colnobar .boxcolor {background-color: #027d9b;}

.view-mochiloes{float: left; width: 295px; overflow: hidden; position: relative;}
.view-mochiloes .navegacao{height: 20px; display: block; position: absolute; bottom: 0; text-align: center; left: 50%;}
.view-mochiloes .navegacao .bullet{width: 9px; height: 9px; display: block; background: url(../img/sprite_global.png) no-repeat -92px -255px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
.view-mochiloes .navegacao .bullet:hover{background-position:-104px -255px;}
.view-mochiloes .navegacao .ativo{background-position:-116px -255px;}
.view-mochiloes .navegacao .ativo:hover{background-position:-116px -255px;}

.view-mochiloes .view-content{width: 1000px; height: 292px; margin: -298px 0 0 34px; float: left; position: relative;}
.view-mochiloes .view-content .grupo{width: 261px; height: 292px; float: left; position: relative;}
.view-mochiloes .view-content .views-row{width:236px; height:53px; display: block; margin: 0 auto 20px auto; display: none;}
.view-mochiloes .view-content .views-row .views-field-field-mochiloes-imagem{width:80px; height:53px; float: left; margin-right: 7px;}
.view-mochiloes .view-content .views-row .views-field-field-mochiloes-imagem img{width:100%; height:100%; border: 0;}
.view-mochiloes .view-content .views-row .views-field-title {width:145px; float: left;}
.view-mochiloes .view-content .views-row .views-field-title a{font:14px "helveticaneue"; color: #fff; text-decoration: none;}
.view-mochiloes .view-content .views-row .views-field-title a:hover{text-decoration: underline;}
.view-mochiloes .view-content .views-row .views-field-nothing {width:145px; font:12px/16px Arial; color:#eee8e8; float: left;}

/*PÁGINA FEIRA DE CONTRATAÇÃO*/
#block-views-empresas-block{display:none;}
.view-feira-de-contratacao .view-header #box1colbig .boxTitle {width:126px;}
.view-feira-de-contratacao .view-header #box1colbig .box {width:540px; height:24px; min-height: 220px;}
.view-feira-de-contratacao .view-content {width: 912px; float:left; margin:-162px 0 0 53px;}
.view-feira-de-contratacao .view-content .views-row .views-field-title {display:none;}
.view-feira-de-contratacao .view-content .views-row .views-field-body {float:left; width:455px;}
.view-feira-de-contratacao .view-content .views-row .views-field-body p {text-align:justify;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas {float:right; position:relative; width:365px; padding:0 0 0 15px; background:url(../img/bg-datas.png) no-repeat 5px 0; margin-right: 60px;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas span {position:absolute; top:-34px; display:block; font:30px/30px 'HelveticaneueBold'; color:#07BDBC;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas ul {display:inline-block; padding:10px 0 0 0;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas ul li {float:left; width:50%; margin:0 0 3px 0; padding:0; border-bottom:1px dotted #b9b9b9; background:none; background:url(../img/bg-feira.png) no-repeat 0 0; height:28px;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas ul li .datas {width:100%; font:12px/12px 'Arial'; color:#111; padding:8px 0 0 0;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-datas ul li .datas strong {font:14px/14px 'Helveticaneue'; color:#f5f5f5; padding:0 14px 0 3px;}
.view-feira-de-contratacao .view-content .views-row .views-field-field-feiras-empresas {}

.field-name-field-pais .field-items .field-item a{display:none;}

#block-block-19{clear:both; width:965px; height:400px; border:none; position:relative; margin:15px 0 0 0; padding:0; display:none;}
#block-block-19 h2{font: 32px 'Arial'; color:#07bdbc; padding: 15px 0 0 15px; font-weight:bold;}
#block-block-19 .content{height:500px; margin:0 0 0 32px; width:901px; overflow:hidden;}
#block-block-19 .content .views-field-status{display:none;}
#block-block-19 .content .view-feira-de-contratacao{height: 295px;}
#block-block-19 .views-field-field-feiras-empresas {display:inline-block; background-color:#fff; height:78px; margin: 30px 0 0 -53px; width:99999px; }
#block-block-19 .views-field-field-feiras-empresas .view-content {float:left; height:auto; margin-left:0; width:9999px;}
#block-block-19 .views-field-field-feiras-empresas .views-row {position: relative; float: left; margin-left: 10px; height: 78px; width: 170px;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-field-empresas-logo {opacity:0.4; cursor:pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter:alpha(opacity=40); -khtml-opacity:0.4; -moz-opacity:0.4;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-field-empresas-logo:hover {opacity:1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); -khtml-opacity:1; -moz-opacity:1;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-field-empresas-logo img {max-width:150px; max-height:78px; display:block; margin:0 auto;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing {position:absolute; width:170px; height:135px; padding:0; z-index:1; top:30px; left:0; display:none;}
#block-block-19 .views-field-field-feiras-empresas .views-row:hover .views-field-nothing {display:block;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing span {display:block; padding:15px 0 0 0;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .desc_empresa {background-color:#ededed; padding:15px;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .desc_empresa .nome {font:bold 14px/20px 'Arial'; color:#111; text-align:left;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .desc_empresa .cidade {font:12px 'Arial'; color:#0e9695; text-align:left; padding:0 0 10px 0;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .desc_empresa .descricao {}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .desc_empresa .descricao p {font:12px/20px 'Arial'; color:#3f3f3f; text-align:left;}
#block-block-19 .views-field-field-feiras-empresas .views-row .views-field-nothing .seta {width:0; height:0; border-left:15px solid transparent; border-right:15px solid transparent; border-bottom:20px solid #ededed; position:absolute; top:-5px;}
.view-feira-de-contratacao a.btLeft {background:url(../img/seta-galeria-feira.png) no-repeat 0 0; cursor:pointer; display:block; height:78px; width:32px; position:absolute; left:0; top:268px; opacity:0.5;}
.view-feira-de-contratacao a.btRight {background:url(../img/seta-galeria-feira.png) no-repeat -32px 0; cursor:pointer; display:block; height:78px; width:32px; position:absolute; right:0; top:268px;}

/*Galeria principal*/
.galeriaPrincipal{width: 634px; height: 301px; display: block; float: right; margin-top: 90px; position: relative; z-index:0;}
/*.galeriaPrincipal span{width: 110px; height: 26px; display: block; background: url() no-repeat 0 0;}*/

.galeriaPrincipal .link{width: 78px; height: 26px; display: block; background: #e7e7e7; margin: -20px 0 0 6px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; float: left; position: relative; z-index: 9999; top: -30px;}
.galeriaPrincipal .link a{width: 70px; height: 20px; display: block; background: #1b1b1b; font:10px/20px Arial; color: #fff; text-align: center; margin: 3px auto; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;}
.galeriaPrincipal .link a:hover{background: #bdb9b9;}
.galeriaPrincipal .link a.ativo{background: #898989;}

.galeriaPrincipal .galerytitle {width: 118px; height: 26px; display: block; background: url(../img/sprite_global.png) no-repeat 0px 0px; overflow: hidden; text-indent: -999px; float: left; top: -30px; position: relative;}
.galeriaPrincipal .fotored {background-position: -148px -112px;}
.galeriaPrincipal .videored {background-position: -1066px -112px; display: none;}
.galeriaPrincipal p.title {font:37px/30px "Helveticaneue"; color:#ec5900; position: absolute; top: -18px; right: 118px;}
.galeriaPrincipal p.subtitle {font:18px/16px "Helveticaneue"; color:#000; position: absolute; top: 2px; right: 189px;}

#block-block-16{width: 638px; position: absolute; top: 350px; right: 0;}

#block-block-16 .view-experiencias-com-filtro-por-pais{width: 388px; height: 301px; display: block; background: url(../img/bg_galeria_experiencia.png) no-repeat -4px -1px; position: absolute; overflow: hidden; top: -275px; right: 0;}
#block-block-16 .view-experiencias-com-filtro-por-pais .view-content{width:3000px; height:301px; display: block; position: relative;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row{width:388px; height:301px; display: block; float: left;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-body{}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-body p{font: 12px/20px Arial; color: #5a5a5a; width: 170px; text-align: right; float: right; padding: 70px 18px 0 0; height: 178px; overflow: hidden;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-field-experiencias-imagem{width: 164px; height: 176px; display: block; overflow: hidden; float: left; margin: -183px 0 0 42px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-field-experiencias-imagem img{display: block; width: 164px; height: auto; border: 0; position: absolute; bottom: 47px; left: 50px; z-index: -1;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing{width: 260px; clear: both; position: relative; top: 6px; z-index: 999;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing .field-content{padding: 0;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing p{font: 16px Arial; color: #fff; padding: 5px 0 0 50px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing span{font: 12px Arial; color: #ef3b5b; padding: 5px 0 0 50px;}

#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias{width:393px; height:47px; background: url(../img/bg_navegacao_experiencias.png) no-repeat 0 0; position: absolute; bottom: 0; right: 0; z-index: 99;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao{height: 16px; width: 80px; float: right; margin: 16px 27px 0 0;}

#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .bullet{width: 13px; height: 13px; display: block; background: url(../img/sprite_global.png) no-repeat -13px -251px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .bullet:hover{background-position:-33px -251px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .ativo{background-position:-52px -251px; cursor: default;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .ativo:hover{background-position:-52px -251px; cursor: default;}


#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage{width:100%; height:75px; display: block; position: absolute; bottom: 1px; /*-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;*/}
#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img{width:80px; height:58px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}
/*#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img:hover{opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}*/

#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos{width:100%; height:75px; display: block; position: absolute; bottom: 1px; /*-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;*/}
#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img{width:80px; height:58px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}
/*#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img:hover{opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}*/

#block-block-16 .view-fotos-com-filtro-por-pais{position: absolute; top: -240px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-row{display: none; position: absolute; top: 0; left: 0;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-field-fotos-imagem img{width: 283px; height: 204px; display: block; border: 0; position: relative; z-index: 999999;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-nothing{margin-top: 10px;}

#block-block-16 .view-videos-com-filtro-por-pais{position: absolute; top: -240px; left: 4px; width: 283px; height: 284px; display:block;}
#block-block-16 .view-videos-com-filtro-por-pais .views-row{display: none;}
#block-block-16 .view-videos-com-filtro-por-pais .views-field-nothing{margin-top: 5px;}

/*Scroll*/
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {bottom: 4px;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {height: 11px; width: 99%;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {margin: 8px auto;}
.mCSB_dragger{width: 23px !important; height: 11px;}
.mCSB_dragger_bar{background: url(../img/dragger.png) no-repeat -5px -1px transparent !important; opacity: 1; height: 11px !important;}
.mCSB_scrollTools .mCSB_draggerRail{background: #fff; border: 1px solid #ccc;}

/*.loading{width:100%; height:67px; display: block; position: absolute; bottom: 1px; background: url(../img/loading.gif) no-repeat center #fff; z-index: 99; margin-bottom:0px;}*/