#master{background: url(../img/trabalhar/bg-workexperience.png) no-repeat 50% 46%;}
/*BOX 1 COLUNA*/
#box1col{width: 322px; display: block; float: left; margin: 5px 0;}
#box1col .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left;}
#box1col .icone{background-position:0px -11px;}
#box1col .detail{width:19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -10px -61px;}
#box1col .boxcolor{background-color:#07bdbc;}
#box1col .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1col .boxBar{width:34px; height:371px; background: #0e9695;}
#box1col .box{width:287px; height:371px; background: #07bdbc; position: relative; overflow: hidden;}
#box1col .box h4{padding: 25px 0 0 21px; color:#FFF;}
#box1col .box p{width:85%; margin:0 auto; text-align: justify; color:#000;;}
#box1col .box .detail{position: absolute; top: 5px; left: 5px;}

.galeria03{margin: 50px 0 0 10px;}
.galeria02{margin: 5px 0 0 10px;}

#box2colsmall{margin-left: 27px;}
#box2colsmall h5{color:#07bdbc;}
#box2colsmall ul li {background-position: -1px -121px;}

#box1colbig .boxBar {background: none repeat scroll 0 0 #0e9695;height: 210px;width: 34px;}
#box1colbig h4 {color:#07bdbc;padding: 20px 0 10px 21px;}

#box1colbig .boxcolor {background-color: #07bdbc;}
#box4col h5{color:#07bdbc;}

#box1colbig .detail{background: url("../img/sprite_global.png") no-repeat scroll -78px -61px transparent;}

ul li {background: url("../img/sprite_lista.png") no-repeat scroll 0 0 transparent; color: #454545; display: block;  font: 11px/21px Arial,Helvetica,sans-serif;
    list-style-type: none; margin: 2px 0;padding: 0 0 0 12px;text-align: left;}

#box1colbig p{margin-left:10px;}
 
#box1colbig ul {margin: 20px 0 0 20px;width: 395px;}
#box1colbig .boxTitle{width:165px;}

#box1colbig{height:345px; width:932px;}
#box1colbig .box{width:auto; left:35px;}
#box1colbig .box{overflow: inherit;}

#box1colbig .boxBar{height:330px;}

#box1colbig ul li {background-position: 0 -121px;}

.border-bt-list{border-bottom:1px dashed #b1dad9;}
#txt-desc-eua{position:absolute; left:345px; top:129px; width:240px !important;}
#img-box-eua{position:absolute; left:600px; top:-45px; width:323px; height:388px; z-index:2;}

h3{color: #07bdbc !important;}
#header .page-title .menu-level-3 ul.menu li.active div.ativo{background-position: -165px -265px;}
#iexplorer .boxcolor{background-color:#07bdbc;}

#block-views-mochiloes-block{float: right; margin-top: -349px;}
#block-views-mochiloes-block h2{display: none;}
#block-views-mochiloes-block #box1colnobar {width: 295px; height: 337px;}
#block-views-mochiloes-block #box1colnobar .box{width: 261px; height: 300px; background: url(http://192.168.0.66/ie/sites/all/themes/iesite/img/bg_galeria.jpg) no-repeat !important; padding-top: 20px; border: none !important; border-radius: 0 !important; position: relative; top: -8px; z-index: 0;}
#block-views-mochiloes-block #box1colnobar .boxTitle {position: relative; z-index: 99;}
#block-views-mochiloes-block #box1colnobar .boxcolor {background-color: #027d9b;}

.view-mochiloes{float: left; width: 295px; overflow: hidden; position: relative;}
.view-mochiloes .navegacao{height: 20px; display: block; position: absolute; bottom: 0; text-align: center; left: 50%;}
.view-mochiloes .navegacao .bullet{width: 9px; height: 9px; display: block; background: url(../img/sprite_global.png) no-repeat -92px -255px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
.view-mochiloes .navegacao .bullet:hover{background-position:-104px -255px;}
.view-mochiloes .navegacao .ativo{background-position:-116px -255px;}
.view-mochiloes .navegacao .ativo:hover{background-position:-116px -255px;}

.view-mochiloes .view-content{width: 1000px; height: 292px; margin: -298px 0 0 34px; float: left; position: relative;}
.view-mochiloes .view-content .grupo{width: 261px; height: 292px; float: left; position: relative;}
.view-mochiloes .view-content .views-row{width:236px; height:53px; display: block; margin: 0 auto 20px auto; display: none;}
.view-mochiloes .view-content .views-row .views-field-field-mochiloes-imagem{width:80px; height:53px; float: left; margin-right: 7px;}
.view-mochiloes .view-content .views-row .views-field-field-mochiloes-imagem img{width:100%; height:100%; border: 0;}
.view-mochiloes .view-content .views-row .views-field-title {width:145px; float: left;}
.view-mochiloes .view-content .views-row .views-field-title a{font:14px "helveticaneue"; color: #fff; text-decoration: none;}
.view-mochiloes .view-content .views-row .views-field-title a:hover{text-decoration: underline;}
.view-mochiloes .view-content .views-row .views-field-nothing {width:145px; font:12px/16px Arial; color:#eee8e8; float: left;}


/*Galeria principal*/
.galeriaPrincipal{width: 634px; height: 301px; display: block; float: right; margin-top: 71px;}
/*.galeriaPrincipal span{width: 110px; height: 26px; display: block; background: url() no-repeat 0 0;}*/

.galeriaPrincipal .link{width: 78px; height: 26px; display: block; background: #e7e7e7; margin: -20px 0 0 6px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; float: left; position: relative; z-index: 9999; top: -30px;}
.galeriaPrincipal .link a{width: 70px; height: 20px; display: block; background: #1b1b1b; font:10px/20px Arial; color: #fff; text-align: center; margin: 3px auto; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;}
.galeriaPrincipal .link a:hover{background: #bdb9b9;}
.galeriaPrincipal .link a.ativo{background: #898989;}

.galeriaPrincipal .galerytitle {width: 118px; height: 26px; display: block; background: url(../img/sprite_global.png) no-repeat 0px 0px; overflow: hidden; text-indent: -999px; float: left; top: -30px; position: relative;}
.galeriaPrincipal .fotored {background-position: -148px -112px;}
.galeriaPrincipal .videored {background-position: -1066px -112px; display: none;}
.galeriaPrincipal p.title {font:37px/30px "Helveticaneue"; color:#ec5900; position: absolute; top: 430px; right: 118px;}
.galeriaPrincipal p.subtitle {font:18px/16px "Helveticaneue"; color:#000; position: absolute; top: 450px; right: 189px;}

#block-block-16{width: 638px; position: absolute; top: 360px; right: 0;}

#block-block-16 .view-experiencias-com-filtro-por-pais{width:388px; height:301px; display: block; margin: 72px 0 0 0; background: url(../img/bg_galeria_experiencia.png) no-repeat -4px -1px; float: right; position: relative; overflow: hidden;}
#block-block-16 .view-experiencias-com-filtro-por-pais .view-content{width:3000px; height:301px; display: block; position: relative;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row{width:388px; height:301px; display: block; float: left;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-body{}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-body p{font: 12px/20px Arial; color: #5a5a5a; width: 170px; text-align: right; float: right; padding: 70px 18px 0 0; height: 178px; overflow: hidden;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-field-experiencias-imagem{width: 164px; height: 176px; display: block; overflow: hidden; float: left; margin: -183px 0 0 42px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-field-experiencias-imagem img{display: block; width: 100%; height: auto; border: 0;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing{width: 260px; clear: both; position: relative; top: 6px; z-index: 999;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing .field-content{padding: 0;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing p{font: 16px Arial; color: #fff; padding: 5px 0 0 50px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .views-row .views-field-nothing span{font: 12px Arial; color: #ef3b5b; padding: 5px 0 0 50px;}

#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias{width:393px; height:47px; background: url(../img/bg_navegacao_experiencias.png) no-repeat 0 0; position: absolute; bottom: 0; right: 0; z-index: 99;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao{height: 16px; width: 80px; float: right; margin: 16px 27px 0 0;}

#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .bullet{width: 13px; height: 13px; display: block; background: url(../img/sprite_global.png) no-repeat -13px -251px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .bullet:hover{background-position:-33px -251px;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .ativo{background-position:-52px -251px; cursor: default;}
#block-block-16 .view-experiencias-com-filtro-por-pais .barraExperiencias .navegacao .ativo:hover{background-position:-52px -251px; cursor: default;}


#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage{width:100%; height:67px; display: block; position: absolute; bottom: 1px; /*-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;*/}
#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img{width:82px; height:47px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}
/*#block-block-16 .view-fotos-com-filtro-por-pais .thumbImage img:hover{opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}*/

#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos{width:100%; height:67px; display: block; position: absolute; bottom: 1px; /*-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;*/}
#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img{width:82px; height:47px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}
/*#block-block-16 .view-videos-com-filtro-por-pais .thumbVideos img:hover{opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70);}*/

#block-block-16 .view-fotos-com-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-row{display: none; position: absolute; top: 0; left: 0;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-field-fotos-imagem img{width: 283px; height: 204px; display: block; border: 0; position: relative; z-index: 999999;}
#block-block-16 .view-fotos-com-filtro-por-pais .views-field-nothing{margin-top: 10px;}

#block-block-16 .view-videos-com-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-16 .view-videos-com-filtro-por-pais .views-row{display: none;}
#block-block-16 .view-videos-com-filtro-por-pais .views-field-nothing{margin-top: 5px;}

/*Scroll*/
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {bottom: 4px;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {height: 11px; width: 99%;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {margin: 8px auto;}
.mCSB_dragger{width: 23px !important; height: 11px;}
.mCSB_dragger_bar{background: url(../img/dragger.png) no-repeat -5px -1px transparent !important; opacity: 1; height: 11px !important;}
.mCSB_scrollTools .mCSB_draggerRail{background: #fff; border: 1px solid #ccc;}

/*.loading{width:100%; height:67px; display: block; position: absolute; bottom: 1px; background: url(../img/loading.gif) no-repeat center #fff; z-index: 99; margin-bottom:0px;}*/