.page-node-35 #master{background: url(../img/estudar/bg-ie_estudar_profissionalizantes.png) no-repeat 303px 83px;}

#box1col .boxcolor{background-color:#07bebc;}
#box1col .boxBar{background-color:#0e9696;}
#box1col .box{background-color:#07bebc;}
#box1col .box p{color:#FFF;}
#box3col{margin:23px 0 0 31px;}
#box3col h5{color:#07bebc;}
#box3col ul li {background-position: -747px -223px;}
.galeria03{margin:70px 0 0 10px;}
.galeria04{margin-top:35px;}
/*.link span {display:block;}*/
.border-lists{border-top:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; margin:50px 0 40px 30px; padding-bottom:25px; width:240px;}
a.link {width:100% !important; height:100% !important;}

h3{color: #07bdbc !important;}

#header .page-title .menu-level-3 ul.menu li.active div.ativo{background-position: -165px -265px;}
#iexplorer .boxcolor{background-color:#07bdbc;}

/*Especiais*/
#box3col {position: relative; height:401px; background-position:-16px -435px;}
.view-study-and-work-destaques-pagina-trabalhar #box3col .col01 .field-content img {position:absolute; top:0;}
.views-field-field-cursos-imagem img {position: absolute; top: 320px;}
.col03 .field-content {font-family: helvetica; font-size: 14px; font-weight: bold; color: #282826; text-align: right; width: 150px; position: relative; top: -220px; left: 90px;}

/*GALERIA DOS CURSOS DA INTERNA*/
.galeria03{width:623px; height:278px; background: url(../img/estudar/bg_galeria-3_destinos.png); border: none; float: left;}
.galeria03 .titulo{color:#07bebc; display: block; margin-bottom: 10px; font: 25px/72px 'Helveticaneue'; padding-left: 24px;}
.galeria03 ul li{width: 116px; height: 158px; display: block; display: inline-block; float: left; margin: 0 7px; padding: 0; overflow: hidden; position: relative; cursor: pointer; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;} 
.galeria03 ul li:hover{opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7;  filter: alpha(opacity=70);} 
.galeria03 ul li img{width: 100%; height: 100%; border:0; display: block;}
.galeria03 ul li .title_curso{height: 44px; overflow: hidden; background-color: #2d2d2d; position: absolute; bottom: 0; width: 100%; padding: 0; font: 10px/44px Arial, Helvetica, sans-serif; color: #fff; text-transform: uppercase; text-align: center;}
.galeria03 ul li:hover .title_curso{color: yellow;}
.galeria03 ul li.ativo{border-bottom: 20px solid #07bebc;}

/*PÁGINA INTERNA TEEN EXPERIENCE*/
#block-block-8{float: left; width: 960px;}
.view-study-and-work-destaques-pagina-trabalhar{float: left;}
.view-study-and-work-destaques-pagina-trabalhar .col03 .field-content {font-family:helvetica; font-size:14px; font-weight:bold; color:#282826; text-align:right; width:138px; position:relative; top:-287px; left:68px;}
.view-study-and-work-destaques-pagina-trabalhar .views-row{display: none;}
.view-study-and-work-destaques-pagina-trabalhar .views-field-nid{display: none;}
.view-study-and-work-destaques-pagina-trabalhar .views-field-title{display: none;}

/*Galeria principal*/
.galeriaPrincipal{width: 634px; height: 301px; display: block; float: right; margin-top: 71px;}

.galeriaPrincipal .link{width: 78px; height: 26px; display: block; background: #e7e7e7; margin: -20px 0 0 6px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; float: left; position: relative; z-index: 9999;}
.galeriaPrincipal .link a{width: 70px; height: 20px; display: block; background: #1b1b1b; font:10px/20px Arial; color: #fff; text-align: center; margin: 3px auto; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;}
.galeriaPrincipal .link a:hover{background: #bdb9b9;}
.galeriaPrincipal .link a.ativo{background: #898989;}

.galeriaPrincipal .galerytitle {width: 118px; height: 26px; display: block; background: url(../img/sprite_global.png) no-repeat 0px 0px; overflow: hidden; text-indent: -999px; float: left;}
.galeriaPrincipal .fotored {background-position: -148px -112px;}
.galeriaPrincipal .videored {background-position: -1066px -112px; display: none;}
.galeriaPrincipal p.title {font:37px/30px "Helveticaneue"; color:#ec5900; position: absolute; top: 70px; right: 118px;}
.galeriaPrincipal p.subtitle {font:18px/16px "Helveticaneue"; color:#000; position: absolute; top: 92px; right: 189px;}

#block-block-15{width: 638px; position: absolute; top: 0; right: 0;}

#block-block-15 .view-experiencias-sem-filtro-por-pais{width:388px; height:301px; display: block; margin: 72px 0 0 0; background: url(../img/bg_galeria_experiencia.png) no-repeat -4px -1px; float: right; position: relative; overflow: hidden;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .view-content{width:3000px; height:301px; display: block; position: relative;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row{width:388px; height:301px; display: block; float: left;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-body{}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-body p{font: 12px/20px Arial; color: #5a5a5a; width: 170px; text-align: right; float: right; padding: 70px 18px 0 0; height: 178px; overflow: hidden;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-field-experiencias-imagem{width: 154px; height: 176px; display: block; overflow: hidden; float: left; margin: 88px 0 0 42px;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-field-experiencias-imagem img{display: block; width: 100%; height: auto; border: 0;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing{width: 260px; clear: both; position: relative; top: -10px; z-index: 999;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing .field-content{padding: 0;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing p{font: 16px Arial; color: #fff; padding: 5px 0 0 50px;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .views-row .views-field-nothing span{font: 12px Arial; color: #ef3b5b; padding: 5px 0 0 50px;}

#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias{width:393px; height:47px; background: url(../img/bg_navegacao_experiencias.png) no-repeat 0 0; position: absolute; bottom: 0; right: 0; z-index: 99;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao{height: 15px; width: 80px; float: right; margin: 16px 27px 0 0;}

#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .bullet{width: 13px; height: 13px; display: block; background: url(../img/sprite_global.png) no-repeat -13px -251px; margin: 0 5px; text-indent: -999px; overflow: hidden; float: left; cursor: pointer;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .bullet:hover{background-position:-33px -251px;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .ativo{background-position:-52px -251px; cursor: default;}
#block-block-15 .view-experiencias-sem-filtro-por-pais .barraExperiencias .navegacao .ativo:hover{background-position:-52px -251px; cursor: default;}


#block-block-15 .view-fotos-sem-filtro-por-pais .thumbImage{width:100%; height:67px; display: block; position: absolute; bottom: 1px;}
#block-block-15 .view-fotos-sem-filtro-por-pais .thumbImage img{width:82px; height:47px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}

#block-block-15 .view-videos-sem-filtro-por-pais .thumbVideos{width:100%; height:67px; display: block; position: absolute; bottom: 1px;}
#block-block-15 .view-videos-sem-filtro-por-pais .thumbVideos img{width:82px; height:47px; display: inline-block; margin: 0 1px; border: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; cursor: pointer;}

#block-block-15 .view-fotos-sem-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-15 .view-fotos-sem-filtro-por-pais .views-row{display: none; position: absolute; top: 0; left: 0;}
#block-block-15 .view-fotos-sem-filtro-por-pais .views-field-field-fotos-imagem img{width: 283px; height: 204px; display: block; border: 0; position: relative; z-index: 999999;}
#block-block-15 .view-fotos-sem-filtro-por-pais .views-field-nothing{margin-top: 10px;}

#block-block-15 .view-videos-sem-filtro-por-pais{position: absolute; top: 110px; left:4px; width: 283px; height: 284px; display: block;}
#block-block-15 .view-videos-sem-filtro-por-pais .views-row{display: none;}
#block-block-15 .view-videos-sem-filtro-por-pais .views-field-nothing{margin-top: 5px;}

/*Scroll*/
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {bottom: 4px;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {height: 11px; width: 99%;}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {margin: 8px auto;}
.mCSB_dragger{width: 23px !important; height: 11px;}
.mCSB_dragger_bar{background: url(../img/dragger.png) no-repeat -5px -1px transparent !important; opacity: 1; height: 11px !important;}
.mCSB_scrollTools .mCSB_draggerRail{background: #fff; border: 1px solid #ccc;}