
/* Estilo do box principal */
#box1col {width: 100% !important; display: block; float: left; margin: 5px 0; padding: 0 0 20px 0; border-bottom: 1px solid #dddddd;}
#box1col .boxcolor {background-color: #ffcd00 !important;}
#box1col .boxBar{width: 34px; height: 566px !important; background: #dddddd !important;}
#box1col .box {width: 930px !important; height: 566px !important; background: url(../img/tv-ie/bg-tv-ie.png) no-repeat 15px 10px !important; position: relative; overflow: hidden;}
#box1col .box h4 { padding: 25px 0 0 21px; color: #ec5900 !important; font-weight:bold;}
#box1col .detail {width: 19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -77px -61px !important; display:none !important;}
#box1col .icone {background-position: -44px -12px !important;}

#box1col iframe{position:absolute; top: 160px; left: 140px;}
#box1col .field-title h3{position:absolute; top: 95px; left: 140px; font: 24px 'Arial'; color:#a78510;}
#box1col .field-description p{position:absolute; top: 130px; left: 140px;}

/* Estilo dos rows */
.blocoVideos .view-content .views-row{position: relative; float:left; width: 470px; height: 285px; overflow: hidden; background: #FFF; margin: 0 0 25px 0; cursor: pointer;}
.blocoVideos .view-content .views-row-odd{float:left;}
.blocoVideos .view-content .views-row-even{float:right;}

.blocoVideos .view-content .views-row .seta{display: block; position: absolute; top: 0; left: 50%; width: 24px; height: 24px; margin: 0 0 0 -12px; background: url(../img/tv-ie/seta-imagens.png) no-repeat 0 -1px;}
.blocoVideos .view-content .views-row .views-field-nid{display: none;}
.blocoVideos .view-content .views-row .views-field-field-tvie-imagem{height: 163px; overflow: hidden;}
.blocoVideos .view-content .views-row .views-field-field-tvie-imagem img{display: block; width: 100%;}
.blocoVideos .view-content .views-row .views-field-title{padding: 20px 100px 0 20px;}
.blocoVideos .view-content .views-row .views-field-title span{font: 20px 'Arial'; color:#a78510;}
.blocoVideos .view-content .views-row .views-field-body div{color:#555; font: 12px 'Arial'; padding: 0 100px 20px 20px;}
.blocoVideos .view-content .views-row .views-field-field-video{display:none;}
.blocoVideos .view-content .views-row .field-assista{position:absolute; bottom:5px; right:5px; cursor:pointer;}
.blocoVideos .view-content .views-row .field-assista span{color:#e4b615; font: 12px 'Arial'; font-weight: bold;}

.blocoVideos .view-content .views-row:hover{background-color: #f1f1f1;}
.blocoVideos .view-content .views-row:hover .views-field-title span{color: #686868;}
.blocoVideos .view-content .views-row:hover .field-assista span{color:#686868;}

