/*body{margin:0;padding:0;text-align: center; background: #f8f8f8;}
/**{margin:0; padding:0; border: 0;}*/

br.clear{clear: both;}

@font-face {
    font-family: 'avantgarde_md_btmedium';
    src: url('fonts/avgardm-webfont.eot');
    src: url('fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avgardm-webfont.woff') format('woff'),
         url('fonts/avgardm-webfont.ttf') format('truetype'),
         url('fonts/avgardm-webfont.svg#avantgarde_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/helveticaneue-webfont.eot');
    src: url('fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-webfont.woff') format('woff'),
         url('fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-webfont.svg#helveticaneueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaneueBold';
    src: url('fonts/helveticaneuebd-webfont.eot');
    src: url('fonts/helveticaneuebd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuebd-webfont.woff') format('woff'),
         url('fonts/helveticaneuebd-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuebd-webfont.svg#helveticaneuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

#master{text-align: left;}

#header{width: 100%; position: relative; background:#fff;}
#header .header-1{width: 100%; height: 124px; display: block; background: url(../img/bg-header.png) repeat-x 0 0; margin: 0 auto;}
#header .header-2{width: 960px; height: 124px; margin: 0 auto; position: relative; z-index: 9;}

#header .logo{width: 185px; height: 124px; float: left; background: url(../img/bg-logo.png) no-repeat center -6px; position: relative; z-index: 99;}
#header .logo img{margin: 10px auto 0 auto; display: block;}
#header .region-busca{width: 624px; height: 71px; float: left; background: url(../img/bg-busca.png) no-repeat 556px bottom;}
#header .region-busca .form-item-search-block-form{width: 432px; height: 40px; display: block; background-color: #e3e3e3; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; margin: 16px 0 0 19px; float: left; border:1px solid #ddd;}
#header .region-busca .form-item-search-block-form input[type="text"]{ display: block; background: url(../img/filete-input-busca.png) repeat-x; font: bold 13px/30px Arial, Helvetica, sans-serif; color: #646464; width: 411px; height: 30px; padding: 0 5px; border:1px solid #dcdcdc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; float: left; position: relative; left: 4px; top: 4px;}

#header .region-busca label{font:bold 13px Arial; color:#646464; position: absolute; top: 29px; left: 219px; z-index: 99;}
#header .region-busca #edit-actions{width: 76px; height: 30px; margin:16px 0 0 10px; border: 1px solid #DDD; display: block; padding: 5px; background:#e3e3e3; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; float: left;}
#header .region-busca #edit-actions input[type=submit]{ display: block; width: 75px; height: 30px; background:#1d1d1d; border: none; font:16px 'HelveticaneueBold'; color:#fff; padding: 2px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; cursor: pointer; transition:All 0.3 ease; -webkit-transition:All 0.3 ease; -moz-transition:All 0.3 ease; -o-transition:All 0.3 ease;}
#header .region-busca #edit-actions input[type=submit]:hover{background:#313131;}

#header .region-menu{width: 611px; position: absolute; top: 71px; right: 145px; z-index: 999;}

#block-system-main-menu h2{display: none;}
#block-system-main-menu ul.menu{margin: 0; padding: 0;}
#block-system-main-menu ul.menu li{display: inline; width: 121px; height:45px; text-align: center; float: left; border: 0; margin: 0; padding: 0; cursor: pointer;}
#block-system-main-menu ul.menu li span, a{font:16px/50px 'HelveticaneueBold'; color:#fff; display: block; text-decoration: none;}
/*#block-system-main-menu ul.menu li a{font:16px/50px 'HelveticaneueBold'; color:#fff; display: block; text-decoration: none;}*/
#block-system-main-menu ul.menu li.l01{background: url(../img/sprite-menu-principal.png) no-repeat 0 0 #ef3b5b;}
#block-system-main-menu ul.menu li.l01 ul.menu{width: 429px; height: 210px; display: block; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -16px -321px; margin: -13px 0 0 0; display: none;}

#block-system-main-menu ul.menu li.l02{background: url(../img/sprite-menu-principal.png) no-repeat -123px 0 #07bdbc;}
#block-system-main-menu ul.menu li.l02 ul.menu{width: 432px; height: 210px; display: block; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -516px -321px; margin: -13px 0 0 0; display: none;}

#block-system-main-menu ul.menu li.l03{background: url(../img/sprite-menu-principal.png) no-repeat -243px 0 #e4b615;}
#block-system-main-menu ul.menu li.l03 ul.menu{width: 653px; height: 220px; display: block; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -988px -316px; margin: -13px 0 0 -220px; display: none;}

#block-system-main-menu ul.menu li.l04{background: url(../img/sprite-menu-principal.png) no-repeat -364px 0 #098b58;}
#block-system-main-menu ul.menu li.l04 ul.menu{}

#block-system-main-menu ul.menu li.l05{background: url(../img/sprite-menu-principal.png) no-repeat -487px 0 #158ae4;}
#block-system-main-menu ul.menu li.l05 ul.menu{}

#block-system-main-menu ul.menu li ul.menu{display: none;}

/** bloco pai do menu principal */
#block-superfish-1{width: 100%; height: 50px;}
#block-superfish-1 ul#superfish-1{width: 100%; height:45px; display: block;}
#block-superfish-1 ul li{width: 121px; height:45px; text-align: center;}
#block-superfish-1 ul li span{font:16px/50px 'HelveticaneueBold'; color:#fff; display: block;}
#block-superfish-1 ul li#menu-305-1{background: url(../img/sprite-menu-principal.png) no-repeat 0 0 #ef3b5b;}
#block-superfish-1 ul li#menu-306-1{background: url(../img/sprite-menu-principal.png) no-repeat -123px 0 #07bdbc;}
#block-superfish-1 ul li#menu-307-1{background: url(../img/sprite-menu-principal.png) no-repeat -243px 0 #e4b615;}
#block-superfish-1 ul li#menu-308-1{background: url(../img/sprite-menu-principal.png) no-repeat -364px 0 #098b58;}
#block-superfish-1 ul li#menu-309-1{background: url(../img/sprite-menu-principal.png) no-repeat -487px 0 #158ae4;}

#block-superfish-1 ul li#menu-305-1 ul{width: 421px !important; height: 201px; display: block; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -16px -321px; margin: -4px 0 0 0;}
#block-superfish-1 ul li#menu-305-1 ul li{}

#block-superfish-1 ul li#menu-306-1 ul{width: 421px !important; height: 201px; display: block; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -516px -321px; margin: -4px 0 0 0;}
#block-superfish-1 ul li#menu-306-1 ul li{}

#block-superfish-1 ul li#menu-307-1 ul{width: 645px !important; height: 211px; display: block; background: url(../img/sprite-menu-segundo-nivel.png) no-repeat -988px -316px; margin: -4px 0 0 -220px;}
#block-superfish-1 ul li#menu-307-1 ul li{}

/** itens do primeiro nível do menu [ESTUDAR][TRABALHAR][CONHECER][IEXPLORER][PROMOÇOES] */
li.sf-depth-1{cursor: pointer;}

/** itens do segundo nível do menu */
li.sf-depth-2{}

/** itens do terceiro nível do menu */
li.sf-depth-3{}

#header .region-secondary-menu{width: 151px; height: 112px; position: relative; top: 12px; display: block; background:#292929; float: right; opacity: 0.9; -moz-opacity: 0.9; -webkit-opacity: 0.9; -o-opacity: 0.9; filter: alpha(opacity=90);}
#header .region-secondary-menu #block-menu-menu-secundario{width: 136px; height: 98px; margin: 8px auto;}
#header .region-secondary-menu #block-menu-menu-secundario ul{-webkit-margin-before: 0; -webkit-margin-after: 0; -webkit-margin-start: 0; -webkit-margin-end: 0; -webkit-padding-start: 0; margin: 0; padding: 0;}
#header .region-secondary-menu #block-menu-menu-secundario ul li{width: 100%; height:31px; background: url(../img/sprite-secondary-menu.png) no-repeat 0 0 #000000; margin:2px 0 2px 0; list-style-image: none; list-style-type: none; padding: 0; text-align: center; cursor: pointer;}
#header .region-secondary-menu #block-menu-menu-secundario ul li.first{margin-top: 0; background-position: -9px 13px;}
#header .region-secondary-menu #block-menu-menu-secundario ul li.first:hover{background: url(../img/sprite-secondary-menu.png) no-repeat -9px -86px #EF3B5B;}
#header .region-secondary-menu #block-menu-menu-secundario ul li{background-position: -9px -21px;}
#header .region-secondary-menu #block-menu-menu-secundario ul li:hover{background: url(../img/sprite-secondary-menu.png) no-repeat -9px -86px #07bdbc; color: black;}
#header .region-secondary-menu #block-menu-menu-secundario ul li:hover a{ color: black}
#header .region-secondary-menu #block-menu-menu-secundario ul li.last{margin-bottom: 0; background-position: -9px -54px;}
#header .region-secondary-menu #block-menu-menu-secundario ul li.last:hover{background: url(../img/sprite-secondary-menu.png) no-repeat -9px -86px #e4b615;}
#header .region-secondary-menu #block-menu-menu-secundario ul li a{font:bold 12px/31px Arial, Helvetica, sans-serif; color:#fff; text-decoration: none;}

#content{width: 965px; margin: 0 auto;}

/*conteudo da HOME*/

#tvie{width: 312px; height:390px; display: block; margin: 30px auto;}
#tvie .barraazul{width: 34px; height:365px; float: left; background: #07a5bd;}
#tvie .conteudotv{float: left; width: 278px; height:365px; display: block; background: url(../img/home/bg_tvie.jpg) repeat 0px 0px;}
#tvie .conteudotv p{padding-left: 15px; font:12px/16px Arial; color: #fff;}
#tvie .conteudotv p b{font:16px/20px 'HelveticaneueBold'; color: #fff;}
#tvie .conteudotv iframe{width: 278px;}
#tvie .title{width: 175px; height:25px; display: block; background:#272821;}
#tvie .title span{width: 35px; height: 25px; display: block; background: url(../img/home/sprite-home.png) no-repeat -100px -15px; float: left; text-indent: -999px;}
#tvie .title p{font: bold 10px/25px Arial; color: white; margin: 0; padding: 0; text-align: center;}

.webdoor{margin: -47px auto 0 auto; width: 960px; height:352px; display: block; position: relative; overflow: hidden; z-index: 8;}
.webdoor .sociais{width: 200px; height: 30px; display: block; overflow: hidden; position: absolute; bottom: 110px; z-index: 999999;}
.webdoor .sociais .facebook{width: 62px; overflow: hidden; float: left; padding-left: 1px;}
.webdoor .sociais .pinterest{width: 50px; overflow: hidden; float: left;}
.webdoor .sociais .gmais{width: 40px; overflow: hidden; float: left;}
.webdoor .detalheFooter{width: 816px; height: 200px; background: url(../img/webdoor/footer-webdoor.png) repeat-x -170px bottom; display: block; position: absolute; bottom: 0; z-index: 99; margin-top: -54px;}
.webdoor .txtLeft{width:247px; height:295px; margin:0; float: left; z-index: 99999; position: relative}
.webdoor .txtLeft p.title{font: 32px/30px 'avantgarde_md_btmedium'; color: #242424; width: 210px; margin: 50px 0 0 0;}
.webdoor .txtLeft p.title span{color:#458ec0;}
.webdoor .txtLeft p{font: 14px/16px Arial; color: #616161; width: 210px; margin: 20px 0 0 0;}
.webdoor .txtLeft a{width: 100px; height: 20px; display: block; text-decoration: none; background: url(../img/webdoor/seta.png) no-repeat 80px 6px; position: absolute; bottom: 9px; cursor: default;}
.webdoor .txtLeft a span{font: 15px/19px Arial; color: #56A8DF; padding: 3px; background: black; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease; cursor: pointer;}
.webdoor .txtLeft a span:hover{color: #fff;}
.webdoor .img{width:713px; height:100%; display: block; float: right;}

#iexplorer{width: 960px; height:430px; display: block; margin: 0 auto;}
#iexplorer .title{width: 137px; height:25px; display: block; background:#272821;}
#iexplorer .title span{width: 35px; height: 25px; display: block; background: url(../img/home/sprite-home.png) no-repeat -55px -15px; float: left;}
#iexplorer .title p{font: bold 10px/25px Arial; color: white; text-transform: uppercase; margin: 0; padding: 0; text-align: center;}
#iexplorer .boxes{margin: 0; width: 100%; height: 407px; display: block; background: url(../img/home/sprite-home.png) no-repeat -5px -139px;}
#iexplorer .boxes .block{width: 290px; height: 406px; float: left; position: relative;}
#iexplorer .boxes .block h2{font:28px/16px 'HelveticaneueBold'; color: #fff; padding-left: 15px;}
#iexplorer .boxes .block ul.iexplorer-bloco{width: 284px; height: 348px; background: url(../img/home/sprite-setas.png) no-repeat 0 0 white; position: absolute; bottom: 3px; left: 3px; margin: 0; padding: 0;}
#iexplorer .boxes .block ul.iexplorer-bloco li{width: 100%; height: 73px; margin: 0; padding: 0; list-style-type: none; position: relative;}
#iexplorer .boxes .block ul.iexplorer-bloco li img{width: 50px; height: 50px; float: left; margin: 12px 7px 0 11px;}
#iexplorer .boxes .block ul.iexplorer-bloco li p.nome{width: 200px; font: 14px Arial; color:#0047a8; display: block; margin: 10px 0 0 0; float: left; padding: 0;}
#iexplorer .boxes .block ul.iexplorer-bloco li p.interesse{width: 200px; font: 12px Arial; color:#626262; display: block; margin: 0; float: left; padding: 0;}
#iexplorer .boxes .block ul.iexplorer-bloco li p.created{width: 200px; font: 10px/16px Arial; color: #BDBDBD; display: block; position: absolute; bottom: 1px; margin: 0;padding: 0; left: 69px;}
#iexplorer .boxes .block ul.iexplorer-bloco li p a{display: none;}

#iexplorer .boxes #block-main-site-quero{background: #ef3b5b; margin-left: 34px;}
#iexplorer .boxes #block-main-site-quero ul.iexplorer-bloco{background-position: 264px 3px;}
#iexplorer .boxes #block-main-site-vou{background: #07bdbc; margin: 0 19px;}
#iexplorer .boxes #block-main-site-vou ul.iexplorer-bloco{background-position: -45px 3px;}
#iexplorer .boxes #block-main-site-fui{background: #458ec0;}
#iexplorer .boxes #block-main-site-fui ul.iexplorer-bloco{background-position: -356px 3px;}

#block-block-2{width: 100% !important; height: 185px !important; background: url(../img/home/sprite-home.png) no-repeat -5px -159px; margin-bottom: 25px;}
#block-block-2 .fb-like-box{background:#fff; border: 2px solid #d1d1d1; float: right; margin: 10px 15px 0 0;}
#block-block-2 .fb-like-box:first-child{float: left; margin: 10px 0 0 33px;}

#block-system-main ul.destaques{width:967px; height:325px; margin: 0 auto; padding: 0;}
#block-system-main ul.destaques li{width:303px; height:323px; display: inline; float: left; background: #fff; position: relative;}

#block-system-main ul.destaques li span.img{width:100%; height:163px; display: block; position: relative;}
#block-system-main ul.destaques li span.img .top-img{width:170px; height:28px; display: block; background: url(../img/home/sprite-destaque.png) no-repeat 0 0; position: absolute; top: 0;}
#block-system-main ul.destaques li.destaque1 span.img .top-img{background-position: -653px -14px;}
#block-system-main ul.destaques li.destaque2 span.img .top-img{background-position: -423px -14px;}
#block-system-main ul.destaques li.destaque3 span.img .top-img{background-position: -202px -14px;}

#block-system-main ul.destaques li.destaque2{margin: 0 29px;}
#block-system-main ul.destaques li img{width:303px; height:163px; display: block;}
#block-system-main ul.destaques li h3{font:24px/40px 'HelveticaneueBold'; margin: 0; padding-left:13px; max-height:50px; overflow: hidden;}
#block-system-main ul.destaques li.destaque1 h3{color:#ef3b5b;}
#block-system-main ul.destaques li.destaque2 h3{color:#07bdbc;}
#block-system-main ul.destaques li.destaque3 h3{color:#458ec0;}
#block-system-main ul.destaques li p{font:12px/16px Arial; color:#616161; margin:0; padding-left:13px; max-height:48px; overflow: hidden;}
#block-system-main ul.destaques li a{width:77px; height:12px; background: url(../img/home/sprite-destaque.png) no-repeat 0 0; font:bold 12px/14px Arial; color:#000; margin:0; padding: 10px 0 0 13px; text-decoration: none; display: block;}
#block-system-main ul.destaques li a:hover{text-decoration: underline;}
#block-system-main ul.destaques li.destaque1 a{background-position: 75px -141px; color:#ef3b5b;}
#block-system-main ul.destaques li.destaque2 a{background-position: 75px -163px; color:#07bdbc;}
#block-system-main ul.destaques li.destaque3 a{background-position: 75px -185px; color:#458ec0;}
#block-system-main ul.destaques .footer-destaque{width:265px; height:31px; position: absolute; bottom: 5px;}
#block-system-main ul.destaques .footer-destaque .curtir{width: 60px; overflow: hidden; padding-left: 1px; float: right; margin: -19px 0 0 0;}
/*fim do conteúdo da HOME*/

#footer{width: 100%; height:261px; display: block; background: url(../img/bg-footer.png) repeat-x 0 bottom;}
#footer .region-footer-menu{width:960px; height: 213px; background: #272821; margin: 0 auto;}
#footer .region-footer-menu ul{margin: 0;}
#footer .region-footer-menu li span.nolink{font: 10px/30px Arial; color: white; text-transform: uppercase; padding-left: 23px;}
#footer .region-footer-menu li.estudar{width: 171px; height:212px; background: url(../img/sprite-footer.png) 0 -2px; display: inline; float: left; margin: 0; overflow: hidden;}
#footer .region-footer-menu li.trabalhar{width: 169px; height:212px; background: url(../img/sprite-footer.png) -180px -2px; display: inline; float: left; margin: 0; overflow: hidden;}
#footer .region-footer-menu li.destinos{width: 154px; height:212px; background: url(../img/sprite-footer.png) -358px -2px; display: inline; float: left; margin: 0; overflow: hidden;}
#footer .region-footer-menu li.outros{width: 434px; height: 212px; background: url(../img/sprite-footer.png) -521px -2px; display: inline; float: left; margin: 0; overflow: hidden;}
#footer .region-footer-menu li.outros span.nolink{font:bold 11px/16px Arial; color:#ffcd00; text-transform: none; display: block; margin: 15px 0 0 -2px;}
#footer .region-footer-menu li.outros ul li ul li span.nolink{margin: 15px 0 0 -24px;}
#footer .region-footer-menu ul li.outros ul li a{font:11px/17px Arial; color:#fff; text-decoration: none; display: block;}
#footer .region-footer-menu ul li.outros ul{margin: 0 0 0 -2px;}
#footer .region-footer-menu ul li.outros ul li ul li ul{margin-left: -26px;}
#footer .region-footer-menu ul li.outros ul li.first{margin-right: 20px;}
#footer .region-footer-menu ul li ul{margin-top: 25px;}
#footer .region-footer-menu ul li ul li{display: block; list-style-type: none; margin-left: -16px; padding: 0;}
#footer .region-footer-menu ul li ul li a{font:12px/16px Arial; color:#fff; text-decoration: none;}
#footer .region-footer-menu ul li ul li a:hover{text-decoration: underline;}
#footer .region-footer-menu li.expanded{float: left;}

#footer .footer-2{width:960px; height:43px; margin: 0 auto; position: relative;}
#footer .footer-2 .boxForm{width:339px; height:364px; display: block; background: url(../img/bg-boxlocalizador.png) no-repeat 0 0; position: absolute; bottom: 38px; left: 230px; display: none; opacity: 0; -webkit-opacity: 0; -o-opacity: 0;  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
#footer .footer-2 .boxForm .boxInterno{width: 264px; height: 334px; display: block; background: url(../img/bg-boxlocalizador-interno.png) no-repeat 0 0; position: absolute; top: 20px; left: 22px; overflow: hidden; padding: 10px 15px;}
#footer .footer-2 .boxForm .boxInterno form{}
#footer .footer-2 .boxForm .boxInterno form #edit-submit--2{width:90px; height: 114px; font:13px/83px 'HelveticaneueBold'; color:#fff; background: #323232; border: 8px solid #eaeaea; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor: pointer; position: absolute; top: 25px; right: 15px;}
#footer .footer-2 .boxForm .boxInterno form #edit-submit--2:hover{background:#000;}
#footer .footer-2 .boxForm .boxInterno form select{width:150px; height: 28px; border:1px solid #ccc; line-height: 25px;}
#footer .footer-2 .boxForm .boxInterno form .form-item-estado{width: 155px;}
#footer .footer-2 .boxForm .boxInterno form .form-item-cidade{width: 155px;}
#footer .footer-2 .boxForm .boxInterno form .form-item-bairro{width: 155px;}

#footer .footer-2 ul.footerLeft{float: left; border-right:1px solid black; margin: 0; padding: 0;}
#footer .footer-2 ul.footerLeft li{width: 259px; height: 46px; display: block; background: url(../img/sprite-footer.png) no-repeat 0 -216px; display: inline; float: left; font:15px/21px Arial; color:#fff; text-align: center;}
#footer .footer-2 ul.footerLeft li a{font:bold 15px/46px Arial; color:#fff; text-decoration: none;}
#footer .footer-2 ul.footerLeft li a:hover{text-decoration: underline;}

#footer .footer-2 ul.footerRight{width:438px; float: right; margin: 0; padding: 0;}
#footer .footer-2 ul.footerRight li{float: left; display: inline; background: url(../img/sprite-footer.png) no-repeat 0 0 #1C1C1C; padding: 7px 45px 7px 81px; margin: 10px 0 0 3px; font: 12px Arial; color: white; cursor: default;}
#footer .footer-2 ul.footerRight li.telefone{background-position: -528px -224px;}
#footer .footer-2 ul.footerRight li.atendimento{background-position: -733px -224px;}*/