*{
   margin:0;
   padding:0;
}

#atualizacoes{
   width:800px;
   margin:0 auto;
}

ul#nav-aba{
   list-style:none;
   margin:10px 3px;  
}

ul#nav-aba li{
   display:inline;
}
ul#nav-aba li a{
   padding:20px 21px;
   border-bottom:0;
   text-decoration:none;
   font-family: Calibri;
   color:#fff;
   font-weight:bold;
}

.aba{
   display:none;
   padding:0px 0px;
}

#canada, .canada{background:#d92128}
#eua, .eua{background:#2185d9}
#africa, .africa{background:#d9ca21}
#reino, .reino{background:#888887}
#irlanda, .irlanda{background:#21d95e}
#australia, .australia{background:#6d45f1}
#malta, .malta{background:#2ea9bb}