#content{width:965px; margin: 0 auto;}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('css/fonts/helveticaneue-webfont.eot');
    src: url('css/fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/helveticaneue-webfont.woff') format('woff'),
         url('css/fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('css/fonts/helveticaneue-webfont.svg#helveticaneueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaneueBold';
    src: url('css/fonts/helveticaneuebd-webfont.eot');
    src: url('css/fonts/helveticaneuebd-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/helveticaneuebd-webfont.woff') format('woff'),
         url('css/fonts/helveticaneuebd-webfont.ttf') format('truetype'),
         url('css/fonts/helveticaneuebd-webfont.svg#helveticaneuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvantGarde-Demi';
    src: url('css/fonts/avgardm-webfont.eot');
    src: url('css/fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
             url('css/fonts/avgardm-webfont.woff') format('woff'),
             url('css/fonts/avgardm-webfont.ttf') format('truetype'),
             url('css/fonts/avgardm-webfont.svg#ufonts.com_avantgarde-demi') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{margin:0; padding: 0; border: 0;}
/*body{width: 965px; margin: 0 auto; background:#efeeee;}*/
.clear{clear: both; height: 0;}
.fltlft{float:left;}
.fltrgt{float:right;}
/*TEXTOS*/
ul li{font:12px/21px Arial, Helvetica, sans-serif; color:#454545; list-style-type:none;  background: url(ckeditor-sprite.png) no-repeat 0 0; display: block; margin:2px 0; text-align: left; padding: 0 0 0 12px;}
h2{font:32px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: capitalize; display: block; text-align: left; margin: 0; padding: 0;}
h3{font:30px 'AvantGarde-Demi'; color:#3f3f3f; text-transform: capitalize; display: block; text-align: left; margin: 0; padding: 0;}
h4{font:30px/30px 'Helveticaneue'; color:#fff; display: block; text-align: left; margin: 0; padding: 0;}
h5{font:24px/16px 'Helveticaneue'; color:#454545; display: block; text-align: left; margin: 0; padding: 0;}
p{font:13px/20px Arial, Helvetica, sans-serif; color:#454545; text-align: left;}
p.subtitle{font:14px/16px; font-weight: bold; padding: 15px 0;}
span.detailBGl{width: 25px; height: 399px; display: block; background: url(img/sprite_global.png) no-repeat -1569px -2082px; left: -13px; position: absolute; z-index: 99;}
span.detailBGr{width: 25px; height: 399px; display: block; background: url(img/sprite_global.png) no-repeat -1569px -2082px; right: -13px; position: absolute; z-index: 99;}
span.detailBGl-2{width: 25px; height: 229px; display: block; background: url(img/sprite_global.png) no-repeat -1313px -2196px; left: -13px; position: absolute; z-index: 99;}
span.detailBGr-2{width: 25px; height: 229px; display: block; background: url(img/sprite_global.png) no-repeat -1313px -2196px; right: -13px; position: absolute; z-index: 99;}
span.detailBGt{width: 25px; height: 20px; display: block; background: url(img/sprite_global.png) no-repeat -1569px -2082px; top: 0; left: 50%; margin-left:-12px; position: absolute; z-index: 99;}
span.detailBGb{width: 25px; height: 20px; display: block; background: url(img/sprite_global.png) no-repeat -1569px -2464px; bottom: 0; left: 50%; margin-left:-12px; position: absolute; z-index: 99;}
.boxlink{width:155px; height:42px; display: block; background:#e7e7e7; padding: 7px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; border-radius:6px;}
.link{width:100%; height:100%; display: block; background: #000; cursor: pointer; font:14px/42px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; border-radius:6px;}
.link:hover{background: #414141;}
/*BOX 1 COLUNA*/
#box1col{width: 322px; display: block; float: left; margin: 5px 0;}
.boxIcon{width:34px; height:25px; display: block; background: url(img/sprite_global.png) no-repeat 0 0; float: left;}
.icone{background-position:0px -11px;}
.detail{width:19px; height: 19px; display: block; background: url(img/sprite_global.png) no-repeat -10px -61px;}
.boxcolor{background-color:#bbbbbb;}
.boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1col .boxBar{width:34px; height:371px; background: #848383;}
#box1col .box{width:287px; height:371px; background: #bbbbbb; position: relative; overflow: hidden;}
#box1col .box h4{padding: 25px 0 0 21px;}
#box1col .box p{width:85%; margin:0 auto; text-align: justify;}
#box1col .box .detail{position: absolute; top: 5px; left: 5px;}
/*BOX 1 COLUNA SEM BARRA*/
#box1colnobar{width: 322px; display: block; float: left; margin: 5px 0;}
#box1colnobar .boxIcon{width:34px; height:25px; display: block; background: url(img/sprite_global.png) no-repeat 0 0; float: left;}
#box1colnobar .icone{background-position:0px -11px;}
#box1colnobar .detail{width:19px; height: 19px; display: block; background: url(img/sprite_global.png) no-repeat -10px -61px;}
#box1colnobar .boxcolor{background-color:#bbbbbb;}
#box1colnobar .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1colnobar .boxBar{width:34px; height:371px; background: transparent;}
#box1colnobar .box{width:287px; height:371px; background: #bbbbbb; position: relative; overflow: hidden;}
#box1colnobar .box h4{padding: 25px 0 0 21px;}
#box1colnobar .box p{width:85%; margin:0 auto; text-align: justify;}
#box1colnobar .box .detail{position: absolute; top: 5px; left: 5px;}
/*BOX 2 COLUNAS*/
#box2col{width: 929px; height: 399px; display: block; float: left; background: url(img/sprite_global.png) no-repeat -17px -972px; margin: 5px 0;}
#box2col h5{padding: 35px 0 20px 21px;}
#box2col p{width:93%; margin:0 auto; text-align: justify;}
#box2col ul{padding:0 0 0 20px;}
#box2col ul li{background-position: -747px -195px;}
#box2col .col01{width: 602px; height: 399px; display: block; overflow: hidden; position: relative;}
#box2col .col02{width: 326px; height: 399px; display: block; overflow: hidden; position: relative;}
/*BOX 3 COLUNAS*/
#box3col{width: 929px; height: 402px; display: block; float: left; background: url(img/sprite_global.png) no-repeat -16px -437px; margin: 5px 0;}
#box3col h5{padding: 35px 0 20px 21px;}
#box3col p{width:85%; margin:0 auto; text-align: justify;}
#box3col ul{padding:20px 0 0 20px;}
#box3col ul li{background-position: -747px -195px;}
#box3col .col01{width: 305px; height: 401px; display: block; overflow: hidden; position: relative;}
#box3col .col02{width: 314px; height: 401px; display: block; overflow: hidden; position: relative;}
#box3col .col03{width: 307px; height: 401px; display: block; overflow: hidden; position: relative;}
/*BOX 3 COLUNAS BIG*/
#box3colbig{width: 965px; display: block; float: left; margin: 5px 0;}
#box3colbig h5{padding: 15px 0 10px 21px;}
#box3colbig p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#box3colbig .img{width:100%; height:170px; position: relative; overflow: hidden;}
#box3colbig img{width:100%;}
#box3colbig .fltlft{padding-bottom:100px;}
#box3colbig .boxlink{width:149px; height:42px; padding-bottom: 0; position: absolute; bottom: 10px; left: 50%; margin-left:-72px;}
#box3colbig .boxIcon{width:34px; height:25px; padding-bottom: 0; display: block; background: url(img/sprite_global.png) no-repeat 0 0; float: left;}
#box3colbig .icone{background-position:0px -11px;}
#box3colbig .detail{width:19px; height: 19px; display: block; background: url(img/sprite_global.png) no-repeat 0 0; position: absolute; top: 5px; left: 5px;}
#box3colbig .boxcolor{background-color:#bbbbbb;}
#box3colbig .boxTitle{min-width: 84px; height: 25px; padding-bottom: 0 !important; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box3colbig .boxBar{width:34px; height:371px; background: transparent;}
#box3colbig .col01{width:287px; height:400px; background: #fff; position: relative; overflow: hidden;}
#box3colbig .col02{width:287px; height:400px; background: #fff; position: relative; overflow: hidden; margin:0 21px;}
#box3colbig .col03{width:287px; height:400px; background: #fff; position: relative; overflow: hidden;}
#box3colbig .col01 .detail{background-position: -10px -61px;}
#box3colbig .col02 .detail{background-position: -10px -61px;}
#box3colbig .col03 .detail{background-position: -10px -61px;}
/*BOX 2 COLUNAS BIG*/
#boxfull2colbig{width: 931px; height: 683px; display: block; float: left; background: url(img/sprite_global.png) no-repeat -16px -1442px; margin: 5px 0;}
#boxfull2colbig .col01{width:465px; height:683px; float: left; position: relative;}
#boxfull2colbig .col02{width:465px; height:683px; float: left; position: relative;}
#boxfull2colbig .col02 .primeiralista{margin-left: 150px;}
#boxfull2colbig .boxlink{width:326px; height:57px; position: absolute; bottom: 10px; left: 50%; margin-left:-163px;}
#boxfull2colbig .boxlink .link{line-height:57px;}
#boxfull2colbig h5{padding: 45px 0 0 30px;}
#boxfull2colbig p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#boxfull2colbig ul{padding:20px 0 0 20px;}
#boxfull2colbig ul li{background-position: -747px -195px;}
/*BOX FULL 3 COL*/
#boxfull3col{width: 965px; display: block; float: left; background: #fff; margin: 5px 0; overflow: hidden; height: 347px;}
#boxfull3col .col01{width:316px; height:400px; position: relative; overflow: hidden; float: left;}
#boxfull3col .col01 img{width:316px;}
#boxfull3col .col02{width:297px; height:316px; background: #ccc; position: relative; float: left; overflow: hidden; margin-right:21px;}
#boxfull3col .col03{width:297px; height:316px; background: #ccc; position: relative; float: left; overflow: hidden;}
#boxfull3col h5{padding: 30px 0 15px 30px;}
#boxfull3col p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
/*BOX SMALL 2 COL*/
#box2colsmall{width: 622px; height: 339px; display: block; float: left; background: url(img/sprite_global.png) no-repeat -967px -494px; margin: 5px 0; position: relative;}
#box2colsmall .col01{width:315px; height:340px; position: relative; float: left; overflow: hidden;}
#box2colsmall .col02{width:306px; height:340px; position: relative; float: left; overflow: hidden;}
#box2colsmall ul{margin-left: 30px;}
#box2colsmall ul li{background-position: 0px 4px; font-size: 10px; line-height: 17px;}
#box2colsmall h5{padding: 20px 0 15px 30px;} 
#box2colsmall p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#box2colsmall .col01 .detailBGt{left: 315px;}
#box2colsmall .col01 .detailBGb{left: 315px;}
#box2colsmall .col02 .detailBGt{left: 0;}
#box2colsmall .col02 .detailBGb{left: 0;}
/*BOX SMALL 02 - 2 COL*/
#box2colsmall02{width: 615px; height: 339px; display: block; float: left; background: url(../img/sprite_global.png) no-repeat -907px -494px; margin: 30px 0 5px 0; position: relative;}
#box2colsmall02 .boxIcon{width:34px; height:25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 0; float: left; margin-top: -25px;}
#box2colsmall02 .icone{background-position:0px -11px;}
#box2colsmall02 .boxcolor{background-color:#bbbbbb;}
#box2colsmall02 .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center; margin: -25px 0 0 34px;}
#box2colsmall02 .col01{width:375px; height:340px; position: relative; float: left; overflow: hidden; background: #dbdbdb;}  
#box2colsmall02 .col02{width:240px; height:340px; position: relative; float: left; overflow: hidden;}
#box2colsmall02 ul{margin-left: 30px;}
#box2colsmall02 ul li{background-position: -747px -195px;}
#box2colsmall02 h5{padding: 30px 0 15px 30px;}
#box2colsmall02 p{width:85%; font-size: 12px; margin:0 auto; text-align: justify;}
#box2colsmall02 .col01 .detailBGt{left: 376px; bottom:-1px;}
#box2colsmall02 .col01 .detailBGb{left: 376px; bottom:-1px;}
#box2colsmall02 .col02 .detailBGt{left: 0; bottom:-1px;}
#box2colsmall02 .col02 .detailBGb{left: 0; bottom:-1px;}
/*BOX 4 COLUNAS*/
#box4col{width: 935px; height: 230px; clear: both; display: block; background: url(img/sprite_global.png) no-repeat -32px -2197px; margin: 5px 0; position: relative;}
#box4col .col01, .col02, .col03, .col04{width:233px; height:230px; display: block; float: left; position: relative;}
#box4col h5{padding: 15px 0 10px 16px; line-height: 28px;}
#box4col p{width:85%; font-size: 12px; margin:0 auto; text-align: left;}
#box4col ul li{font-size: 11px; line-height: 12px; margin-bottom: 8px;}
/*BOX BIG 1 COL*/
#box1colbig{width: 588px; display: block; float: left; margin: 5px 0; position: relative;}
#box1colbig .boxIcon{width:34px; height:25px; display: block; background: url(img/sprite_global.png) no-repeat 0 0; float: left;}
#box1colbig .icone{background-position:0px -11px;}
#box1colbig .detail{width:19px; height: 19px; display: block; background: url(img/sprite_global.png) no-repeat -10px -61px;}
#box1colbig .boxcolor{background-color:#bbbbbb;}
#box1colbig .boxTitle{min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#box1colbig .boxBar{width:34px; height:210px; background: #848383;}
#box1colbig .box{width:553px; height:371px; background: transparent; position: relative; overflow: hidden;}
#box1colbig  h4{padding: 20px 0 10px 21px; color: #000;}
#box1colbig  p{width:92%; margin:0 auto; text-align: justify;}
#box1colbig  .detail{position: absolute; top: 5px; left: 5px;}
#box1colbig ul{margin:20px 0 0 20px;}
#box1colbig ul li{background-position: -747px -195px;}
.galeria01{width:965px; height:77px; background:#eeeded; border: 1px solid #ccc; float: left;}
.galeria02{width:296px; height:336px; background:#eeeded; border: 1px solid #ccc; float: left;}
.galeria03{width:623px; height:369px; background:#eeeded; border: 1px solid #ccc; float: left; margin: 70px 0 0 0;}
.galeria04{width:973px; height:117px; background:#eeeded; border: 1px solid #ccc; float: left;}
.modulo_datas{width:376px; height:150px; background:#eeeded; border: 1px solid #ccc; float: left; margin: 80px 0 0 0;}
/*inserido durante o layout*/
.border-lists{border-top:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; margin: 25px 0 0 30px;padding-bottom: 25px; width:240px;}
.border-bt-list{border-bottom:1px dashed #b1dad9;}
#txt-desc-eua{position:absolute; left:345px; top:129px; width:240px !important;}
#img-box-eua{position:absolute; left:600px; top:-45px; width:323px; height:388px; z-index:2;}
.modulo_menu { margin:95px 0 0 60px;float: left;height: 150px; width:316px;}
.modulo_menu ul{height:250px; width:316px; position:relative;}
.modulo_menu ul li{width:298px; padding:7px 0 18px 18px;background:url("img/bg_menu_sobre_ie.jpg") no-repeat; color:#e4e4e4; margin-bottom:10px; height:50px; position:relative;}
.modulo_menu ul li a{text-decoration:none; font-size:23px; display:block; color: #CCC; padding: 8px 0 0 0;}
.modulo_menu ul li .txt-menu{bottom:14px; position:absolute; color:#bbbbbb;}
.seta{background:url("../img/sprite_setas_menu.png") no-repeat -5px 1px; display:block; width:23px; height:43px; float:right; position:relative; top:-60px; right:10px;}
.s_franqueado{background-position: -40px 1px;}
.s_qualidade{background-position:-75px 1px;}
/* CONTATO-AGENCIAS*/
/* CONTEÚDO DO MAPA*/
#lft-map{float:left; width:600px; height:420px; background:none; margin: 20px 0;}
#lft-map .procurar{width:100%; height:40px; position:relative; margin: 15px 0 20px 0; clear:both;}
#lft-map .procurar label{position:absolute; top:8px; left:0; font: 13px Arial; color:#414141;}
#lft-map .procurar input{position:absolute; top:0; left:185px; background:#f6f6f6; border:1px solid #e4e4e4; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; width:285px; height:28px;}                                                                                                               
#lft-map .procurar  .bt-procurar{width: 121px; height: 44px; background: url(../img/sobre/bt-ver-no-mapa.png) 0 0; /*margin provisória*/ margin-right:3px; position:absolute; top:-9px; right:0;}
#lft-map .procurar  .bt-procurar a {color: #fff; font: 11px 'Arial'; padding-left: 45px; height: 15px; margin-top: 15px; display: block;}
#lft-map .procurar  .bt-procurar a:hover{color: #fc581d;}
#lft-map .procurar  .bt-procurar a span {background: url(../img/sprite_global.png) no-repeat 0 0; background-position: -747px -195px; padding: 3px 0px 0px 4px; margin-left: 18px;}
#lft-map .procurar  .bt-procurar a:hover span{background-position: -747px -168px;}
/* CONTEÚDO DA AGÊNCIA*/
#lft-agencia{float:right; width:340px; height:420px; background:none; margin: 20px 0;}
#lft-agencia .boxlink {width: 325px; height: 42px; display: block; background: #e7e7e7; padding: 7px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;}
#lft-agencia  .bt {width: 100%; height: 100%; display: block; background: #000; cursor: pointer; font: 14px/42px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none; text-transform: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;}
#lft-agencia  .bt:hover{background:#414141;}
#lft-agencia .agencia{background:#fff; margin: 20px 0; padding: 20px 0 20px 20px;}
#lft-agencia .agencia h5{font: 16px Arial; text-transform:uppercase; font-weight:bold; margin-bottom:15px;}
#lft-agencia .agencia p{font: 14px Arial; margin-bottom:15px;}
#lft-agencia .agencia p a{font: 14px Arial; color:#414141;}
#lft-agencia .fb{background:#fff; margin: 20px 0; height: 72px;}
.clear{height: 40px;}
/* SOBREIEPRESIDENTE/SOBREIERECLAMACOES/SOBREIEDUVIDAS*/
/* BOX PROCURAR AGÊNCIAS */
#procurar-agencias{width:330px; height: 380px; background: #ffffff; float:right; position:relative; display:block;}
#procurar-agencias .detail {width: 19px; height: 19px; display: block; background: url(../img/sprite_global.png) no-repeat -77px -61px;}
#procurar-agencias .boxIcon {width: 34px; height: 25px; display: block; background: url(../img/sprite_global.png) no-repeat 0 -11px; float: left;}
#procurar-agencias .boxcolor {background-color: #fc581d;}
#procurar-agencias .boxTitle {min-width: 84px; height: 25px; background: black; font: 10px/25px Arial; color: white; text-transform: uppercase; text-align: center;}
#procurar-agencias select{width:204px; background:#fff; border:1px solid #e4e4e4; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; height:30px; padding:5px; margin:10px auto 0px auto; display:block;}
#procurar-agencias .boxlink {width: 195px; height: 34px; display: block; background: #e7e7e7; padding: 7px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 
6px; margin: 20px auto;}
#procurar-agencias .bt {width: 100%; height: 100%; display: block; background: #000; cursor: pointer; font: 14px/36px 'HelveticaneueBold'; color: #fff; text-align: center; text-decoration: none;  text-transform: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;}
#procurar-agencias .bt:hover{background:#414141;}
#procurar-agencias h5{font-weight:bold; font: 16px 'Arial'; margin-bottom: 15px; margin-left:15px;}
#procurar-agencias  p{margin-left:15px;}
#procurar-agencias  p strong{margin-top:10px; display:block;}
#procurar-agencias .contato{width: 190px; float: left;}
#procurar-agencias .contato p a{color:#454545; font: 13px 'Arial';}
#procurar-agencias .ver-no-mapa{width: 121px; height:44px; background: url(../img/sobre/bt-ver-no-mapa.png) 0 0; float: right; margin-right:15px;}
#procurar-agencias .ver-no-mapa a{color:#fff; font: 11px 'Arial'; padding-left:35px; height: 15px; margin-top: 15px; display: block;}
#procurar-agencias .ver-no-mapa a:hover{color:#fc581d;}
#procurar-agencias .ver-no-mapa a span {background: url(../img/sprite_global.png) no-repeat 0 0; background-position: -747px -195px; padding: 3px 0px 0px 4px; margin-left: 8px;}
#procurar-agencias .ver-no-mapa a:hover span{background-position: -747px -168px;}
#procurar-agencias hr{margin: 0 10px 20px 10px; border:none; border-top: 2px dotted #292929;}
.noticia {width:558px; margin: 0 50px 0 0;}
.noticia h4 {font:bold 24px/20px 'HelveticaNeue'; color:#000;}
.noticia p {font:12px/24px Arial; color:#333333; text-align:justify;}
.noticia p.chamada {font:bold 12px/35px Arial; color:#333333;}
.noticia p.data-completa {font:12px/24px Arial; color:#333333; padding:0 0 25px;}
.noticia .img-peq {float:right; height:152px; overflow:hidden; width:212px; margin:0 0 0 20px;}
.noticia .img-gran {width:558px; height:231px; margin:21px 0;}
.noticia .area-download {margin:23px 0 0;}
.noticia .area-download a {display:block; font:bold 13px/24px Arial; color:#000;}
.noticia .area-download a:hover {text-decoration:underline;}
.noticia .area-download a:hover span {text-decoration:none;}
.noticia .area-download a.voltar span {background:url(../img/sprite_global.png) no-repeat -209px -248px; display:block; float:left; width:24px;}
.noticia .area-download a.download span {background:url(../img/sprite_global.png) no-repeat -322px -244px; display:block; float:left; width:24px;}
#box1colnobar {float:left; width:inherit;}
#box1colnobar .fltlft .seta03 {border-bottom:30px solid #EDEDED; border-left:30px solid transparent; bottom:0; height:0; position:absolute; right:0; width:0;}
#box1colnobar .box {top:-8px; width:351px; height:781px; background-color:#dbdbdb;}
#box1colnobar .box ul {padding:35px 0 0;}
#box1colnobar .box ul li {position:relative; background:none; background:url(../img/bg-lista-clipping.png) no-repeat -7px 10px; padding:0; display:inline-block; margin:0 38px 14px 9px;}
#box1colnobar .box ul li .data {position:absolute; left:18px; top:15px;}
#box1colnobar .box ul li .data span.dia {font:bold 18px/19px 'HelveticaNeue'; color:#f5f5f5;}
#box1colnobar .box ul li .data span.mes {font:9px/9px 'HelveticaNeue'; color:#f5f5f5; text-transform:uppercase; letter-spacing:2px;}
#box1colnobar .box ul li .chamada-noticia {padding:5px 23px 10px 67px; border-bottom:1px dotted #b2b2b2; margin:0 0 0 16px;}
#box1colnobar .box ul li .chamada-noticia a {display:block; font:13px/17px Arial; color:#555555;}
#box1colnobar .box ul li .chamada-noticia a strong {font-size:14px;}
#box1colnobar .box .paginacao {display:inline-block; padding:45px 0 0 60px;}
#box1colnobar .box .paginacao div {display:inline-block; float:left;}
#box1colnobar .box .paginacao a.prev1 {float:left; display:block; background:url(../img/sprite_global.png) no-repeat -183px -249px; width:15px; height:20px; margin:0 17px 0 0;}
#box1colnobar .box .paginacao a.prev {float:left; display:block; background:url(../img/sprite_global.png) no-repeat -210px -249px; width:15px; height:20px;}
#box1colnobar .box .paginacao p {float:left; width:92px; text-align:center; font:13px/20px Arial; color:#555555; margin:0 15px;}
#box1colnobar .box .paginacao p span.pag-atual {border:1px solid #777777; padding:5px 22px; margin-right:5px; font-weight:bold;}
#box1colnobar .box .paginacao p span.pag-total {padding-left:3px;}
#box1colnobar .box .paginacao a.next1 {float:left; display:block; background:url(../img/sprite_global.png) no-repeat -271px -249px; width:15px; height:20px;}
#box1colnobar .box .paginacao a.next {float:left; display:block; background:url(../img/sprite_global.png) no-repeat -244px -249px; width:15px; height:20px; margin:0 17px 0 0;}
.galeria-explorer {float:left; margin:30px 0 0 16px; width:627px; height:260px; background-color:#cccccc;}
.box-video-galery {background-color:#dbdbdb; clear:both; height:431px; margin:0 0 20px 35px; width:925px; position:relative;}
.box-video-galery .video {float:left; padding:20px; width:638px;}
.box-video-galery .video .content-video {height:391px; width:638px;}
.box-video-galery .descricao-video {float:right; padding:20px 20px 0 0; width:220px;}
.box-video-galery .descricao-video h5 {padding:14px 0 20px; font:bold 24px/16px 'HelveticaNeue'; color:#098b58;}
.box-video-galery .descricao-video p {font:12px/20px Arial; color:#555555; text-align:justify;}
.box-video-galery .descricao-video .boxlink {margin:25px auto 0;}
.box-video-galery .seta01 {width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-top:11px solid #f7f7f7; position:absolute; right:237px;}
.box-video-galery .seta02 {width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:11px solid #EDEDED; position:absolute; right:237px; bottom:0;}
.box-video-galery .seta03 {width:0; height:0; border-bottom:30px solid #EDEDED; border-left:30px solid transparent; position:absolute; right:0; bottom:0;}
.col-promo1 {float:left; width:285px; margin:0 20px; padding:77px 0 0; overflow:hidden;}
.col-promo1 h3 {color:#158ae4; font:bold 30px/30px 'HelveticaNeue'; text-transform:none;}
.col-promo1 p {font-size:12px; line-height:18px; text-align:justify; padding:15px 0 0;}
.col-promo2 {float:left; margin:0 0 0 37px; padding:77px 0 0; width:253px;}
.col-promo2 span.chamada {display:block; color:#e4b615; font:37px/63px 'HelveticaneueBold'; height:69px; text-transform:uppercase; background:url(../img/bg-com-seta.png) no-repeat top center; padding:0; margin:0; text-align:center; letter-spacing:-1px;}
.col-promo2 div {position:relative;}
.col-promo2 div p {font:bold 21px/30px 'HelveticaNeue'; text-transform:uppercase; color:#9c9c9c; text-align:center; padding:20px 0 0;}
.col-promo2 div span {display:block; color:#158ae4; font:bold 64px/73px 'HelveticaNeue'; padding:0 0 0 25px; text-align:left;}
.col-promo2 div span b {font-size:45px; padding:0 0 0 5px;}
.col-promo2 div a {display:block; font:bold 12px/16px Arial; color:#e4b615; text-decoration:none; position:absolute; right:23px; top:82px; text-transform:none; padding:0 15px 0 0; background:url(../img/sprite_lista.png) no-repeat 68px -190px;}
.col-promo2 div a:hover {text-decoration:underline;}
#fltbuttons{float: left; width: 360px;}
#fltbuttons p{clear: both; padding: 20px 0;}
#fltbuttons .boxlink{margin: 0 0 10px 0; width: auto;}
#fltbuttons .boxlink a{text-transform: none;}
#box1colbig .box .boxlink{width: auto; float: left; background: none;}
#box1colbig .box .boxlink a{background: none repeat scroll 0 0 #000000; padding: 0 10px; border-radius: 6px 6px 6px 6px;color: #FFFFFF;cursor: pointer;display: block;font: 14px/42px 'HelveticaneueBold';  height: 100%;text-align: center; text-decoration: none; text-transform: none; width: 100%;}
#box1colbig .box .boxlink a:hover{background-color: #414141;} 
.semConteudo{width: auto;} 
/*Galeria principal*/
.galeriaPrincipal{width: 634px; height: 301px; display: block; background: url(img/BG_GALERIA_CKEDITOR.jpg) no-repeat center; float: left; margin-top: 140px; background: #efefef;}
/*.galeriaPrincipal span{width: 110px; height: 26px; display: block; background: url() no-repeat 0 0;}*/
.galeriaPrincipal .link{display: none;}
.galeriaPrincipal .galerytitle {display: none;}
.galeriaPrincipal .fotored {display: none;}
.galeriaPrincipal .videored {display: none;}
.galeriaPrincipal p.title {display: none;}
.galeriaPrincipal p.subtitle {display: none;}