* { font-family: Verdana; font-size: 96%; }
label { display: block; margin-top: 3px; }
label.error { float: none; color: red; margin: 0 .5em 0 0; vertical-align: top; font-size: 10px }
p { clear: both; }
.submit { margin-top: 1em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
#signupForm { width: 670px; }
#signupForm label.error {
	margin-left: 3px;
	width: auto;
	display: inline;
}

#formulario form {width:300px; display:block; margin:0 auto; background:#FFF;}
#formulario fieldset {border:0; padding:0 15px 10px 15px;}
#formulario legend {font:18px Tahoma, Geneva, sans-serif; color:#069; font-weight:bold; padding:10px 0; border-bottom:2px;}
#formulario label {display: block; padding:3px 0;}
#formulario span {display:block; font:16px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#069; font-weight:bold;}
#formulario input {padding:3px; width:260px; border:1px solid #069; font:16px Tahoma, Geneva, sans-serif; color:#069; font-weight:bold;}
#formulario textarea {padding:3px; width:260px; border:1px solid #069; font:16px Tahoma, Geneva, sans-serif; color:#069; font-weight:bold;}
#formulario .send {width:120px; display:block; margin:3px auto; cursor:pointer; border:0; background:#069; color:#FFF;}
#formulario .send:hover {background:#036;}

.yes {padding:2px; background:#EAFFD5; border:1px solid #0F0;}
.no {padding:2px; background:#FDD; border:1px solid #F00;}


