#tudo{
	clear:both;
	position: relative;
	margin: 0 auto;
	width: 783px;
}

#topo{
	clear:both;
	position: relative;
	margin: 0 auto;
	width: 783px;
}

#webdoor{
	position: relative;
	width: 576px;
	height:403px;
	padding-top:10px;
	padding-right:10px;
}

#caixa01{
	position: relative;
	float:right;
	width:177px;
	height:177px;
	background-color:#0057a1;
	margin-top:-403px;
	padding:10px;
}

#caixa01:hover{
	background-color:#0072d2;
}

#saiba01{
	position: relative;
	float:right;
	margin-top:22px;
	margin-right:-6px;
}

#caixa02{
	position: relative;
	float:right;
	width:177px;
	height:177px;
	background-color:#006ecb;
	margin-top:-196px;
	padding:10px;
}

#caixa02:hover{
	background-color:#0086f8;
}

#saiba02{
	position: relative;
	float:right;
	margin-top:8px;
	margin-right:-6px;
}

#caixa03{
	position: relative;
	float:left;
	width:177px;
	height:177px;
	background-color:#00a188;
	margin-top:10px;
	padding:10px;
}

#caixa03:hover{
	background-color:#00c7a8;
}

#saiba03{
	position: relative;
	float:right;
	margin-top:22px;
	margin-right:-6px;
}

#caixa04{
	position: relative;
	float:left;
	width:177px;
	height:177px;
	background-color:#cb9e00;
	margin-top:217px;
	margin-left:-197px;
	padding:10px;
}

#caixa04:hover{
	background-color:#f0bb00;
}

#saiba04{
	position: relative;
	float:right;
	margin-top:12px;
	margin-right:-6px;
}

#webdoor2{
	position:relative;
	width: 370px;
	height: 403px;
	float:left;
	margin-top:10px;
	margin-left:10px;
}

#caixa05{
	position: relative;
	width:197px;
	height:197px;
	float:right;
	margin-top:10px;
}

#caixa06{
	position: relative;
	width:177px;
	height:177px;
	float:right;
	background-color:#d95c25;
	padding:10px;
	margin-top:10px;
}

#caixa06:hover{
	background-color:#fa6a2a;
}

#saiba06{
	position: relative;
	float:right;
	margin-top:45px;
	margin-right:-6px;
}

#menu01{
	position:relative;
	float:right;
	padding:10px;
	background-color:#0057a1;
	margin-top: -403px;
	height: 39px;
	width: 177px;
}

#menu02{
	position:relative;
	float:right;
	padding:10px;
	background-color:#006ecb;
	margin-top: -334px;
	height: 39px;
	width: 177px;
}

#menu03{
	position:relative;
	float:right;
	padding:10px;
	background-color:#00a188;
	margin-top: -265px;
	height: 39px;
	width: 177px;
}

#menu04{
	position:relative;
	float:right;
	padding:10px;
	background-color:#cb9e00;
	margin-top: -196px;
	height: 39px;
	width: 177px;
}

#menu05{
	position:relative;
	float:right;
	padding:10px;
	background-color:#e98b62;
	margin-top: -127px;
	height: 39px;
	width: 177px;
}

#menu06{
	position:relative;
	float:right;
	padding:10px;
	background-color:#d95c25;
	margin-top: -59px;
	height: 39px;
	width: 177px;
}

#menu01:hover{
	background-color:#0072d2;
}

#menu02:hover{
	background-color:#0086f8;
}

#menu03:hover{
	background-color:#00c7a8;
}

#menu04:hover{
	background-color:#f0bb00;
}

#menu05:hover{
	background-color:#fda680;
}

#menu06:hover{
	background-color:#fa6a2a;
}

#pacote01{
	position:relative;
	float:left;
	height:150px;
	width:400px;
	padding:10px;
	margin-right:10px;
	margin-bottom:10px;
	background-color:#6CC;
}

#pacote02{
	position:relative;
	float:left;
	height:150px;
	width:400px;
	padding:10px;
	background-color:#6CC;
}

#bolsa01{
	position:relative;
	float:left;
	height:380px;
	width:400px;
	padding:10px;
	margin-right:10px;
	margin-bottom:10px;
	background-color:#6CC;
}

#bolsa02{
	position:relative;
	float:left;
	height:340px;
	width:400px;
	padding:10px;
	background-color:#6CC;
}

#conteudo{
	width:400px;
}

#formulario1{
	position:relative;
	float:right;
	width:310px;
	height:570px;
	border-radius:20px;
	background-color:#CCC;
	margin-top:-500px;
	padding:20px;
}

#formulario2{
	position:relative;
	float:right;
	width:310px;
	height:570px;
	border-radius:20px;
	background-color:#CCC;
	margin-top:-295px;
	padding:20px;
}

#formulario3{
	position:relative;
	float:right;
	width:310px;
	height:570px;
	border-radius:20px;
	background-color:#CCC;
	margin-top:-265px;
	padding:20px;
}

#formulario4{
	position:relative;
	float:right;
	width:310px;
	height:570px;
	border-radius:20px;
	background-color:#CCC;
	margin-top:-505px;
	padding:20px;
}

#conteudo_passagem{
}

#base{
	position:relative;
	float:right;
	margin:0 auto;
	padding-top:10px;
}


/* FONTES ------------------------------------------------------------*/

@font-face {font-family: "browallia";src: url("http://www.ieintercambio.com.br/ciencia/font/browa.ttf");}

@font-face {font-family: "browalliabold";src: url("http://www.ieintercambio.com.br/ciencia/font/browab.ttf");}

.titulo{font-family:browalliabold;font-size:50px;color:#FFF;line-height:35px;}

.texto{font-family:browallia;font-size:20px;color:#FFF;line-height:15px;}

.menu{font-family:browalliabold;font-size:35px;color:#FFF;line-height:22px;}

.titulo2{font-family:browalliabold;font-size:50px;color:#666;line-height:35px;}

.texto2{font-family:browallia;font-size:20px;color:#666;line-height:15px;}

.titulo3{font-family:browalliabold;font-size:25px;color:#3c7b7b;line-height:20px;}

.texto3{font-family:browallia;font-size:20px;color:#3c7b7b;line-height:15px;}

.valor{font-family:browalliabold;font-size:30px;color:#3c7b7b;line-height:15px;}