#tudo{
	clear:both;
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height:1000px;
}
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  visibility:hidden;
}
#logo{
	position:relative;
	margin:0 150px 0 0;
}
#webdoor{
	width:0px;
	height:0px;
	position:relative;
	margin:0 auto;
	margin: 0 0 0 0;
	visibility:hidden;
}
#centro{
	clear:both;
	position: relative;
	background-color:#fff;
	margin: 0 auto;
	width: 800px;
	height:100px;
	margin: -10px 0 0 0;
}
#linha{
	clear:both;
	position: relative;
	background-color:#003851;
	margin: 0 auto;
	width: 800px;
	height:2px;	
}
#social_box{
	visibility:hidden;
}
#area_box{
	margin:20px 40px 0 40px;
	height: 50px;
	width: 180px;
	position:relative;
	float:left;
}
#pais_box{
	margin:20px 40px 0 40px;
	height: 50px;
	width: 180px;
	position:relative;
	float:left;
}
#curso_box{
	margin:20px 40px 0 40px;
	height: 50px;
	width: 180px;
	position:relative;
	float:left;
}
#clean{
	font-size:25px;
	margin:0 40px 0 10px;
}
#base{
	width:800px;
	height:63px;
	position:relative;
	background:#003851;
	margin: 10px 0 40px 0;
}
#box_curso{
	width:800px;
	height:700px;
	position:relative;
	background-color:#fff;
	margin: 10px 0 10px 0;
}
#box01{
	width:430px;
	height:680px;
	margin:0 0 0 20px;
	position:relative;
	background-color:#fff;
	float:left;
	text-align:left;
	padding:0 20px 0 0;
}
#apresentacao{
	height:260px;
	margin-top:20px;
}
#formularios{
	height:320px;
	width:410px;
	position:absolute;
	margin-top:0px;
	background-color:#e0e0df;
	padding:10px;
	visibility:hidden;
}
#box2{
	width:280px;
	height:660px;
	position:relative;
	float:left;
	text-align:left;
	padding:0 10px 0 20px;
	margin-top:20px;
}
#cod_area, #pais, #curso{
	background-color:#F5F5F5;
	font-family:corpid;
	font-size: 18px;
}
.divVisivel {display:block;}
.divEscondida {display:none;}
/* -------------------------------------------------  FONTES ------------------------------------------------------------*/
@font-face {font-family: "museo300";src: url("http://www.ieintercambio.com.br/profissionalizantes/css/museo_slab300.otf");}
@font-face {font-family: "museo500";src: url("http://www.ieintercambio.com.br/profissionalizantes/css/museo_slab500.otf");}
@font-face {font-family: "corpid";src: url("http://www.ieintercambio.com.br/profissionalizantes/css/corpid-light.otf");}
.titulo{font-family:museo500;font-size:30px;color:#003851;line-height:35px;}
.texto{font-family:corpid;font-size:18px;color:#3f403f;line-height:20px;}
/* -------------------------------------------------  FORMULARIO ------------------------------------------------------------*/
#sc-contact-form,
#contactForm,
#commentform,
#contactForm{
	margin-bottom: 12px;
}
#sc-contact-form input,
#sc-contact-form textarea,
.admin-form input,
.admin-form textarea,
#contactForm input,
#contactForm select,
#contactForm textarea,
#commentform input,
#commentform textarea{
	padding: 5px 5px;
	background: #fff;
	border: 1px solid #999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#sc-contact-form input,
.admin-form input,
#contactForm input,
#commentform input,
#commentform select{
	width: 337px;
}
#contactForm select{
	width: 240px;
}
#sc-contact-form textarea,
.admin-form textarea,
#contactForm textarea,
#commentform textarea{
	width: 305px;
}
#sc-contact-form #submit,
.admin-form #submit,
#contactForm #submit,
#commentform input#submit{
	width: 76px;
	margin: 5px 5px;
	float:right;
	padding: 5px 0px;
	color: #f1f1f1;
	background: #515558;
	background: -webkit-gradient(linear, left top, left bottom, from(#515558), to(#131313)); 
	background: -moz-linear-gradient(top,  #515558,  #131313);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515558', endColorstr='#131313', GradientType=0);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5); 
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5); 
	box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	border: 1px solid transparent;
}
#sc-contact-form #submit:hover,
.admin-form #submit:hover,
#contactForm #submit:hover,
#commentform input#submit:hover{
	background: #515558;
	background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#515558)); 
	background: -moz-linear-gradient(top,  #131313,  #515558);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#515558', GradientType=0);
}
#sc-contact-form input,
#sc-contact-form textarea,
.admin-form input,
.admin-form textarea,
#contactForm input,
#contactForm textarea,
#commentform input,
#commentform textarea{
	color: #606060;
	font-size: 14px;
}
#sc-contact-form label,
.admin-form label,
#contactForm label,
#commentform label{
	display: block;
	font-size: 14px;
	line-height: 2.5em;
	font-weight: light;
}
/* =Skitter styles----------------------------------------------- */
.box_skitter {position:relative;width:800px;height:300px;background:#000;}
.box_skitter img { max-width:none; } /* Tip for stildv */
.box_skitter ul {display:none;}
.box_skitter .container_skitter {overflow:hidden;position:relative;}
.box_skitter .image {overflow:hidden;}
.box_skitter .image img {display:none;}
/* =Box clone-------------------------------------------------------------- */
.box_skitter .box_clone {position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:20;}
.box_skitter .box_clone img {position:absolute;top:0;left:0;z-index:20;}
/* =Navigation-------------------------------------------------------------- */
.box_skitter .prev_button {position:absolute;top:50%;left:35px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/prev.png) no-repeat left top;}
.box_skitter .next_button {position:absolute;top:50%;right:35px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/next.png) no-repeat left top;}
/* =Numbers-------------------------------------------------------------- */
.box_skitter .info_slide {position:absolute;top:15px;left:15px;z-index:100;background:#000;color:#fff;font:bold 11px arial;padding:5px 0 5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;opacity:0.75;}
.box_skitter .info_slide .image_number {background:#333;float:left;padding:2px 10px;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.box_skitter .info_slide .image_number_select {background:#cc0000;float:left;padding:2px 10px;margin:0 5px 0 0;}
/* =Thumbs - Change width and height to customization dimension thumb-------------------------------------------------------------- */
.box_skitter .container_thumbs { position:relative;overflow:hidden;height:50px; }
.box_skitter .info_slide_thumb { height:50px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;overflow:hidden;top:auto;top:0;left:0;padding:0 !important;opacity:1.0; }
.box_skitter .info_slide_thumb .image_number { overflow:hidden;width:100px;height:50px;position:relative;margin:0 !important; padding:0 !important; -moz-border-radius:0 !important;-webkit-border-radius:0 !important;border-radius:0 !important;}
.box_skitter .info_slide_thumb .image_number img { position:absolute;top:-30px;left:-30px;height:100px;}
.box_skitter .box_scroll_thumbs { padding:0; }
.box_skitter .box_scroll_thumbs .scroll_thumbs { position:absolute;bottom:60px;left:50px;background:#ccc;background:-moz-linear-gradient(-90deg, #555, #fff);background:-webkit-gradient(linear, left top, left bottom, from(#555), to(#fff));width:200px;height:10px;overflow:hidden;text-indent:-9999em;z-index:101; cursor:pointer;border:0px solid #333; }
/* =Dots-------------------------------------------------------------- */
.box_skitter .info_slide_dots {position:absolute;bottom:10px;z-index:151;padding:5px 0 5px 5px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;}
.box_skitter .info_slide_dots .image_number {background:#333;float:left;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;width:18px;height:18px;text-indent:-9999em;overflow:hidden;}
.box_skitter .info_slide_dots .image_number_select {background:#cc0000;float:left;margin:0 5px 0 0;}
/* =Loading-------------------------------------------------------------- */
.loading {position:absolute; top:50%; right:50%; z-index:10000; margin:-16px -16px;color:#fff;text-indent:-9999em;overflow:hidden;background:url(../images/ajax-loader.gif) no-repeat left top;width:32px;height:32px;}
/* =Label-------------------------------------------------------------- */
.box_skitter .label_skitter 	{ z-index:150;position:absolute;bottom:0px;left:0px;display:none; }
.box_skitter .label_skitter 	{ z-index:150;position:absolute;bottom:0px;left:0px;color:#fff;display:none;opacity:0.8;background:#000; }
.box_skitter .label_skitter p 	{ padding:10px;margin:0;font:normal 22px arial,tahoma;letter-spacing:-1px; }
.box_skitter .info_slide * 		{ font-family:Consolas,arial,tahoma !important; }
.box_skitter .progressbar 		{ background:#000; position:absolute; top:5px;left:15px;height:5px; width: 200px; z-index:99; border-radius:20px; }
/* =Preview slide-------------------------------------------------------------- */
.box_skitter .preview_slide { display:none; position:absolute; z-index:152; bottom:30px; left:-40px; width:100px; height:100px; background:#fff; border:1px solid #222; -moz-box-shadow:rgba(0,0,0,0.7) 2px 2px 5px; -webkit-box-shadow:rgba(0,0,0,0.7) 2px 2px 5px; box-shadow:rgba(0,0,0,0.7) 2px 2px 5px; overflow:hidden; }
.box_skitter .preview_slide ul { height:100px; overflow:hidden; margin:0; list-style:none; display:block; position:absolute; top:0; left:0; }
.box_skitter .preview_slide ul li { width:100px; height:100px; overflow:hidden; float:left; margin:0; padding:0; position:relative; display:block; }
.box_skitter .preview_slide ul li img { position:absolute; top:0; left:0; height:150px; width:auto; }
/* =Focus-------------------------------------------------------------- */
#overlay_skitter { position:absolute; top:0; left:0; width:100%; z-index:9998; opacity:1; background:#000; }
.box_skitter .focus_button {position:absolute;top:50%;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/focus-button.png) no-repeat left top;opacity:0;}
.box_skitter .play_pause_button {position:absolute;top:50%;z-index:151;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/pause-button.png) no-repeat left top;opacity:0;}
.box_skitter .play_pause_button.play_button {background:url(../images/play-button.png) no-repeat left top;}
/* =Example for dimenions-------------------------------------------------------------- */
.box_skitter_large {width:800px;height:255px; margin:0 auto; text-align:left; /* "remédio" para o hack do IE */ }
.box_skitter_small {width:200px;height:100px;}
div.highlight { 
	background:#fff;
	border:1px solid #000;
	font-family:consolas,deja vu,"Courier New",Courier,monospace;
	overflow: hidden;
}
div.highlight pre{
	width: 100%;
	overflow: auto;
	padding:0;
	margin:0;
	font-size:12px;
	clear: both;
}
/* tabs */
div.highlight ul.tabs {
	overflow: hidden;
	padding: 5px 0 5px 0;
	margin: 0;
	list-style: none;
	border-bottom: 0px solid #E0E0E0;
	width: 100%;
	background:#111;
	font-size:12px;
}
div.highlight ul.tabs li {
	padding: 0;
	margin: 0 5px;
	float: left;
	background: none;
	border-bottom: 1px dashed #CCC;
	line-height:1.0em;
	color: #CCC;
	cursor: pointer;
}
div.highlight ul.tabs li.active {
	border-bottom: none;
	cursor: default;
	color: #cc9966;
}
/* pre */
div.highlight pre.code ol {
	margin: 0;
	padding:0 0 0 45px;
	background:#555; 
	color:#fff; 
}
div.highlight pre.code ul {
	margin: 0;
	padding:0;	
}
div.highlight pre.code ol li,
div.highlight pre.code ul li {
	padding:0 0 0 5px;
	border-left:1px solid #999;
	background:#333;
}
div.highlight pre.code ul li {
	border-left:none;
}
div.highlight pre.code ol li.even,
div.highlight pre.code ul li.even {
	background-color:#222;
}
div.highlight pre.source {
	display: none;
	padding:0 0 0 5px;
	color:#333;
	background:#ccc;
}
/* highligting */
pre.code .str { 
	color: #00cc33; 
}
pre.code .kwd,
pre.code .kwd span { 
	color: #ccc;
}
pre.code .com,
pre.code .com span { 
	color:#ff0000;
	font-style: italic;
	font-weight: normal; 
}
pre.code .typ { 
	color: #ff0000; 
}
pre.code .lit { 
	color: #ffff00;
}
pre.code .pun { 
	color: #ff3300; }
pre.code .pln { 
	color: #ccc; 
}
pre.code .tag { 
	color: #0099ff;
	font-weight: bold;  
} 
pre.code .atn { 
	color: #ff9000; 
}
pre.code .atv { 
	color: #00cc22; 
}
pre.code .dec { 
	color: #ff9000; 
}
pre.code .fnc,
pre.code .fnc span { 
	color: #ff9000; 
}
/* css */
.css pre.code .kwd,
.css pre.code .kwd span { 
	color: #ff9900;
	font-weight: bold; 
}
/* php */
.php pre.code .str,
.php pre.code .str span { 
	color: #fff; 
}
.php pre.code .var,
.php pre.code .var span { 
	color: #fff; 
}
.php pre.code .com,
.php pre.code .com span { 
	color:#ff8000;
	font-style: italic;
	font-weight: normal; 
}