body{background: url(../images/background-padrao.jpg) repeat-x center top #fff;}
hr{border: 0;}

/*header*/
.header{width:100%; height:159px;}
.header-1{width: 758px; height: 159px; margin: 0 auto; display: block; position: relative;}

/*conteúdo*/
.content{margin:0 auto; position: relative;}
.content .limite{width: 758px; border-left:1px solid #dbd9d9; border-right:1px solid #dbd9d9; margin: 0 auto;}

.content .nav-padrao{width: 758px; height:157px; margin: 0 auto; background: url(../images/bg-nav-menu.png) no-repeat bottom right; position: relative;}
.content .nav-padrao a{display:block; width:101px; height:97px;}
.content .nav-padrao a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.content .nav-padrao a img{border:0; position: relative; top: 11px; left:32px;}
.content .nav-padrao .facebook{position: absolute; top:52px; left: 30%;}

.content .nav-padrao .navMenu{position: absolute; bottom: 0px; right: 0;}
.content .nav-padrao .navMenu ul{}
.content .nav-padrao .navMenu ul li{height: 29px; margin: 0 -5px 0 24px; display: inline; float: left; text-align: center;}
.content .nav-padrao .navMenu ul li a{font: 13px/30px Arial; color:#fff; text-decoration: none;}
.content .nav-padrao .navMenu ul li a:hover{color:#ffcd00;}
.content .nav-padrao .navMenu ul li a span{color:#ffcd00;}

.content .content-top{width: 758px; height:266px; background: url(../images/cadastro/eu-fui/sprite.png) no-repeat -1px 0; margin:0 auto; position: relative;}
.content .content-top .texto{position: absolute; left: 50px; top: 40px;}
.content .content-top h3{width: 350px; font: 30px/36px "HelveticaNeueBold"; color: #222;}
.content .content-top h3 span{font:34px/36px "HelveticaNeueBold"; color:#4d90bd;} 
.content .content-top p{width: 260px; font: 18px/24px "HelveticaNeueBold"; color: #555; margin: 7px 0 0 0;}
.content .content-top img{position: absolute; top: 13px; right: 0px;}
.content .content-top span.legend{font: 13px "HelveticaNeue"; color: #999; position: absolute; top: 215px; right: 10px;}

.content .content-conteudo{margin: -30px auto 0 auto; min-height:854px; height: auto; position: relative;}
.content .content-conteudo h4{width:480px; height:106px; background: url(../images/cadastro/eu-fui/sprite.png) no-repeat -141px -258px; font: 36px "HelveticaNeueBold"; color:#4d90bd; text-align: center; display: block; margin: 0 auto;}

.content .content-conteudo .eu-quero{width:725px; height:140px; margin:0 auto;}
.content .content-conteudo .bgradio{width: 156px; height: 57px; padding: 10px; background-color: #E9E9E9; -o-opacity: 0.8; -webkit-opacity: 0.8; -moz-opacity: 0.8; opacity: 0.8; filter: alpha(opacity=80); border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px;}
.content .content-conteudo .opt{width:182px; height:122px; display: block; float: left; margin:0 10px;}
.content .content-conteudo .opt label{cursor: pointer;}
.content .content-conteudo .opt p.desc{font: 14px/18px 'MyriadPro-Regular';color:#555555; margin-top: 15px; text-align: center;} 
.content .content-conteudo  div.est{margin-left:50px;}
.content .content-conteudo  div.trab{margin-left:50px;}
.content .content-conteudo  div.est-trab{margin-left:40px;}
.content .content-conteudo .opt input[type=radio]{display: none;}
.content .content-conteudo .opt1 label.error{position: absolute; top: 10px; right: 120px; cursor: text; font-style: normal; font-variant: normal; font-weight: normal; font-size: 16px; line-height: normal; font-family: HelveticaNeueBold; color: red;}
.content .content-conteudo .opt span{width:153px; height:54px; margin:0 auto; font: 18px "HelveticaNeueBold"; color: #fff; background: url(../images/cadastro/eu-fui/sprite.png) no-repeat 0 0 #4c8eba; display: block; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px;}
.content .content-conteudo .opt span.ativo{background-color: #295d80;}
.content .content-conteudo .opt span.trabalhar{background-position: -220px -462px;}
.content .content-conteudo .opt span.estudar{background-position: -220px -533px;}
.content .content-conteudo .opt span.est-trab{background-position: -220px -391px;}
.content .content-conteudo .opt span.est-trab p{position: relative; top: 10px; left: 59px;}
.content .content-conteudo .opt span p{font: 18px "HelveticaNeueBold"; color: white; position: relative; top: 19px; left: 63px;}
.content .content-conteudo .opt span:hover{background-color: #295d80;}

.content .content-conteudo .mapa-paises{width:685px; margin:20px auto; display: block; position: relative;}

.content .content-conteudo .mapa-paises .btTipo{width: 40px; height: 18px; position: absolute; top: 25px; right: 0;}

.content .content-conteudo .mapa-paises .btTipo .map{width:16px; height:16px; background: url(../images/home/sprite-home.png) no-repeat -733px -432px; float: left; margin-right: 8px; overflow: hidden; text-indent: -999px; cursor: pointer;}
.content .content-conteudo .mapa-paises .btTipo .list{width:16px; height:16px; background: url(../images/home/sprite-home.png) no-repeat -733px -453px; float: left; overflow: hidden; text-indent: -999px; cursor: pointer;}
.content .content-conteudo .mapa-paises .mapa{width: 683px; height: 360px; background: url(../images/cadastro/eu-quero/mapa.png) no-repeat 0 0px #1E1E1E; display: block; margin: 10px 0 0 1px;}
.content .content-conteudo .mapa-paises .mapa .checkbox{width:128px; height:27px; background: url(../images/cadastro/eu-quero/bg-checkbox-mapa.png) no-repeat; position: relative;}
.content .content-conteudo .mapa-paises .mapa .checkbox input[type="checkbox"]{display: none;}
.content .content-conteudo .mapa-paises .mapa .checkbox label{position: relative; top: 1px; left: 24px; cursor: pointer;}
.content .content-conteudo .mapa-paises .mapa .checkbox label span{font: 10px "Arial, Helvetica, sans-serif"; color: white; position: relative; top: -2px; margin-left: 5px;}
.content .content-conteudo .mapa-paises .mapa .checkbox label.ativo span{color:red; font-weight: bold;}


.content .content-conteudo .mapa-paises h5{font: 36px "HelveticaNeueBold"; color:#222222; text-align: center;}
.content .content-conteudo .mapa-paises .lista{width:685px; height:360px; background: url(../images/cadastro/eu-quero/bg-lista-paises.png) no-repeat 0 1px; display: block; margin-top: 10px;}
.content .content-conteudo .mapa-paises .lista .colLeft{float: left; width:160px; height:258px; display: block; margin:0px 0 0 50px;}
.content .content-conteudo .mapa-paises .lista .colCenter{float: left; width:160px; height:258px; display: block; margin: 0px 0 0 90px;}
.content .content-conteudo .mapa-paises .lista .colRight{float: right; width:160px; height:258px; display: block; margin: 0px 0 0 0;}
.content .content-conteudo .mapa-paises .lista .title-list{width:90px; height:18px; background: url(../images/cadastro/eu-fui/sprite.png) no-repeat -34px -449px; font:bold 18px/16px Arial, Helvetica, sans-serif; color:#333333; text-align: left; margin-top: 40px; padding-left: 15px;}

.lista h2{width: 90px; height: 18px; background: url(../images/cadastro/eu-fui/sprite.png) no-repeat -34px -429px; font: bold 18px/16px Arial, Helvetica, sans-serif; color: #333; text-align: left; padding-top: 20px; padding-left: 15px;}
.lista input[type=radio]{display: none;}
.lista .continente-1, .continente-2, .continente-3, .continente-4, .continente-5{width: 160px; display: block; margin: 0px 0 0 20px; position: relative;}

.mapa h2{width: 90px; height: 18px; background: url(../images/cadastro/eu-fui/sprite.png) no-repeat -34px -429px; font: bold 18px/16px Arial, Helvetica, sans-serif; color: #333; text-align: left; padding-top: 20px; padding-left: 15px;}
.mapa input[type=radio]{display: none;}
.mapa .continente-1, .continente-2, .continente-3, .continente-4, .continente-5{width: 160px; display: block; margin: 0px 0 0 20px; position: relative;}


.content .content-conteudo .mapa-paises .lista .checkbox{width:150px; height:16px; margin-top:15px; display: block;}
.content .content-conteudo .mapa-paises .lista .checkbox label{font:12px Arial, Helvetica, sans-serif; color:#333333; cursor: pointer;}
.content .content-conteudo .mapa-paises .lista .checkbox label.ativo{background-color:#ece8e8; padding: 5px;}
.content .content-conteudo .mapa-paises .lista .checkbox label img{margin:0 10px 0 0;}
.content .content-conteudo .mapa-paises .lista .checkbox input[type=radio]{display: none;}

.content .content-conteudo .mapa-paises .boxselect{width:100%; height:81px; background: url(../images/cadastro/eu-fui/sprite.png) no-repeat -32px -615px; display: block;}
.content .content-conteudo .mapa-paises .boxselect .select{width:490px; height:41px; margin: 0 auto; padding-top: 15px;}
.content .content-conteudo .mapa-paises .boxselect .select .cidade{float: left;}
.content .content-conteudo .mapa-paises .boxselect .select .instituicao{float: right;}
.content .content-conteudo .mapa-paises .boxselect .select select{width:219px; height:25px; border:1px solid #CCC; padding: 2px 3px;}

.content .content-conteudo .mapa-paises .submit{width: 156px; height: 57px; padding: 10px; background-color: #E9E9E9; -o-opacity: 0.8; -webkit-opacity: 0.8; -moz-opacity: 0.8; opacity: 0.8; filter: alpha(opacity=80); border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; margin:30px auto; z-index: 99; position: relative;}
.content .content-conteudo .mapa-paises .submit input[type=submit]{width:153px; height:54px; margin:0 auto; font: 25px/54px "HelveticaNeueBold"; color: #fff; background:#1767aa; display: block; border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; cursor:pointer;}
.content .content-conteudo .mapa-paises .submit input[type=submit]:hover{background:#13548b;}

.content .content-conteudo .mapa-paises .quando{width:530px; height:140px; margin: 0 auto;}
.content .content-conteudo .mapa-paises .quando h5{width:517px; height:60px; border-bottom: 1px dashed #ccc; margin: 7px auto;}
.content .content-conteudo .mapa-paises .quando input[type="text"]{width:117px; height:32px; padding: 5px; background: url(../images/cadastro/eu-fui/calendario-input.png) no-repeat 99px 11px white; border:1px solid #ccc; font: 12px Arial, Helvetica, sans-serif; color:#c2c2c2; float: left;}
.content .content-conteudo .mapa-paises .quando input[type="text"].error{border-color: red;}

.content .content-conteudo .mapa-paises .quando .data{width: 190px; float: left; position: relative; margin:24px 0 0 60px;}
.content .content-conteudo .mapa-paises .quando .data p{font:bold 12px/16px Arial, Helvetica, sans-serif; color:#333333; text-transform: uppercase; float: left; margin: 13px 10px 0 0px;}
.content .content-conteudo .mapa-paises .quando .data label{font: 12px Arial, Helvetica, sans-serif; color:#c2c2c2; text-transform: lowercase; position: absolute; top: 13px; left: 60px; z-index: 9; display: block !important;}
.content .content-conteudo .mapa-paises .quando .data label.ida{left: 40px;}

.content .content-conteudo .mapa-paises .comofoi{text-align: center;}
.content .content-conteudo .mapa-paises .comofoi h5{width:517px; height:60px; border-bottom: 1px dashed #ccc; margin: 7px auto;}
.content .content-conteudo .mapa-paises .comofoi p{font: 14px/18px "helveticaneue"; color:#555555; margin: 15px 0;}
.content .content-conteudo .mapa-paises .comofoi textarea{width:421px; height:81px; resize: none; padding: 5px;}
.content .content-conteudo .mapa-paises .comofoi textarea.error{border:1px solid red;}
.content .content-conteudo .mapa-paises .comofoi .contacaracteres{width:420px; margin: 0 auto; text-align: right;}
.content .content-conteudo .mapa-paises .comofoi .contacaracteres p{font: 10px/18px Arial; color:#555555; margin:4px auto;}
.content .content-conteudo .mapa-paises .comofoi .contacaracteres span{color:#da7b00;}

/*footer*/
.footer{width: 100%; height: 189px; background: url(../images/bg-footer.png) no-repeat top center; position: relative; bottom: 0; margin-top: -105px; z-index: 2;}
.footer .barra{width:100%; height:35px; background-color:#c9c9c9; position: relative; top: 114px;}
.footer .footer-1{width:758px; margin:0 auto;}
.footer .footer-1 p{font:13px/35px 'HelveticaNeue'; color:#fff; float: left; padding-left: 20px;}
.footer .footer-1 a{width: 55px; height: 35px; background: url(../images/logo-kindle-branco.png) no-repeat 0 9px; display: block; float: right; font: 13px/35px 'HelveticaNeue'; color: #fff; text-decoration: none; padding-left: 15px;}
.footer .footer-1 a:hover{-o-opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8; opacity:0.8; filter: alpha(opacity=80);}
.branco{width:100%; height:40px; background: #fff; position: relative; margin-top: -40px; z-index: 1;}